﻿@model Vatara.WebAPI.Controllers.PrintLease

@{
    ViewBag.Title = "PrintLeaseDeatails";
    Layout = null;
}




<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="Myapp">

<head>

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }


        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #555;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

        .notification-badge {
            margin-top: 8px;
            position: absolute;
            z-index: 99;
            right: 86px;
        }

        .md-sidenav-left, .md-sidenav-left md-content::-webkit-scrollbar {
            display: none;
        }

        .notification-img {
            height: 63px;
            z-index: 999;
        }

        .reportpadding {
            padding-left: 59px !important;
        }
    </style>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel='stylesheet prefetch' href='~/VataraUI/css/bootstrap.min.css' />

    <link rel="stylesheet" href="~/VataraUI/css/angular-material.min.css" />

    <link rel="stylesheet" href="~/VataraUI/css/apps.css" />
    <link rel="stylesheet" href="~/VataraUI/less/main.css" />
    <link rel="stylesheet/less" type="text/css" href="~/VataraUI/less/main.less" />
    <link href="~/VataraUI/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/VataraUI/css/loader.css" rel="stylesheet" />
    <script src="~/VataraUI/less/less.min.js"></script>
    <script src='~/VataraUI/js/moment.js'></script>
    <script src="~/VataraUI/js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    <script src="~/VataraUI/js/angular-material.min.js"></script>
    <link href="~/lib/css/bootstrap-min.css" rel="stylesheet" />
    <script src="~/VataraUI/js/angular-route.js"></script>

    <script src='~/VataraUI/js/jquery.min.js'></script>
    <!--<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>-->
    <script src="~/VataraUI/js/Common/sweetalert.min.js"></script>
    <link href="~/lib/css/bootstrap-min.css" rel="stylesheet" />
    <link href="~/lib/css/emoji.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/lib/js/config.js"></script>
    <script src="~/lib/js/util.js"></script>
    <script src="~/lib/js/jquery.emojiarea.js"></script>
    <script src="~/lib/js/emoji-picker.js"></script>


    <script src="~/VataraUI/js/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngMask/3.1.1/ngMask.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->

    <script src="~/VataraUI/js/angular-animate.min.js"></script>
    <script src="~/VataraUI/js/angular-aria.min.js"></script>
    <script src="~/VataraUI/js/angular-messages.min.js"></script>
    <script src="~/VataraUI/js/angular-messages.min.js"></script>

    <script src="~/VataraUI/js/ui-bootstrap-tpls.js"></script>
    <script src="~/VataraUI/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.0.0-alpha.1/jspdf.plugin.autotable.min.js"></script>
    <script src="~/VataraUI/js/Common/jsPDF.js"></script>
    <link href="~/VataraUI/css/select.css" rel="stylesheet" />
    <script src="~/VataraUI/js/Common/select.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link href="~/VataraUI/css/selectizedefault(v0.8.5).css" rel="stylesheet" />
    <script src="~/VataraUI/js/Lib/table2excel.js"></script>
    <script src="~/VataraUI/js/Lib/notify.js"></script>
    <script src="~/VataraUI/js/Common/Common.js"></script>
    <script src="~/VataraUI/js/main.js"></script>
    <script src="~/VataraUI/js/Common/Paging.js"></script>
    <script src="~/VataraUI/js/Common/CommonService.js"></script>
    <script src="~/VataraUI/js/propertyService.js"></script>
    <script src="~/VataraUI/js/masterdataService.js"></script>
    <script src="~/VataraUI/js/propertyController.js"></script>
    <script src="~/VataraUI/js/leaseService.js"></script>
    <script src="~/VataraUI/js/leaseController.js"></script>
    <script src="~/VataraUI/js/workorderController.js"></script>
    <script src="~/VataraUI/js/workorderService.js"></script>
    <script src="~/VataraUI/js/personController.js"></script>
    <script src="~/VataraUI/js/personService.js"></script>
    <script src="~/VataraUI/js/Service/billService.js"></script>
    <script src="~/VataraUI/js/Controller/propayRegController.js"></script>
    <script src="~/VataraUI/js/Controller/outstandingPaymentController.js"></script>
    <script src="~/VataraUI/js/Service/outstandingPaymentService.js"></script>
    <script src="~/VataraUI/js/Controller/IncomeExpenseController.js"></script>
    <script src="~/VataraUI/js/Service/IncomeExpenseService.js"></script>
    <script src="~/VataraUI/js/Controller/onlineStatementController.js"></script>
    <script src="~/VataraUI/js/Service/onlineStatementService.js"></script>
    <script src="~/VataraUI/js/Controller/ownerController.js"></script>
    <script src="~/VataraUI/js/Service/ownerService.js"></script>
    <script src="~/VataraUI/js/Controller/paymentDetailController.js"></script>
    <script src="~/VataraUI/js/Controller/CompanyController.js"></script>
    <script src="~/VataraUI/js/Controller/AddNewUserController.js"></script>
    <script src="~/VataraUI/js/Controller/companyHomeController.js"></script>
    <script src="~/VataraUI/js/Service/companyHomeService.js"></script>
    <script src="~/VataraUI/js/Controller/SupportTicketController.js"></script>
    <script src="~/VataraUI/js/Service/SupportTicketService.js"></script>
    <script src="~/VataraUI/js/Controller/manageUsersController.js"></script>
    <script src="~/VataraUI/js/Service/manageUsersService.js"></script>
    <script src="~/VataraUI/js/Controller/AssociationController.js"></script>
    <script src="~/VataraUI/js/Service/AssociationService.js"></script>
    <script src="~/VataraUI/js/Controller/VendorController.js"></script>
    <script src="~/VataraUI/js/Service/VendorService.js"></script>
    <script src="~/VataraUI/js/Controller/subscriptionController.js"></script>
    <script src="~/VataraUI/js/Service/subscriptionService.js"></script>
    <script src="~/VataraUI/js/Service/AddNewUserService.js"></script>
    <script src="~/VataraUI/js/Service/loginService.js"></script>
    <script src="~/VataraUI/js/Controller/indexController.js"></script>
    <script src="~/VataraUI/js/Controller/tenantController.js"></script>
    <script src="~/VataraUI/js/Service/tenantService.js"></script>
    <script src="~/VataraUI/js/Service/CompanyService.js"></script>
    <script src="~/VataraUI/js/Controller/ownerContactController.js"></script>
    <script src="~/VataraUI/js/Controller/tenantContactController.js"></script>
    <script src="~/VataraUI/js/Service/paymentService.js"></script>
    <script src="~/VataraUI/js/Service/propayRegService.js"></script>
    <script src="~/VataraUI/js/Controller/propayRegController.js"></script>
    <script src="~/VataraUI/js/Controller/financeController.js"></script>
    <script src="~/VataraUI/js/Service/financeService.js"></script>
    <script src="~/VataraUI/js/Service/invoiceService.js"></script>
    <script src="~/VataraUI/js/Service/serviceCategory_service.js"></script>
    <script src="~/VataraUI/js/Controller/invoiceController.js"></script>
    <script src="~/VataraUI/js/Controller/billController.js"></script>
    <script src="~/VataraUI/js/Controller/paymentController.js"></script>
    <script src="~/VataraUI/js/Controller/loginController.js"></script>
    <script src="~/VataraUI/js/Controller/personRegistrationController.js"></script>
    <script src="~/VataraUI/js/Controller/changePasswordController.js"></script>
    <script src="~/VataraUI/js/Service/recurringBillService.js"></script>
    <script src="~/VataraUI/js/Controller/recurringBillController.js"></script>
    <script src="~/VataraUI/js/Controller/chatController.js"></script>
    <script src="~/VataraUI/js/Service/chatService.js"></script>
    <script src="~/VataraUI/js/Service/indexService.js"></script>
    <script src="~/VataraUI/js/Controller/eventTrackerController.js"></script>
    <script src="~/VataraUI/js/Service/eventTrackerService.js"></script>
    <script src="~/VataraUI/js/Common/storageService.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>

    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

</head>
<body>
    <div class="container wrap2 ng-scope" id="testHTML">
        <div class="profile-div col-lg-12 col-md-12 col-sm-12 col-xs-12 marg_auto div-border">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile-left" style="border-right: 1px solid #eaeaea;">
                <div class="prof-wrap2 sub-wrap3" style="width: 100%;border-top: 1px solid #ddd; padding: 9px 18px;">
                    <h3 class="mar_h3  ng-binding"><span>Lease ID:</span>@Model.MdlLeaseData.LeaseDetail.pLeaseId </h3>
                    <h3 class="mar_h3">
                        <span>Owner:</span> <span><a class="underline ng-binding" href="#propertyOwners/47/10000/4/2/0">@Model.MdlLeaseData.LeaseDetail.pOwnerName </a></span>
                    </h3>
                    <h3 class="mar_h3">
                        <span>Tenant:</span> <span><a class="underline ng-binding" href="#leaseTenant/47/10000/23">@Model.MdlLeaseData.LeaseDetail.Tenants ,</a></span>
                    </h3>
                </div>
            </div>

            <div class="sub-wrap3 col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <h2 class="ng-binding">@Model.propertyInfo.pNum @Model.propertyInfo.pAddress @Model.propertyInfo.pCity @Model.propertyInfo.pState @Model.propertyInfo.pZipCode</h2>
                <span class="ppty-type ng-binding"><img src="~/VataraUI/images/properties/leased.png"> @Model.MdlLeaseData.LeaseDetail.pLeaseActive </span>
                <div class="clearfix"></div>
                <div class="pptywrap-1 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h3 class="ng-binding"><span>Lease Rent Amount: $ </span> @Model.MdlLeaseData.LeaseDetail.pRentalAmount</h3>
                    <h3 class="ng-binding"><span>Security Deposit: $ </span> @Model.MdlLeaseData.LeaseDetail.pSecurityDeposit</h3>
                    <h3 class="ng-binding"><span>Frequency: </span> @(Model.MdlLeaseData.LeaseDetail.pTermTypeName == "" ? "N/A" : @Model.MdlLeaseData.LeaseDetail.pTermTypeName.ToString() )</h3>
                </div>
                <div class="pptywrap-2 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h3 class="ng-binding"><span>Start Date: </span>@Model.MdlLeaseData.LeaseDetail.pStartDate</h3>
                    <h3 class="ng-binding"><span>End Date: </span>@Model.MdlLeaseData.LeaseDetail.pEndDate</h3>
                    <h3><span>Built: </span>2006</h3>
                    <h3 class="ng-binding"><span>Gross area: </span>@(Model.MdlLeaseData.LeaseDetail.pGrossArea == 0 ? "N/A" : @Model.MdlLeaseData.LeaseDetail.pGrossArea.ToString()) </h3>
                </div>
            </div>    <!--Leased Detail-->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 profile-right">
                <div>
                    <div class="col-lg-12 collapse in col-md-12 pad_0" id="demo">
                        <div style="width:100%;padding-left:16px;">
                            <div close-others="true" id="property_additionalinfo">
                                <div>
                                    <div>
                                        <h2 style="margin-top: 6px;">
                                            <span style="color: #464646;font-family: 'Lato-Bold';font-size: 15px;"><b>Occupants & Parking </b></span>
                                            <i class="pull-right glyphicon" style="font-size:15px !important;"></i>
                                        </h2>
                                    </div>

                                    <div class="sub-wrap3 col-lg-12 col-xs-12 pad_0 ng-scope">
                                        <div class="pptywrap-1 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <h3 class="ng-binding"><span>Max People Allowed: </span>@(Model.MdlLeaseData.LeaseDetail.pMaxPeopleAllowed == 0 ? "N/A" : @Model.MdlLeaseData.LeaseDetail.pMaxPeopleAllowed.ToString()) </h3>
                                            <h3 class="ng-binding"><span>Parking Spaces: </span>@(Model.MdlLeaseData.LeaseDetail.pParkingSpaces == "" ? "N/A" : @Model.MdlLeaseData.LeaseDetail.pParkingSpaces.ToString()) </h3>
                                        </div>
                                        <div class="pptywrap-1 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <h3 class="ng-binding"><span> Rentable Area: </span>@(Model.MdlLeaseData.LeaseDetail.pRentableArea == 0 ? "N/A" : @Model.MdlLeaseData.LeaseDetail.pRentableArea.ToString()) </h3>
                                            <h3 class="ng-binding"><span>Late Payment Fee: $ </span> @(Model.MdlLeaseData.LeaseDetail.pLatePaymentFee) </h3>
                                        </div>

                                        <div class="pptywrap-1 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <h3 class="ng-binding"><span>Is Move In Inspection Reqd: </span>@(Model.MdlLeaseData.LeaseDetail.pIsMoveInInspectionReqd == true ? "Yes" : "No") </h3>
                                            <h3 class="ng-binding"><span>Is Move Out Inspection Reqd: </span>@(Model.MdlLeaseData.LeaseDetail.pIsMoveOutInspectionReqd == true ? "Yes" : "No") </h3>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                                    <table class="exp-table mar_top1em mar_btm1em" style="table-layout: fixed; width:100%;">
                                        <thead class="th-title">
                                        <th width="250px">Occupant name</th>
                                        <th width="300px">Relation To Tenant</th>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.lstMdlOccupant)
                                            {
                                                <tr>
                                                    <td> @item.firstName @item.lastName</td>
                                                    <td> @item.relation</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>




                                <div style="background-color:inherit" id="Lease_AgreementDetail" is-open="status.issecondOpen">
                                    <div>
                                        <h2 style="margin-top: 6px;">
                                            <span style="color: #464646;font-family: 'Lato-Bold';font-size: 15px;"><b>Agreement Detail</b> </span>
                                            <i class="pull-right glyphicon" style="font-size:15px !important;" ng-class="{'glyphicon-minus': status.issecondOpen, 'glyphicon-plus': !status.issecondOpen}"></i>
                                        </h2>
                                    </div>
                                    <div class="sub-wrap3 col-lg-12 col-xs-12 pad_0 ng-scope">
                                        <div class="pptywrap-1 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            @foreach (var item in Model.lstAgreementType.Where(x => x.Id == Model.MdlLeaseData.LeaseDetail.pAgreementTypeId).ToList())
                                            {
                                                <h3><span>Type of Agreement: </span>@item.Name</h3>
                                            }
                                            <h3><span>Lease Type: </span>@(Model.MdlLeaseData.LeaseDetail.pLeaseType == "" || Model.MdlLeaseData.LeaseDetail.pLeaseType == null ? "N/A" : Model.MdlLeaseData.LeaseDetail.pLeaseType.ToString()) </h3>
                                            @foreach (var item in Model.LeasePaymentFrequency.Where(x => x.Id == Model.MdlLeaseData.LeaseDetail.pPaymentFrequencyId).ToList())
                                            {
                                                <h3>
                                                    <span> Payment Frequency:</span>@item.Name
                                                    (
                                                    @if (@Model.MdlLeaseData.LeaseDetail.pPaymentFrequencyId == 1)
                                                    {<span class="Frequencydocs">Every @Model.MdlLeaseData.LeaseDetail.pWeekDay  </span>}
                                                    else
                                                    { <span class="Frequencydocs">@Model.MdlLeaseData.LeaseDetail.pDayOfMonth of every month</span>}


                                                    )
                                                </h3>
                                            }

                                        </div>
                                        <div class="pptywrap-1 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="col-md-6 col-lg-6 col-xs-12">
                                                <h3 class="ng-binding"><span> Lease Rental Amou nt: $  </span>@Model.MdlLeaseData.LeaseDetail.pRentalAmount</h3>
                                                <h3 class="ng-binding"><span>Security Deposit : $ </span>@Model.MdlLeaseData.LeaseDetail.pSecurityDeposit</h3>
                                                <h3 class="ng-binding"><span>Lease Active: </span> @(Model.MdlLeaseData.LeaseDetail.pLeaseActive == "1" ? "Yes" : "No")</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container p0">
            <div id="leaseDocs" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0" style="margin-top:21px">
                <div style="margin-top:0.5em">
                    <span class="tabel-head"> Documents </span>
                </div>
                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marg_auto">-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                    <table class="exp-table mar_top1em mar_btm1em" style="table-layout: fixed; width:100%;">
                        <thead class="th-title">
                            <tr>
                                <th width="250px">Document Name</th>
                                <th width="300px">Document Description</th>
                                <th width="220px">Document Tags</th>
                                <th width="200px">Last Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.documentArray)
                            {
                                <tr ng-repeat="doc in leaseInfo.docsArray" ng-if="leaseInfo.docsArray.length !=0">

                                    <td><i class="fa fa-file"></i>  @item.Name.Split('.')[0]  </td>
                                    <td>@item.Description</td>
                                    <td>@item.Tags</td>
                                    <td>@item.CreationTime</td>
                                    @*@item.Name.Split('.')[0]*@

                                </tr>
                            }
                            @if (Model.documentArray.Count == 0)
                            {
                                <tr>
                                    <td colspan="4"><p class="P-Center">No Record Found</p></td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!--</div>-->
            </div>

            <div>
                <!--ng-init="LoadLeaseFinancial()"-->
                <div class="inner_div container p0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0" style="margin-top:21px">
                        <div style="margin:0.5em 0em">
                            <span class="tabel-head"> Income Expense:</span>
                        </div>
                        <table width="100%" class="exp-table ng-scope">
                            <thead class="th-title">
                                <tr>
                                    <th colspan="4">Income</th>

                                </tr>
                            </thead>
                            <thead class="th-title2" style="background-color:#f3f5f7 !important;">
                                <tr>
                                    <th width="250px">Item</th>
                                    <th width="250px">Description</th>
                                    <th width="250px">Amount</th>
                                    <th width="250px"> Year-to-date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ResponseMdl.lstMdlOwnerIncomeByPropertyIdLeaseId != null)
                                {
                                    foreach (var item in Model.ResponseMdl.lstMdlOwnerIncomeByPropertyIdLeaseId)
                                    {
                                        <tr>
                                            <td> @item.type </td>
                                            <td>@item.category </td>
                                            <td> @item.mtd </td>
                                            <td> @item.ytd </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td colspan="2">Total Income</td>
                                    <td> $ @Model.ResponseMdl.totalIncomeMTD </td>
                                    <td> $ @Model.ResponseMdl.totalIncomeYTD </td>
                                </tr>
                            </tbody>
                        </table>
                        <table width="100%" class="exp-table ng-scope mar_top">
                            <thead class="th-title">
                                <tr>
                                    <th colspan="4">Expenses</th>
                                </tr>
                            </thead>
                            <thead class="th-title2" style="background-color:#f3f5f7 !important;">
                                <tr>
                                    <th width="250px">Item</th>
                                    <th width="250px">Description</th>
                                    <th width="250px">Amount</th>
                                    <th width="250px"> Year-to-date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ResponseMdl.lstMdlOwnerIncomeByPropertyIdLeaseId != null)
                                {
                                    foreach (var item in Model.ResponseMdl.lstMdlOwnerExpenseByPropertyIdLeaseId)
                                    {
                                        <tr>
                                            <td> @item.type </td>
                                            <td>@item.category </td>
                                            <td>$ @item.mtd </td>
                                            <td>$ @item.ytd </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td colspan="2">Total Expenses</td>
                                    <td> $ @Model.ResponseMdl.totalExpenseMTD </td>
                                    <td> $ @Model.ResponseMdl.totalExpenseYTD </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--<div ng-include="'finanacialSummary.html'"></div>-->
            </div>

            <div id="leaseCnO" class="container mar_btm1em p0" ng-show="activeTap == 'Clauses'">
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 p0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marg_auto p0">
                        <h1 class="table_head" style="margin:0.5em 0em">Clauses</h1>
                        <table width="100%" class="exp-table">
                            <!--<thead class="th-title">
                            <th colspan="2">CLAUSES</th>
                            </thead>-->
                            <thead class="th-title">
                                <tr>
                                    <th width="250px">Clause Type</th>
                                    <th width="250px">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.LeaseClause)
                                {
                                    <tr>
                                        <td>@item.ClauseType</td>
                                        <td>@item.ClauseDesc</td>
                                    </tr>
                                }
                                @if (Model.LeaseClause.Count == 0)
                                {
                                    <tr>
                                        <td colspan="2"><p class="P-Center">No Record Found</p></td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marg_auto p0">
                        <h1 class="table_head" style="margin:0.5em 0em">Options</h1>
                        <table width="100%" class="exp-table">
                            <!--<thead class="th-title">
                            <th colspan="5">OPTIONS</th>
                            </thead>-->
                            <thead class="th-title">
                                <tr>
                                    <th width="250px">Option type</th>
                                    <th width="250px">Required By</th>
                                    <th width="250px">Effective On</th>
                                    <th width="250px">Last Execution</th>
                                    <th width="250px">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.LeaseOption)
                                {

                                    <tr ng-if="leaseInfo.optionsArray.length !=0">
                                        <td>@item.OptionType</td>
                                        <td> @item.RequiredBy </td>
                                        <td>@item.EffectiveOn </td>
                                        <td> @item.LastExecution </td>
                                        <td>@item.OptionDesc </td>
                                    </tr>
                                }
                                @if (Model.LeaseOption.Count == 0)
                                {
                                    <tr>
                                        <td colspan="5"><p class="P-Center">No Record Found</p></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'Shared View/_Loader.html'"></div>
        <div class="modal" id="deActiveLease">
            <div ng-include="'Views/alert/alert_ConfirmMessage.html'"></div>
        </div>
    </div>






    <div id="main">
        <div ng-view></div>
        <div ng-include="'Shared View/_Loader.html'"></div>
    </div>

    <!--<div id="main">
        <div></div>
    </div>-->





</body>

</html>
