﻿<div class="min-higt" layout="column">
    <div class="container-fluid">
        <div ng-controller="changePasswordController as CP" class="login-page margintop20">
            <form name="changeEmail" autocomplete="off">
                <div class="padding26">
                    <div class="row text-center">
                        <div class="col-lg-4 col-sm-4 col-md-4 "> </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 well">
                            <p><h3>Change Email Form</h3></p>
                            <div class="row padding26">
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                    <label for="oldPassword"><b>Current Email</b></label>
                                    <input class="form-control" type="text"  ng-disabled="true"
                                           ng-model="CP.mdlEmail.oldemail" name="CurrentEmail">
                                    
                                </div>
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                    <label for="psw"><b>New Email</b></label>
                                    <input class="form-control" type="text" placeholder="Enter New password"
                                           ng-model="CP.mdlEmail.newemail" name="newemail"
                                          ng-pattern="eml_addess" ng-blur="CP.CheckEmailExist()" required>
                                   
                                    <span class="errormsg" ng-show="changeEmail.newemail.$dirty && changeEmail.newemail.$invalid">
                                        <span ng-show="changeEmail.newemail.$error.required && changeEmail.newemail.$dirty">Email is required.</span>
                                        <span ng-show="changeEmail.newemail.$error.pattern">Invalid email</span>
                                    </span>
                                    <span class="errormsg">
                                        <span ng-show="CP.isExist == true">Email is already exist.</span>
                                    </span>
                                </div>                              
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-right margintop20">
                                    <button class="btn btn-success" type="submit" ng-disabled="changeEmail.$invalid || CP.isExist == true" ng-click="CP.UpdateEmail(changeEmail)">Update Email</button>
                                    <button type="button" class="btn btn-danger" ng-click="CP.ClearEmailForm(changeEmail)">Clear</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
