﻿<div class="modal fade-scale" id="mdlChangePassword" role="dialog" aria-labelledby="mdlChangePassword">
    <div class="modal-dialog modal-sm" role="document" style="width:50% !important">
        <div class="modal-content">
            <div class="modal-header model-headerColor">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ChangePasswordLabel">Change Password</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-controller="changePasswordController as CP" class="login-page margintop20">
                            <form name="changePassword" autocomplete="off">
                                <div class="padding26">
                                    <div class="row text-center">

                                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 well">
                                            <!--<p><h3>Change Password Form</h3></p>-->
                                            <div class="row padding26">
                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                                    <label for="oldPassword">
                                                        <b>Old Password</b>
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="changePassword.psw.$dirty && changePassword.psw.$invalid">
                                                            <span ng-show="changePassword.psw.$error.required">Password is required.</span>
                                                            <span ng-show="changePassword.psw.$error.minlength">
                                                                Password length must be greater than 8
                                                            </span>
                                                        </span>
                                                    </label>
                                                    <input class="form-control" type="password" placeholder="Enter Old Password"
                                                           ng-minlength="8" ng-model="CP.mdlUser.oldPassword" name="psw" required>

                                                </div>
                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                                    <label for="psw">
                                                        <b>New Password</b>
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="changePassword.newPassword.$dirty && changePassword.newPassword.$invalid">
                                                            <span ng-show="changePassword.newPassword.$error.required">New Password is required.</span>
                                                            <span ng-show="changePassword.newPassword.$error.minlength">
                                                                Password length must be greater than 8
                                                            </span>
                                                        </span>
                                                        <span class="errormsg" ng-show="CP.PasswordError!=''">Required {{CP.PasswordError}}</span>
                                                    </label>
                                                    <input class="form-control" type="password" placeholder="Enter New password"
                                                           ng-model="CP.mdlUser.newPassword" name="newPassword"  ng-blur="CP.CheckPassword(CP.mdlUser.newPassword)" 
                                                           ng-minlength="8" required>


                                                </div>
                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                                    <label for="psw">
                                                        <b>Confirm Password</b>
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="changePassword.cPassword.$dirty && changePassword.cPassword.$invalid">
                                                            <span ng-show="changePassword.cPassword.$error.required && changePassword.cPassword.$dirty">Confirm Password is required.</span>
                                                            <span ng-show="changePassword.cPassword.$invalid">Password does not match.</span>
                                                        </span>
                                                    </label>
                                                    <input class="form-control" type="password" placeholder="Enter Confirm Password"
                                                           ng-model="CP.mdlUser.confirmPassword" name="cPassword" required
                                                           compare-to="CP.mdlUser.newPassword">
                                                </div>

                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-right margintop20">
                                                    <button class="btn btn-success" type="submit" ng-disabled="changePassword.$invalid || CP.mdlUser.oldPassword == CP.mdlUser.newPassword" ng-click="CP.UpdatePassword(changePassword)">Update Password</button>
                                                    <button type="button" class="btn btn-danger" ng-click="CP.Clear(changePassword)">Close</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
