﻿<div class="min-higt" layout="column" ng-if="userData != null"  ng-controller="personRegistrationController" ng-init="LoadFunction()">
 
    <div class="container-fluid wrap1">
        <div class="vt-breadcrumb">
            <div class="col-md-5 col-xs-12 vt-brdcrumb-wrap">
                <img class="bld-img" src="images/bld-icon.png" />
                <h5>
                    Profile Info
                    <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                    <span>PM Admin <img src="images/right-arrow.png" /></span>
                    <span>Profile Info</span>
                </h5>
            </div>
        </div>
    </div>
    
     <div class="container-fluid" ng-show="!userData.isSubscriptionExpired">
        <!--<div class="container">-->
        <div ng-include="'Views/Login/RegistrationForm.html'"></div>
        <!--</div>-->
    </div>
    <div ng-include="'Shared View/_Loader.html'"></div>

    <div ng-include="'Shared View/_MdlChangeEmail.html'"></div>

    <!--<div class="modal fade-scale" id="mdlChangeEmail" role="dialog" aria-labelledby="mdlChangeEmail">
        <div class="modal-dialog modal-sm" role="document" style="width:50% !important">
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change Email</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-controller="changePasswordController as CP" class="login-page margintop20">

                                <form name="changeEmail" autocomplete="off">
                                    <div class="padding26">
                                        <div class="row text-center">

                                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 well">
                                               
                                                <div class="row padding26">
                                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left marginBottom10">
                                                        <label for="oldPassword"><b>Current Email</b></label>
                                                        <input class="form2 form-control" type="text" ng-disabled="true"
                                                               ng-model="CP.mdlEmail.oldemail" name="CurrentEmail">
                                                    </div>
                                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left marginBottom10">
                                                        <label for="psw">
                                                            <b>New Email</b>
                                                            <span class="errormsg">*</span>
                                                            <span class="errormsg" ng-show="changeEmail.newemail.$dirty && changeEmail.newemail.$invalid">
                                                                <span ng-show="changeEmail.newemail.$error.required && changeEmail.newemail.$dirty">Email is required.</span>
                                                                <span ng-show="changeEmail.newemail.$error.pattern">Invalid email</span>
                                                            </span>
                                                            <span class="errormsg" ng-show="changeEmail.newemail.$error.pattern == undefined && changeEmail.newemail.$error.required == undefined">
                                                                <span ng-show="CP.isExist == true">Email is already exist.</span>
                                                            </span>
                                                        </label>
                                                        <input class="form-control form2" type="text" placeholder="Enter New password"
                                                               ng-model="CP.mdlEmail.newemail" name="newemail"
                                                               ng-pattern="eml_addess" ng-blur="CP.CheckEmailExist()" required>
                                                    </div>
                                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-right margintop10" style="padding:7px">
                                                        <button class="btn vt-btn1" type="submit" ng-disabled="changeEmail.$invalid || CP.isExist == true" ng-click="CP.UpdateEmail(changeEmail)">Update Email</button>
                                                        <button type="button" class="btn vt-btn2" ng-click="CP.ClearEmailForm(changeEmail)">Close</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                                <div ng-include="'Shared View/_Loader.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>-->


    <div class="modal fade-scale" id="mdlChangePassword" role="dialog" aria-labelledby="mdlChangePassword">
        <div class="modal-dialog modal-sm" role="document" style="width:50% !important">
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ChangePasswordLabel">Change Password</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-controller="changePasswordController as CP" class="login-page margintop20">
                                <form name="changePassword" autocomplete="off">
                                    <div class="padding26">
                                        <div class="row text-center">

                                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 well">
                                                <!--<p><h3>Change Password Form</h3></p>-->
                                                <div class="row padding26">
                                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left marginBottom10">
                                                        <label for="oldPassword">
                                                            <b>Old Password</b>
                                                            <span class="errormsg">*</span>
                                                            <span class="errormsg" ng-show="changePassword.psw.$dirty && changePassword.psw.$invalid">
                                                                <span ng-show="changePassword.psw.$error.required">Password is required.</span>
                                                                <span ng-show="changePassword.psw.$error.minlength">
                                                                    Password length must be greater than 5
                                                                </span>
                                                            </span>
                                                        </label>
                                                        <input class="form-control form2" type="password" placeholder="Enter Old Password"
                                                               ng-minlength="6" ng-model="CP.mdlUser.oldPassword" name="psw" required>

                                                    </div>
                                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left marginBottom10">
                                                        <label for="psw">
                                                            <b>New Password</b>
                                                            <span class="errormsg">*</span>
                                                            <span class="errormsg" ng-show="changePassword.newPassword.$dirty && changePassword.newPassword.$invalid">
                                                                <span ng-show="changePassword.newPassword.$error.required">New Password is required.</span>
                                                            </span>
                                                            <span class="errormsg" ng-show="CP.PasswordError!=''">Required {{CP.PasswordError}}</span>
                                                            <span class="errormsg" ng-show="changePassword.newPassword.$error.minlength">Minimum 8 Character Required</span>
                                                        </label>
                                                        <input class="form-control form2" type="password" placeholder="Enter New password" ng-minlength="8"
                                                               ng-model="CP.mdlUser.newPassword" name="newPassword" ng-blur="CP.CheckPassword(CP.mdlUser.newPassword)" required>
                                                               
                                                    </div>
                                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left marginBottom10">
                                                        <label for="psw">
                                                            <b>Confirm Password</b>
                                                            <span class="errormsg">*</span>
                                                            <span class="errormsg" ng-show="changePassword.cPassword.$dirty && changePassword.cPassword.$invalid">
                                                                <span ng-show="changePassword.cPassword.$error.required && changePassword.cPassword.$dirty">Confirm Password is required.</span>
                                                                <span ng-show="changePassword.cPassword.$invalid">Password does not match.</span>
                                                            </span>
                                                        </label>
                                                        <input class="form-control form2" type="password" placeholder="Enter Confirm Password"
                                                               ng-model="CP.mdlUser.confirmPassword" name="cPassword" required
                                                               compare-to="CP.mdlUser.newPassword">
                                                    </div>

                                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-right margintop10" style="padding:7px">
                                                        <button class="btn vt-btn1" type="submit" ng-disabled="changePassword.$invalid || CP.mdlUser.oldPassword == CP.mdlUser.newPassword" ng-click="CP.UpdatePassword(changePassword)">Update Password</button>
                                                        <button type="button" class="btn vt-btn2" ng-click="CP.Clear(changePassword)">Close</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>

                                <div ng-include="'Shared View/_Loader.html'"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    
/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}


</style>