﻿<style type="text/css">
    .content-w3ls {
        max-width: 480px;
        margin: auto;
    }

    .content-bottom {
        padding: 3.5em 3em 1em;
        background: #2c2d31;
        border-radius: 1px 1px 1px 0px;
        margin: 0 1em;
        color: #ffffff;
    }


    /*/////////////// FORM STYLES ////////////////////*/

    form .field-group {
        background: transparent;
        display: flex;
        display: flex;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        margin: 0 0 12px 0;
    }

        form .field-group span {
            flex: 1;
            -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
            -moz-box-flex: 1; /* OLD - Firefox 19- */
            width: 20%; /* For old syntax, otherwise collapses. */
            -webkit-flex: 1; /* Chrome */
            -ms-flex: 1; /* IE 10 */
            color: #054f9c;
            font-size: 1.5em;
            background: #fff;
            text-align: center;
            margin: 0 8px 0 0;
            line-height: 48px;
            border: solid #ffffff;
            border-width: 1px 0px 1px 1px;
        }

   
   
    .background {
        padding-top: 9em;
    }


    /* -- Responsive code -- */
    @media screen and (max-width: 1280px) {
        .content-w3ls {
            margin: 4em auto;
        }
    }

    @media screen and (max-width: 768px) {
        h1.title-agile {
            font-size: 3.1em;
            letter-spacing: 3px;
            word-spacing: 5px;
        }

        .background {
            padding-top: 7em;
        }
    }

    @media screen and (max-width: 667px) {
        h1.title-agile {
            font-size: 2.8em;
        }

        .content-w3ls {
            margin: 3em auto;
        }
    }

    @media screen and (max-width: 568px) {
        .content-bottom {
            padding: 3.5em 2em 1em;
        }
    }

    @media screen and (max-width: 384px) {
        h1.title-agile {
            font-size: 2.15em;
        }

        .wthree-field input {
            padding: 9px 15px;
        }

        form .field-group span {
            font-size: 1.3em;
            line-height: 43px;
        }

        .wthree-field input[type="submit"] {
            padding: 8px 15px;
        }
    }

    @media screen and (max-width: 375px) {
        form .field-group .wthree-field {
            flex: 3 37%;
        }

        .copyright p {
            padding: 0 1em 2em;
            letter-spacing: 0px;
        }
    }

    @media screen and (max-width: 320px) {
        h1.title-agile {
            font-size: 1.9em;
        }

        .content-bottom {
            padding: 3.5em 1em 1em;
        }
    }

    .list-login {
        margin-bottom: 5em;
    }

        .list-login a {
            color: #054f9c;
            margin-top: 2em;
        }


    .test {
        max-width: 100%;
        padding: 15px 10px;
        border: 1px solid rgba(0,0,0,0);
        border-bottom-color: rgba(0,0,0,.1);
    }
</style>

<div class="background">
    <div>
        <div ng-controller="loginController as LC">

            <div class="content-w3ls">
                <div class="content-bottom">
                    <form name="loggedin">
                        <center>
                            <img ng-if="userData.CompanyData.logo != null || userData.CompanyData.logo != undefined" class="img-responsive img-circle companyLogo" ng-src="data:image/png;base64,{{userData.CompanyData.logo.base64}}" />
                            <img ng-if="userData.CompanyData.logo == null || userData.CompanyData.logo == undefined" class="img-responsive img-circle companyLogo" ng-src="data:image/png;base64,{{userData.ManagerDetail.pImage.base64}}" />

                        <!--<img class="imo" src="images/vatara_logo.png" style="margin-bottom: 2em;">--> 
                        </center>

                        <div class="field-group">
                            <center>
                                <ul style="list-style:none;">
                                    <li class="test" ng-repeat="user in userData.lstPerson" ng-click="LC.LoginUser(user)">

                                        <p ng-if="user.personType == 'tenant'"><img class="img-responsive disp img-circle" style="width:50px;height:50px;" ng-src="data:image/png;base64,{{user.profileImage.base64}}" />&nbsp; &nbsp; LOGIN AS TENANT </p>
                                        <p ng-if="user.personType == 'owner'"><img class="img-responsive disp img-circle" style="width:50px;height:50px;" ng-src="data:image/png;base64,{{user.profileImage.base64}}" /> &nbsp; &nbsp; LOGIN AS OWNER </p>
                                    </li>
                                </ul>
                            </center>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>