﻿<style type="text/css">
    .content-w3ls {
        max-width: 480px;
        margin: auto;
    }

    .content-bottom {
        padding: 3.5em 3em 1em;
        background: rgba(0, 0, 0, 0.24);
        border-radius: 1px 1px 1px 0px;
        margin: 0 1em;
    }


    /*/////////////// FORM STYLES ////////////////////*/

    form .field-group {
        background: transparent;
        display: flex;
        display: flex;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        margin: 0 0 12px 0;
    }

        form .field-group span {
            flex: 1;
            -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
            -moz-box-flex: 1; /* OLD - Firefox 19- */
            width: 20%; /* For old syntax, otherwise collapses. */
            -webkit-flex: 1; /* Chrome */
            -ms-flex: 1; /* IE 10 */
            color: #054f9c;
            font-size: 1.5em;
            background: #fff;
            text-align: center;
            margin: 0 8px 0 0;
            line-height: 48px;
            border: solid #ffffff;
            border-width: 1px 0px 1px 1px;
        }

    ul.list-login {
        margin: 2em 0;
    }

    form .field-group .wthree-field {
        flex: 3 50%;
        -webkit-box-flex: 3 50%; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 3 50%; /* OLD - Firefox 19- */
        -webkit-flex: 3 50%; /* Chrome */
        -ms-flex: 3 50%; /* IE 10 */
    }

    .wthree-field input[type="submit"] {
        background: #8ec5db;
        border: none;
        color: #fff;
        padding: 12px 15px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Mukta Mahee', sans-serif;
        cursor: pointer;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

        .wthree-field input[type="submit"]:hover {
            background: #6271c3;
            color: #fff;
        }

    .wthree-field input {
        padding: 15px 15px;
        font-size: 16px;
        border-bottom: 1px solid #fff;
        border-width: 1px 1px 1px 0;
        background: #fff;
        box-sizing: border-box;
        border-radius: 0 30px 30px 0;
        width: 100%;
        font-family: 'Mukta Mahee', sans-serif;
        outline: none;
    }

    .backImage {
        padding-top: 9em;
    }


    /* -- Responsive code -- */
    @media screen and (max-width: 1280px) {
        .content-w3ls {
            margin: 4em auto;
        }
    }

    @media screen and (max-width: 768px) {
        h1.title-agile {
            font-size: 3.1em;
            letter-spacing: 3px;
            word-spacing: 5px;
        }

        .backImage {
            padding-top: 7em;
        }
    }

    @media screen and (max-width: 667px) {
        h1.title-agile {
            font-size: 2.8em;
        }

        .content-w3ls {
            margin: 3em auto;
        }
    }

    @media screen and (max-width: 568px) {
        .content-bottom {
            padding: 3.5em 2em 1em;
        }
    }

    @media screen and (max-width: 384px) {
        h1.title-agile {
            font-size: 2.15em;
        }

        .wthree-field input {
            padding: 9px 15px;
        }

        form .field-group span {
            font-size: 1.3em;
            line-height: 43px;
        }

        .wthree-field input[type="submit"] {
            padding: 8px 15px;
        }
    }

    @media screen and (max-width: 375px) {
        form .field-group .wthree-field {
            flex: 3 37%;
        }

        .copyright p {
            padding: 0 1em 2em;
            letter-spacing: 0px;
        }
    }

    @media screen and (max-width: 320px) {
        h1.title-agile {
            font-size: 1.9em;
        }

        .content-bottom {
            padding: 3.5em 1em 1em;
        }
    }

    .list-login {
        margin-bottom: 5em;
    }

        .list-login a {
            color: #054f9c;
            margin-top: 2em;
        }

    .modal {      
        
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(133,190,220,0.85); /* Black w/ opacity */
    }

    .modal-dialog.modal-md{
        transform: translateY(88%) !important;
    }

</style>

<div class="backImage">
    <div>
        <div ng-controller="loginController as LC">
            <div class="content-w3ls">
                <div class="content-bottom" id="divlogin">
                    <form name="login" ng-init="LC.PageLoad(login)">
                        <center><img class="imo" src="images/vatara_logo.png" style="margin-bottom: 2em;"> </center>

                        <div>
                            <div class="loginErrorMsg">
                                <span class="errormsg" ng-show="login.username.$dirty && login.username.$invalid">
                                    <span ng-show="login.username.$error.required && login.username.$dirty">Username is required.</span>
                                    <span ng-show="login.username.$error.pattern">Invalid email</span>
                                </span>
                            </div>
                            <div class="field-group">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                <div class="wthree-field">
                                    <input type="email" placeholder="Enter email"
                                           ng-pattern="LC.eml_add" ng-model="LC.mdlUser.userName" name="username" required>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="loginErrorMsg">
                                <span class="errormsg" ng-show="login.psw.$dirty && login.psw.$invalid">
                                    <span ng-show="login.psw.$error.required">Password is required.</span>
                                    <!--<span ng-show="login.psw.$error.minlength">
                                        Password length must be greater than 5
                                    </span>-->
                                </span>
                            </div>
                            <div class="field-group">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                                <div class="wthree-field">
                                    <input type="password" placeholder="Enter password"
                                           ng-minlength="6" ng-model="LC.mdlUser.password" name="psw" required>

                                </div>
                            </div>
                        </div>
                        <div class="field-group"></div>
                        <div class="wthree-field">
                            <!--<button class="btn btn-success" type="submit" ng-disabled="login.$invalid" ng-click="LC.SignIn()">Login</button>-->

                            <input id="saveForm" name="saveForm" type="submit" value="LOGIN" ng-disabled="login.$invalid" ng-click="LC.SignIn()" style="color: #054f9c;" />
                        </div>
                        <div class="list-login">
                            <a data-toggle="modal" data-target="#mdlForgotPassword" class="text-left pull-left" style="color:#054f9c">Forgot password?</a>
                            <!--<a ng-click="LC.Clear(login)" class="text-right pull-right" style="color:#054f9c;margin-left:1em;">Cancel</a>-->
                            <a ng-click="LC.RegistrationModel()" class="text-left pull-right" style="color:#054f9c">Register</a>

                        </div>
                    </form>
                </div>
            </div>
            <!--<div>
                <div ng-include="'Views/Login/personRegistration.html'"></div>
            </div>-->
            <div class="modal fade-scale" id="mdlForgotPassword" role="dialog" aria-labelledby="mdlForgotPassword">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content" style="border-radius: 0px; border: 5px solid #8a8484;">
                        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form name="frmForgotPassword">
                                        <div>
                                            <h5 style="font-weight: 800!important; color: #6d6a6a;">We will send you new password to your mail</h5>
                                        </div>

                                        <div>
                                            <div class="loginErrorMsg">

                                                <span class="errormsg" ng-show="frmForgotPassword.userEmail.$dirty && frmForgotPassword.userEmail.$invalid">
                                                    <span ng-show="frmForgotPassword.userEmail.$error.required && frmForgotPassword.userEmail.$dirty">Email is required.</span>
                                                    <span ng-show="frmForgotPassword.userEmail.$error.pattern">Invalid email pattern.</span>
                                                </span>
                                                <span ng-show="LC.isForgotEmailExists != null && LC.isForgotEmailExists == false" class="errormsg">Invalid Email.</span>
                                            </div>

                                            <div class="input-group" >
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input class="form-control" type="email" placeholder="Enter email" style="height: 40px;"
                                                     maxlength="95"  ng-blur="LC.CheckEmail(LC.mdlforgotPasswordReset.userEmail)" ng-pattern="LC.eml_add" ng-model="LC.mdlforgotPasswordReset.userEmail" name="userEmail" required>
                                            </div>
                                            <div ng-if="LC.mdlforgotPasswordReset.userEmail != null && LC.mdlforgotPasswordReset.userEmail != '' && LC.mdlforgotPasswordReset.userEmail != undefined"  style="margin-bottom:1em;"><a ng-click="LC.CheckEmail(LC.mdlforgotPasswordReset.userEmail)" style="float:right;">Verify Email</a></div>
                                           
                                           
                                        </div>
                                        <div class="input-group"></div>
                                        <div class="modal-footer" style="padding: 19px 0 0!important;">
                                            <button class="btn btn-success pull-right" style="height: 40px;" type="submit" name="saveForm" ng-disabled="frmForgotPassword.$invalid || LC.isForgotEmailExists == false || LC.isForgotEmailExists == null" ng-click="LC.ForgotPasswordReset(frmForgotPassword)">Submit</button>
                                            <button class="btn btn-danger pull-left" style="height: 40px;" ng-click="LC.ClearForgotPassword(frmForgotPassword)" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div ng-include="'Shared View/_Loader.html'"></div>
        </div>
    </div>


 

    <!--<div class="modal fade-scale" id="mdlForgotPassword" role="dialog" aria-labelledby="mdlForgotPassword">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ForgotPasswordLabel">Enter Email</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-controller="loginController as LC" class="login-page margintop20">
                                <form name="frmForgotPassword" autocomplete="off">
                                    <div class="padding26">
                                        <div class="row text-center">

                                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 well">

                                                <div class="row padding26">
                                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                                        <label>Email
                                                            <span class="errormsg" ng-show="frmForgotPassword.userEmail.$dirty && frmForgotPassword.userEmail.$invalid">
                                                                <span ng-show="frmForgotPassword.userEmail.$error.required && frmForgotPassword.userEmail.$dirty">Email is required.</span>
                                                                <span ng-show="frmForgotPassword.userEmail.$error.pattern">Invalid email</span>
                                                            </span>

                                                        </label>

                                                        <input type="email" placeholder="Enter email"
                                                               ng-pattern="LC.eml_add" ng-model="LC.userEmail" name="userEmail" required>

                                                    </div>

                                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-right margintop20">
                                                        <button class="btn btn-success" type="submit" ng-disabled="frmForgotPassword.$invalid" ng-click="">Submit</button>
                                                        <button type="button" class="btn btn-danger" ng-click="LC.ClearForgotPassword(frmForgotPassword)">Close</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>