﻿
<div class="min-higt" ng-controller="personRegistrationController" ng-init="LoadFunction()" ng-cloak>
    <section layout="row" flex>
        <md-content class="content" flex layout-padding>
            <div class="container-fluid top-content">
                <div class="top-bar">
                    <div id="menu-close">
                        <p class="open" ng-show="!arrow"><i class="material-icons">menu</i></p>
                        <p class="close" ng-show="arrow"><i class="material-icons">close</i></p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="vt-name">
                            <h6>
                                <img src="../../images/vatara_logo.png" />
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </section>
    <div class="container-fluid wrap1">
        <div class="vt-breadcrumb">
            <div class="lease_brdr vt-brdcrumb-wrap col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <h6 style="font-weight:800">
                    Registration
                </h6>
            </div>
        </div>
    </div>
    <div ng-show="!userData.isSubscriptionExpired">
        <div class="container-fluid">
            <div ng-if="showMessage==false && showSubscriptionPlan==false">
                <div ng-include="'Views/Login/RegistrationForm.html'"></div>
            </div>
            <div ng-if="showSubscriptionPlan==true && showMessage==false" id="subscriptionplan">
                <div ng-include="'Views/Login/SubScriptionPlan.html'"></div>
            </div>
            <div id="showmsg" style="display:none">
                <div class="login-page margintop20">
                    <div>
                        <div class="row text-center">
                            <div class="col-lg-4 col-sm-4 col-md-4 "> </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 well">
                                <div class="row padding26">
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                        <h2>Thank You</h2>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                        <h4>Your Registration was successful ! A verification link is sent to your mail. Please verify your email and login.</h4>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                        ID : {{userId}}
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-right">
                                        <button class="btn btn-primary" ng-click="RegistrationCancel()">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'Shared View/_Loader.html'"></div>
    </div>
</div>







