﻿
<div class="container">
    <div class="tab-content">
        <div id="step1" class="tab-pane fade in active">
            <div id="accord4" class="work-wrap">
                <div class="lease-form col-xs-12">
                    <form class="ng-pristine ng-valid" role="form" name="frmRegister" novalidate autocomplete="off">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Personal Info</legend>

                            <div class="padd_zero col-lg-12" ng-if="userData != null">
                                <div class="image-upload col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <i class="fa fa-window-close removeProfileImageOwner" ng-if="userData.personType != PersonTyp.property_manager" onclick="angular.element(this).scope().removeProfileImage()"></i>
                                    <i class="fa fa-window-close removeProfileImage" ng-if="userData.personType == PersonTyp.property_manager" onclick="angular.element(this).scope().removeProfileImage()"></i>
                                    <div class="img-one" id="divimage1">
                                        <label for="file-input">
                                            <i class="material-icons">add</i>
                                        </label>
                                        <input id="file-input" class="file1" type="file" name="image1"
                                               onchange="angular.element(this).scope().personfileSelected(this)" />
                                    </div>

                                    <div class="row" style="margin-bottom:5%;margin-top:1em" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false && userData.personType == PersonTyp.property_manager">
                                        <div class="col-md-6" ng-if="userData != null">
                                            <a data-toggle="modal" data-target="#mdlChangePassword" class="fontsize14">
                                                <span class="fa fa-lock fa_password" style="font-size: 17px;"></span> Change Password
                                            </a> &nbsp;&nbsp;&nbsp;
                                        </div>
                                        <div class="col-md-6" ng-if="userData != null" style="padding-left:39px;">
                                            <a data-toggle="modal" data-target="#mdlChangeEmail" class="fontsize14"><span class="fa fa-envelope fa_password"></span>&nbsp; Change Email</a>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:5%;margin-top:1em" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false && userData.personType != PersonTyp.property_manager">
                                        <div class="col-md-12" ng-if="userData != null">
                                            <a data-toggle="modal" data-target="#mdlChangePassword" class="fontsize14">
                                                <span class="fa fa-lock fa_password" style="font-size: 17px;"></span> Change Password
                                            </a> &nbsp;&nbsp;&nbsp;
                                        </div>
                                        <div class="col-md-12" ng-if="userData != null">
                                            <a data-toggle="modal" data-target="#mdlChangeEmail" class="fontsize14"><span class="fa fa-envelope fa_password"></span>&nbsp; Change Email</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="padd-lease col-lg-8 col-md-8 col-sm-8 col-xs-8">

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label cl>
                                            First Name
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.firstName.$dirty && frmRegister.firstName.$invalid">
                                                <span ng-show="frmRegister.firstName.$error.required">First Name is required.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="text" placeholder="First Name"
                                                   ng-model="mdlPerson.firstName" name="firstName" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label>Middle Name</label>
                                        <div class="form-group">
                                            <input class="form2" type="text" placeholder="Middle Name"
                                                   ng-model="mdlPerson.middleName" name="middleName">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label>
                                            last Name
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.lastName.$dirty && frmRegister.lastName.$invalid">
                                                <span ng-show="frmRegister.lastName.$error.required">last Name is required.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="text" placeholder="last Name"
                                                   ng-model="mdlPerson.lastName" name="lastName" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12" ng-if="userData == null">
                                        <label>
                                            Email 
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.email.$dirty && frmRegister.email.$invalid">
                                                <span ng-show="frmRegister.email.$error.required && frmRegister.email.$dirty">Email required.</span>
                                                <span ng-show="frmRegister.email.$error.pattern">Invalid email</span>
                                            </span>
                                            <span class="errormsg" ng-show="frmRegister.email.$error.pattern == undefined && frmRegister.email.$error.required == undefined">
                                                <span ng-show="isExist == true">Email already exist.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="email" placeholder="Enter email"
                                                   ng-pattern="eml_addess" ng-model="mdlPerson.email" name="email"
                                                   ng-blur="EmailExist()"  required>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12" ng-if="userData != null">
                                        <label>
                                            Email 
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.email.$dirty && frmRegister.email.$invalid">
                                                <span ng-show="frmRegister.email.$error.required && frmRegister.email.$dirty">Email is required.</span>
                                                <span ng-show="frmRegister.email.$error.pattern">Invalid email</span>
                                            </span>
                                            <span class="errormsg" ng-show="frmRegister.email.$error.pattern == undefined && frmRegister.email.$error.required == undefined">
                                                <span ng-show="isExist == true">Email already exist.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="email" placeholder="Enter email"
                                                   ng-pattern="eml_addess" ng-model="mdlPerson.email" name="email" ng-disabled="emailDisable"
                                                   ng-blur="EmailExist()" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12" ng-if="userData != null && userData.personType == PersonTyp.property_manager">
                                        <label>
                                            Personalise URL
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.companyUrl.$dirty && frmRegister.companyUrl.$invalid">
                                                <span ng-show="frmRegister.companyUrl.$error.required">Company URL is required.</span>
                                            </span>
                                            <span class="errormsg">
                                                <span ng-show="isCompanyURLExist == true">Company with this url already exist.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <div class="row marginnone">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd-zero">
                                                    <!--ng-keydown="disableSaveButton = true"-->
                                                    <input type="text" placeholder="Company URL" class="form2"
                                                           ng-blur="validateCompanyURL()" ng-model="mdlPerson.company_url" name="companyUrl" required>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd-zero">
                                                    <input type="text" ng-disabled="true" ng-model="vataradomain" style="border-left:none !important">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6 col-sm-6 col-xs-12" ng-if="userData == null">
                                        <label>
                                            Password
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.password.$dirty && frmRegister.password.$invalid">
                                                <span ng-show="frmRegister.password.$error.required && frmRegister.email.$dirty">Password is required.</span>
                                                <span ng-show="frmRegister.password.$error.minlength">
                                                    Password length must be greater than 8
                                                </span>
                                            </span>
                                            <span class="errormsg" ng-show="PasswordError!=''">Required {{PasswordError}}</span>
                                        </label>

                                        <div class="form-group">
                                            <input class="form2" type="password" placeholder="Enter password"
                                                   ng-model="mdlPerson.password" name="password"
                                                   ng-minlength="8" ng-blur="CheckPassword(mdlPerson.password)"   required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12" ng-if="userData == null">
                                        <label>
                                            Confirm Password
                                            <span class="errormsg">*</span>

                                        </label>

                                        <div class="form-group">

                                            <input class="form2" type="password" placeholder="Enter Confirm Password"
                                                   ng-model="mdlPerson.confirmPassword" name="cPassword" required
                                                   compare-to="mdlPerson.password">
                                            <span class="errormsg" ng-show="frmRegister.cPassword.$dirty && frmRegister.cPassword.$invalid">
                                                <span ng-show="frmRegister.cPassword.$error.required && frmRegister.cPassword.$dirty">Confirm Password is required.</span>
                                                <span ng-show="frmRegister.cPassword.$invalid">Password does not match.</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="padd_zero col-lg-12" ng-if="userData == null">

                                <div class="padd-lease col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label cl>
                                            First Name
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.firstName.$dirty && frmRegister.firstName.$invalid">
                                                <span ng-show="frmRegister.firstName.$error.required">First Name is required.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="text" placeholder="First Name"
                                                   maxlength="95" ng-model="mdlPerson.firstName" name="firstName" required>

                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>Middle Name</label>
                                        <div class="form-group">
                                            <input class="form2" type="text" placeholder="Middle Name"
                                                   maxlength="95" ng-model="mdlPerson.middleName" name="middleName">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>
                                            last Name
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.lastName.$dirty && frmRegister.lastName.$invalid">
                                                <span ng-show="frmRegister.lastName.$error.required">last Name is required.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="text" placeholder="last Name"
                                                   maxlength="95" ng-model="mdlPerson.lastName" name="lastName" required>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>
                                            Email
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.email.$dirty && frmRegister.email.$invalid">
                                                <span ng-show="frmRegister.email.$error.required && frmRegister.email.$dirty">Email is required.</span>
                                                <span ng-show="frmRegister.email.$error.pattern">Invalid email</span>
                                            </span>
                                            <span class="errormsg" ng-show="frmRegister.email.$error.pattern == undefined && frmRegister.email.$error.required == undefined">
                                                <span ng-show="isExist == true">Email already exist.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="email" placeholder="Enter email"
                                                   ng-pattern="eml_addess" ng-model="mdlPerson.email" name="email"
                                                   maxlength="95" ng-blur="EmailExist()" required>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12" ng-if="userData == null">
                                        <label>
                                            Password
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.password.$dirty && frmRegister.password.$invalid">
                                                <span ng-show="frmRegister.password.$error.required && frmRegister.email.$dirty">Password is required.</span>
                                                <span ng-show="frmRegister.password.$error.minlength">
                                                    Password length must be greater than 8
                                                </span>
                                            </span>
                                            <span class="errormsg" ng-show="PasswordError!=''">Required {{PasswordError}}</span>
                                        </label>

                                        <div class="form-group">
                                            <input class="form2" type="password" placeholder="Enter password"
                                                   ng-model="mdlPerson.password" name="password"
                                                   ng-minlength="8" ng-blur="CheckPassword(mdlPerson.password)" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" ng-if="userData == null">
                                        <label>
                                            Confirm Password
                                            <span class="errormsg">*</span>
                                        </label>

                                        <div class="form-group">
                                            <input class="form2" type="password" placeholder="Enter Confirm Password"
                                                   ng-model="mdlPerson.confirmPassword" name="cPassword" required
                                                   compare-to="mdlPerson.password">
                                            <span class="errormsg" ng-show="frmRegister.cPassword.$dirty && frmRegister.cPassword.$invalid">
                                                <span ng-show="frmRegister.cPassword.$error.required && frmRegister.cPassword.$dirty">Confirm Password is required.</span>
                                                <span ng-show="frmRegister.cPassword.$invalid">Password does not match.</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="padd_zero col-lg-12">
                                <div class="col-md-4 col-sm-4 col-xs-12" ng-if="userData == null">
                                    <label>
                                        Phone No
                                        <span class="errormsg">*</span>
                                        <span class="errormsg" ng-show="frmRegister.phone.$dirty && frmRegister.phone.$invalid">
                                            <span ng-show="frmRegister.phone.$error.required">Phone number is required.</span>
                                        </span>
                                    </label>
                                    <div class="form-group">
                                        <input class="form2" type="text"
                                               ng-model="mdlPerson.phoneNo" name="phone"
                                               maxlength="95" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12" ng-if="userData == null">
                                    <label>Fax</label>
                                    <div class="form-group">
                                        <input class="form2" type="text" placeholder="Fax"
                                               ng-model="mdlPerson.fax" name="fax" maxlength="10" numbers-only>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12" ng-if="userData != null">
                                    <label>
                                        Phone No
                                        <span class="errormsg">*</span>
                                        <span class="errormsg" ng-show="frmRegister.phone.$dirty && frmRegister.phone.$invalid">
                                            <span ng-show="frmRegister.phone.$error.required">Phone number is required.</span>
                                        </span>

                                    </label>
                                    <div class="form-group">
                                        <input class="form2" type="text"
                                               ng-model="mdlPerson.phoneNo" name="phone"
                                               placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true"
                                               restrict="reject" required> <!--numbers-only-->
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12" ng-if="userData != null">
                                    <label>Fax</label>
                                    <div class="form-group">
                                        <input class="form2" type="text" placeholder="Fax"
                                               ng-model="mdlPerson.fax" name="fax" maxlength="10" numbers-only>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label>
                                        Address Line-1
                                        <span class="errormsg">*</span>

                                    </label>
                                    <div class="form-group">
                                        <input class="form2" type="text" placeholder="Enter Address Line 1"
                                               ng-model="mdlPerson.line1" name="line1" required>


                                        <span class="errormsg" ng-show="frmRegister.line1.$dirty && frmRegister.line1.$invalid">
                                            <span ng-show="frmRegister.line1.$error.required">Address is required.</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label>Address Line-2</label>
                                    <div class="form-group">
                                        <input class="form2" type="text" placeholder="Enter Address Line 2"
                                               ng-model="mdlPerson.line2" name="line2">
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="country">
                                        Country:
                                        <span class="errormsg">*</span>
                                        <span class="errormsg" ng-show="frmRegister.country.$dirty && frmRegister.country.$invalid">
                                            <span ng-show="frmRegister.country.$error.required">Select a country.</span>
                                        </span>
                                    </label>
                                    <div class="form-group">
                                        <ui-select ng-model="mdlCountryState.selectedCountry" theme="selectize"
                                                   name="country" required>
                                            <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="country in Country | orderBy : 'Name' | filter: $select.search">
                                                <span ng-bind-html="country.Name | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="state">
                                        State:
                                        <span class="errormsg">*</span>
                                        <span class="errormsg" ng-show="frmRegister.state.$dirty && frmRegister.state.$invalid">
                                            <span ng-show="frmRegister.state.$error.required">Select a state.</span>
                                        </span>

                                    </label>
                                    <div class="form-group">

                                        <ui-select ng-model="mdlCountryState.selectedState" theme="selectize"
                                                   name="state"
                                                   ng-disabled="mdlCountryState.selectedCountry == undefined || mdlCountryState.selectedCountry == ''"
                                                   on-select="GetCountyByStateId(mdlCountryState.selectedState)"
                                                   title="" required>
                                            <ui-select-match placeholder="">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="state in State | orderBy : 'Name' | filter: $select.search">
                                                <span ng-bind-html="state.Name | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">

                                    <label>County</label>
                                    <div class="form-group">
                                        <ui-select ng-model="mdlCountryState.selectedCounty" theme="selectize"
                                                   name="county"
                                                   ng-disabled="mdlCountryState.selectedState == undefined || mdlCountryState.selectedState == ''"
                                                   on-select="ChangeCity(mdlCountryState.selectedCounty)"
                                                   title="">
                                            <ui-select-match placeholder="">
                                                {{$select.selected.name}}
                                                <button class="clearddl" data-toggle="tooltip" data-placement="bottom" title="Cancel selection" ng-click="clearddl($event)">X</button>
                                            </ui-select-match>
                                            <ui-select-choices repeat="county in County | orderBy : 'name' | filter: $select.search">
                                                <span ng-bind-html="county.name | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label for="city">
                                        City:
                                        <span class="errormsg">*</span>
                                        <span class="errormsg" ng-show="frmRegister.city.$dirty && frmRegister.city.$invalid">
                                            <span ng-show="frmRegister.city.$error.required">Select a city.</span>
                                        </span>
                                    </label>
                                    <div class="form-group">
                                        <ui-select ng-model="mdlCountryState.selectedCity" theme="selectize"
                                                   name="city"
                                                   ng-disabled="mdlCountryState.selectedState == undefined || mdlCountryState.selectedState == ''"
                                                   on-select="ChangeZip()"
                                                   title="" required>
                                            <ui-select-match placeholder="">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="city in City | orderBy : 'Name' | filter: $select.search | limitTo:35">
                                                <span ng-bind-html="city.Name | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label>
                                        Zip Code
                                        <span class="errormsg">*</span>
                                        <span class="errormsg" ng-show="frmRegister.zipCode.$dirty && frmRegister.zipCode.$invalid">
                                            <span ng-show="frmRegister.zipCode.$error.pattern"> The zip code must have 5 digits with an optional - and 4 more digits.</span>
                                            <span ng-show="frmRegister.zipCode.$error.required">zip code is required.</span>
                                        </span>
                                        <span ng-if="frmRegister.zipCode.$dirty && !pZipValid" class="errormsg">Invalid ZipCode</span>
                                    </label>

                                    <input type="text" class="form2" ng-model="mdlPerson.zipCode"
                                           ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/"
                                           ng-blur="ValidatePersonInfoZipCode(mdlPerson.zipCode,'PersonInfoZip')" ng-change="ZipCodeTextChange(mdlPerson.zipCode,'PersonInfoZip')" name="zipCode" id="PersonInfoZip"
                                           placeholder="ZipCode" maxlength="10" required />
                                </div>
                            </div>
                        </fieldset>

                        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="userData == null">

                            <div class="company_register">
                                <input type="checkbox" style="height: 20px; width: 20px;" ng-model="mdlPerson.haveRegisteredCompany" ng-checked="mdlPerson.haveRegisteredCompany" class="ng-pristine ng-valid ng-empty ng-touched" aria-invalid="false">
                            </div>
                            <span class="register_text">I have a registered company </span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="padd_zero col-lg-12 margintop3" ng-if="userData == null && mdlPerson.haveRegisteredCompany == true">

                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">Company Info</legend>

                                <div class="image-upload col-lg-4 col-md-4 col-sm-4 col-xs-4">


                                    <div class="img-one" id="divimage">
                                        <label for="file-input">
                                            <i class="material-icons">add</i>
                                        </label>
                                        <input id="file-input" class="file1" type="file" name="image1"
                                               onchange="angular.element(this).scope().fileSelected(this)" />
                                    </div>

                                </div>

                                <div class="padd-lease col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label>
                                            Company Name
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.companyName.$dirty && frmRegister.companyName.$invalid">
                                                <span ng-show="frmRegister.companyName.$error.required">Company Name is required.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="text" placeholder="Company Name"
                                                   ng-model="mdlPerson.company_Name" name="companyName" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label>
                                            Email
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.company_email.$dirty && frmRegister.company_email.$invalid">
                                                <span ng-show="frmRegister.company_email.$error.required && frmRegister.company_email.$dirty">Email is required.</span>
                                                <span ng-show="frmRegister.company_email.$error.pattern">Invalid email</span>
                                            </span>
                                            <span class="errormsg">
                                                <span ng-show="isCompanyEmailExist == true">Email already exist.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="email" placeholder="Enter email"
                                                   ng-pattern="eml_addess" ng-model="mdlPerson.company_email" name="company_email"
                                                   ng-blur="CompanyEmailExist()" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label>
                                            Phone No
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.company_phone.$dirty && frmRegister.company_phone.$invalid">
                                                <span ng-show="frmRegister.company_phone.$error.required">Phone is required.</span>
                                            </span>

                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="text"
                                                   ng-model="mdlPerson.company_phone" name="company_phone" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label>Fax</label>
                                        <div class="form-group">
                                            <input class="form2" type="text" placeholder="Fax"
                                                   ng-model="mdlPerson.company_fax" name="fax" maxlength="10" numbers-only>
                                        </div>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="padd_zero col-lg-12">

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label>
                                            Address Line-1
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.company_line1.$dirty && frmRegister.company_line1.$invalid">
                                                <span ng-show="frmRegister.company_line1.$error.required">Address is required.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="text" placeholder="Enter Address Line 1"
                                                   ng-model="mdlPerson.company_line1" name="company_line1" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label>Address Line-2</label>
                                        <div class="form-group">
                                            <input class="form2" type="text" placeholder="Enter Address Line 2"
                                                   ng-model="mdlPerson.company_line2" name="company_line2">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label for="country">
                                            Country:
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.company_country.$dirty && frmRegister.company_country.$invalid">
                                                <span ng-show="frmRegister.company_country.$error.required">Select a country.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <ui-select ng-model="mdlCompanyCountryState.selectedCountry" theme="selectize"
                                                       name="company_country" required>
                                                <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="country in Country | orderBy : 'Name' | filter: $select.search">
                                                    <span ng-bind-html="country.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label for="state">
                                            State:
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.company_state.$dirty && frmRegister.company_state.$invalid">
                                                <span ng-show="frmRegister.company_state.$error.required">Select a state.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <ui-select ng-model="mdlCompanyCountryState.selectedState" theme="selectize"
                                                       name="company_state"
                                                       ng-disabled="mdlCompanyCountryState.selectedCountry == undefined || mdlCompanyCountryState.selectedCountry == ''"
                                                       on-select="GetCompanyCountyByStateId(mdlCompanyCountryState.selectedState)"
                                                       title="" required>
                                                <ui-select-match placeholder="">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="state in State | orderBy : 'Name' | filter: $select.search">
                                                    <span ng-bind-html="state.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">

                                        <label>County</label>
                                        <div class="form-group">

                                            <ui-select ng-model="mdlCompanyCountryState.selectedCounty" theme="selectize"
                                                       name="company_county"
                                                       ng-disabled="mdlCompanyCountryState.selectedState == undefined || mdlCompanyCountryState.selectedState == ''"
                                                       on-select="ChangeCompanyCity(mdlCompanyCountryState.selectedCounty)"
                                                       title="">
                                                <ui-select-match placeholder="">
                                                    {{$select.selected.name}}
                                                    <button class="clearddl" data-toggle="tooltip" data-placement="bottom" title="Cancel selection" ng-click="clearCompanyddl($event)">X</button>
                                                </ui-select-match>
                                                <ui-select-choices repeat="county in CompanyCounty | orderBy : 'name' | filter: $select.search">
                                                    <span ng-bind-html="county.name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label for="city">
                                            City:
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.company_city.$dirty && frmRegister.company_city.$invalid">
                                                <span ng-show="frmRegister.company_city.$error.required">Select a city.</span>
                                            </span>
                                        </label>

                                        <div class="form-group">

                                            <ui-select ng-model="mdlCompanyCountryState.selectedCity" theme="selectize"
                                                       name="company_city"
                                                       ng-disabled="mdlCompanyCountryState.selectedState == undefined || mdlCompanyCountryState.selectedState == ''"
                                                       on-select="ChangeCompnyZip()"
                                                       title="" required>
                                                <ui-select-match placeholder="">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="city in CompanyCity | orderBy : 'Name' | filter: $select.search | limitTo:35">
                                                    <span ng-bind-html="city.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>
                                            Zip Code
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmRegister.company_zipCode.$dirty && frmRegister.company_zipCode.$invalid">
                                                <span ng-show="frmRegister.company_zipCode.$error.pattern"> The zip code must have 5 digits with an optional - and 4 more digits.</span>
                                                <span ng-show="frmRegister.company_zipCode.$error.required">zip code is required.</span>
                                            </span>
                                            <span ng-if="frmRegister.company_zipCode.$dirty && !compZipValid" class="errormsg">Invalid ZipCode</span>
                                        </label>

                                        <input type="text" class="form2" ng-model="mdlPerson.company_zipCode"
                                               ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/"
                                               ng-blur="ValidateCompanyInfoZipCode(mdlPerson.company_zipCode,'CompInfoZip')" name="company_zipCode" id="CompInfoZip"
                                               ng-change="ZipCodeTextChange(mdlPerson.company_zipCode,'CompInfoZip')"
                                               placeholder="ZipCode" maxlength="10" required />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </fieldset>
                        </div>
                        <div class="clearfix"></div>
                        <div class="padd_zero col-lg-12" ng-if="newAdmin == false">
                            <div class="col-md-6 col-sm-6 col-xs-6 form-group paddLeft_zero">
                                <button class="btn vt-btn2  btn1" ng-if="userData != null"
                                        type="submit" ng-click="ModelClose(frmRegister)">
                                    Close
                                </button>
                                <button class="btn vt-btn2 btn1" ng-if="userData == null"
                                        type="submit" ng-click="RegistrationCancel()">
                                    Cancel
                                </button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 form-group paddRight_zero text-right" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">

                                <button class="btn vt-btn1 btn1 text-right floatRight" ng-disabled="frmRegister.$invalid || isExist == true || isCompanyURLExist == true || disableSaveButton == true || pZipValid == false"
                                        type="submit" ng-click="PersonRegistration(frmRegister)">
                                    Save
                                </button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 form-group paddRight_zero text-right" ng-if="userData == null">
                                <button class="btn vt-btn1 btn1 text-right floatRight" ng-disabled="frmRegister.$invalid || isExist == true || isCompanyURLExist == true || disableSaveButton == true || pZipValid == false || (mdlPerson.haveRegisteredCompany == true && compZipValid == false)"
                                        type="submit" ng-click="PersonRegistration(frmRegister)">
                                    Save
                                </button>
                            </div>
                        </div>
                        <div class="padd_zero col-lg-12" ng-if="newAdmin == true">
                            <div class="col-md-6 col-sm-6 col-xs-6 form-group paddLeft_zero" ng-if="newAdmin == true">
                                <button class="btn vt-btn2 btn1"
                                        type="submit" ng-click="CloseAddNewAdminMdl()">
                                    Cancel
                                </button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 form-group paddRight_zero text-right" ng-if="newAdmin == false">
                                <button class="btn vt-btn1 btn1 text-right floatRight" ng-disabled="frmRegister.$invalid || isExist == true || pZipValid == false"
                                        type="submit" ng-click="SaveAdmin(frmRegister)">
                                    Add
                                </button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div ng-include="'Shared View/_MdlChangeEmail.html'"></div>

    </div>
</div>

