﻿<div class="container">
    <div class="tab-content" ng-controller="personRegistrationController" ng-init="OnLoadSubScription()">
        <div class="col-lg-12">

            <div ng-repeat="plan in lstplans_Filtered">
                <div class="pricing-grid2" name="divplan" ng-click="ChangePlan(plan,$event)" ng-class="{'selectdiv': selectedplan==plan.plan_code}">
                    <div class="price-value two">
                        <h3><a>{{plan.name}}</a></h3>
                    </div>
                    <div class="price-bg">
                        <ul>
                            <li><a>Plan Code : {{plan.plan_code}} </a></li>
                            <li class="whyt"><a>$ {{plan.recurring_price}}/{{plan.interval_unit}}</a></li>
                            <li><a>setup fee : {{plan.setup_fee}}</a></li>
                            <li class="whyt"><a>T&C apply</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col=lg-12">
            <div class="field-group" style="float:right">
                <div class="wthree-field">
                    <input type="submit" value="Next" class="model-headerColor P-Center popup-with-zoom-anim" ng-click="SaveSubScripe()">
                </div>
            </div>
        </div>
        <div class="modal fade-scale" id="mdl_AddCardDetail" role="dialog" aria-labelledby="mdlAddCardDetail">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header model-headerColor">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Credit Card Detail</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form name="pyment" ng-app="myApp">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>Name</label><span class="errormsg">*</span>
                                    <span class="errormsg" ng-show="pyment.Name.$dirty && pyment.Name.$invalid">
                                        <span ng-show="pyment.Name.$error.required">Name required.</span>
                                    </span>
                                    <input type="text" class="form2" name="Name" ng-model="Payment.FirstName" required />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>Credit Card Number</label><span class="errormsg">*</span>
                                    <span class="errormsg" ng-show="pyment.AccountNumber.$dirty && pyment.AccountNumber.$invalid">
                                        <span ng-show="pyment.AccountNumber.$error.required">Credit Card Number required.</span>
                                    </span>
                                    <input type="number" class="form2" name="AccountNumber" onKeyPress="if(this.value.length==16) return false;" ng-model="Payment.AccountNumber" required />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>Expire Date</label><span class="errormsg">*</span>
                                    <span class="errormsg" ng-show="pyment.ExpireDate.$dirty && pyment.ExpireDate.$invalid">
                                        <span ng-show="pyment.ExpireDate.$error.required">Expiry Date required.</span>
                                    </span>
                                    <span class="errormsg" ng-show="ExpireDateError==false">Should be Greater than Previous Year</span>
                                    <input type="text" class="form2" name="ExpireDate" ng-model="Payment.ExpireDate" placeholder="MM/YY" mask="19/29" ng-blur="changeExpireDate(Payment.ExpireDate)" my-date clean="true"
                                           restrict="reject" required /><!--numbers-only-->
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>CVV</label><span class="errormsg">*</span>
                                    <span class="errormsg" ng-show="pyment.CVV.$dirty && pyment.CVV.$invalid">
                                        <span ng-show="pyment.CVV.$error.required">CVV required.</span>
                                    </span>
                                    <input type="number" class="form2" name="CVV" onKeyPress="if(this.value.length==4) return false;" ng-model="Payment.CVV" required />
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="pretty p-default">
                                        <input type="checkbox" class="inputCheckbox form-control form2" ng-model="Payment.AutoRenewal" />
                                        <div class="state">
                                            <label></label>
                                        </div>
                                    </div>
                                    Auto Renewal
                                </div>
                            </form>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <br />
                                <div class="field-group">
                                    <div class="wthree-field">
                                        <input type="button" value="Subscripe Now" ng-disabled="pyment.$invalid" class="SubmitButton" ng-click="SavePayment(Payment)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'Shared View/_Loader.html'"></div>
    </div>
</div>
<style type="text/css">
    .SubmitButton {
        background-color: #000 !important;
        color: white;
        padding: 9px 15px;
        margin-top: -15px;
    }

    .model-radius {
        border-radius: 15px 15px 0 0;
    }

    .wthree-field {
        margin-top: 30px !important;
    }

    form .field-group .wthree-field {
        flex: 3 50%;
        -webkit-box-flex: 3 50%; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 3 50%; /* OLD - Firefox 19- */
        -webkit-flex: 3 50%; /* Chrome */
        -ms-flex: 3 50%; /* IE 10 */
    }

    .wthree-field input[type="submit"] {
        border: none;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        -webkit-transition: 0.5s all;
        margin-right: 3em;
    }

    .wthree-field input {
        box-sizing: border-box;
        font-family: 'Mukta Mahee', sans-serif;
        outline: none;
    }

    form .field-group {
        background: transparent;
        display: flex;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        margin: 0 0 12px 0;
    }

        form .field-group span {
            flex: 1;
            -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
            -moz-box-flex: 1; /* OLD - Firefox 19- */
            width: 20%; /* For old syntax, otherwise collapses. */
            -webkit-flex: 1; /* Chrome */
            -ms-flex: 1; /* IE 10 */
            color: #054f9c;
            font-size: 1.5em;
            background: #fff;
            text-align: center;
            margin: 0 8px 0 0;
            line-height: 48px;
            border: solid #ffffff;
            border-width: 1px 0px 1px 1px;
        }

        form .field-group span {
            font-size: 1.3em;
            line-height: 43px;
        }

    .wthree-field input[type="submit"] {
        padding: 8px 35px;
        margin-top: 2em;
        border-radius: 25px;
    }

    form .field-group .wthree-field {
        flex: 3 37%;
    }

    div .selecleddiv {
        background-color: #d3d3d36e;
    }

    .pricing-grid2 {
        width: 31%;
        float: left;
        text-align: center;
        margin-right: 2%;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        padding: 0;
        border: none;
        border-radius: 0.7em;
        -webkit-border-radius: 0.7em;
        -moz-border-radius: 0.7em;
        outline: none;
    }


    .price-value h2 a, .price-value.two h3 a, .price-value.three h4 a {
        font-size: 1.4em;
        color: #000;
        text-decoration: none;
    }

    .price-value, .price-value.two, .price-value.three {
        background: #f4f4f4;
        padding: 2.8em 1.8em 2em;
        border-bottom: 2px solid #ffd500;
        border-top-left-radius: 0.7em;
        -webkit-border-top-left-radius: 0.7em;
        border-top-right-radius: 0.7em;
        -webkit-border-top-right-radius: 0.7em;
        position: relative;
    }

        .price-value.two {
            background: #f4f4f4 !important;
            border-bottom: 2px solid #fff;
        }


        .price-value ul, .pricing-grid2 ul {
            padding: 0;
        }

            .price-value ul li, .pricing-grid2 ul li {
                list-style: none;
            }

    .sale-box, .sale-box.two, .sale-box.three {
        position: absolute;
        top: 0;
        overflow: hidden;
        height: 130px;
        width: 143px;
        text-align: center;
        z-index: 0;
        right: 0;
        border-top-right-radius: 0.7em;
        -webkit-border-top-right-radius: 0.7em;
    }

        .sale-box span.on_sale {
            font-size: 14px;
            color: #444;
            background: #ffd400;
            text-transform: uppercase;
            padding: 58px 35px 17px 40px;
            width: 281px;
            text-align: center;
            display: block;
            position: absolute;
            left: -47px;
            top: -41px;
            -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            -webkit-transform: rotate(-44deg);
            -ms-transform: rotate(-44deg);
            transform: rotate(40deg);
        }

        .sale-box.two.sale-box span.on_sale {
            /*// background: #fa6e6f;*/
            background: rgb(241, 241, 241);
        }

        .sale-box.three.sale-box span.on_sale {
            background: #05AEA7;
        }

    .pricing-grid2 ul li a {
        color: #888888;
        font-size: 15px;
        text-align: center;
        display: block;
        padding: 16px 0;
        text-decoration: none;
        font-weight: 400;
    }

    .pricing-grid2 ul li.whyt a {
        background: #f4f4f4;
    }




    .price-bg {
        background: #fff;
    }

        .price-bg ul {
            padding: 0;
            border-bottom: 1px solid #ccc;
        }

            .price-bg ul li {
                list-style: none;
            }

    /*--------------*/
    @media(max-width:1366px) {
        .pricing-grid2 ul li a {
            font-size: 17px;
        }
    }

    @media(max-width:1024px) {
        .pricing-grid2 ul li a {
            font-size: 15px;
        }

        .price-value, .price-value.two, .price-value.three {
            padding: 2em 0 1em 0;
        }

            .price-value h2 a, .price-value.two h3 a {
                font-size: 1.6em;
            }
    }

    @media(max-width:768px) {
        .pricing-grid2 h3 a {
            padding: 0.4em 1em;
            font-size: 0.7em;
        }

        .pricing-grid2 {
            width: 55%;
            float: none;
            text-align: center;
            margin: 1em auto;
        }
    }

    @media(max-width:640px) {
        .pricing-grid2 ul li a {
            font-size: 15px;
        }

        .pricing-grid2 {
            width: 65%;
            float: none;
            text-align: center;
            margin: 1em auto;
        }

            .pricing-grid2 ul li a {
                font-size: 15px;
                padding: 13px 0;
            }
    }

    @media(max-width:480px) {
        .pricing-grid2 {
            width: 81%;
        }
    }

    @media(max-width:320px) {
        .pricing-grid2 {
            width: 100%;
            margin-right: 0;
        }

        .price-value h2 a, .price-value.two h3 a {
            font-size: 1.2em;
        }
    }

    .selectdiv {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        z-index: 1;
        margin-top: -10px;
        border: none;
    }

        .selectdiv div.price-bg ul li a {
            color: #616161;
            font-weight: 600;
        }

    .tab-content {
        margin-top: 4em;
    }

    .selectdiv .price-value.two {
        background-color: #2c2d31 !important;
    }

    .selectdiv h3 a {
        font-size: 1.8em !important;
        color: #fff !important;
    }

    .selectdiv ul {
        border-bottom: 2px solid #2c2d31;
    }
</style>