﻿<div ng-hide="1==1">

    <div id="tblReceiver1">

        <table style="width:100%;" id="tblReceiver">
            <tr>
                <td>
                    <table style="width:100%;" ng-if="userData.personType == PersonTyp.property_manager">
                        <tr>
                            <td style="padding-bottom:5px;"></td>
                            <td style="padding-bottom:5px;"><b>{{userData.ManagerDetail.pFullName}}</b></td>
                            <td style="padding-bottom:5px; text-align:right;">Date : {{userData.Date | date}}</td>
                        </tr>

                        <tr>
                            <td style="padding-bottom:5px;"><i class="fa fa-map-marker"></i></td>
                            <td style="padding-bottom:5px;"><b>{{userData.ManagerDetail.pAddress}}</b></td>
                            <td style="padding-bottom:5px;"></td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:30px;"><i class="fa fa-phone"></i></td>
                            <td style="padding-bottom:30px;text-align:left;"><b>{{userData.ManagerDetail.pPhoneNo}}</b></td>
                            <td style="padding-bottom:30px;"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>

                    <table style="width:100%;" ng-if="userData.personType != PersonTyp.property_manager">
                        <tr>
                            <td style="padding-bottom:5px;"></td>
                            <td style="padding-bottom:5px;"><b>{{userData.Name}}</b></td>
                            <td style="padding-bottom:5px; text-align:right;">Date : {{userData.Date | date}}</td>
                        </tr>

                        <tr>
                            <td style="padding-bottom:5px;"><i class="fa fa-map-marker"></i></td>
                            <td style="padding-bottom:5px;"><b>{{userData.Address}}</b></td>
                            <td style="padding-bottom:5px;"></td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:30px;"><i class="fa fa-phone"></i></td>
                            <td style="padding-bottom:30px;text-align:left;"><b>{{userData.PhoneNo}}</b></td>
                            <td style="padding-bottom:30px;"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td>
                    <table class="table table-striped" style="width:100%;">
                        <thead>
                            <tr>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'billId')">Bill No</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'number')">Invoice Number</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'propertyName')">Property</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'propertyName')">Property Add</th>
                                 <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'receiverFullName')">To</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'date')">Date</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'amount')">Amount</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'paymentType')">PaymentType</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'comment')">Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="property in BC.lstReceiver_Filter  | orderBy : BC.Receiver_OrderBy">
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;text-align:center;" >{{property.billId}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080; text-align:center;" >{{property.number}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;" >{{property.propertyName2}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;">{{property.propertyAdd}}</td>
                                
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;" >{{property.receiverFullName}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;" >{{property.date | date}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;" >{{property.amount | currency}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;" >{{property.paymentType}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;" >{{property.comment}}</td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </div>

</div>

<div ng-hide="1==1">


    <div id="tblPayable1">

        <table style="width:100%;" id="tblPayable">
            <tr>
                <td>
                    <table style="width:100%;">
                        <tr>
                            <td style="padding-bottom:5px;"></td>
                            <td style="padding-bottom:5px;"><b>{{userData.ManagerDetail.pFullName}}</b></td>
                            <td style="padding-bottom:5px; text-align:right;">Date : {{userData.Date | date}}</td>
                        </tr>

                        <tr>
                            <td style="padding-bottom:5px;"><i class="fa fa-map-marker"></i></td>
                            <td style="padding-bottom:5px;"><b>{{userData.ManagerDetail.pAddress}}</b></td>
                            <td style="padding-bottom:5px;"></td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:30px;"><i class="fa fa-phone"></i></td>
                            <td style="padding-bottom:30px;text-align:left;"><b>{{userData.ManagerDetail.pPhoneNo}}</b></td>
                            <td style="padding-bottom:30px;"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="table table-striped" style="width:100%;">
                        <thead>
                            <tr>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'billId')">Bill No</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'number')">Invoice Number</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'propertyName')">Property</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'propertyName')">Property Add</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'payableFullName')">To</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'date')">Date</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'amount')">Amount</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'paymentType')">PaymentType</th>
                                <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'comment')">Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="property in BC.lstPayable_Filter | orderBy : BC.Payable_OrderBy ">

                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;text-align:center;">{{property.billId}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080; text-align:center;">{{property.number}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;">{{property.propertyName2}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;">{{property.propertyAdd}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;">{{property.payableFullName}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;">{{property.date | date}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;">{{property.amount | currency}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;">{{property.paymentType}}</td>
                                <td style="padding-bottom:20px;border-bottom:1px solid #808080;">{{property.comment}}</td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </div>

</div>