﻿
<div class="modal fade-scale" id="generateBill" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header model-headerColor">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    <div ng-if="billReport.billType == 'receive'">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4 class="modal-title">Bill # {{billReport.billId}} </h4> <!--(Amount Received)-->
                            </div>
                        </div>

                    </div>
                    <div ng-if="billReport.billType != 'receive'">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4 class="modal-title">Bill # {{billReport.billId}}</h4>  <!--(Amount Paid)-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">

                <div class="row text-center">
                    <img class="img-responsive disp" style="max-height:150px;" ng-src="data:image/png;base64,{{billReport.companylogo.base64}}" />
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="col-md-12 padd-zero">
                            <div class="col-md-6 text-left padd-zero">
                                {{billReport.payableFullName}}
                                <br />
                                {{billReport.payableAdd}}
                                <br />
                                Ph: &nbsp;{{billReport.payablePhone}}
                            </div>
                            <div class="col-md-6 textRight padd-zero">
                                <b>Paid To:</b> &nbsp; {{billReport.receiverFullName}}
                                <br />
                                {{billReport.receiverAdd}}
                                <br />
                                Ph: &nbsp;{{billReport.receiverPhone}}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="customHrLine">.</div>

                <div class="marginBottom10">
                    <div class="row">
                        <div class="col-md-2">
                            <b>Property Name : </b>
                        </div>
                        <div class="col-md-10">
                            {{billReport.propertyName}}
                        </div>
                    </div>
                    <div class="row marginBottom10">
                        <div class="col-md-2">
                            <b>Property Add : </b>
                        </div>
                        <div class="col-md-10">
                            {{billReport.propertyAdd}}
                        </div>
                    </div>
                </div>

                <div class="marginBottom10">
                    <div class="row">
                        <div class="col-md-5">
                            <b>Invoice No : </b>{{billReport.number}}
                            <br />
                            <b>Bill No : </b>{{billReport.billId}}
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <b>Bill Date : </b> {{billReport.date| date}}
                        </div>
                    </div>
                </div>
                <div class="row marginBottom10">
                    <div class="col-md-5">
                        <b>Amount :</b>  {{billReport.amount | currency}}
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <b> Payment Type : </b>{{billReport.paymentType}}
                    </div>
                </div>

                <div class="row marginBottom10">
                    <div class="col-md-12">
                        <b>Decription :</b> {{billReport.comment}}
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footerColor">
                <button class="btn btn-blue" type="button" ng-show="">Make Payment</button> 
                <button class="btn btn-blue" ng-controller="billController as BC" ng-click="BC.PrintPdf('BillPdf','A4',null)">Save as pdf</button>
                <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="BillPdf" ng-hide="true">

    <table>
        <tr>
            <td>
                <b> Bill No. </b> {{billReport.billId}}
            </td>
        </tr>
    </table>

    <table style="width:100%;border:1px solid #ffffff;background-color: rgb(221, 227, 232);">

        <tr>
            <td style="padding:10px;">
                <table style="width:100%;">
                    <tr style="padding:10px;">
                        <td></td>
                        <td><strong>{{billReport.payableFullName}}</strong></td>
                    </tr>
                    <tr style="padding-left:10px;">
                        <td style="padding:5% 0;width:20%"> Add : </td>
                        <td style="padding:5% 0;">{{billReport.payableAdd}}</td>
                    </tr>
                    <tr style="padding:10px;">
                        <td style="width:20%"> Phone : </td>
                        <td>{{billReport.payablePhone}}</td>
                    </tr>
                </table>
            </td>

            <td>
                <table style="width:100%;">
                    <tr style="padding:10px;">
                        <td style="text-align:right;">
                            Paid To :
                        </td>
                        <td style="padding:5% 0;">{{billReport.receiverFullName}}</td>
                    </tr>

                    <tr style="padding-left:10px;">
                        <td style="padding:5% 0;width:20%"> Add : </td>
                        <td style="padding:5% 0;">{{billReport.receiverAdd}}</td>
                    </tr>
                    <tr style="padding:10px;">
                        <td style="width:20%"> Phone : </td>
                        <td>{{billReport.receiverPhone}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table>
        <tbody>
            <tr style="border-bottom:none!important;">

                <td style="padding-top:20px !important;" class="fontColorBlue">
                    <b>Property : </b>
                </td>
                <td style="padding-top:20px !important;">
                    {{billReport.propertyName}}
                </td>
            </tr>
            <tr style="border-bottom:none!important;">
                <td class="fontColorBlue">
                    <b>Address : </b>
                </td>
                <td>
                    {{billReport.propertyAdd}}
                </td>
            </tr>
            <tr style="border-bottom:none!important;"></tr>
            <tr style="border-bottom:none!important;">
                <td class="fontColorBlue">
                    <b>Owner : </b>
                </td>
                <td>
                    {{billReport.ownerFullName}}
                </td>
            </tr>
        </tbody>
    </table>

    <table style="width:100%;">
        <tr>
            <td style="width:50%; padding-top:15%;padding-bottom:5%;"><b>Invoice No : </b>{{billReport.number}}</td>
            <td style="width:50%;padding-top:15%;padding-bottom:5%;"><b>Bill Date :</b> {{billReport.date| date}}</td>
        </tr>
        <tr>
            <td style="padding-bottom:5%;">
                <b>Bill No :</b> {{billReport.billId}}
            </td>
        </tr>
        <tr>
            <td style="padding-bottom:5%;"><b>Amount :</b>  {{billReport.amount | currency}}</td>
            <td style="padding-bottom:5%;"><b> Payment Type:</b>{{billReport.paymentType}}</td>
        </tr>
        <tr>
            <td style="padding-bottom:5%;" colspan="2"><b>Decription :</b> {{billReport.comment}}</td>
        </tr>
    </table>

</div>
