﻿<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-if="BC.selectCurrentPeriod.date != undefined">
   
    <div>
        <div class="marginBottom10 col-md-12">
            <div class="col-md-6 pad_0">
                <h1 class="table_head">Paid</h1>
            </div>

            <div class="col-md-3 p0" style="margin-top:17px">
                Show  <select class="itemCountddl" ng-model="BC.payableItemsPerPage"
                              ng-options="count for count in BC.itemsPerPageArr" ng-change="BC.SetItemsPerPageForPayable(BC.payableItemsPerPage)"></select>
            </div>
            <div class="col-md-3 text-right pad_0" style="margin-top: 17px;"  ng-if="BC.lstPayable_Filter.length != 0">
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                        Export Action
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu padd10topBottom">
                        <li onclick="ExportToExcel('tblPayable', 'Paid Bills')"><i class="fa fa-file-excel-o" style="color:green"></i> Export To excel</li>
                        <li ng-controller="billController as BC" ng-click="BC.PrintPdf('tblPayable1','','Paid Bills')" class="marginTop16"><i class="fa fa-file-pdf-o" style="color:green"></i> Export To Pdf</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>                        
                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'billId')">Bill No</th>
                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'number')">Invoice Number</th>
                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'propertyName')">Property</th>
                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'receiverFullName')">To</th>
                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'date')">Date</th>
                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'amount')">Amount</th>
                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'paymentType')">PaymentType</th>
                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'comment')">Comment</th>
                        <th>Generate Bill</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-if="BC.lstPayable_Filter.length == 0">
                        <td colspan="9">
                            <p>No Record Found</p>
                        </td>
                    </tr>
                    <tr  ng-if="BC.lstPayable_Filter.length != 0" ng-repeat="property in BC.lstPayable_Filter | orderBy : BC.Payable_OrderBy | offset: BC.currentPage_Payable * BC.payableItemsPerPage | limitTo: BC.payableItemsPerPage ">
                       
                        <td>{{property.billId}}</td>
                        <td>{{property.number}}</td>
                        <td>{{property.propertyName}}</td>
                        <td>{{property.receiverFullName}}</td>
                        <td>{{property.date | date}}</td>
                        <td>{{property.amount | currency}}</td>
                        <td>{{property.paymentType}}</td>
                        <td>{{property.comment}}</td>
                        <!--<td><button ng-click="BC.ShowBill(property,'payment')" class="btn btn-info">Bill</button></td>-->
                        <td><a ng-click="BC.ShowBill(property,'payment')"><i class="fa fa-file-text"></i> Bill</a></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <ul ng-if="BC.lstPayable_Filter.length ==0 "></ul>
                <ul class="pagination" ng-if="BC.lstPayable_Filter.length !=0 ">
                    <li ng-class="BC.PageService.PrevPageDisabled(BC.currentPage_Payable)">
                        <a ng-click="BC.currentPage_Payable = BC.PageService.PrevPage(BC.currentPage_Payable)">« Prev</a>
                    </li>
                    <li ng-repeat="n in BC.PageService.Range(BC.lstPayable_Filter.length,BC.currentPage_Payable,BC.payableItemsPerPage)"
                        ng-class="{active: n == BC.currentPage_Payable}"
                        ng-click="BC.currentPage_Payable = n">
                        <a>{{n+1}}</a>
                    </li>
                    <li ng-class="BC.PageService.NextPageDisabled(BC.lstPayable_Filter.length,BC.currentPage_Payable,BC.payableItemsPerPage)">
                        <a ng-click="BC.currentPage_Payable = BC.PageService.NextPage(BC.lstPayable_Filter.length,BC.currentPage_Payable,BC.payableItemsPerPage)">Next »</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>