﻿<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-if="BC.selectCurrentPeriod.date != undefined">

    <div>
        <div class="marginBottom10 col-md-12">
            <div class="col-md-6 pad_0">
                <h1 class="table_head">Received</h1>
            </div>

            <div class="col-md-3 p0" style="margin-top:17px">               
                Show  <select class="itemCountddl" ng-model="BC.receivableItemsPerPage"
                              ng-options="count for count in BC.itemsPerPageArr" ng-change="BC.SetItemsPerPageForReceivable(BC.receivableItemsPerPage)"></select>
            </div>

            <div class="col-md-3 text-right pad_0" style="margin-top: 17px;" ng-if="BC.lstReceiver_Filter.length != 0">
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                        Export Action
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu padd10topBottom">
                        <li onclick="ExportToExcel('tblReceiver', 'Payment Received')"><i class="fa fa-file-excel-o" style="color:green"></i> Export To excel</li>
                        <li ng-controller="billController as BC" ng-click="BC.PrintPdf('tblReceiver1','','Payment Received')" class="marginTop16"><i class="fa fa-file-pdf-o" style="color:green"></i> Export To Pdf</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="divReceiver">
                <table class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'billId')">Bill No</th>
                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'number')">Invoice Number</th>
                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'propertyName')">Property</th>
                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'payableFullName')">From</th>
                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'date')">Date</th>
                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'amount')">Amount</th>
                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'paymentType')">PaymentType</th>
                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'comment')">Comment</th>
                            <th>Generate Bill</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" ng-if="BC.lstReceiver_Filter.length == 0">
                            <td colspan="9">
                                <p>No Record Found</p>
                            </td>
                        </tr>
                        <tr ng-if="BC.lstReceiver_Filter.length != 0" ng-repeat="property in BC.lstReceiver_Filter  | orderBy : BC.Receiver_OrderBy | offset: BC.currentPage_Receiver * BC.receivableItemsPerPage | limitTo: BC.receivableItemsPerPage ">
                            <td>{{property.billId}}</td>
                            <td>{{property.number}}</td>
                            <td>{{property.propertyName}}</td>
                            <td>{{property.payableFullName}}</td>
                            <td>{{property.date  | date}}</td>
                            <td>{{property.amount | currency}}</td>
                            <td>{{property.paymentType}}</td>
                            <td>{{property.comment}}</td>
                            <td><a ng-click="BC.ShowBill(property,'receive')"><i class="fa fa-file-text"></i> Bill</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <ul ng-if="BC.lstReceiver_Filter.length == 0"></ul>
                <ul class="pagination" ng-if="BC.lstReceiver_Filter.length != 0">
                    <li ng-class="BC.PageService.PrevPageDisabled(BC.currentPage_Receiver)">
                        <a ng-click="BC.currentPage_Receiver = BC.PageService.PrevPage(BC.currentPage_Receiver)">« Prev</a>
                    </li>
                    <li ng-repeat="n in BC.PageService.Range(BC.lstReceiver_Filter.length,BC.currentPage_Receiver,BC.receivableItemsPerPage)"
                        ng-class="{active: n == BC.currentPage_Receiver}"
                        ng-click="BC.currentPage_Receiver = n">
                        <a>{{n+1}}</a>
                    </li>
                    <li ng-class="BC.PageService.NextPageDisabled(BC.lstReceiver_Filter.length,BC.currentPage_Receiver,BC.receivableItemsPerPage)">
                        <a ng-click="BC.currentPage_Receiver = BC.PageService.NextPage(BC.lstReceiver_Filter.length,BC.currentPage_Receiver,BC.receivableItemsPerPage)">Next »</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>