/* definitions.less
   These variables are used throughout.
   I am following DRY approach - Don't
   Repeat Yourself
   Version 1.0.0
   Mark DuBois
   Jan. 17, 2013
*/ 

@borderColor:#900;
@navbackground:#0073d3;
@initialbg:#2492ed;
@fontreg:'Lato-regular';
@fontbold:'Lato-Bold';
@fontlight:'Lato-Light';


.md-sidenav-left{/*min-height:830px;*/transition: 0.4s;}
#main-content{background: #fff;}
.border_Color{color:@borderColor;}
.hoe-right-header{background-color:@navbackground;}
.logo_icon{display:none;}
.hoe-minimized-lpanel .logo_icon{display:inline-block !important;}
.logo{width: 140px;float: left;margin:15px 0px;}
.nav>li {
    position: relative;
    display: block;
    padding: 10px 0;	
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: 10px;
}
a:focus, a:active{outline:none !important;}
.md-toolbar-tools{padding:3px 0 0px 10px;}
.hoe-minimized-lpanel #hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list > li.active > a{padding-top:12px !important;}
.m-icon{width: 19px;height:19px;}
.nav>li a{    border-left: 2px solid transparent;}
.nav>li a:hover > .nav li{    border-left: 2px solid #c93540;}
.hoe-sub-menu li a:hover{border-left: 2px solid transparent !important;}
.logo_icon{height: 40px;margin: 15px 2px;}
.hoe-minimized-lpanel .menu_pad{padding-top:12px !important;}
.active .menu_pad{border-left: 2px solid #c93540 !important;}
.top-bar{    background-color: #0073d3;
   /*padding: 0px !important;*/
    position: fixed;
    width: 100%;
    left: 0;    z-index: 2;}
#menu-close{width: 35px;    display: none;
    padding: 13px 5px;
    float: left;margin:0px 0px 0px 55px;position: absolute;background-color: #0073d3;}
#menu-close i{color: #fff;
    padding: 4px 0 0;}
.top-content{overflow: hidden;height: 64px;padding: 0px;}
.clearfix{padding:0px;}
.vt-name{
	width:350px;
	margin-left:90px;
	height:60px;
	float: left;
	
	h5{    
		overflow: hidden;
		margin: 10px 0px;
		color: #fff;
	}
	
	span:first-child{
		float: left;
    display: inline-block;
    padding: 10px 14px;
    border-radius: 50px;
    background-color: #2492ed;
    height: 42px;
    width: 42px;
    margin: 0px;
    line-height: 18px;
    font-size: 21px;
    color: #fff;
    font-family: 'Lato-regular';
    border: none;
	}
	span:nth-child(2){
		font-family: @fontreg;
		padding: 5px 10px 2px;
		display: inline-block;
		text-transform:uppercase;
		letter-spacing: 2px;
	}
	span:nth-child(3){
		font-family: @fontreg;
		display: inline-block;
		padding-left: 10px;
		font-size: 12px;
		letter-spacing: 0.5px;
		a{
		color:#fff;text-decoration:none;
		}
	}
}
.open, .close{cursor:pointer;}
.hoe-right-header{position: fixed;width: 100%;}
.vt-srch-icon{float:right;display:inline-block;padding:0px
}
.min-higt{    display: block;}
.vt-srch-icon img{height: 59px;}
.vt-srch .form-control{
	float: right;
    width:0;
    height: 40px;
    border-radius: 0px;
    background: #008bff;
    border: none;
    color: #fff;
	box-shadow:none;
	display:none;
	    font-family: lato-regular;
    font-size: 16px;
	}
.vt-srch input[type=text]:focus:not([readonly]) {
    border-bottom: 0px solid #26a69a;
    box-shadow: 0 0px 0 0 #26a69a;
}	
#ex2_dropdown{    margin-top: 60px;
    width: 339px;
    right: 0px;    font-family: lato-regular;
    font-size: 16px;}
.angucomplete-title{    color: #333333;
    float: left;
    font-family:@fontreg;
    font-size: 14px;}
.angucomplete-description{color:#777777;padding: 0px 0 0 3px;
    display: inline-block;}
.vt-in{color:#777777;padding: 0 0px 0 3px;}
.hoe-right-header{line-height:28px;min-height:28px;}
.vt-srch-icon{cursor: pointer;
    padding:2px 5px;
    background: #008bff;
    position: absolute;
    right: 0;
    z-index: 1;}
.angucomplete-holder input{padding-left:10px;}
.vt-breadcrumb{margin:0px auto;overflow: hidden;    position: fixed;
    min-height: 60px;
    z-index: 1;  border-bottom: 1px solid #ebebeb;
    background-color: #fff;    margin-left: 5px;left: 0;
    right: 0;}
.vt-brdcrumb-wrap{
		min-width: 190px;
		float: left;
		margin-left:90px;padding:5px 0 0;  
    h5{
		font-size: 20px;
		font-family: 'Lato-bold';
		color: #464646;
		text-transform: uppercase;
		letter-spacing: 2px;
		line-height: 15px;	
	}	
	.bld-img
	{	
		float: left;
		margin: 10px 10px 0 0px;
	}
	span
	{
		font-size: 12px;
		text-transform: capitalize;
	}
	span a{
		color: #464646;
		font-size: 12px;
		text-decoration:none;
	}
	span a:hover{
		text-decoration:none;
		color: #464646;
		
	}

}
.form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
	font-family:@fontreg;font-size:16px;
}
.lease-row .row2 .subrow-lease:last-child span{width: 280px;}
.wrap1{
    min-height: 60px;    padding: 0;}
.vt-filter{
float: right;
min-width: 370px;
margin: 0px 0px;
span{
    color: #464646;
    font-family: lato-bold;
    font-size: 14px;
    letter-spacing: 1px;
}
}
.vt-btn1, .vt-btn2{display: block;
    width: 180px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'Lato-bold';
    padding: 10px;
    border-radius: 3px;
    float: left;margin:10px 8px;    border: none;}	
.vt-btn1{background: #c93540;}
.vt-btn2{background: #2c2d31;}
.vt-btn1:hover{background-color:#e06c75;color:#fff;text-decoration:none;}
.vt-btn2:hover{background-color:#959595;color:#fff;text-decoration:none;}
.vt-btn1:focus, .vt-btn2:focus, .vt-btn3:focus{color:#fff;text-decoration:none;}


.vt-filterdiv{  
	h4{
	    cursor:pointer;
		word-spacing: 15px;
	}
	width: 140px;
    float: right;
    padding: 10px 15px;
    border-left: 1px solid #ebebeb;
    margin: 0 0 0 15px; 
	height: 60px;
	}

	
	
#filter-close{    float: right;}
.vt-filters{
    float: right;
    width: 185px;
    position: fixed;
    right: -186px;
    background: #fff;
    z-index: 1;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    padding: 0 10px;
	label
	{
	    color: #959595;
    display: block;
    font-size: 12px;
    text-transform: inherit;
    font-family: @fontreg;
	}
	input[type=text], select{
	    width: 140px;
    padding: 10px 10px;
    border: 1px solid #d7d7d7;
    height: 15px;    font-size: 14px;
    font-family: @fontreg;
	margin-bottom: 2px;
	}
	select{
	height: 37px !important;
    font-size: 14px;
    color: #959595;
    font-family: 'lato-regular';
    width: 162px;
    border-radius: 0px;
    box-shadow: none;
    background: url(http://localhost:30000/images/select-arrow.png) no-repeat right center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    line-height: 15px;
    padding: 0 10px;
	}
	.srch-lbl{top: 37px;}
}
.marg_auto{float:none !important;margin:0 auto;}
.residential, .commerical, .lot{		
		color: #fff;
		font-size: 12px;
		display: inline-block;
		position: absolute;
		bottom: 105px;
		right: 0px;
		padding: 2px 5px;
		font-family:@fontreg;
		min-width: 75px;
		text-align: center;
	}
.residential{background-color: #00bfa5;}
.commerical{background-color: #7975cd;}
.lot{background-color: #cd7f75;}
.prprty-list{border: 1px solid #ebebeb;
    padding: 0;
    width: 310px;
    float: left;
    margin: 15px 7px 0px;}
.prprty-listimg{width:100%;}
.vt-prprty 
{
    padding: 0 12px;
	
	h2{
    font-size: 22px;
    text-transform: uppercase;
    color: #0073d3;
	margin: 10px 0 0;
	font-family:@fontreg;
	}
	p{
		font-size:12px;
		font-family:@fontreg;
		color:#464646;
		margin: 0px 0 5px;
	}
}
.prprty-info
{
border-top: 1px solid #ebebeb;
    padding: 0 12px;
span{
    font-size: 14px;
    color: #959595;
    display: inline-block;
	font-family:@fontreg;
}
span:nth-child(1){width: 85px;}
span:nth-child(2){width: 110px;}
span:nth-child(3){width: 70px;}
}
.prprty-list{
	border: 1px solid #ebebeb;
    padding: 0;width: 300px;
    float: left;
    margin: 10px 10px 10px;
	.bldg-pic{width:100%;height:160px;}
	}
body{    height: auto;}
.wrap2{ overflow: hidden;
    margin-top: 10px;    margin-top: 0;
    padding-top:10px;
}
.img-hov{ position: relative; display: inline-block }

.img-hov img {
    width:;
}
.hov_content{
	padding:55px 0 0 20px;
	z-index: 0;
	h4{
		font-size: 15px;
		color: #fff;
		font-family: 'lato-bold';
		margin: 10px 0 0;
	  }
	 h5{
		color: #c93540;
		font-family: 'lato-bold';
		font-size: 16px;
		margin: 12px 0 0;
	span{
		font-family: @fontreg;
		color: #777777;
		font-size: 13px;
	}
	}
	h6{
		margin: 3px 0;
		font-size: 14px;
		font-family: @fontreg;
		line-height: 18px;
	}
}
.img-hov .hov_content{
        position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		background: rgba(0, 0, 0, 0.75);
		color: #fff;
		opacity: 0;
		transition: 0.6s;
		height: 160px;
}
.img-hov:hover .hov_content {
		opacity:1;
}
.prprty-list a:hover, .prprty-list a:focus{text-decoration:none;color:inherit;}
.notify{
	border-radius: 50%;
    font-size: 12px;
    padding: 5px 7px;
    width: 22px;
    height: 22px;
    background-color: #008bff;
    position: absolute;
    top: -10px;
    right: 15px;
    color: #fff;
    line-height: 10px;
}
.hide-lbl .active{display:none;}
.hide-lbl input[type=text]:focus:not([readonly]){
    border-bottom: 1px solid #d7d7d7;
    box-shadow:none !important;
}
.vt-filters [type="checkbox"]:checked+label {
     border: 1px solid #959595;
    width: 15px;
    padding: 0px;
    height: 15px;
	-webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}
.vt-filters [type="checkbox"]:checked+label:before {
    top: -2px;
    left: -3px;
    width: 8px;
    height: 14px;
	margin-top: 0;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #1cce66;
    border-bottom: 2px solid #1cce66;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.vt-filters [type="checkbox"]+label {
	    position: relative;
    padding-left: 13px !important;
    float: left;
    margin: -6px 15px 0 0;
	width: 15px;
    height: 15px;
}
.vt-filters .input-field h4{
    color: #777777;
    font-family:@fontbold;
    font-size: 14px;
    margin: 8px 0;
    text-transform: uppercase;
}
.image-upload{margin-top: 10px;}
.check{display: inline-block;
    line-height: 14px;
    padding: 10px 0;
    font-family: lato-regular;
    font-size: 12pt;}

.vt-filters [type="checkbox"]+label:before {
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    -ms-transition: 0s;
    transition: 0s;
	margin-top:0px;
	    width: 15px;
    height: 15px;
}
.vt-filters .input-field span{font-family:@fontreg;
    font-size: 12px;
    vertical-align: super;}
.input-field {
    position: relative;
    margin-top: 0px;
}
.carousel, .item
{
    height: 200px;
}
.carousel-inner {
    height: 200px;
}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.slide{width:350px;float:left;height:220px;}
#myCarousel .carousel-indicators .active{
    width: 18px;
    height: 5px;
    margin: 0;
    background-color: #888b94;
}
#myCarousel .carousel-indicators li{
    width: 18px;
    height: 5px;
    margin: 0;
    background-color: #c7c9d2;
}
#myCarousel .carousel-indicators li {border-radius: 0px;float:left;}
#myCarousel .carousel-indicators {
    bottom: 3px;
}
#myCarousel .carousel-indicators {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    z-index: 0;
    width: 100px;
    padding-left: 0;
    margin-left: -32%;
    text-align: center;
    list-style: none;
    margin: 0 auto;
}
.wrap3{margin:25px auto 0;}
.residentials {
    background-color: #00bfa5;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    bottom: 30px;
    right: 15px;
    padding: 2px 5px;
    font-family:@fontreg;
    min-width: 75px;
    text-align: center;
}
.ppty-type img{padding-right: 5px;}
.ppty-type{
	font-family:@fontreg;
    color: #959595;
    font-size: 14px;
	vertical-align: bottom;
    padding-right: 10px;
	}
.sub-wrap3{
		float:left;
		padding: 10px 22px;
		h2{
			color: #2c2d31;
			font-family: @fontlight;
			font-size: 22px;
			margin:0px 0px 10px;
		}
		h3{
		    margin:12px 0;
			font-size: 15px;
			color: #777777;
			font-family: @fontreg;
			
		span{
			color: #464646;
			font-family: @fontbold;
			font-size: 15px;
			}
		}
}
.pptywrap-1, .pptywrap-2{padding: 5px 3px;}
.pptywrap-2
{
	h4{
		font-family: 'Lato-Bold';
		font-size: 15px;
		color: #464646;
		margin-bottom: 15px;
	}
	h5{
	    font-family:@fontreg;
		color: #0073d3;
		font-size: 15px;
		margin: 2px 0;
	span{
		color: #777777;
		font-family:@fontreg;
		font-size: 13px;
	
	}
	}
	h6{
		font-family:@fontreg;
		font-size: 15px;
		color: #464646;
		line-height: 26px;
		margin: 0px 0;
	}
}
.tabmenu-wrap{
		overflow: hidden;
		padding: 0px 0;
		border: 1px solid #ebebeb;
	}
.tab_menu{overflow: hidden;margin: 0px 0;/*padding-left:25px;*/ padding-left:0px;}
.tab_menu li{
	    float: left;
		list-style-type: none;
		margin: 0px;
		padding: 0px 0px 0 0;
		text-align: center;
	a{
		color: #777777;
		font-family: lato-light;
		font-size: 18px;
		padding: 22px 36px;
		text-decoration: none;
		border-left: 1px solid #ebebeb;
		text-align: center;
		display: inline-block;
		min-height: 68px;
	}
	a:last-child{
		border-right: 1px solid #ebebeb;
	}		
}
.tab_menu .active2 {border-bottom:2px solid #c93540;}
.tab_menu .active2 a{    color: #464646;
    font-family: lato-bold;}
.tab-notify{
	border-radius: 50%;
    font-size: 12px;
    padding: 5px 9px;
    width: 26px;
    height: 22px;
    background-color: #008bff;
    color: #fff;
    margin: 0px 0px 0 15px;
}
.tab-wrap2{border-bottom: 1px solid #ebebeb;
	h5{
		color: #777777;
		font-family:@fontreg;
		font-size: 14px;    padding-left:62px;	
	label{
		font-family: 'lato-bold';
		color: #464646;
		font-size: 14px;
	}
	span{
		padding-right: 5px;
		padding-left: 10px;
	}
	.dollar{margin-top: -2px;}
	}
}
.panel-title a{display: block;}
.tab_titlecnt{
label{
		font-family: 'lato-bold';
		color: #464646;
		font-size: 14px;
		padding-left:15px;
	}
	color: #777777;
    font-family:@fontreg;
    font-size: 12px;
    float: left;
    margin: 3px 20px;
}
/*.accordion-toggle{padding: 10px 85% 10px 0;}*/
.accordion-toggle:hover, .accordion-toggle:focus{text-decoration:none;}
.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: #ddd;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
    border: 0px;
}

.tab-wrap3{    margin-top:0px;}
md-sidenav .panel-heading {
    padding: 0px 0;
}
md-sidenav .panel-group {    overflow: hidden;}
md-sidenav .panel-heading {
    border-bottom: 0px solid #ebebeb !important;
}
.panel-title a:hover, .panel-title a:focus{text-decoration:none;}
.sub-menu a:hover{color: #FFF;
    background: #3b3c42;}
.sub-menu a i{font-size: 4px;
    vertical-align: middle;
    line-height: 3px;
    padding:0 3px 0 50px;}	
	
.panel-heading {
    padding: 20px 15px 15px;
}
.ng-binding .ng-scope{    font-family:@fontlight;
    font-size: 22px;
    color: #008bff;text-decoration:none;}
.panel-heading{    border-bottom: 1px solid #ebebeb !important;border-color: #fff; box-shadow: none;}
.panel-open .panel-heading{    border-bottom: 0px solid #ebebeb !important;border-color: #fff; box-shadow: none;}
#accord a:focus,#accord a:active, #accord4 a:focus,#accord4 a:active {outline:none}
#accord .panel-heading, #accord4 .panel-heading {
    padding: 10px 0px;}
#accord .panel-default > .panel-heading, #accord4 .panel-default > .panel-heading  {
    color: #333;
    background-color: transparent;
    border-color: transparent;
	 box-shadow: none;
}
.th-title a:hover, .th-title a:active {
    color: #008bff;
}
.carousel {
    position: relative;
    padding-left: 12px;
}
.wrap3 .col-md-offset-1{margin-left:7%;}
.back-text a:hover{color:#fff;}

.wrap3{margin-top: 15px;}
.panel {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.exp-table tr td{width:25%;}
.th-title th{font-family:@fontlight;
    font-size: 20px;
    color: #2c2d31;
    padding:15px 12px;}
.th-title th:nth-child(2){    text-align: right;
    font-size: 13px;
    font-family:@fontreg;
    color: #008bff;}
.panel-body{padding:0px;}
.th-title2 th{    font-size: 13px;
    color: #6b6c71;
    text-transform: uppercase;padding:15px 12px;}
.exp-table tr td{color:#777777;font-family:@fontreg;padding:15px 12px;font-size: 14px;}
thead, tr,{border-bottom: 1px solid #ebebeb;}	
.th-title a{ color: #008bff;}	
.back-text a{font-family: lato-regular;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;}
.back-text a:hover, .back-text a:focus{text-decoration:none;}	
.back-text{margin: 6px 0;}
.chckbxbold + span{font-family:@fontbold !important;}
.work-menu h5{    padding-left:50px;}
.work-tbl tr td:nth-child(1){color:#008bff;}
.work-tbl tr td:nth-child(2) div{color:#008bff;width:160px;}
.work-tbl tr td:nth-child(5) div, .work-tbl tr td:nth-child(8) div{width:140px;}
.work-tbl tr .tbldate{width:120px;}
.vt-btn3{ display: block;
    width: 130px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'Lato-bold';
    padding: 6px 10px;
    border-radius: 3px;
    float: left;
    margin: 10px 0px;
    background-color: #008bff;}
.vt-btn3:hover{
text-decoration:none;background-color: #0073d3;color:#fff;
}
.tab_menu .vt-btn1{margin:14px 8px !important;}
a{outline:none;}
.descrp2{text-transform:uppercase;}
.glyphicon-plus:before, .glyphicon-minus:before {
    font-weight: bold;
}
.active3 a{    background-color: #3b3c42 !important;}
.sub-menu li a{    padding: 10px;
    display: block;
    color: #959595;
    font-family: lato-regular;
    font-size: 12px;}
.sub-menu li a:hover{background-color: #3b3c42 !important;color: #fff;}
.sub-menu li a:hover, .sub-menu li a:focus{color: #fff;text-decoration:none;}
.sub-menu{padding-left:0px;    margin-bottom: 0;}
.listing-tbl tr td:nth-child(5) div {
    width: 200px;
}

.listing-tbl tr td:nth-child(1){
    font-family: 'Lato-regular';
    padding: 15px 12px;
    color: #008bff;
}
.ocp-perct{color:#00bfa5;font-family:@fontbold;font-size:12px;}
.unit-tbl tr td:nth-child(6) div, .unit-tbl tr td:nth-child(5) div{width: 150px;}
.print a{border-left: 1px solid #ebebeb;display: inline-block;padding: 16px 20px;}
.download a{border-left: 1px solid #ebebeb;display: inline-block;padding: 16px 10px 16px 25px;}
.sub-wrap5 h4{
	color: #464646;
	font-size: 15px;
	text-transform: capitalize;
	font-family:@fontbold;
span{
	color: #0073d3;
	font-size: 15px;
	text-transform: capitalize;
	font-family:@fontreg;
	}

}
.sub-wrap5 h2{
    color: #2c2d31;
    font-family: 'Lato-Light';
    font-size: 22px;
    margin: 0px 0px 10px;
}
.sub-wrap5 h3 span{
    margin: 12px 0;
    font-size: 15px;
    color: #777777;
    font-family: 'Lato-regular';
}
.sub-wrap5 h3{
    color: #464646;
    font-family: 'Lato-Bold';
    font-size: 15px;    
	margin: 10px 0;
}
.lse-table tr td {
    width: 20%;
}
.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.doc-table tr td:nth-child(1) div{width:240px;}
.doc-table tr td:nth-child(3){width:18%;}
.doc-table tr td:nth-child(4){width:18%;}
.doc-table tr td:last-child {    font-family: 'lato-italic';
    font-size: 14px;}
.doc-table tr td:nth-child(1) div a{    color: #008bff;
    text-decoration: none;
    font-size: 14px;
    font-family: 'lato-light';
    padding-left: 15px;}
.doc-table tr td{width:20%}
.clause-table th{width:300px;}
.clause-table tr td div{width:185px;}

.ng-touched::-webkit-input-placeholder { color: #cccccc !important; font-size:16px;}
.ng-untouched::-webkit-input-placeholder { color: #cccccc !important;font-size:16px; }

.vt-filters .ng-touched::-webkit-input-placeholder, .vt-filters .ng-untouched::-webkit-input-placeholder {font-size:12px;}
md-input-container .md-input, .md-input-focused {
    border: 1px solid #d7d7d7;
    height: 40px;
    font-size: 14px;
    font-family: 'Lato-regular';
    color: #959595;
}
.vt-filters .md-errors-spacer{display: none;}
md-input-container {
    margin:0px 0;padding:0px;
}
.md-input-focused .md-input{border-color:#0073d3 !important;}
.vt-filters .layout-padding div{padding:0px;}
.vt-filters md-checkbox:not([disabled]).md-primary .md-icon {
    border-color: rgba(0,0,0,0.54);
    border: 1px solid #959595;
    border-radius: 0px;
	background-color: transparent;
}
md-checkbox .md-icon {
    width: 16px;
    height: 16px;
}	
md-checkbox.md-checked .md-icon:after {
    left: 3.67px;
    top: -0.78px;
    width: 7.67px;
    height: 13.33px;
}	
md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon:after, md-checkbox:not([disabled]).md-primary.md-checked .md-icon:after {
    border-color: #1cce66;
}
.md-inline-form md-checkbox {
    margin: 5px 0;    display: block;
}
.md-checked .md-label span{font-family: 'Lato-Bold';color: #777777;}
.md-label span {
    font-family: 'Lato-regular';
    color: #777777;
}
.active3{border-left: 2px solid #c93540;}
md-checkbox .md-label {
    margin-left: 25px;
}
.md-button.md-raised:not([disabled]){box-shadow:none;}
.pptywrap-1 {padding-left:3px !important;}
#accord{    padding-left:60px;}
.tab-wrap5 .ng-binding .ng-scope {
    font-family: 'Lato-Light';
    font-size: 20px;
    color: #2c2d31;
    text-decoration: none;
}
.tab-wrap5 .panel-group {
    padding-left: 0px;
}
.acc-table tr td {
    color: #777777;
    font-family: 'Lato-regular';
    padding: 15px 12px;
    font-size: 14px;
}
.acc-table tr td:nth-child(1) {
    font-family: 'Lato-regular';
    padding: 15px 12px;
    color: #008bff;
}
.tab-wrap5 .ng-span{    float: left;}
.tab-wrap5 .ng-span label {
    font-family: 'lato-bold';
    color: #464646;
    font-size: 12px !important;
}
.tab-wrap5 .ng-span {
      padding-right: 5px;
    padding-left: 10px;
    font-size: 12px !important;
    font-family: 'lato-regular';
    color: #777777;
	float:left;
	    margin:5px 15px;
}
.tab-wrap5 .glyphicon {
    font-family: 'Lato-Light';
    font-size: 22px;
    color: #008bff !important;
}
.tab-wrap5 .glyphicon a img{    vertical-align: middle;
    margin: 0px 5px;}
.tab-wrap5 .glyphicon a{margin: 3px 0px;float: left;
    color: #0073d3;
    font-family: 'lato-regular';
    font-size: 12px;}
.due{color:#c93540;font-family:@fontreg;}
.lease-row{
	overflow:hidden;
	border: 1px solid #ebebeb;
	margin:10px 10px 20px;
	h5{
	    color: #0073d3;
		text-transform: uppercase;
		font-family: 'Lato-regular';
		font-size: 15px;
		margin: 12px 0 4px;;
	}
	h5 a{
	    color: #0073d3;
	}
	h5 a:hover{
	    color: #0073d3;
		text-decoration:none;
	}
	h3{
	color:#2c2d31;font-family:@fontlight;font-size:22px;margin: 12px 0;
	}
	.prprty-info{
		margin-top: 35px;
		border-top:none;
	}
	.row1{
		overflow: hidden;
		border-bottom: 1px solid #ebebeb;
	}
	.row2{
		overflow: hidden;
		span{
			font-size: 14px;
			font-family: lato-bold;
			color: #777777;
			float: left;			
			padding:10px 15px 10px 5px;
		}
		span:nth-child(1){			
			width: 150px;
			padding-right: 0px;
		}
		label{
			font-size: 14px;
			color: #959595;
			font-family: 'lato-regular';
			margin: 0;
		}
		span img{
			float: left;
			margin:7px 12px;
		}
	}

}
.subrow-lease{float:left;padding-right: 25px;
    border-right: 1px solid #eaeaea;}
.row2 .subrow-lease:last-child{border-right:none;}
.list-wrap tr td:last-child div{    width: 280px;}
.list-wrap tr td:first-child{
	color:#008bff;
	font-family:@fontbold;
	font-size:13px;
}
a.read-more{
	display: block;    
	cursor: pointer;
    color: #0073d3;
    font-size: 13px;
    font-family: 'lato-regular';
}
a.read-less {
  
	cursor: pointer;
    color: #0073d3;
    font-size: 13px;
    font-family: 'lato-regular';
}
span.more-text {
	display: none;
} 
span.more-text.show {
		display: inline !important
}
.vt-brdcrumb-wrap span:last-child{
    color: #777777;
    font-family: 'Lato-regular';
}
.statmnt-table td{
    color: #777777;
    font-family: 'Lato-regular';
    padding: 15px 12px;
    font-size: 14px;
	width: 33%;
}
.statmnt-table tr td:nth-child(2) div, .statmnt-table tr td:nth-child(3) div{
	width:200px;
}
.statmnt-table tr td a, .statmnt-table tr td a:hover{
    font-size: 14px;
    color: #008bff;
    font-family: lato-bold;
}
.close_icon{font-size: 18px !important;color:#b7b7b7;}
.close_icon:hover{color:#c93540;}
.doc-table tr td:nth-child(2) div{
width:250px;
}
.doc-table tr td:nth-child(3) div{
width:200px;
}
.profile-div{
    border: 1px solid #ebebeb;
    overflow: hidden;
	padding: 0px 0px !important;
	margin-top: 10px;
}
.prof-wrap1{
    border-bottom: 1px solid #ebebeb;
    padding: 22px 20px;
	img{
	width: 197px;
	}
}
.prof-wrap2{padding: 15px 18px;}
.prof-wrap2 span{
		color:#959595;
		display:block;
		font-family:@fontreg;
		font-size:13px;
		margin-bottom: 5px;
	i{
		vertical-align: middle;
		padding: 0 5px 0 0;
		font-size: 18px;
		color: #b7b7b7;
	}
}
.profile-left{
	padding:0px !important;
}
.profile-right{
	border-left: 1px solid #ebebeb;
	padding: 0px !important;
}
.prof-wrap3{
	padding:5px 25px 15px;
    border-bottom: 1px solid #ebebeb;
	overflow: hidden;
	h3{
		font-family:@fontreg;
		font-size:23px;
		color:#0073d3;
		    margin: 15px 0 3px;
	}
	p{
		font-family:@fontreg;
		font-size:13px;
		color:#464646;
	}
	
}
#accord3{
	.accord-title{
		color: #777777;
		font-size: 14px;
		font-family: 'lato-regular';
	}
}
#accord3 a:focus,#accord3 a:active {outline:none}
#accord3 .panel-heading {
    padding: 0px 25px;}
#accord3 .panel-default > .panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
	 box-shadow: none;
}
#accord3 .accordion-toggle {
    padding:3px 2px 10px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
#accord3 .ng-binding span:nth-child(1) {
    display: block;
    color: #464646;
    font-size: 14px;
    font-family: lato-bold;
	padding-bottom: 3px;

}
#accord3 .panel-title {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 16px;
    color: inherit;
}
#accord3 .glyphicon-minus, #accord3 .glyphicon-plus{
    margin-top: -15px;
}
#accord3 .panel-body{border-bottom: 1px solid #ebebeb;}
#accord3 .panel-group {
    margin-bottom: 0;
}
.owner-ul
	{
		overflow: hidden;
		padding-left: 15px;
		margin-bottom: 0;
	li{
		color: #464646;
		font-size: 14px;
		font-family: lato-bold;
		min-width: 180px;
		padding: 5px 0px;
		float:left;
		list-style-type:none;
	span{
		color: #777777;
		font-size: 14px;
		font-family: 'lato-regular';
	}
	}
	li:nth-child(4) span{
		color:#0073d3
	}
	
}
.owner-ul1
	{
		overflow: hidden;
		padding: 7px 0 7px 25px;
		margin-bottom: 0;
	li{
		color: #464646;
		font-size: 14px;
		font-family: @fontreg;		
		padding:7px 20px 7px 0;
		float:left;
		list-style-type:none;
	span{
		color: #777777;
		font-size: 14px;
		font-family:@fontreg;
	}
	}
	li:nth-child(1) span{
		color:#0073d3
	}
	
}
.inv-table{
	th{padding: 15px 0 15px 30px;text-transform: capitalize;}
	td{
		color: #464646;
		font-size: 14px;
		font-family: lato-bold;
		padding: 15px 0 15px 30px;
	}
	span{
	    color: #777777;
		font-size: 14px;
		font-family: 'lato-regular';
	}
	tr td:nth-child(1) span
	{
	    color: #0073d3;
	}
}
.inv-table1 thead, .inv-table1 thead tr, .inv-table thead, .inv-table thead tr, .inv-table3 thead, .inv-table3 thead tr {border-bottom:none;}
.inv-table1 th, .inv-table th {
    color: #464646;
		font-size: 14px;
		font-family: lato-bold;	
    text-transform: capitalize;
    padding:12px 25px 0;
}
.more-p a{    color: #0073d3;
    font-family: lato-regular;
    cursor: pointer;}
.more-p{text-align:center;}
.tbl-ul2 li{    min-width: 128px;
    padding-right: 18px;
}
.inv-table td {
    color: #464646;
    font-size: 14px;
    font-family: lato-bold;
    padding: 0 0 0 30px;
}
.inv-table3 thead th{padding-left: 30px;text-transform: capitalize;color: #464646;
		font-size: 14px;
		font-family: lato-bold;    padding: 12px 12px 2px 25px;}
.inv-table3 .more-p{display:none;}
.inv-table3 tr:last-child .more-p{display:block;}
.tenants-ul
	{
		overflow: hidden;
		padding:5px 0;
		margin-bottom: 0;
	li{
		color: #464646;
		font-size: 14px;
		font-family: lato-bold;		
		padding:4px 0px;
		list-style-type:none;
	span{
		color: #777777;
		font-size: 14px;
		font-family: 'lato-regular';
	}
	}
}
.tenants-div .col-lg-5, .tenants-div .col-lg-7{padding-left:0px;}
.tenants-ul li:nth-child(1) span, .tenants-ptyid{text-transform:uppercase;}
.prof-wrap4{
    border-bottom: 1px solid #ebebeb;
	h4{
		color: #464646;
		font-size: 14px;
		font-family: lato-bold;
		padding-left: 25px;
	}
	h5{
		color: #464646;
		font-size: 14px;
		font-family: lato-regular;
		padding-left: 25px;
		margin: 12px 0 5px;
	}
}
.tenants-ul1{
		overflow: hidden;
		padding:5px 0;
		margin-bottom: 0;
	li{
		color: #464646;
		font-size: 14px;
		font-family: lato-regular;
		float:left;
		padding:4px 5px 4px 25px;
		list-style-type:none;
	span{
		color: #777777;
		font-size: 14px;
		font-family: 'lato-regular';
	}
	}

}
.prof-wrap2{
	h4{
		color: #464646;
		font-size: 14px;
		font-family: lato-bold;
	}
	h5{
		color: #464646;
		font-size: 14px;
		font-family: lato-bold;
		margin-top: 25px;
	}
}
.anchor-id{    color: #0073d3 !important;text-transform:uppercase;}
.anchors{    color: #0073d3 !important;}
.rent-notify{    position: absolute;
    z-index: 0;
    background-color: #c93540;
    color: #fff !important;
    right: 0;
    top: 80px;
    font-size: 12px;
    font-family: 'lato-regular';
    padding: 5px 10px;}
.rent-notify:hover, .rent-notify:focus{color:#fff;text-decoration:none;}
.inv-table3 tr:last-child {border-bottom:none;}
.trans-table td {
    color: #777777;
    font-family: 'Lato-regular';
    padding: 15px 12px;
    font-size: 14px;
}
.caps{text-transform:uppercase;}
.tab-wrap6 #accord {padding-left:25px;}
.ts{    margin-left: 42px;}
#accord4 .ng-binding .ng-scope{
    font-family: 'Lato-Light';
    font-size: 22px;
    color: #008bff;
    text-decoration: none;
}
.work-wrap{}
.workodr-tbl tr td {
    color: #777777;
    font-family: 'Lato-regular';
    padding: 15px 12px;
    font-size: 14px;
}
.workodr-tbl tr td:nth-child(2) div{    width: 130px;}
.workodr-tbl tr td:nth-child(1) {
    color: #008bff;
	    font-family: @fontbold;
}
a{cursor:pointer;}
/*md-dialog {max-width: 60%;}*/
md-dialog md-toolbar.md-default-theme:not(.md-menu-toolbar),md-dialog md-toolbar:not(.md-menu-toolbar) {
    background-color: #fff;
}
md-dialog md-toolbar{    border-bottom: 1px solid #ededed;
    padding:6px 25px 0px;}
md-dialog .md-toolbar-tools .material-icons{color: #464646 !important;}
md-dialog .md-toolbar-tools h2{
			color: #2c2d31;
			font-family: lato-regular;
			font-size: 16px;
			line-height: 18px;
		
		a{			
			color: #fff;			
		}
		label{
			color: #464646;
			display: block;
			font-size: 13px;
			text-transform: uppercase;
		}

	}
	.anchor2{
			background: #00bfa5;
			color: #fff;
			font-family: lato-regular;
			font-size: 12px;
			padding:0px 5px;    text-transform: uppercase;
		}
		.anchor2:hover{
			text-decoration:none;
			color: #fff;
		}
md-dialog .md-dialog-content {
    padding: 15px 35px;
}

md-dialog .md-button.md-icon-button {
    margin: 0 6px;
    height: auto;
    min-width: 0;
    line-height: 22px;
    padding: 0 8px;
    width: 40px;
    border-radius: 50%;
}
	.anchor3{    background: #c93540;
    color: #fff;
    padding: 0px 5px 2px;
    vertical-align: text-top;
    margin: 0 3px;    text-transform: uppercase;font-size: 12px;}
.md-dialog-content h3{
		font-size: 15px;
		font-family: 'lato-regular';
		margin: 0;

	}
	a:hover{text-decoration:none;}
md-dialog .owner-ul1{
    overflow: hidden;
    padding: 7px 0 7px 0px;
    margin-bottom: 0;
}
md-dialog .owner-ul1 li:nth-child(1) span{color: #777777;
    font-size: 14px;
    font-family: 'Lato-regular';}
.anchor-id1 {
    color: #0073d3 !important;
}
.anchor-id1:hover{text-decoration:none;}
.md-dialog-container{
 background-color: rgba(0, 115, 211, 0.7);
}
.md-dialog-content span{
		a{
		  color: #008bff;
		  text-transform:uppercase;
		  font-size:14px;
		  font-family:@fontbold;
		  margin-right: 10px;
		}
		a:hover, a:focus{		
		  text-decoration:none;
		}
		i{
			background-color:#b7b7b7;
			padding:2px 2px 2px 3px;
			border-radius:50%;
			font-size:12px;
			color:#fff;
			margin-right: 5px;
		}
}
md-dialog-content .md-dialog-content:nth-child(1){    border-bottom: 1px solid #ededed;}	
.close-icon{font-size: 32px;}	
md-dialog{padding: 5px 0 30px;}	
.vt-btn5 {
    display: block;
    width: 100px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'Lato-bold';
    padding: 6px 10px;
    border-radius: 3px;
    float: left;
    margin: 10px 0px;
    background-color: #008bff;
}	
.vt-btn5:hover{text-decoration:none;}	
.md-work h2 label {
    color: #464646;
    display: block;
    font-size: 13px;
    text-transform: capitalize !important;
    font-family: 'lato-regular';
}
.work-req {
			float: left;
			margin: 25px 15px 25px 0;
			width: 240px;
		p:nth-child(1) span{
			color:#008bff;
		}
	p{
		color:#464646;
		font-family:@fontreg;
		font-size:15px;
	span{
		color:#464646;
		font-family:@fontreg;
		font-size:14px;
	}
}
}
.padd-left{width:70px;display:inline-block}
.md-dialog-content{overflow:hidden;}
#dialog-id{
    border-bottom: none !important;
}
.wrap7 {
	h3 {
    font-family: @fontreg;
    font-size: 23px;
    color: #0073d3;
    margin: 15px 0 3px;
	}
	h4 {
    font-family: @fontreg;
    font-size: 13px;
    color: #464646;
	}
	.term-list span{
	font-family: @fontreg;
	font-size: 14px;
	color:#959595;
	float:left;
	padding-right: 5px;
	}
	.term-item{    
		background-color: #00bfa5;
		color: #fff;
		font-size: 13px;
		padding: 2px 3px;
		margin-right: 5px;
		font-family: @fontreg;
		float: left;
		margin-bottom: 5px;
	}
	h5 span{
		font-family: @fontreg;
		font-size: 14px;
		color:#959595;
		padding-right: 8px;
	}
	h5 span i {
		vertical-align: middle;
		padding: 0 5px 0 0;
		font-size: 18px;
		color: #b7b7b7;
	}
}
.wrap7 .asst-row{padding-left:15px;padding-right:15px;}
.wrap7 .asst-row:nth-child(1){overflow:hidden;border-bottom:none !important;padding-left:15px;padding-right:15px;}
.wrap7-col{padding:10px 15px 5px 0!important;}
.web{transform: rotate(40deg);}
.term-list{
	    padding-left: 0px;
    overflow: hidden;
 li{list-style-type:none;float:left;}

}
.wrap7 .more{    color: #959595;
    font-size: 25px;
    line-height: 20px;
    border: 1px solid #959595;
    padding: 0px 2px;
    cursor: pointer;}
.wrap7 .less {
    line-height: 12px !important;
    padding: 2px 5px 7px !important;
}	
.asst-row{    border: 1px solid #ebebeb;}
.wrap7 .col-lg-12{padding:0px;}	
.wrap7 a, .wrap7 a:hover, .wrap7 a:focus{color: #959595;text-decoration:none;}
.initial{    display: inline-block;
    padding:34px 45px;
    background: #008bff;
    color: #fff;
    font-size: 30px;
    margin: 16px 14px;font-family:@fontlight;width: 108px;text-align:center;}
.left-wrap, .right-wrap{float: left;}
.inner-wrap{border: 1px solid #ebebeb;padding:0px;overflow:hidden;}
.wrap8-col{padding:10px 8px 5px !important;}
.wrap8{padding: 0px !important;}
.wrap8 h3{font-family: 'Lato-regular';
    font-size: 23px;
    color: #0073d3;
    margin: 15px 0 3px;}
.wrap8 h3 a{font-family: 'Lato-regular';
    font-size: 20px;
    color: #0073d3;
    margin: 15px 0 3px;}
.wrap8 h4 {
    font-family: 'Lato-regular';
    font-size: 13px;
    color: #464646;
}
.wrap8 h5 span i {
    vertical-align: middle;
    padding: 0 5px 0 0;
    font-size: 18px;
    color: #b7b7b7;
}
.wrap8 a:hover, .wrap8 a:focus {
    color: #337ab7;
    text-decoration: none;
	
}
.wrap8 h5 span {
    font-family: 'Lato-regular';
    font-size: 14px;
    color: #959595;
    padding-right: 8px;
}
.left-wrap{width:30%;}
.right-wrap{width:70%;border-left: 1px solid #ebebeb;}
.right-wrap div{padding-left:12px;}
.left-wrap{border-right: 1px solid #ebebeb;}
.asst-row1{border-bottom: 1px solid #ebebeb;}
.wrap8{padding-top: 10px;}
.last-wrap{float: left;width: 100%;}
.last-wrap h6 span	{
	font-family:@fontreg;
	font-size:14px;
	color:#959595;
	padding: 10px 20px;
    line-height: 20px;
	i{
		vertical-align: middle;
		padding: 0 5px 0 0;
		font-size: 18px;
		color: #b7b7b7;
	}
}
.wrap8 {
	span{
	    float:left;
}
span label{display: block;	}
	h6 {
		font-family:@fontreg;
		font-size: 13px;
		color: #464646;
		overflow: hidden;
		margin: 0;
		border-top: 1px solid #ebebeb;
}

}
.wrap8 h6 span:nth-child(1){
padding: 20px 20px;
    border-right: 1px solid #ebebeb;
}
.rent-due{    background: #c93540;
    color: #fff !important;
    padding: 6px 12px 7px;
    font-size: 12px;
    position: absolute;
    right: 9px;
    margin: 20px 0;font-family:@fontreg;}
.rent-dues {
    background: #c93540;
    color: #fff !important;
    padding: 6px 12px 7px;
    font-size: 12px;
    position: absolute;
    right: 0px;font-family:@fontreg;margin: -8px 0;
}
.vendor-wrap h5{    overflow: hidden;
    width: 100%;
}
.vendor-wrap h5:nth-child(1){    margin: 8px 0 0;}
.inner-wrap .full-width{width:100%;}
.hov-wrap{position: relative;}
.hov-wrap:hover .hovDescription {
    visibility: visible;
    opacity: 1;       
}
.hov-wrap:hover  .right-wrap {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    filter: alpha(opacity=20);
    opacity: 1;

}
.hovDescription {
       transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 45px 40px;
    display: block;
	top: 0;
    width: 100%;
    background: rgba(0,0,0,0.1);
	p{text-align:center;}
	p a{margin-right: 15px;}
	p a i{
		background: #2c2d31;
		padding: 15px;
		border-radius: 50%;
		font-size: 26px;
		color: #fff;
	}
	p a img{    margin: 15px auto;
    width: 34px;
    display: block;}
	p a:nth-child(2){    background: #2c2d31;
    border-radius: 50%;
    color: #fff;
    width: 56px;
    height: 56px;
    vertical-align: bottom;
    display: inline-block;}
}
.asst-row1 p
{	
	color: #959595;
    font-size: 13px;
    font-family: @fontreg;
 label{
	color: #959595;
    text-transform: uppercase;
    font-size: 13px;
    font-family: @fontreg;
	padding-right: 15px;
	}

}
.right-wrap h5{overflow:hidden;}
.hov-wrap .asst-row1 h3, .hov-wrap .asst-row1 h4, .hov-wrap .asst-row1 p{margin:5px 0}
.vt-brdcrumb-wrap h6{margin: 5px 0;color: #2c2d31;
    font-family: @fontlight;
    font-size: 23px;}
.vt-brdcrumb-wrap h6 span{    display: block;
    font-size: 13px;
    color: #959595;
    padding: 5px 0;}
.menu2{
	overflow:hidden;
	padding-left:0px;
	margin: 10px 0;
	li{
		list-style-type:none;
		float:left;
		padding-right: 20px;
	}
	a{
		font-family:@fontreg;	
	font-size:18px;
	color: #777777;
	text-transform:inherit;
	}
	.active a{
		color:#c93540 !important;
		text-decoration:none;
	}
	.active a:hover{
		color:#c93540 !important;
		text-decoration:none;
	}
	li:hover a{text-decoration:none;color:#777777;}
}
.wrapnew{border-bottom:1px solid #ebebeb;}
.wrapnew .vt-brdcrumb-wrap{padding-left: 5px;}
a:focus, a:active{text-decoration:none !important;}
.steps a{    background: #ebebeb;
    padding: 5px;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    display: inline-block;
	margin-right: 7px;
    margin-left: 7px;}
.steps{float:right;}
.steps{
	color:#2c2d31;
	margin:17px 5px 15px;
	font-size: 13px !important;		
}
.step-pos{
		background:#00bfa5 !important;
	}
.lease-form{
	.form-group label{
		color:#959595;
		font-size:14px;
		font-family:@fontreg;
		display:block;
		padding: 5px 15px;
	}
	input{
		width: 100%;
		border: 1px solid #cccccc;
		height: 40px;
		padding-left:5px;
	}
	input:focus{border-color:#0073d3}
}

.create-panel .panel-body, .create-panel .panel-heading{    margin: 0 30px 0 15px;;}
.padd-lease{padding:0px !important;}
.padd2 .form-group{    padding: 0px 0 0 20px;}
.create-panel .panel-body{    padding-left: 0;
    padding-right: 0px;}
.lease-form select {
    height: 40px !important;
    font-size: 14px;
    color: #959595;
    font-family: 'lato-regular';
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    background: url(http://localhost/vatara/images/select-arrow.png) no-repeat right center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    line-height: 15px;
    padding: 0 10px;
	margin-bottom: 0;
}
.padd_zero{padding: 0 !important;}
.form-group {
    margin-bottom: 25px;
}
.md-datepicker-input {border: none !important;}
.flex-gt-xs {
    border: 1px solid #cccccc;
}
.md-datepicker-input-container {
    position: relative;
    padding-bottom: 0px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    display: inline-block;
    width: 260px;
    margin-left: 12px;
	    box-shadow: none;
    background: url(http://localhost/vatara/images/select-arrow.png) no-repeat right center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.md-datepicker-expand-triangle{opacity:0;}
.md-button:not([disabled]).md-focused{background-color:transparent !important;}
.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator{    background-color: #0073d3 !important;}
.md-datepicker-input-container.md-datepicker-focused{border-bottom-width:0px !important;}
md-tabs .md-tab.md-active{color: #c93540;}
md-tabs .md-tab{
	font-family:@fontreg;	
	font-size:18px;
	color: #777777;
	text-transform:inherit;
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #fff;
    background: #fff;
}
.image-upload input[type=file]
{
    display:none;
}

.image-upload i:hover .icon1{background-color: #ebebeb;color:#3fa5fa;border:1px solid #3fa5fa;}
.image-upload i
{
       cursor: pointer;
    color: #cecece;
    border: 1px solid #cecece;
    padding: 5px 6px;
    width: 37px !important;
}
.image-upload label:hover{background-color:#ebebeb;}
.image-upload label:hover i{border:1px solid #3fa5fa;}
.image-upload label{padding: 10px 19px;
    margin: 0;
    border: 1px dashed #cecece;}
.img-one{    border: 1px dashed #cecece;
    padding: 84px 104px;
    margin-right: 17px;
    background-size: cover;
	
	}
.img-one label{padding:0px;}
.img-one i{padding: 18px 25px;
    width:  72px !important;
    border: 1px solid #cecece;}
.img-two{    float: left;
    margin: 5px 5px 5px 0;
    background-size: cover;
}
.tab-content{padding: 20px 0;overflow: hidden;}
.lease-accord{ float: left;
    margin: 20px 0;    width: 100%;}
.img-one label{    border: none;}
.icon1{    padding: 0 !important;border: none;}
.icon1 i{    padding: 18px 25px;
    width:  72px !important;}	
.sb-search{width:390px;}	
md-sidenav:hover{width:210px;    transition: 0.4s;}
.pptywrap-2 a, .pptywrap-1 a, table a{color: #0073d3;text-decoration:none;}	
.pptywrap-1 a:hover, .pptywrap-2 a:hover, table a:hover{color: #0073d3;text-decoration:none;}	
.btn-disable{pointer-events:none;opacity:0.8;}	
.marg1{margin:20px 0 0}
.lease-accord .panel-body{margin:0px;}	
.lease-accord .panel-heading {
    padding: 10px 0px !important;
}	
.inptactive label{background:#ebebeb;} 	
.inptactive label i{color:#3fa5fa;border:1px solid #3fa5fa;}
.add-more{margin:5px auto;}
/*.clone{display:none;}
.unit-div .clonedInput:nth-child(1) .clone-btn:nth-child(1){    position: absolute;
    top: -65px;
    right: 7px;}
.unit-div .clonedInput:nth-child(1) .clone:nth-child(1){display:block;border: none;}
.clonedInput .clone-btn:first-child{display:block !important}
.clone-btn{display:none}
.unit-div .clonedInput:nth-child(1) div{display:none;}*/
.remove:hover, .actions button:hover{background: #e06c75;color: #fff;}
.remove, .actions button{    background: #c93540;
    border: none;
    color: #fff;
    font-size: 14px;
    margin: 10px 14px;
    padding: 6px 15px;
    font-family: 'Lato-Bold';
    border-radius: 3px;}
.menu4 {
	    overflow: hidden;
    padding-left: 0;
	li{
		float:left;
		list-style-type: none;
	}	
}	
.new_pflink{    float: right;
    font-family: @fontreg;
    font-size: 14px;
    color: #0073d3;}
.new_pflink a{padding-left:3px;padding-right:3px}	
.new_pflink a:hover{text-decoration:none;color: #0073d3;}	
.db-row1 {
	h4{
	font-size: 14px;
    font-family: @fontreg;
    color: #979899;
    margin: 10px 0 20px;
	display: inline-block;
    float: left;
}
	span:nth-child(1){
	background-color: #008bff;
    width: 10px;
    height: 10px;
    display: inline-block;    margin-right: 3px;
}
	span:nth-child(2){
	background-color: #05c0a7;
    width: 10px;
    height: 10px;
    display: inline-block;
	margin-left: 15px;    margin-right: 3px;
}
	span:nth-child(3){
	background-color: #979899;
    width: 10px;
    height: 10px;
    display: inline-block;
	margin-left: 15px;    margin-right: 3px;
	}
}	
.chart-form select{    height: 40px !important;
    font-size: 14px;
    color: #959595;
    font-family:@fontreg;
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    background: url('../images/select-arrow.png') no-repeat right center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    line-height: 15px;
    padding: 0 10px;
    margin-bottom: 0;}	
.chart-form{    float: right;
    width: 175px;}
.db-row2{    border: 1px solid #e8e8e8;
    margin:10px auto 20px;}
.iframe2{
		padding:15px 15px;;
	}

.db2span {
		padding-left: 20px;
		color: #a1a1a1;
    font-size: 13px;
    font-family: @fontreg;
	
	span:nth-child(1){
	background-color: #5cd6c5;
        width: 15px;
    height: 3px;
    display: inline-block;    margin-right: 3px;
}
	span:nth-child(2){
	background-color: #319ffb;
        width: 15px;
    height: 3px;
    display: inline-block;
	margin-left: 15px;    margin-right: 3px;
}
	span:nth-child(3){
	background-color: #ce4953;
        width: 15px;
    height: 3px;
    display: inline-block;
	margin-left: 15px;    margin-right: 3px;
	}
}
.db-icon1{float: left;
    margin: 0 15px;
    background: #008bff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 14px;}
.db-wrap1{    border: 1px solid #e8e8e8;
    margin: 5px auto;
    padding: 0 !important;
	h5{
	border-bottom: 1px solid #e8e8e8;
    margin: 0px auto;
    padding: 15px 15px 20px;
    color: #008bff;
    font-size: 20px;
    font-family: @fontlight;
}}
.db-wrap1 .panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: #ddd;
    border-top: 1px solid #ebebeb;
    border-bottom: 0px solid #ebebeb !important;
}
.db-wrap1 .panel-body {
    padding: 0px 15px 30px;
}
.db-wrap1 .panel-group {
    margin-top: 15px;
}
.db-wrap2 .panel-group {
    margin-top: 0px;
}
.db-wrap2 .panel-default>.panel-heading {
    border-top: 0px solid #ebebeb;
	padding: 15px 20px;
}
.db-wrap2{   
    margin: 5px auto;
    padding: 0 !important;
	h5{
	border-bottom: 1px solid #e8e8e8;
    margin: 0px auto;
    padding: 15px 15px 20px;
    color: #2c2d31;
    font-size: 20px;
    font-family: @fontlight;
}}
.db-wrap2 .panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: #ddd;
}
.db-wrap2 .ng-binding .ng-scope{font-family: lato-light;
    color: #2c2d31;}
.db-table{
	td{
		padding:15px 10px 10px;
	}
	td:nth-child(1) h4 a{
		color: #0073d3;
	}
	td:nth-child(1) h4 a:hover{
		color: #0073d3;
		text-decoration:none;
	}
	td:nth-child(1) h4{
		color: #0073d3;
		text-transform: uppercase;
		font-family:@fontreg;
		font-size: 15px;
		margin: 0 0 0px;
	}
	td:nth-child(1) p{
		color: #959595;
		font-family:@fontreg;
		font-size: 14px;
		margin:0px 0;
	}
	td:nth-child(2){
		color: #959595;
		font-family:@fontreg;
		font-size: 14px;
		margin:5px 0;
		text-align: right;
	}
	
}
.db-table tr td span{
	color:#777777;
	font-family:@fontreg;
	font-size:13px;
}
.db-table tr td span a{
	color:#0073d3;
	font-family:@fontreg;
	font-size:14px;
}
.db-table tr td:nth-child(2) span{
	display:block;width: 100px;
    float: right;
}
.db-row3{overflow: hidden;
    margin-bottom: 8px;}
.db-row4 .col-md-4, .db-row4 .col-md-8{
padding-right:0px;padding-left:0px;
}
.db-row4{ border: 1px solid #e8e8e8;overflow:hidden;margin: 12px 0;}
.brdr-rt{border-right:1px solid #e8e8e8;}
.brdr-lft{border-left:1px solid #e8e8e8;}
.iframe2 img{display:block;margin:0 auto;}
.due-spn{
    background: #c93540;
    margin: 0 15px;
    color: #fff !important;
    padding: 5px 11px 6px 9px;
    border-radius: 50%;
    font-size: 14px !important;
}
.db-wrap4 .ng-binding .ng-scope, .db-wrap2 .ng-binding .ng-scope, .db-wrap2 .ng-binding .ng-scope, .db-wrap1 .ng-binding .ng-scope {
    font-family: 'Lato-Light';
    font-size: 22px;
    text-decoration: none;
    color: #2c2d31;
}
.db-row4 h5{    border-bottom: 1px solid #e8e8e8;
    margin: 0px auto 20px;
    padding: 15px 15px 20px;
    color: #0073d3;
    font-size: 20px;
    font-family: 'Lato-Light';}
.brdr-zero h5{
    border-bottom: 0px solid #e8e8e8;
    margin: 0px auto;
    padding: 15px 15px 5px;
}
.padd4{padding:25px 20px !important;}
.padd5{padding:25px 30px 25px 10px !important;}
.media1{width: 150px;
    margin: 0 auto;}
.media-heading{font-family: 'Lato-Light';
    font-size: 22px;
    text-decoration: none;
    color: #2c2d31;}
.media1{padding: 4px 12px;}
.media1 h6{
text-align:center;margin:0 auto;
}
.media1 h6{
	color:#959595;
	font-family: @fontreg;
    font-size: 14px;margin: 0;
}	
.media1 h6 span{    border: 1px solid #0073d3;
    font-size: 26px;
    padding:15px 22px !important;
    border-radius: 50%;    margin: 0 0 10px auto;
    font-family: lato-light;display:inline-block;}
.circle1{    margin: 0px 0 10px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;}
.circle1 .media {
    margin-top: 15px;
    padding-left: 20px;
}
.list-circ .media-body{    padding: 17px 13px;}
.crc2 .panel-group{margin-top:0px !important;}
.padd6{margin-top:10px;}
.lease-accord .panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.maintain{    transform: rotate(90deg);
    margin-left: -8px;
    margin-right: 6px;
    margin-top: 3px;}
.panel-default>.panel-heading {
    color: #333;
    background-color: transparent !important;
    border-color: #ddd;
}
.media1 p{color:#2c2d31;font-family:@fontreg;font-size:16px;text-align:center;}
.med-width{width:auto;}
.media-left a{    border: 1px solid #0073d3;
    font-size: 26px;
    padding: 10px 22px;
    border-radius: 50%;
    font-family: lato-light;
    display: inline-block;}
.padd_rt{padding-right:0px !important;}
.padd_left{padding-left:0px !important;padding-right: 8px !important;}
.padd_btm{padding-bottom: 10px !important;}	
.rent_tbl tr:nth-child(1) td:nth-child(1){padding-top: 0px !important;}	
.panel-group {
    margin-bottom:5px  !important;
}	
.list-circ{margin: 10px 10px 0;}	
.padd4 .brdr-zero{border-top: none !important;}
.brdr-btm{border-bottom:none !important}	
.anchor_link{color: #0073d3 !important;}	
.db-wrap2 .more-p, .db-wrap4 .more-p {
    margin: 15px 0 0 0;
}	
.db-wrap4 .panel-group {
    margin-bottom: -1px !important;
}	
.db-wrap4 .panel-heading {
    padding: 5px 15px 15px !important;	}
.report-form .md-datepicker-input-container {width: 238px;padding-right: 0px;}
.marg-zero{margin:0px 15px}
.report-form .lease-form .form-group label {
    padding: 5px 15px 5px 0;
}
.report-form .lease-form select, .report-form  .lease-form input {color: #2c2d31;font-family: 'lato-bold';}
.padd7{padding-left:15px !important;}
.report-tbl thead th{
color:#6b6c71;
font-family:@fontbold;
font-size:13px;    padding: 15px 0px;
}
.report-tbl tbody td{
color:#777777;
font-family:@fontreg;
font-size:13px;    padding: 15px 0px;
}
.toolbar{width: 100px;
    float: left;
    color: #008bff;
    font-family: lato-regular;
    font-size: 20px;}
#reports_table_wrapper .download a{ border-left: 1px solid #ebebeb;
    display: inline-block;
    padding: 20px 20px 15px;}
#reports_table_wrapper .download{    float: right;
    margin-top: -15px;}
#reports_table_wrapper{
    overflow: hidden;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding:10px 0 0px 10px;
}
#reports_table_wrapper .top{    float: left;
    overflow: hidden;
    padding: 5px 10px;}
.paginate_button.current{color: #777777;}
.paginate_button{    color: #008bff;
    font-size: 16px;
    font-family: lato-light;
    padding: 0px 5px;}
.dataTables_paginate .previous, .dataTables_paginate .next{    display: inline-block;
    font-size: 25px;
    line-height: 10px;
    vertical-align: sub;}	
.paginate_button:hover{text-decoration:none;}
#reports_table tr td, #reports_table thead th{padding-left: 10px;}
#reports_table tr td:nth-child(1){width: 10%;}
.padd-zero{padding:0px !important}
.report_ul li{
		color:#6b6c71;
		list-style-type:none;
		font-size:13px;
		font-family:@fontbold;
		padding-bottom: 10px;
	span{
		float:right;
	}
}
.total_count{
	margin: 20px 20px;
}
.zc-legend-frame properties-graph-id0-legend-frame{display:none !important;}

//Menu active css
.md-sidenav-left .panel-title a i {
    height: 26px;
	left: 0px;
    width: 26px;
	vertical-align: middle;
}
.md-sidenav-left .active i {left: 0px;width: 26px;}
.home i {    
    background: url('../images/menu_icons_sprite.png') 0 0;
}
.home.active i {   
    background: url('../images/menu_icons_sprite.png') 0 -79px;
}

.properties i {    
    background: url('../images/menu_icons_sprite.png') -25px -1px;
}
.properties.active i {   
    background: url('../images/menu_icons_sprite.png') -25px 26px;
}

.leases i {    
    background: url('../images/menu_icons_sprite.png') -51px -1px;
}
.leases.active i {    
    background: url('../images/menu_icons_sprite.png') -51px 26px;
}

.maintanance i {    
    background: url('../images/menu_icons_sprite.png') -82px -1px;
}
.maintanance.active i {    
    background: url('../images/menu_icons_sprite.png') -82px 26px;
}

.contact i {    
    background: url('../images/menu_icons_sprite.png') -161px -1px;
}
  
.contact.active i {    
    background: url('../images/menu_icons_sprite.png') -161px 26px;
}
.reports i {    
    background: url('../images/menu_icons_sprite.png') -187px -1px;
}
.reports.active i {    
    background: url('../images/menu_icons_sprite.png') -187px 26px;
}
.finance i {    
    background: url('../images/menu_icons_sprite.png') -109px -1px;
}
.finance.active i {    
    background: url('../images/menu_icons_sprite.png') -109px 26px;
}
.marketing i {    
    background: url('../images/menu_icons_sprite.png') -137px -1px;
}
.marketing.active i {    
    background: url('../images/menu_icons_sprite.png') -137px 26px;
}
.documents i {    
    background: url('../images/menu_icons_sprite.png') -187px -1px;
}
.documents.active i {    
    background: url('../images/menu_icons_sprite.png') -187px 26px;
}


.contact.active, .documents.active, .marketing.active, .finance.active, .reports.active,
.maintanance.active, .leases.active, .properties.active, .home.active{border-left: 3px solid #c93540;} 
#steps2, #steps3, #steps4, #steps5{display:none;}
.trans-tab{margin-top: 10px;padding-left: 0;
    border: 1px solid #ebebeb;
    border-right: none;
    border-left: none;}
.trans-tab .active a{border-bottom: 2px solid #c93540;}
.ledger-tbl tbody tr td:nth-child(3), .ledger-tbl tbody tr td:nth-child(4){
text-transform:uppercase;
}
.small-btn1{background-color: #008bff;}
.small-btn2{background-color: #2c2d31;}
.small-btn1:hover{color:#fff;background-color: #0073d3;}
.small-btn2:hover{color:#fff;background-color: #959595;}
.small-btn1, .small-btn2{    display: block;
    width: 100px;
    text-align: center;
    color: #fff !important;
    font-size: 14px;
    font-family: 'Lato-bold';
    padding: 10px;
    border-radius: 3px;
    float: left;
    margin: 10px 8px;}
.ap-btn li:last-child a{
    max-height: 40px;
    min-height: 40px;
    padding: 7px 0;
    margin: 0;
    display: block;
    text-align: center;
}
.dropdown-content a{    font-family:@fontreg !important;}
.acc-modal h2{    font-size: 22px;
    text-transform: uppercase;}
.md-dialog-content select {
    height: 40px !important;
    font-size: 14px;
    color: #959595;
    font-family: 'lato-regular';
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    background: url(http://localhost/vatara/images/select-arrow.png) no-repeat right center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    line-height: 15px;
    padding: 0 10px;
    margin-bottom: 0;
}
.custom{
    opacity: 0;
    min-width: 52%;
    max-width: 52%;
    max-height: 95%;    padding-bottom: 15px;}
.custom md-input-container .md-input, .custom  .md-input-focused{
	 height: 28px !important;
	}
.custom #dialog-id{
    padding: 10px 20px !important;
}
.custom .md-dialog-content select, .custom input[type="text"] {
    height: 28px !important;width: 100%;
    border-radius: 0px;    box-shadow: none;    margin-bottom: 0;
 }
.custom .md-datepicker-button{    margin: -5px 0 !important;}
.custom md-toolbar {
    max-height: 45px !important;
	border-bottom: 0px solid #ededed;
}
.marg-btm{margin-bottom:0px !important;}
.custom .vt-btn2:focus{outline:none !important;}
.custom .vt-btn2{border:none !important;margin:20px 0 0;}
.custom md-dialog .md-dialog-content {
    padding: 0px 35px 15px;
}
.custom .close-icon {
    font-size: 22px;
}
.custom .form-group {
    margin-bottom: 15px;
    min-height: 60px;
}
.custom_checkbox{    margin: 25px 0 10px;}
.custom md-checkbox .md-icon {top: 3px;}
.custom label{    color: #959595;
    font-size: 13px;
    font-family: lato-regular;}
.custom md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
    background-color: transparent !important;
    border: 2px solid rgba(0,0,0,0.54) !important;
    border-radius: 0px !important;
}
.custom md-checkbox.md-checked .md-icon:after {
    left: 2.67px;
    top: -1.78px;
    width: 7.67px;
    height: 13.33px;
}
.chat{    
	position: fixed;
    right: 0;
    z-index: 2;
    background: #2c2d31;
    top: 0;
    width: 200px;
    height: 64px;
	a{
		display: inline-block;
		padding: 3px 20px;
		vertical-align: top;
	}
}
.sb-search {
    margin-right: 200px;
}	
.openchat{    float: right;
    width: 185px;
    position: fixed;
    right: -186px;
    background: #fff;
    z-index: 2;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    padding: 0 10px;}	
.chat_title{    
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: lato-regular;
    display: inline-block;
    line-height: 17px;
    padding:12px 0 5px 15px;
	label{
		text-transform: lowercase;
		font-size: 13px;
		cursor: pointer;
		font-family:@fontlight;
	}	
	}
#openchat img{vertical-align:sub;}	
#chat_close 
	{    	
	float: right;
	padding: 20px 10px;
	i{
	color: #fff;
    font-size: 20px;
	}
}	
#chat_close{display: none;}	
.chat_content{    
		float: right;
		position: fixed;
		background: #fff;
		z-index: 99;
		border-top: 1px solid #ebebeb;
		border-left: 1px solid #ebebeb;
		padding: 0 10px;
		bottom: 0;
		right: -360px;
		top: 64px;
		width: 310px;
		padding:0px;
		overflow-y: auto;
	}	
.chat_row 
{
    padding: 15px 15px;
    border-bottom: 1px solid #ebebeb;
    /*cursor: pointer;*/
	overflow: hidden;
	h4{
		color:#008bff;
		font-size:13px;		
		margin:0px;
	}
	span{
		color:#777777;
		font-size:13px;
		margin:0px;
	}	
}	
.chat_row.unread h4, .chat_row.unread span{font-family:@fontbold;}	
.chat_row.read h4, .chat_row.read span{font-family:@fontreg;}	
.read i{display:none;}
.unread i{    display: inline;
    font-size: 8px;
    float: right;
    color: #00bfa5;
}
.notify_dot{
    display: inline;
    font-size: 8px;
    float: right;
    color: #00bfa5;
    position: absolute;
    top: 12px;
    left: 46px;
}
.overlay {
    display:none;
    background-color: rgba(0, 115, 211, 0.7);
    bottom: 0;
    left: 0;
    opacity: 1;
    //filter: alpha(opacity = 50); /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
}
.description #msg p{
    margin-bottom: 0px;
    font-size: 13px;
    font-family: @fontreg;
}
/*#msg:nth-of-type(odd) p:before {
    content: "";
    position: relative;
    top: -1px;
    right: 0px;
    width: 0;
    height: 0;
    border: 10px solid #008bff;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    left: 0;
    margin: 0 4px 0 -24px;
}
#msg:nth-of-type(even) p:before {
    content: "";
    position: relative;
    top: -1px;
    right: 0px;
    width: 0;
    height: 0;
    border: 10px solid #e1e1e1;
    border-right-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    left: 0;
    margin: -9px -25px 0 0;
    float: right;
}
.description .msg_div div:nth-of-type(odd){    
	background-color: #008bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 7px;
	width: 240px;
    float: left;
	margin-bottom: 35px;
	    margin-left: 30px;
}
.description .msg_div div:nth-of-type(even){    
	background-color: #e1e1e1;
    color: #777777;
    padding: 10px 15px;
    border-radius: 7px;
	width: 240px;
    float: right;
	margin-bottom: 35px;
	    margin-right: 30px;
}
.description .msg_div #msg:nth-of-type(odd) label{
	color: #777777;
    font-family: 'Lato-regular';
    font-size: 12px;
    display: block;
    position: relative;
    margin-top: 12px;
    text-align: right;
    width: 215px;
	margin-bottom: -15%;	
}
.description .msg_div #msg:nth-of-type(even) label{
	color: #777777;
    font-family: 'Lato-regular';
    font-size: 12px;
    display: block;
    position: relative;
    margin-top: 12px;
    text-align: left;
    width: 215px;
	margin-bottom: -15%;
}*/

.msgSend p:before {
    content: "";
    position: relative;
    top: -1px;
    right: 0px;
    width: 0;
    height: 0;
    border: 10px solid #008bff;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    left: 0;
    margin: 0 4px 0 -24px;
}

.msgReceived p:before {
    content: "";
    position: relative;
    top: -1px;
    right: 0px;
    width: 0;
    height: 0;
    border: 10px solid #e1e1e1;
    border-right-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    left: 0;
    margin: -9px -25px 0 0;
    float: right;
}


.msgSend {   
    background-color: #008bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    width: 240px;
    float: left;
    margin-bottom: 35px;
    margin-left: 30px;
}


.msgReceived {
    background-color: #e1e1e1;
    color: #777777;
    padding: 10px 15px;
    border-radius: 7px;
    width: 240px;
    float: right;
    margin-bottom: 35px;
    margin-right: 30px;
}

.msgSend label {
    color: #777777;
    font-family: 'Lato-regular';
    font-size: 12px;
    display: block;
    position: relative;
    margin-top: 12px;
    text-align: right;
    width: 215px;
    margin-bottom: -15%;
}

.msgReceived label {
    color: #777777;
    font-family: 'Lato-regular';
    font-size: 12px;
    display: block;
    position: relative;
    margin-top: 12px;
    text-align: left;
    width: 215px;
    margin-bottom: -15%;
}

#name:hover{color: #fff;text-decoration:none;}
#name{    color: #fff;
    font-family: lato-regular;
    font-size: 13px;
    padding: 13px 20px;
    display: inline-block;line-height: 37px;}
.notify2{    position: absolute;
    top: 0;
    background: #2c2d31;
    width: 100%;
    height: 64px;}
.description{
    display: none;
    float: right;
    position: fixed;
    background: #fff;
    z-index: 99;
    border-top: 0px solid #ebebeb;
    border-left: 0px solid #ebebeb;
    padding: 80px 0 0;
    bottom: 0;
    right: -320px;
    top: 0;
    width: 310px;
	cursor: default;
}
#name img{vertical-align: text-bottom;
    padding: 0px 10px;}
.show{display:block !important;}
.chat_form textarea{
	height: 60px;
}
.chat_form input[type=submit]:focus{
outline:none;border:none;
}
.chat_form input[type=submit]{
	background: transparent;
    border: none;
    float: right;
    display: inline-block;
    padding-right: 15px;
    color: #008bff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: lato-bold;}
.chat_form{
    background-color: #ebebeb;
    padding: 15px 15px;
    position: fixed;
    bottom: 0;
    width: 310px;
    margin: 0;
.form-group{
	background-color: transparent !important;
    margin: 0 !important;
    width: 100% !important;
    float: none !important;
	}
}
.unread_title{
    width: 100% !important;
    margin: 0 0 15px 0 !important;
    padding: 2px 0 !important;
    text-align: center;
    color: #00bfa5 !important;
    border-radius: 0px !important;
    background: #e0f7f4 !important;
    font-size: 12px;
    font-family:@fontreg;
}

.breadcrmb1 .vt-brdcrumb-wrap {
    margin-left: 75px;
}
.wrap2 a{color:#0073d3;}
.wrap2 a:hover{text-decoration:none;color:#0073d3;}
.custom .flex-gt-xs {border: 1px solid #cccccc;height: 28px;}
.custom .md-datepicker-input-container{width:130px;}
.custom md-datepicker.md-default-theme, md-datepicker {
    background: transparent;
}

.custom .md-datepicker-calendar-icon svg:not(:root) {
    overflow: hidden;
    margin-top: 0px;
}
.custom .md-datepicker-open .md-datepicker-input {
    margin-left: 24px;
    height: 25px;
}
.msg_div{overflow: hidden;
    overflow-y: auto;}
.tenant_topbar { padding: 2px 0;}
.tenant_topbar .logo {margin: 10px 0px;}
.msg_div p.clearfix{    display: block;
    overflow: hidden;}
.clonedInput .form-group {padding-left: 0;}
.add_ptygrp .form-group {padding-left: 15px !important;}
.unit-div .clonedInput:nth-child(1) div{display:none;}
.unit-div .clonedInput:nth-child(1) div.actions{display:block !important}
.unit-div .clonedInput:nth-child(1) .actions .clone{
position: absolute;
    right: 30px;
    margin-top: -50px;
}
.unit-div .clonedInput:nth-child(1) .actions .remove{display:none !important}
.pty_wrap .prprty-list a{
cursor:not-allowed;pointer-events:none;opacity: 0.8;
}
.pty_wrap .prprty-list {
cursor:auto !important;
}
.pty_wrap .prprty-list a{
cursor:auto !important;pointer-events:auto !important;opacity:1;
}
.report_wrap{margin-left:30px !important;margin-right:15px !important;}
.cust_marg2 .clonedInput:nth-child(1) .actions .clone {
    position: absolute;
    right: 30px;
    margin-top: -150px;
}
.vt3{    border: none;
    margin: 20px 12px;
    cursor: pointer;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99;
    margin-top: 54px;
    margin-left: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	font-family:@fontreg;
}

.dropdown-content a:hover {    background-color: #f1f1f1;
    color: #000;
    text-decoration: none;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.imgupld1{    margin-right: 7px;}
.unit-div .clonedInput1:nth-child(1) div, 
.unit-div .clonedInput2:nth-child(1) div, 
.unit-div .clonedInput3:nth-child(1) div, 
.unit-div .clonedInput4:nth-child(1) div, 
.unit-div .clonedInput5:nth-child(1) div, 
.unit-div .clonedInput7:nth-child(1) div, 
.unit-div .clonedInput6:nth-child(1) div{display:none;}

.unit-div .clonedInput1:nth-child(1) div.actions, 
.unit-div .clonedInput2:nth-child(1) div.actions, 
.unit-div .clonedInput3:nth-child(1) div.actions,
.unit-div .clonedInput4:nth-child(1) div.actions,
.unit-div .clonedInput6:nth-child(1) div.actions, 
.unit-div .clonedInput5:nth-child(1) div.actions, 
.unit-div .clonedInput7:nth-child(1) div.actions
{display:block !important}
.unit-div .clonedInput1:nth-child(1) .actions .clone, 
.unit-div .clonedInput2:nth-child(1) .actions .clone1, .unit-div .clonedInput5:nth-child(1) .actions .clone4,
.unit-div .clonedInput6:nth-child(1) .actions .clone5, 
.unit-div .clonedInput7:nth-child(1) .actions .clone6{
position: absolute;
    right: 30px;
    margin-top: -55px;
}
.unit-div .clonedInput3:nth-child(1) .actions .clone2, .unit-div .clonedInput4:nth-child(1) .actions .clone3{
position: absolute;
    right: 30px;
    margin-top: -150px;
}
.unit-div .clonedInput1:nth-child(1) .actions .remove, 
.unit-div .clonedInput2:nth-child(1) .actions .remove1, 
.unit-div .clonedInput3:nth-child(1) .actions .remove2, 
.unit-div .clonedInput4:nth-child(1) .actions .remove3,
.unit-div .clonedInput5:nth-child(1) .actions .remove4, 
.unit-div .clonedInput6:nth-child(1) .actions .remove5, 
.unit-div .clonedInput7:nth-child(1) .actions .remove6{display:none !important}
.padd-left, .unit_details, {padding-left:0px !important;}
.doc_details{padding: 15px 0px !important;}
.clonedInput2 .actions .clone1{    margin-left: 15px;}
.file-input {
    height: 39px;
    margin-bottom: 0px;
    padding: 0 10px 5px 25px;
    width: 100%;
    -webkit-padding-before: 7px;
    -webkit-padding-after: 7px;
    -webkit-padding-start: 12px;
    -webkit-padding-end: 12px;
}
input[type=file] {
    display: block;
}
.lease-form input[type=file]{
    border: 1px solid #c8c8c8;
    box-shadow: none;
    border-radius: 0;
    font-family: @fontreg;
    font-size: 16px;
    color: #666;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.file_upld label {
    margin-bottom: 0;
    color: #666;
    font-family: @fontreg;
    font-size: 15px;
    display: block;
    z-index: 1000;
}
.file_upld label {
    background: #2c2d31 none repeat scroll 0 0;
    color: #fff !important;
    padding: 10px 32px !important;
    position: absolute;
    z-index: 0;
    cursor: pointer;
}

.file_upld span{    height: 30px;
    display: block;    color: #959595;
    font-size: 14px;
    font-family: 'Lato-regular';}
.doc_details .clonedInput2:nth-child(1) .actions .clone1 {
	right: 15px !important;
    margin-top: -22px !important;
}
.pty_img input[type=file]{margin-bottom: 12px;}
.padd6{padding: 10px 0 0 !important;}
.marg6{margin-left:0px;}
.anchor_disable{pointer-events:none;opacity: 0.7;}
.lease-form .form-group label {
    padding: 0 0 5px 0px;
}
.tab-content .form-group{min-height:60px;}
.tab-wrap5{padding-left:0px !important;}








@-moz-document url-prefix() { 
.file_upld label {
    background: #2c2d31 none repeat scroll 0 0;
    color: #fff !important;
    padding: 10px 26px !important;
    position: absolute;
    z-index: 0;
    cursor: pointer;
}
}









	
/*  end of definitions.less file */
