﻿<div ng-controller="eventTrackerController as ETC" ng-init="ETC.LoadProperty()" class="min-higt" layout="column" ng-cloak>
    <div ng-show="!userData.isSubscriptionExpired">
        <div>
            <div class="clearfix"></div>
            <div class="container-fluid wrap1" ng-if="ETC.isSubTab != true">
                <div class="vt-breadcrumb">
                    <div class="vt-brdcrumb-wrap col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <img class="bld-img" src="images/bld-icon.png" />
                        <h5>
                            Event Tracker
                            <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                            <span>Maintenance <img src="images/right-arrow.png" /></span>
                            <span>Event Tracker</span>
                        </h5>
                    </div>
                    <div class="vt-filter">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div ng-class="{'container-fluid': ETC.isSubTab, 'container': !ETC.isSubTab}">

                <div class="container">
                    <div class="inner_div1">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12 margin_top_1em">
                            <div class="tab-content">
                                <div class="tab-pane fade in active">
                                    <div id="accord4" class="report-form work-wrap">
                                        <div class="lease-form col-xs-12 pad_0">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="ETC.isSubTab != true">
                                                <label>Select Property</label>
                                                <ui-select ng-model="ETC.mdlSelectedProperty" theme="selectize" title="Choose a property" ng-change="ETC.GetEventListByProperty(ETC.mdlSelectedProperty.propertyId,ETC.EventType)">
                                                    <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                                                    <ui-select-choices repeat="property in ETC.lstPropertByManager| orderBy : 'propertyName' | filter: $select.search">
                                                        <span ng-bind-html="property.propertyName | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>

                                            <div class="col-md-4 text-right mt3em">
                                                <div class="block">
                                                    <md-radio-group ng-model="ETC.EventType" layout="row" ng-change="ETC.FilterEventsByType();ETC.GetEventListByEventType(ETC.EventType)">
                                                        <md-radio-button value="{{status}}" ng-repeat="status in ETC.arrEventType">{{status}}</md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mt3em">
                                                <div class="pretty p-default">
                                                    <input type="checkbox" name="ChkOPt" ng-change="ETC.GetEventListByArchiveStatus(ETC.isArchive,ETC.EventType)" ng-model="ETC.isArchive" ng-disabled="ETC.mdlSelectedProperty == '' || ETC.mdlSelectedProperty == undefined" class="ng-pristine ng-valid ng-empty ng-touched" aria-invalid="false" style="">
                                                    <div class="state">
                                                        <label></label>
                                                    </div>
                                                </div>
                                                <label class="grey-colortext">&nbsp;Include Archive</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <div class="marginBottom10 col-md-12">
                                        <div class="col-md-4 pad_0">
                                            <h1 class="table_head">Event Tracker</h1>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3 pad_0 mt14px">
                                            Show  <select class="itemCountddl" ng-model="ETC.ItemCountPerPage"
                                                          ng-options="count for count in ETC.itemsPerPageArr" ng-change="ETC.currentPage_lstEvent = 0"></select>
                                        </div>
                                        <div class="col-md-2 text-right pad_0 mt14px" ng-if="ETC.isSubTab != true">
                                            <button type="button" class="btn btn-info" ng-click="ETC.AddEvent()">Add New Event</button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <!--<th ng-click="ETC.event_OrderBy = ETC.OrderBy(ETC.event_OrderBy, 'eventID')">Event ID</th>-->
                                                    <th ng-click="ETC.event_OrderBy = ETC.OrderBy(ETC.event_OrderBy, 'eventType')">Event Type</th>
                                                    <th ng-click="ETC.event_OrderBy = ETC.OrderBy(ETC.event_OrderBy, 'eventDate')">Event Date</th>
                                                    <th ng-click="ETC.event_OrderBy = ETC.OrderBy(ETC.event_OrderBy, 'description')">Description</th>
                                                    <th ng-if="ETC.isSubTab != true">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-if="ETC.lstEvent_Filtered.length > 0">
                                                <tr ng-repeat="Event in ETC.lstEvent_Filtered  | orderBy : ETC.event_OrderBy | offset: ETC.currentPage_lstEvent *  ETC.ItemCountPerPage | limitTo:  ETC.ItemCountPerPage" ng-class="{'archivedata' : Event.isDeleted==true}">
                                                    <!--<td>{{Event.eventID}}</td>-->
                                                    <td>{{Event.eventType}}</td>


                                                    <td>{{Event.eventDate|date}}</td>
                                                    <td>{{Event.description}}</td>
                                                    <td ng-if="ETC.isSubTab != true">
                                                        <div class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                                Action
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu padd10topBottom">
                                                                <li style="cursor:pointer" title="Edit Event" ng-if="!Event.isDeleted" ng-click="ETC.EditEventTracker(Event.eventID)">
                                                                    <i class="fa fa-edit"></i>
                                                                    Edit
                                                                </li>
                                                                <li style="cursor:pointer" title="Archive Event" ng-if="!Event.isDeleted" ng-click="ETC.ArchiveEvent(Event.eventID,Event.eventType,Event.eventDate)">
                                                                    <i class="fa fa-archive "></i>
                                                                    Archive
                                                                </li>
                                                                <li style="cursor:pointer" title="Delete Event" ng-click="ETC.DeleteEvent(Event.eventID,Event.eventType,Event.eventDate)">
                                                                    <i class="fa fa-trash"></i>
                                                                    Delete
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody ng-if="ETC.lstEvent_Filtered.length == 0">
                                                <tr>
                                                    <td class="text-center" colspan="4"><p class="P-Center">No Record Found</p></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div ng-if="ETC.lstEvent_Filtered.length != 0">
                                            <ul class="pagination">
                                                <li ng-class="ETC.pageService.PrevPageDisabled(ETC.currentPage_lstEvent)">
                                                    <a ng-click="ETC.currentPage_lstEvent = ETC.pageService.PrevPage(ETC.currentPage_lstEvent)">« Prev</a>
                                                </li>
                                                <li ng-repeat="n in ETC.pageService.Range(ETC.lstEvent_Filtered.length,ETC.currentPage_lstEvent,ETC.ItemCountPerPage)"
                                                    ng-class="{active: n == ETC.currentPage_lstEvent}"
                                                    ng-click="ETC.currentPage_lstEvent = n">
                                                    <a>{{n+1}}</a>
                                                </li>
                                                <li ng-class="ETC.pageService.NextPageDisabled(ETC.currentPage_lstEvent.length,ETC.currentPage_lstEvent,ETC.ItemCountPerPage)">
                                                    <a ng-click="ETC.currentPage_lstEvent = ETC.pageService.NextPage(ETC.currentPage_lstEvent.length,ETC.currentPage_lstEvent,ETC.ItemCountPerPage)">Next »</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div ng-include="'Shared View/_Loader.html'"></div>
        <div ng-include="'Shared View/PartialView/EventTracker/_AddEvent.html'"></div>
    </div>
</div>

