﻿
<style type="text/css">
        /*body {
            color: #566787;
            background: #f5f5f5;
            font-family: 'Varela Round', sans-serif;
            font-size: 13px;
        }*/


        #mdlAddNewAdmin .container {
            max-width:850px!important;
        }

        .table-wrapper {
            background: #fff;
            padding: 20px 25px;
            margin: 30px 0;
            border-radius: 3px;
            box-shadow:2px 2px 5px #ccc;
            border: 1px solid #e4e4e4;
        }

       .table-title {
        padding-bottom: 15px;
        background: #d8d8d8;
        color: #000;
        padding: 9px 30px;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0;
    }

           .table-title h2 {
        margin: 5px 0 0;
        font-size: 17px;
        font-weight: 600;
    }

            .table-title .btn {
                color: #fff;
                float: right;
                font-size: 13px;
                /*background: #000;*/
                border: none;
                min-width: 50px;
                border-radius: 2px;
                border: none;
                outline: none !important;
                margin-left: 10px;
            }

                .table-title .btn:hover, .table-title .btn:focus {
                   opacity:0.9 !important;
                }

                .table-title .btn i {
                    float: left;
                    font-size: 21px;
                    margin-right: 5px;
                }

                .table-title .btn span {
                    float: left;
                    margin-top: 2px;
                }

        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
            padding: 12px 15px;
            vertical-align: middle;
            font-weight:500;
        }

            table.table tr th:first-child {
                width: 60px;
            }

            table.table tr th:last-child {
                width: 100px;
            }

        table.table-striped tbody tr:nth-of-type(odd) {
            background-color: #fcfcfc;
        }

        table.table-striped.table-hover tbody tr:hover {
            background: #f5f5f5;
        }

        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }

        table.table td:last-child i {
            opacity: 0.9;
            font-size: 22px;
            margin: 0 5px;
        }

        table.table td a {
            font-weight: bold;
            color: #566787;
            display: inline-block;
            text-decoration: none;
        }

            table.table td a:hover {
                color: #2196F3;
            }

            table.table td a.settings {
                color: #2196F3;
            }

            table.table td a.delete {
                color: #F44336;
            }

        table.table td i {
            font-size: 19px;
        }

        table.table .avatar {
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
        }

        .status {
            font-size: 30px;
            margin: 2px 2px 0 0;
            display: inline-block;
            vertical-align: middle;
            line-height: 10px;
        }

        .text-success {
            color: #10c469;
        }

        .text-info {
            color: #62c9e8;
        }

        .text-warning {
            color: #FFC107;
        }

        .text-danger {
            color: #ff5b5b;
        }

        .pagination {
            float: right;
            margin: 0 0 5px;
        }

            .pagination li a {
                border: none;
                font-size: 13px;
                min-width: 30px;
                min-height: 30px;
                color: #999;
                margin: 0 2px;
                line-height: 30px;
                border-radius: 2px !important;
                text-align: center;
                padding: 0 6px;
            }

                .pagination li a:hover {
                    color: #666;
                }

            .pagination li.active a, .pagination li.active a.page-link {
                background: #03A9F4;
            }

                .pagination li.active a:hover {
                    background: #0397d6;
                }

            .pagination li.disabled i {
                color: #ccc;
            }

            .pagination li i {
                font-size: 16px;
                padding-top: 6px;
            }

        .hint-text {
            float: left;
            margin-top: 10px;
            font-size: 13px;
        }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<div class="container wrap1">
    <div class="vt-breadcrumb">
        <div class="vt-brdcrumb-wrap padd6 col-lg-4 col-xs-12">
            <img class="bld-img" src="images/bld-icon.png">

            <h5>
                User Management
                <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                <span><a href="#leases">PM Admin</a> <img src="images/right-arrow.png" /></span>
                <span>User Management</span>
            </h5>
        </div>
        <div class="vt-filter">
        </div>
    </div>
</div>

<div class="container" ng-controller="AddNewUserController" ng-show="!userData.isSubscriptionExpired" ng-init="LoadManagers()" ng-cloak>
    <div class="col-md-12 p0 mar_top">
        <div class="col-md-6 p0">
            <h2 class="tabel-head">User Management</h2>
        </div>
        <div class="col-md-6 text-right p0" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">
            <a ng-click="AddNewAdmin()" class="btn btn-primary" style="margin-top:10px;"><i class="fa fa-plus-circle"></i> <span>Add New User</span></a>
        </div>
    </div>
    <table class="table table-striped" style="margin-top:1em !important;">
        <thead>
            <tr>
                <th>#</th>
                <th ng-click="lstManagers_OrderBy = OrderBy(lstManagers_OrderBy, 'lastName')">Name</th>
                <th ng-click="lstManagers_OrderBy = OrderBy(lstManagers_OrderBy, 'email')">Email</th>
                <th ng-click="lstManagers_OrderBy = OrderBy(lstManagers_OrderBy, 'userRole')">Role</th>
                <th ng-click="lstManagers_OrderBy = OrderBy(lstManagers_OrderBy, '')">Status</th>
                <th ng-click="lstManagers_OrderBy = OrderBy(lstManagers_OrderBy, '')">Date Created</th>
                <th></th>
                <!--<th></th>
                <th></th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-if="LstManagers.length == 0"> <td colspan="7" class="text-center">No Record Found</td></tr>
            <tr ng-repeat="manager in LstManagers" ng-if="LstManagers.length > 0">
                <td>{{$index + 1}}</td>
                <td><img ng-src="data:image/png;base64,{{manager.image.base64}}" style="max-height: 20px;" alt="{{manager.lastName}} {{manager.firstName}} {{manager.middleName}}"> {{manager.lastName}} {{manager.firstName}} {{manager.middleName}}</td>
                <td>{{manager.email}}</td>
                <td>{{manager.userRole}}</td>
                <td ng-if="manager.managerStatus == true"><span class="status text-success">&bull;</span> Active</td>
                <td ng-if="manager.managerStatus == false"><span class="status text-danger">&bull;</span> Inactive</td>
                <td>{{manager.creationTime | date}}</td>
                <!--<td>
                    <a ng-click="GetManagerDetail(manager.personId,'view')"><i class="fa fa-eye"></i>  View</a>
                </td>
                <td>
                    <a ng-if="userData.access == 'all'" ng-click="GetManagerDetail(manager.personId,'edit')"><i class="fa fa-edit"></i>  Edit</a>
                </td>
                <td>
                    <a ng-if="userData.access == 'all'" ng-click="ResendLoginCredential(manager.personId,manager.email)"><i class="fa fa-envelope"></i>Mail Credential</a>
                </td>-->

                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Action
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu padd10topBottom">
                            <li style="cursor:pointer" ng-click="GetManagerDetail(manager.personId,'view')" title="View">
                                <i class="fa fa-eye"></i>
                                View
                            </li>
                            <li style="cursor:pointer" ng-click="GetManagerDetail(manager.personId,'edit')" title="Edit" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">
                                <i class="fa fa-pencil"></i>
                                Edit
                            </li>
                            <li style="cursor:pointer" ng-click="ResendLoginCredential(manager.personId,manager.email)" title="Send Login Credential" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">
                                <i class="fa fa-eye"></i>
                                Send Login Credential
                            </li>
                            <li style="cursor:pointer" ng-click="DeleteUser(manager.personId)" title="Delete" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">
                                <i class="fa fa-trash"></i>
                                Delete
                            </li>

                        </ul>
                    </div>
                </td>



            </tr>
        </tbody>
    </table>
    <div>
        <div class="modal fade-scale" id="mdlAddNewAdmin" role="dialog" aria-labelledby="mdlAddNewAdmin">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header model-headerColor">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="myModalLabel">Add New Admin User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <form class="ng-pristine ng-valid" role="form" name="frmRegister" novalidate autocomplete="off">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border">Personal Info</legend>
                                        <div class="image-upload col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="row marginnone">
                                                <div class="col-md-12 text-center">
                                                    <img class="img-responsive disp profileImage" ng-src="data:image/png;base64,{{Users.image.base64}}" />
                                                </div>

                                                <div class="col-md-12 text-center">
                                                    <label class="materialLabel" for="file-input">
                                                        <i class="material-icons">add</i>
                                                    </label>
                                                    <input id="file-input" class="file1" type="file" accept="image/gif,image/jpeg,image/jpg, image/png" ng-model="Users.image" name="file" ng-disabled="IsManagerAction == 'view'" base-sixty-four-input maxsize="500" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="padd-lease col-lg-8 col-md-8 col-sm-8 col-xs-12">

                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label cl>
                                                    First Name
                                                    <span class="errormsg">*</span>
                                                    <span class="errormsg" ng-show="frmRegister.firstName.$dirty && frmRegister.firstName.$invalid">
                                                        <span ng-show="frmRegister.firstName.$error.required">First Name is required.</span>
                                                    </span>
                                                </label>
                                                <div class="form-group">
                                                    <input class="form2" type="text" placeholder="First Name" ng-disabled="IsManagerAction == 'view'"
                                                           ng-model="Users.firstName" name="firstName" required>

                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>Middle Name</label>
                                                <div class="form-group">
                                                    <input class="form2" type="text" placeholder="Middle Name" ng-disabled="IsManagerAction == 'view'"
                                                           ng-model="Users.middleName" name="middleName">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>
                                                    last Name
                                                    <span class="errormsg">*</span>
                                                    <span class="errormsg" ng-show="frmRegister.lastName.$dirty && frmRegister.lastName.$invalid">
                                                        <span ng-show="frmRegister.lastName.$error.required">last Name is required.</span>
                                                    </span>
                                                </label>
                                                <div class="form-group">
                                                    <input class="form2" type="text" placeholder="last Name" ng-disabled="IsManagerAction == 'view'"
                                                           ng-model="Users.lastName" name="lastName" required>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>
                                                    Email
                                                    <span class="errormsg">*</span>
                                                    <span class="errormsg" ng-show="frmRegister.email.$dirty && frmRegister.email.$invalid">
                                                        <span ng-show="frmRegister.email.$error.required && frmRegister.email.$dirty">Email is required.</span>
                                                        <span ng-show="frmRegister.email.$error.pattern">Invalid email</span>
                                                    </span>
                                                    <span class="errormsg">
                                                        <span ng-show="isEmailExist == true">Email already exist.</span>
                                                    </span>
                                                </label>
                                                <div class="form-group">
                                                    <input class="form2" type="email" placeholder="Enter email" ng-disabled="IsManagerAction != 'new'"
                                                           ng-pattern="eml_addess" ng-model="Users.email" name="email"
                                                           ng-blur="EmailExist()" required>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12 mar_top_button">
                                                <label class="col-md-2" style="padding:0px">Select Role</label>
                                                <div class="col-md-8">

                                                    <md-radio-group ng-model="Users.userRole" layout="row" class="lease-form" ng-disabled="IsManagerAction == 'view'">
                                                        <md-radio-button value="RO" class="md-primary">Read Only</md-radio-button>
                                                        <md-radio-button value="RW">Read Write</md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="padd_zero col-lg-12">
                                            <div class="padd_zero col-lg-12 mar_top_button">
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label>
                                                        Phone No
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="frmRegister.phone.$dirty && frmRegister.phone.$invalid">
                                                            <span ng-show="frmRegister.phone.$error.required">Phone number is required.</span>
                                                        </span>
                                                    </label>
                                                    <div class="form-group">
                                                        <input class="form2" type="text" ng-disabled="IsManagerAction == 'view'"
                                                               ng-model="Users.phoneNo" name="phone" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required> <!--numbers-only-->
                                                    </div>
                                                </div>

                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label>Fax</label>
                                                    <div class="form-group">
                                                        <input class="form2" type="text" placeholder="1234567890" ng-disabled="IsManagerAction == 'view'"
                                                               ng-model="Users.fax" ng-blur="CheckFax_IsEmpty()" numbers-only maxlength="10">
                                                    </div>
                                                </div>

                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label>
                                                        Address Line-1
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="frmRegister.line1.$dirty && frmRegister.line1.$invalid">
                                                            <span ng-show="frmRegister.line1.$error.required">Address is required.</span>
                                                        </span>
                                                    </label>
                                                    <div class="form-group">
                                                        <input class="form2" type="text" placeholder="Enter Address Line 1" ng-disabled="IsManagerAction == 'view'"
                                                               ng-model="Users.line1" name="line1" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="padd_zero col-lg-12">
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label>Address Line-2</label>
                                                    <div class="form-group">
                                                        <input class="form2" type="text" placeholder="Enter Address Line 2" ng-disabled="IsManagerAction == 'view'"
                                                               ng-model="Users.line2" name="line2">
                                                    </div>
                                                </div>

                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label for="country">
                                                        Country:
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="frmRegister.country.$dirty && frmRegister.country.$invalid">
                                                            <span ng-show="frmRegister.country.$error.required">Select a country.</span>
                                                        </span>
                                                    </label>
                                                    <div class="form-group">

                                                        <div>
                                                            <ui-select ng-model="mdlCountryState.selectedCountry" theme="selectize"
                                                                       name="country" ng-disabled="IsManagerAction == 'view'"
                                                                       title="Select Country" required>
                                                                <ui-select-match placeholder="Select or search a country">{{$select.selected.Name}}</ui-select-match>
                                                                <ui-select-choices repeat="country in Country | orderBy : 'Name' | filter: $select.search">
                                                                    <span ng-bind-html="country.Name | highlight: $select.search"></span>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label for="state">
                                                        State:
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="frmRegister.state.$dirty && frmRegister.state.$invalid">
                                                            <span ng-show="frmRegister.state.$error.required">Select a state.</span>
                                                        </span>
                                                    </label>
                                                    <div class="form-group">
                                                        <div>
                                                            <ui-select ng-model="mdlCountryState.selectedState" theme="selectize"
                                                                       name="state" ng-disabled="mdlCountryState.selectedCountry == undefined || mdlCountryState.selectedCountry == '' || IsManagerAction == 'view'"
                                                                       on-select="GetCountyByStateId($model)" title="Select State" required>
                                                                <ui-select-match placeholder="Select or search a state">{{$select.selected.Name}}</ui-select-match>
                                                                <ui-select-choices repeat="state in State | orderBy : 'Name' | filter: $select.search">
                                                                    <span ng-bind-html="state.Name | highlight: $select.search"></span>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="padd_zero col-lg-12">
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label>County</label>
                                                    <div class="form-group">
                                                        <div>
                                                            <ui-select ng-model="mdlCountryState.selectedCounty" theme="selectize"
                                                                       name="county" ng-disabled="mdlCountryState.selectedState == undefined || mdlCountryState.selectedState == '' || IsManagerAction == 'view'"
                                                                       title="Select county" on-select="ChangeCity($model)">
                                                                <ui-select-match placeholder="Select or search a county">
                                                                    {{$select.selected.name}}
                                                                    <button ng-if="IsManagerAction != 'view'" class="clearddl" data-toggle="tooltip" data-placement="bottom" title="Cancel selection" ng-click="clearddl($event)">X</button>
                                                                </ui-select-match>
                                                                <ui-select-choices repeat="county in County | orderBy : 'name' | filter: $select.search">
                                                                    <span ng-bind-html="county.name | highlight: $select.search"></span>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label for="city">
                                                        City:
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="frmRegister.city.$dirty && frmRegister.city.$invalid">
                                                            <span ng-show="frmRegister.city.$error.required">Select a city.</span>
                                                        </span>
                                                    </label>
                                                    <div class="form-group">

                                                        <div>
                                                            <ui-select ng-model="mdlCountryState.selectedCity" theme="selectize"
                                                                       name="city" ng-disabled="mdlCountryState.selectedState == undefined ||  mdlCountryState.selectedState == '' ||IsManagerAction == 'view'"
                                                                       title="Select city" on-select="ChangeZip()" required>
                                                                <ui-select-match placeholder="Select or search a city">{{$select.selected.Name}}</ui-select-match>
                                                                <ui-select-choices repeat="city in City | orderBy : 'Name' | filter: $select.search | limitTo:35">
                                                                    <span ng-bind-html="city.Name | highlight: $select.search"></span>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                    <label>
                                                        Zip Code
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="frmRegister.zipcode.$dirty && frmRegister.zipcode.$invalid">
                                                            <span ng-show="frmRegister.zipcode.$error.pattern"> The zip code must have 5 digits with an optional - and 4 more digits.</span>
                                                            <span ng-show="frmRegister.zipcode.$error.required">zip code is required.</span>
                                                        </span>
                                                        <span ng-show="frmRegister.zipcode.$dirty && !pZipValid" class="errormsg">Invalid ZipCode</span>
                                                    </label>

                                                    <input type="text" class="form2" ng-model="Users.zipcode"
                                                           ng-disabled="IsManagerAction == 'view'"
                                                           ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/"
                                                           ng-blur="ValidateZipCode(Users.zipcode,'AdminUserZip')" name="zipcode" id="AdminUserZip"
                                                           ng-change="ZipCodeTextChange(Users.zipcode,'AdminUserZip')"
                                                           placeholder="ZipCode" maxlength="10" required />
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top:0px">
                        <div class="padd_zero col-lg-12">
                            <div class="col-md-6 col-sm-6 col-xs-6 form-group paddLeft_zero">
                                <button ng-if="IsManagerAction == 'new'" class="btn vt-btn1 btn-block btn1" ng-disabled="frmRegister.$invalid || isEmailExist == true || pZipValid == false"
                                        type="submit" ng-click="SaveAdmin(frmRegister)">
                                    Add
                                </button>
                                <button ng-if="IsManagerAction == 'edit'" class="btn vt-btn1 btn-block btn1" ng-disabled="frmRegister.$invalid || isEmailExist == true || pZipValid == false"
                                        type="submit" ng-click="SaveAdmin(frmRegister)">
                                    Save
                                </button>

                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 form-group paddRight_zero">
                                <button ng-if="IsManagerAction != 'view'" class="btn vt-btn2 btn-block btn1"
                                        type="submit" ng-click="CloseAddNewAdminMdl(frmRegister)">
                                    Cancel
                                </button>

                                <button ng-if="IsManagerAction == 'view'" class="btnvt-btn2 btn1"
                                        type="submit" ng-click="CloseAddNewAdminMdl(frmRegister)">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
