﻿

<div ng-controller="manageUsersController as MU" ng-show="!userData.isSubscriptionExpired" ng-init="MU.LoadFunction()" class="min-higt" layout="column" ng-cloak>
    <div>
        <div class="clearfix"></div>
        <div class="container-fluid wrap1">
            <div class="vt-breadcrumb">
                <div class="col-md-5 col-xs-12 vt-brdcrumb-wrap">
                    <img class="bld-img" src="images/bld-icon.png" />
                    <h5>
                        Manage Owner/Tenant
                        <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                        <span>PM Admin <img src="images/right-arrow.png" /></span>
                        <span>Manage Owner/Tenant</span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="clearfix"></div>
        <div class="container-fluid">
            <div class="col-lg-11 col-md-offset-1 col-md-11 col-sm-11 col-xs-11">
                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <div id="accord4" class="report-form work-wrap">
                            <div class="lease-form col-xs-12 pad_0">

                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Manage Owner/Tenant</legend>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group pad_0">
                                    <label>Select Property</label>
                                    <ui-select ng-model="MU.selectProperty" theme="selectize"
                                               title="Choose a Property" on-select="MU.GetOwnerTenant(MU.selectProperty)">
                                        <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                                        <ui-select-choices repeat="Property in MU.PropertyList | orderBy : 'propertyName' | filter: $select.search">
                                            <span ng-bind-html="Property.propertyName | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                    <label>Select Person Type</label>
                                    <md-radio-group ng-model="MU.FilterType" ng-change="MU.filterUser()" layout="row" class="lease-form">
                                        <md-radio-button value="All" class="md-primary">All</md-radio-button>
                                        <md-radio-button value="Owner">Owner</md-radio-button>
                                        <md-radio-button value="Tenant">Tenant</md-radio-button>
                                    </md-radio-group>
                                </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-lg-11 col-md-offset-1 col-md-11 col-sm-11 col-xs-11">

                    <div class="col-md-offset-6 col-md-2">
                        Show  <select class="itemCountddl" ng-model="MU.ItemCountPerPage" style="margin-bottom: 9px;"
                                      ng-options="count for count in MU.itemsPerPageArr" ng-change="MU.currentPage = 0"></select>
                    </div>
                    <div class="col-md-4 text-right">                       
                        <i class="fa fa-user grey-user"></i> <span class="legend-text"> Activate User</span> &nbsp;&nbsp;
                        <i class="fa fa-user yellow-user"></i> <span class="legend-text">Deactivate User</span> &nbsp;&nbsp;
                        <i class="fa fa-envelope blue-envelop"></i> <span class="legend-text">Mail Credential</span>  &nbsp;&nbsp;
                    </div>
                    <div id="divUsers">
                        <table class="table table-striped mar_top" style="margin-bottom:0px !important">
                            <thead>
                                <tr>                                  
                                    <th ng-click="MU.OrderBy = MU.OrderBy(MU.OrderBy, 'personName')">Name</th>
                                    <th ng-click="MU.OrderBy = MU.OrderBy(MU.OrderBy, 'email')">Email</th>
                                    <th ng-click="MU.OrderBy = MU.OrderBy(MU.OrderBy, 'personType')">Person Type</th>
                                    <th ng-click="MU.OrderBy = MU.OrderBy(MU.OrderBy, 'status')">Status</th>
                                    <th ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false"></th>
                                    <th ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="MU.UserList_Filtered.length == 0"><td colspan="6" class="text-center">No Record Found</td></tr>

                                <tr ng-repeat="person in MU.UserList_Filtered | orderBy : MU.OrderBy | offset: MU.currentPage * MU.ItemCountPerPage | limitTo: MU.ItemCountPerPage" ng-if="MU.UserList_Filtered.length > 0">
                                    <td>{{person.personName}}</td>
                                    <td>{{person.email}}</td>
                                    <td>{{person.personType}}</td>
                                    <td>{{person.status}}</td>
                                    <td ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">
                                        <!--<button class="btn btn-succes pull-right" ng-if="person.status == 'In-Active'" ng-click="MU.ChangeUserStatus(person.personId,person.email,'Active')" style="width: 139px;"><i class="fa fa-user"></i> Activate User</button>-->
                                        <i class="fa fa-user grey-user pull-right" ng-if="person.status == 'In-Active'" ng-click="MU.ChangeUserStatus(person.personId,person.email,'Active')" ></i>
                                        <!--<button class="btn btn-warning pull-right" ng-if="person.status == 'Active'" ng-click="MU.ChangeUserStatus(person.personId,person.email,'In-Active')"><i class="fa fa-user"></i> Deactivate User</button>-->
                                        <i class="fa fa-user yellow-user pull-right" ng-if="person.status == 'Active'" ng-click="MU.ChangeUserStatus(person.personId,person.email,'In-Active')"></i>
                                    </td>
                                    <td ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">
                                        <!--<button class="btn btn-info" ng-if="person.status == 'Active'" ng-click="MU.ResendLoginCredential(person.personId,person.email)"><i class="fa fa-envelope"></i> Mail Credential</button>-->
                                        <i class="fa fa-envelope blue-envelop" ng-if="person.status == 'Active'" ng-click="MU.ResendLoginCredential(person.personId,person.email)" style="margin-top:0px; position:absolute"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mar_top_button" ng-hide="MU.UserList_Filtered.length == 0">
                        <ul class="pagination">
                            <li ng-class="MU.PageService.PrevPageDisabled(MU.currentPage)">
                                <a ng-click="MU.currentPage = MU.PageService.PrevPage(MU.currentPage)">« Prev</a>
                            </li>
                            <li ng-repeat="n in MU.PageService.Range(MU.UserList_Filtered.length,MU.currentPage,MU.ItemCountPerPage)"
                                ng-class="{active: n == MU.currentPage}"
                                ng-click="MU.currentPage = n">
                                <a>{{n+1}}</a>
                            </li>
                            <li ng-class="MU.PageService.NextPageDisabled(MU.UserList_Filtered.length,MU.currentPage,MU.ItemCountPerPage)">
                                <a ng-click="MU.currentPage = MU.PageService.NextPage(MU.UserList_Filtered.length,MU.currentPage,MU.ItemCountPerPage)">Next »</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="clearfix"></div>
    </div>

    <div ng-include="'Shared View/_Loader.html'"></div>


</div>