md-sidenav {
    box-sizing: border-box;
    position: fixed;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 60;
    width: 56px;
    max-width: 320px;
    bottom: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
/*md-sidenav{width:70px;}*/
md-sidenav md-toolbar{width: 210px;}
md-sidenav md-content{width: 210px;    height: 100% !important;}
.layout-padding{padding:0px;}
md-content{    overflow-x: hidden;}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #2c2d31;
    color: rgba(255,255,255,0.87);
}
md-autocomplete{background: #008bff;    border-radius: 0px;
    display: block;
    height: 64px;
    position: relative;
    overflow: visible;
    min-width: 190px;
    padding: 0px 0 !important;}
md-autocomplete input:not(.md-input) {
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: 0;
    background: 0 0;
    width: 100%;
    padding: 0 15px;
    line-height: 32px;
        height: 58px;
    font-family: lato-regular;
    font-size: 16px;
    color: #fff;
}
md-autocomplete md-autocomplete-wrap {
    display: block;
    position: relative;
    overflow: visible;
    height: 64px;
}
.md-autocomplete-suggestions li {
    line-height: 45px;
    height: 45px;
}
.item-title{color: #333333;
    float: left;
    font-family: 'Lato-regular';
    font-size: 14px;}
.item-meta strong{color: #777777;padding:0px 0px 0 5px;display: inline-block;font-weight:normal}
.item-metastat strong{color: #777777;padding:0px;display: inline-block;font-weight:normal}
.md-autocomplete-suggestions li{border-left: 3px solid transparent;}
.md-autocomplete-suggestions li:hover{border-left: 3px solid #008bff;}
.sb-search form{margin-bottom:0;}
#accordion .icon-hide a:before {
    visibility: hidden;
}
md-sidenav.md-locked-open, md-sidenav.md-locked-open-add, md-sidenav.md-locked-open-remove, md-sidenav.md-locked-open-remove.md-closed, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed.md-sidenav-right
{position:fixed;}
.md-sidenav-left{    overflow-x: hidden;;}
.md-sidenav-left, .md-sidenav-left md-content{background: #2c2d31;overflow: hidden;}
.md-sidenav-left .panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}
.md-sidenav-left .panel-group {
    margin-bottom: 0;
    background: #2c2d31;
	padding: 0px;
}
.md-sidenav-left .panel:last-child {
  border-bottom: none;
}

.md-sidenav-left .panel-group > .panel:first-child .panel-heading {
  border-radius: 0;
}

.md-sidenav-left .panel-group .panel {
  border-radius: 0;
}

.md-sidenav-left .panel-group .panel + .panel {
  margin-top: 0;
}

.md-sidenav-left .panel-heading {
  background-color: #2c2d31 ;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
}
.md-sidenav-left .panel-title a:hover{color:#fff !important;}
.md-sidenav-left .collapsed {
border-left: 3px solid #2c2d31;}
.md-sidenav-left .panel-title a {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px 0px;
    font-family: 'Lato-Regular';
    padding: 15px 12px 15px 12px;
    position: relative;
    color: #959595 !important;
}
.md-sidenav-left .collapsed {
    border-left: 3px solid #2c2d31;
}.md-sidenav-left .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0px solid #ddd;
}
.md-sidenav-left .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #212225;
}
md-sidenav .panel-body {
    padding: 0px;
}
.md-sidenav-left .panel-body {
    background: #212225;
}
.md-sidenav-left .panel .active{ background: #212225;}
.md-sidenav-left .panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.md-sidenav-left .panel:last-child .panel-heading {
  border-radius: 0px;
  transition: border-radius 0.3s linear 0.2s;
}

.md-sidenav-left .panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.md-sidenav-left .panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}
.panel-heading.active .panel-title a{border-left: 3px solid #212225;}
.md-sidenav-left .panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}
.md-sidenav-left .panel:first-child .panel-title {    padding-top: 0px;}
.md-sidenav-left .panel-title {
           padding: 5px 0 0px;
    margin: 0px 0 0px;
}
.md-sidenav-left .panel-title a i{    padding-right: 15px;
    vertical-align: sub;
    margin-right: 15px;}
#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: '\e909';
  transform: scale(1);
  transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
  content: '\e316';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 15px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}
.sub-menu .active3{border-left:none;}

.errormsg {
    color: red;
}

._md-container{
    display: inline-block;
  }