﻿<div ng-hide="1==1">
    <table id="tblFinance" class="table table-striped">
        <thead>
            <tr>
                <th ng-click="FC.lstTransections_OrderBy = FC.OrderBy(FC.lstTransections_OrderBy, 'payType')">Type</th>
                <th ng-click="FC.lstTransections_OrderBy = FC.OrderBy(FC.lstTransections_OrderBy, 'tranDate')">Transaction Date</th>
                <th ng-click="FC.lstTransections_OrderBy = FC.OrderBy(FC.lstTransections_OrderBy, 'fromName')">Owner/Tenant</th>
                <th ng-click="FC.lstTransections_OrderBy = FC.OrderBy(FC.lstTransections_OrderBy, 'amount')">Amount</th>
                <th ng-click="FC.lstTransections_OrderBy = FC.OrderBy(FC.lstTransections_OrderBy, 'payMode')">Comment</th>
                <!--<th ng-click="FC.lstTransections_OrderBy = FC.OrderBy(FC.lstTransections_OrderBy, 'category')">Payment Category</th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transection in FC.lstTransections_Filtered | orderBy : FC.lstTransections_OrderBy">
                <td>{{transection.transactionType}}-{{transection.billInvoice}}</td>
                <td>{{transection.transactionDate | date}}</td>
                <td>{{transection.ownerTenant}}</td>
                <td>{{transection.drcr}} {{transection.amount | currency}}</td>
                <td>{{transection.comment}}</td>
                <!--<td>{{transection.category}}</td>-->
            </tr>
        </tbody>
    </table>
</div>