﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style type="text/css">
        table tr th {
            background: #337ab7;
            color: white;
            text-align: left;
            vertical-align: center;
        }
    </style>

   
</head>
<body>
    <div class="container">
        <div class="panel">
            <div class="panel-heading border">
                <h2>
                    Data table using jquery datatable in Angularjs
                </h2>
            </div>
            <div class="panel-body">
                IC.Tabledata       {{IC.Tabledata}}
                <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="IC.dataTableOpt">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start Date</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr ng-repeat="n in IC.Tabledata">
                            <td>{{$index+1}}</td>
                            <td>{{n[0]}}</td>
                            <td>{{n[1]}}</td>
                            <td>{{n[2]}}</td>
                            <td>{{n[3]}}</td>
                            <td>{{n[4] | date:'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
