﻿<div class="container-fluid wrap1" ng-if="userData.personType == PersonTyp.property_manager">
    <div class="vt-breadcrumb">
        <div class="col-md-5 col-xs-12 vt-brdcrumb-wrap">
            <img class="bld-img" src="images/bld-icon.png" />
            <h5>
                {{menuActive}}
                <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                <span>Finance <img src="images/right-arrow.png" /></span>
                <span>{{menuActive}}</span>
            </h5>
        </div>
        <div class="vt-filter">
            <a href="#IncmExpnseRpt" class="vt-btn2">View Reports</a>
            <button class="vt-btn2" ng-click="IC.CreateInvoice()" ng-if="userData.personType == PersonTyp.property_manager && menuActive == 'Invoices' && userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">Create Invoice</button>
            <a ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false" href="#payment" class="vt-btn2">Make Payment</a> 
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="container mar_top2em pad_0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="ap-btn tab_menu">
            <li class="first_tab" ng-class="{'active2' : menuActive == 'Financial Summary'}"><a href="#summary">Financial Summary</a></li>
            <li ng-class="{'active2' : menuActive == 'Invoices'}"><a href="#invoices">Invoices</a></li>
            <li ng-class="{'active2' : menuActive == 'Payments'}"><a href="#payments">Payments</a></li>
            <li ng-class="{'active2' : menuActive == 'liabilities'}"><a href="#liabilities">Liabilities</a></li>
            <li class="pull-right">
            </li>
        </ul>

    </div>
</div>