﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>

    <div ng-controller="propayRegController as PRC" ng-init="PRC.LoadFunction()" class="min-higt" layout="column" ng-cloak>

        <div>
            <div class="container-fluid wrap1">
                <div class="vt-breadcrumb">
                    <div class="col-md-5 col-xs-12 vt-brdcrumb-wrap">
                        <img class="bld-img" src="images/bld-icon.png" />
                        <h5>
                            Registration Form
                            <br /><span>
                                <a ng-if="PRC.PersonTypeId==1" href="#home">Home</a>
                                <a ng-if="PRC.PersonTypeId==2" href="#OwnerHome">Home</a>
                                <a ng-if="PRC.PersonTypeId==3" href="#TenantHome">Home</a>
                                <img src="images/right-arrow.png" />
                            </span>
                            <span>PM Admin</span>
                            <span>Registration Form</span>
                        </h5>
                    </div>
                </div>
            </div>


            <div class="container mar_top2em">

                <form class="form-horizontal" name="frmPropay" novalidate role="form">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border" style="color:#000 !important">Merchant Registration Form</legend>
                        <div>
                            <div class="row marginnone padd10topBottom">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Personal Info</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-6 mar_btm">
                                            <label for="firstName">
                                                First Name:
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmPropay.txt_firstName.$dirty && frmPropay.txt_firstName.$invalid">
                                                    <span ng-show="frmPropay.txt_firstName.$error.required">First name is required.</span>
                                                </span>
                                            </label>
                                            <input name="txt_firstName" ng-model="PRC.MdlPropay_Profile.PorpayProfile.firstName"
                                                   placeholder="First Name" class="form-control form2 " type="text" maxlength="20" required>
                                        </div>
                                        <div class="col-md-6 mar_btm">
                                            <label for="lastName">
                                                Last Name:
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmPropay.txt_lastName.$dirty && frmPropay.txt_lastName.$invalid">
                                                    <span ng-show="frmPropay.txt_lastName.$error.required">Last name is required.</span>
                                                </span>
                                            </label>
                                            <input name="txt_lastName" placeholder="Last Name" ng-model="PRC.MdlPropay_Profile.PorpayProfile.lastName"
                                                   class="form-control form2" type="text" maxlength="25" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6 mar_btm">
                                            <label for="dob">
                                                DOB:
                                                <span class="errormsg">*</span>
                                            </label>
                                            <div flex-gt-xs class="form2">
                                                <md-datepicker ng-model="PRC.MdlPropay_Profile.PorpayProfile.dob" md-placeholder="DOB"
                                                               md-max-date="PRC.MaxDate" ng-init="PRC.DisableInput_DTP()"></md-datepicker>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mar_btm">
                                            <label for="dayPhone">
                                                Phone:
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmPropay.txt_Phone.$dirty && frmPropay.txt_Phone.$invalid">
                                                    <span ng-show="frmPropay.txt_Phone.$error.required">Phone number is required.</span>
                                                    <span ng-show="!frmPropay.txt_Phone.$valid">Enter valid phone number.</span>
                                                </span>
                                            </label>
                                            <input name="txt_Phone" ng-model="PRC.MdlPropay_Profile.PorpayProfile.phone"
                                                   class="form-control form2" type="text" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6 mar_btm" ng-if="PRC.MdlPropay_Profile.PorpayProfile.email">
                                            <label for="sourceEmail">
                                                Email:
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmPropay.txt_email.$dirty && frmPropay.txt_email.$invalid">
                                                    <span class="errormsg" ng-show="frmPropay.txt_email.$error.required">Email is required! </span>
                                                    <span class="errormsg" ng-show="frmPropay.txt_email.$dirty && frmPropay.txt_email.$error.pattern">Please Enter Valid Email</span>
                                                </span>
                                            </label>
                                            <input name="txt_email" placeholder="Email" ng-model="PRC.MdlPropay_Profile.PorpayProfile.email"
                                                   class="form-control form2" ng-disabled="true" type="text" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" maxlength="150" required>
                                        </div>
                                        <div class="col-md-6 mar_btm" ng-if="!PRC.MdlPropay_Profile.PorpayProfile.email">
                                            <label for="sourceEmail">
                                                Email:
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmPropay.txt_email.$dirty && frmPropay.txt_email.$invalid">
                                                    <span class="errormsg" ng-show="frmPropay.txt_email.$error.required">Email is required! </span>
                                                    <span class="errormsg" ng-show="frmPropay.txt_email.$dirty && frmPropay.txt_email.$error.pattern">Please Enter Valid Email</span>
                                                </span>
                                            </label>
                                            <input name="txt_email" placeholder="Email" ng-model="PRC.MdlPropay_Profile.PorpayProfile.email"
                                                   class="form-control form2" type="text" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" maxlength="150" required>
                                        </div>
                                        <div class="col-md-6 mar_btm">
                                            <label for="ssn">
                                                ssn:
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmPropay.txt_ssn.$dirty && frmPropay.txt_ssn.$invalid">
                                                    <span ng-show="frmPropay.txt_ssn.$error.required">ssn is required.</span>
                                                    <span ng-show="!frmPropay.txt_ssn.$valid">Invalid ssn.</span>
                                                </span>
                                            </label>
                                            <input name="txt_ssn" placeholder="ssn" ng-model="PRC.MdlPropay_Profile.PorpayProfile.ssn"
                                                   class="form-control form2" type="text" ng-pattern="/^[0-9]{9}$/" maxlength="9" numbers-only required>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Address Info</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-6 mar_btm">
                                            <label for="addr">
                                                Address:
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmPropay.txt_addr.$dirty && frmPropay.txt_addr.$invalid">
                                                    <span ng-show="frmPropay.txt_addr.$error.required">Address is required.</span>
                                                </span>
                                            </label>
                                            <input name="txt_addr" placeholder="Address" ng-model="PRC.MdlPropay_Profile.Address.line1"
                                                   class="form-control form2" type="text" maxlength="95" required>
                                        </div>
                                        <div class="col-md-6 mar_btm">
                                            <label for="country">
                                                Country:
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmPropay.country.$dirty && frmPropay.country.$invalid">
                                                    <span ng-show="frmPropay.country.$error.required">Select a country.</span>
                                                </span>
                                            </label>
                                            <input type="text" name="country" ng-model="PRC.selectedCountry"
                                                   typeahead="country as  country.Name for country in PRC.Country
                                       | filter:$viewValue | limitTo:8" class="form-control form2" required>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6 mar_btm">
                                            <label for="state">
                                                State:
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmPropay.state.$dirty && frmPropay.state.$invalid">
                                                    <span ng-show="frmPropay.state.$error.required">Select a state.</span>
                                                </span>
                                            </label>
                                            <input type="text" name="state" ng-disabled="PRC.selectedCountry == undefined || PRC.selectedCountry == ''"
                                                   ng-model="PRC.selectedState"
                                                   typeahead="state as  state.Name for state in PRC.State | filter:$viewValue | limitTo:8"
                                                   typeahead-on-select="PRC.GetCountyByStateId($model)" class="form-control form2" required>
                                        </div>

                                        <div class="col-md-6 mar_btm">
                                            <label for="county">
                                                County:
                                                <!--<span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmPropay.county.$dirty && frmPropay.county.$invalid">
                                                    <span ng-show="frmPropay.county.$error.required">Select a county.</span>
                                                </span>-->
                                            </label>
                                            <input type="text" name="county" ng-disabled="PRC.selectedState == undefined || PRC.selectedState == ''"
                                                   ng-model="PRC.selectedCounty"
                                                   typeahead-on-select="PRC.ChangeCity($model)" typeahead="county as  county.name for county in PRC.County
                                       | filter:$viewValue | limitTo:15" class="form-control form2">

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6 mar_btm">
                                            <label for="city">
                                                City:
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmPropay.city.$dirty && frmPropay.city.$invalid">
                                                    <span ng-show="frmPropay.city.$error.required">Select a city.</span>
                                                </span>

                                            </label>
                                            <input type="text" name="city" ng-disabled="PRC.selectedState == undefined || PRC.selectedState == ''"
                                                   ng-model="PRC.selectedCity" typeahead="city as  city.Name for city in PRC.City
                                       | filter:$viewValue | limitTo:35" class="form-control form2" required>

                                        </div>
                                        <div class="col-md-6 mar_btm">
                                            <label for="zip">
                                                Zip:
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmPropay.txt_zip.$dirty && frmPropay.txt_zip.$invalid">
                                                    <span ng-show="frmPropay.txt_zip.$error.required">Zip is required! Max length 5</span>
                                                    <span ng-show="!frmPropay.txt_zip.$valid">Enter valid Zip.</span>
                                                </span>
                                                <span ng-if="!pZipValid" class="errormsg">Invalid ZipCode</span>
                                            </label>
                                            <input name="txt_zip" placeholder="Zip"
                                                   ng-model="PRC.MdlPropay_Profile.Address.zipcode"
                                                   class="form-control form2" type="text"
                                                   ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/"
                                                   ng-blur="ValidateZipCode(PRC.MdlPropay_Profile.Address.zipcode,'txt_zip')"
                                                   required>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="row marginnone padd10topBottom">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Account Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-6 mar_btm">
                                            <label>Bank Name</label>
                                            <input class="form-control form2" type="text" placeholder="Bank Name"
                                                   maxlength="50" ng-model="PRC.MdlPropay_Profile.PorpayProfile.bankName" name="bankName">
                                        </div>
                                        <div class="col-md-6 mar_btm">
                                            <label>Account Name</label>
                                            <input class="form-control form2" type="text" placeholder="Account Name"
                                                   maxlength="32" ng-model="PRC.MdlPropay_Profile.PorpayProfile.accountName" name="accountName">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6 mar_btm">
                                            <label>Account Number</label>
                                            <input class="form-control form2" type="text" placeholder="Account Number"
                                                   maxlength="25" ng-model="PRC.MdlPropay_Profile.PorpayProfile.accountNumber" name="accountNumber">

                                        </div>
                                        <div class="col-md-6 mar_btm">
                                            <label>Account Country Code</label>
                                            <input class="form-control form2" type="text" placeholder="Account Country Code"
                                                   maxlength="3" ng-model="PRC.MdlPropay_Profile.PorpayProfile.accountCountryCode" name="accountCountryCode">

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6 mar_btm">
                                            <label>Routing Number</label>
                                            <input class="form-control form2" type="text" placeholder="Routing Number"
                                                   maxlength="25" ng-model="PRC.MdlPropay_Profile.PorpayProfile.routingNumber" name="routingNumber">

                                        </div>
                                        <div class="col-md-6 mar_btm">
                                            <label></label>
                                            <div class="input-group">
                                                <label>Account Ownership Type</label>
                                                <br />
                                                <input class="radio-inline" type="radio" ng-model="PRC.MdlPropay_Profile.PorpayProfile.accountOwnershipType" value="Personal">&nbsp; Personal
                                                <input class="radio-inline" type="radio" ng-model="PRC.MdlPropay_Profile.PorpayProfile.accountOwnershipType" value="Business">&nbsp; Business
                                            </div>

                                        </div>
                                        <div class="col-md-12 pad_0">
                                            <div class="col-md-6 mar_btm">
                                                <div class="input-group">
                                                    <label>Account Type</label>
                                                    <br />
                                                    <input class="radio-inline" type="radio" ng-model="PRC.MdlPropay_Profile.PorpayProfile.accountType" value="C">&nbsp; Checking

                                                    <input class="radio-inline" type="radio" ng-model="PRC.MdlPropay_Profile.PorpayProfile.accountType" value="S">&nbsp; Saving

                                                    <!--<input class="radio-inline" type="radio" ng-model="PRC.MdlPropay_Profile.PorpayProfile.accountType" value="G">&nbsp; General-Ledger-->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="row marginnone padd10topBottom">
                                <label for="termcondition">
                                    <span class="errormsg" ng-show="frmPropay.termcondition.$dirty && frmPropay.termcondition.$invalid || PRC.TermCondition==false" aria-hidden="false">
                                        <span ng-show="!PRC.TermCondition">Check Term Condition</span>
                                    </span>
                                </label>
                                <div class="col-md-4">

                                    <div class="pretty p-default">
                                        <input type="checkbox" name="termcondition" class="inputCheckbox form-control form2" ng-model="PRC.TermCondition" ng-change="PRC.ShowTC(PRC.TermCondition)" required />
                                        <div class="state">
                                            <label></label>
                                        </div>

                                    </div>
                                    I accept the <a onclick="window.open('https://www.propay.com/en-US/Legal/ProFac-Sub-merchant-Terms-and-Conditions', '_system')"> Terms and Conditions </a><span class="errormsg">*</span>
                                </div>

                                <img class="imo propaylogo" src="images/PropayLogo.png" />
                                <!--<input type="checkbox" class="PRC.TermCondition" ng-model="" /> I accept the <a> Terms and Conditions </a><span class="errormsg">*</span>-->
                            </div>
                            <div class="row marginnone padd10topBottom">
                                <div class="col-md-12" style="padding-top: 12px;">
                                    <!--<button class="btn btn-danger" ng-click="PRC.Cancle(frmPropay)"><a style="text-decoration: none; color:#fff" href="#summary">Cancel</a></button>-->

                                    <button ng-if="userData.personType == PersonTyp.property_manager && userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false" class="btn btn-success save_button pull-right" ng-click="PRC.RegisterMarchant(frmPropay)" ng-class="{disabled: frmPropay.$invalid}">Submit</button>
                                    <button ng-if="userData.personType != PersonTyp.property_manager" class="btn btn-success save_button pull-right" ng-click="PRC.RegisterMarchant(frmPropay)" ng-class="{disabled: frmPropay.$invalid }">Submit</button>

                                    <a style="text-decoration: none; color:#fff" href="#home" ng-if="userData.personType == PersonTyp.property_manager"><button class="btn btn_close cancel_button pull-left" ng-click="PRC.Cancle(frmPropay)">Cancel</button></a>
                                    <a style="text-decoration: none; color:#fff" href="#TenantHome" ng-if="userData.personType == PersonTyp.tenant"><button class="btn btn_close cancel_button pull-left" ng-click="PRC.Cancle(frmPropay)">Cancel</button></a>
                                    <a style="text-decoration: none; color:#fff" href="#OwnerHome" ng-if="userData.personType == PersonTyp.owner"><button class="btn btn_close cancel_button pull-left" ng-click="PRC.Cancle(frmPropay)">Cancel</button></a>

                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div ng-include="'Shared View/_Loader.html'"></div>
        </div>

        <!--<div class="modal fade-scale" id="mdl_ShowTermCondition" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header model-headerColor">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="PRC.Closemdl_ShowTermCondition()"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Propay Term & Condition</h4>
                    </div>
                    <div class="modal-body mdlbodyTopPadding">
                        <iframe src="{{PRC.TermConditionUrl}}" style="width:100%;height:700px;" >
                            
                        </iframe>
                    </div>
                </div>
            </div>
        </div>-->
    </div>

</body>
</html>