﻿<style>
    #myCarousel .carousel-indicators {
        position: absolute;
        bottom: 28px !important;
        right: 0;
        left: 0;
        z-index: 0;
        width: 124px !important;
        padding-left: 0;
        margin-left: -32%;
        text-align: center;
        list-style: none;
        margin: 0 auto;
    }

    .attach-doc {
        margin-left: 16px;
        margin-bottom: 14px;
        margin-top: 2px;
    }
    .expire {
        color: #ec0a0a;
    }
    .btn-past {
        font-size: 15px;
        margin-left: 12px !important;
        background-color: #008bff;
    }

    .divworkorder .container-fluid {
        padding-left: unset!important;
        margin-right: unset!important;
        margin-left: unset!important;
        padding-right: unset!important;
    }

    .divworkorder.container {
        padding-top: 0px;
    }

    table#tblPropertyFinancialIncome th, table#tblPropertyFinancialIncome td {
        width :25%;
    }

     table#tblPropertyFinancialExpense th, table#tblPropertyFinancialExpense td {
        width :25%;
    }

</style>


<div ng-controller="propertiesController as propertyctrl" ng-show="!userData.isSubscriptionExpired" ng-init="LoadPropertyProfile()" class="min-higt" layout="column" ng-cloak>
    <section layout="row" flex >
        <md-content class="content" flex layout-padding >

            <div class="clearfix"></div>
            <div class="container-fluid wrap1">
                <div class="vt-breadcrumb">
                    <div class="col-md-5 col-xs-12 vt-brdcrumb-wrap">
                        <img class="bld-img" src="images/bld-icon.png" />
                        <h5>
                            Properties
                            <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                            <span><a href="#properties">Properties</a> <img src="images/right-arrow.png" /></span>
                            <span>Property Profile</span>
                        </h5>
                    </div>
                    <div class="vt-filter" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">
                        <a id="btnCreateLease" name="btnCreateLease" href="#create_lease/{{selectedProperty.pId}}" class="vt-btn1">Create Lease</a>
                        <div class="dropdown pull-left">
                            <button class="vt-btn2">Actions</button>
                            <div class="dropdown-content">
                                <a href="#edit_property/{{selectedProperty.pId}}">Edit Property</a>
                                <a ng-click="MessageToPerson(selectedProperty.pPrimaryOwnerEmail,'owner')">Message Owner</a>
                                <a ng-if="PropertyHasActiveLease == true" ng-click="MessageToPerson(tenantEmail,'tenant')">Message Tenant</a>
                                <a href="#payment/{{selectedProperty.pId}}">Make Payment</a>
                                <a href="#property/createworkorder/{{selectedProperty.pId}}">Create Work Order</a>
                                <a ng-click="OpenDeletePropertyConfirmationModal(selectedProperty.pId)">Archive Property</a>
                                <a ng-show="tab == 4" ng-click="uploadDocument()"> Upload Document </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="container wrap2">
                <div class="profile-div col-lg-12 col-md-12 col-sm-12 col-xs-12 marg_auto pad_0">
                    <div>
                        <div class="">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile-left" style="border-right: 1px solid #eaeaea;">
                                <div class="prof-wrap1" style="border:none">
                                    <!-- Carousel Slider -->
                                    <div id="myCarousel" class="col-lg-12 col-xs-12 col-md-12 carousel slide pad_0">
                                        <!-- Wrapper for Slides -->
                                        <div class="carousel-inner">

                                            <div class="item active" ng-if="selectedProperty.photosArray.length == 0">
                                                <div class="fill" ng-style="{'background-image': 'url(../Uploads/Properties/Photos/DefaultImage.png)'}"></div>
                                            </div>

                                            <div class="item" ng-class="{'active': $index == 0}" ng-repeat="image in selectedProperty.photosArray" ng-if="selectedProperty.photosArray.length > 0">
                                                <div class="fill" ng-style="{'background-image': 'url(../Uploads/Properties/Photos/'+image.LinkId+'-' + image.Name + '.png?cp='+randomNumber+')'}"></div>
                                            </div>
                                        </div>
                                        <span class="residentials">{{selectedProperty.pCategoryName}}</span>
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators" ng-if="selectedProperty.photosArray.length > 1">
                                            <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{'active': $index == 0}" ng-repeat="image in selectedProperty.photosArray"></li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="prof-wrap2 sub-wrap3" style="width: 100%;border-top: 1px solid #ddd;padding: 2px 18px;">
                                    <h3 class="mar_h3 "><span> <i class="fa fa-user"></i>Owner:</span> <a class="a" style="text-decoration:underline;" href="#owners/{{selectedProperty.pId}}/{{selectedProperty.pOwnerId}}/{{selectedProperty.pOwnerPOID}}/{{selectedProperty.isOwnerCompany}}">{{selectedProperty.pOwnerName}}</a></h3>
                                    <h3 class="mar_h3">
                                        <span> <i class="fa fa-envelope"></i> Email:</span> {{selectedProperty.pOwnerEmail}}<br>
                                    </h3>
                                    <h3 class="mar_h3">
                                        <span><i class="fa fa-phone"></i> Phone:</span> {{selectedProperty.pOwnerPhone}}
                                    </h3>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 profile-right">
                                <div class="sub-wrap3">
                                    <span class="ppty-type" ng-show="showLeaseResidential(selectedProperty)"><img src="images/properties/leased.png" /> {{selectedProperty.pStatusName}}</span>
                                    <span class="ppty-type" ng-show="showLeaseCommercial(selectedProperty)"><img src="images/properties/leased-comercial.png" /> {{selectedProperty.pStatusName}}</span>
                                    <span class="ppty-type" ng-show="(selectedProperty.pStatusId == 7)"><img src="images/properties/listed.png" /> {{selectedProperty.pStatusName}}</span>
                                    <span class="ppty-type" ng-show="(selectedProperty.pStatusId == 4 || selectedProperty.pStatusId == 6) "><img src="images/properties/vacant.png" /> {{selectedProperty.pStatusName}}</span>
                                    <div class="clearfix"></div>
                                    <h2 class="text col-md-12 col-lg-12 pad_0" style="margin-bottom:0px">{{selectedProperty.pAddress}} {{selectedProperty.pCity}} {{selectedProperty.pState}} {{selectedProperty.pZipCode}}</h2>
                                    <div class="pptywrap-1 col-lg-6 col-xs-6">
                                        <h3><span>Property Name: </span>{{selectedProperty.pName}}</h3>
                                        <h3><span>Property ID: </span>P{{selectedProperty.pId}}</h3>
                                        <h3><span>Gross Area: </span> {{selectedProperty.pGrossArea == 0 ? 'N/A' : selectedProperty.pGrossArea}} {{selectedProperty.pGrossArea == 0 ? '' : 'sq.ft'}}</h3>
                                        <h3><span>Rentable Area: </span>{{selectedProperty.pRentableArea == 0 ? 'N/A' : selectedProperty.pRentableArea}} {{selectedProperty.pRentableArea == 0 ? '' : 'sq.ft'}}</h3>
                                        <h3><span>Base Rent: </span> {{selectedProperty.pBaseRent | currency}}</h3>
                                        <h3><span>Property Tax: </span> {{selectedProperty.pPropertyTax | currency}}</h3>
                                        <h3><span>Parking: </span> {{selectedProperty.pParkingSpaces == null ? 'N/A' : selectedProperty.pParkingSpaces}}</h3>
                                        <h3 ng-if="selectedProperty.pManagementFeeType == 'Percentage' && !selectedProperty.pIsHomeWarrantyTaken && !selectedProperty.pIsHomeWarrantyTaken"><span>Management Fee : </span> {{ selectedProperty.pManagementFee }}% </h3>
                                        <h3 ng-if="selectedProperty.pManagementFeeType == 'Amount'  && !selectedProperty.pIsHomeWarrantyTaken && !selectedProperty.pIsHomeWarrantyTaken"><span>Management Fee : </span> {{ selectedProperty.pManagementFee | currency }} </h3>
                                    </div>
                                    <div class="pptywrap-2 col-lg-6 col-xs-6">
                                        <h3><span>Description : </span> {{selectedProperty.pDescription == null ? 'N/A' : selectedProperty.pDescription}} </h3>
                                        <h3><span>Airport Name : </span> {{selectedProperty.pAirportName == null ? 'N/A' : selectedProperty.pAirportName}} </h3>
                                        <h3><span>Airport Distance : </span> {{selectedProperty.pAirportDistance == null ? 'N/A' : selectedProperty.pAirportDistance}} {{selectedProperty.pAirportDistance == null ? '' : 'Mile(s)'}}</h3>
                                        <h3><span>Zoning : </span> {{selectedProperty.pZoning == null ? 'N/A' : selectedProperty.pZoning}} </h3>
                                        <h3><span>Land Acres : </span> {{selectedProperty.pLandAcres == null ? 'N/A' : selectedProperty.pLandAcres}} </h3>
                                        <h3 ng-if="selectedProperty.pManagementFeeType == 'Percentage' && selectedProperty.pIsHomeWarrantyTaken && selectedProperty.pIsHomeWarrantyTaken"><span>Management Fee : </span> {{ selectedProperty.pManagementFee }}% </h3>
                                        <h3 ng-if="selectedProperty.pManagementFeeType == 'Amount'  && selectedProperty.pIsHomeWarrantyTaken && selectedProperty.pIsHomeWarrantyTaken"><span>Management Fee : </span> {{ selectedProperty.pManagementFee | currency }} </h3>
                                        <h3 ng-if="!selectedProperty.pIsHomeWarrantyTaken">
                                            <span> Home Insurance: </span> N/A
                                        </h3>
                                        <h3 ng-if="!selectedProperty.pIsHomeWarrantyTaken">
                                            <span> Warranty Info: </span> N/A
                                        </h3>
                                    </div>
                                </div>

                                <div>
                                    <div class="col-lg-12 collapse in col-md-12 pad_0" id="demo">
                                        <div style="width:100%">
                                            <accordion close-others="true" id="property_additionalinfo">
                                                <accordion-group style="background-color:inherit" is-open="status.isfirstOpen">
                                                    <accordion-heading>
                                                        <h2 style="margin-top: 6px;">
                                                            <span style="color: #464646;font-family: 'Lato-Bold';font-size: 15px;">  HOA : <span style="color: #008bff;">{{selectedProperty.pHOA}} </span> </span>
                                                            <i class="pull-right glyphicon" style="font-size:15px !important;" ng-class="{'glyphicon-minus': status.isfirstOpen, 'glyphicon-plus': !status.isfirstOpen}"></i>
                                                        </h2>
                                                    </accordion-heading>
                                                    <div class="sub-wrap3 col-lg-12 col-xs-12 pad_0">
                                                        <div class="col-md-6 col-lg-6 col-xs-12 pad_0">
                                                            <h3><span>HOA Amount : </span> {{ selectedProperty.pHoaAmount | currency }} </h3>
                                                        </div>
                                                        <div class="col-md-6 col-lg-6 col-xs-12">
                                                            <h3><span> HOA Payment Frequency : </span> {{selectedProperty.HOAPaymentFrequency == null ? 'N/A' : selectedProperty.HOAPaymentFrequency}}</h3>
                                                        </div>
                                                    </div>
                                                </accordion-group>
                                                <accordion-group style="background-color:inherit" ng-if="selectedProperty.pIsHomeWarrantyTaken" is-open="status.issecondOpen">
                                                    <accordion-heading>
                                                        <h2 style="margin-top: 6px;">
                                                            <span style="color: #464646;font-family: 'Lato-Bold';font-size: 15px;"> Warranty : <span style="color: #008bff;">{{selectedProperty.pHomeWarrantyCompanyName}} </span></span>
                                                            <i class="pull-right glyphicon" style="font-size:15px !important;" ng-class="{'glyphicon-minus': status.issecondOpen, 'glyphicon-plus': !status.issecondOpen}"></i>
                                                        </h2>
                                                    </accordion-heading>
                                                    <div class="sub-wrap3 col-lg-12 col-xs-12 pad_0">
                                                        <div class="col-md-6 col-lg-6 col-xs-12 pad_0">
                                                            <h3 ng-if="selectedProperty.pIsHomeWarrantyTaken"><span> Start Date : </span> {{selectedProperty.pHomeWarrantyStartDate | date}} </h3>
                                                            <h3 ng-if="selectedProperty.pIsHomeWarrantyTaken"><span> Send Reminder: </span>{{selectedProperty.pHomeWarrantySendReminder == true ? "Yes" :"No" }} </h3>
                                                        </div>
                                                        <div class="col-md-6 col-lg-6 col-xs-12">
                                                            <h3 ng-if="selectedProperty.pIsHomeWarrantyTaken"><span> Company Phone: </span> {{selectedProperty.pHomeWarrantyCompanyPhoneNo}} </h3>
                                                            <h3 ng-if="selectedProperty.pIsHomeWarrantyTaken"><span> End Date : </span> {{selectedProperty.pHomeWarrantyEndDate | date}} </h3>
                                                        </div>
                                                    </div>
                                                </accordion-group>

                                                <accordion-group style="background-color:inherit" ng-if="selectedProperty.pIsHomeInsuranceTaken" is-open="status.isthirdOpen">
                                                    <accordion-heading>
                                                        <h2 style="margin-top: 6px;">
                                                            <span style="color: #464646;font-family: 'Lato-Bold';font-size: 15px;"> Insurance : <span style="color: #008bff;">{{selectedProperty.pHomeInsuranceCompanyName}}</span> </span>
                                                            <i class="pull-right glyphicon" style="font-size:15px !important;" ng-class="{'glyphicon-minus': status.isthirdOpen, 'glyphicon-plus': !status.isthirdOpen}"></i>
                                                        </h2>
                                                    </accordion-heading>
                                                    <div class="sub-wrap3 col-lg-12 col-xs-12 pad_0">
                                                        <div class="col-md-6 col-lg-6 col-xs-12 pad_0">
                                                            <h3 ng-if="selectedProperty.pIsHomeInsuranceTaken"><span> Start Date : </span> {{selectedProperty.pHomeInsuranceStartDate | date}} </h3>
                                                            <h3 ng-if="selectedProperty.pIsHomeInsuranceTaken"><span> Send Reminder : </span> {{ selectedProperty.pHomeWarrantySendReminder == true ? "Yes": "No"}} </h3>
                                                        </div>
                                                        <div class="col-md-6 col-lg-6 col-xs-12">
                                                            <h3 ng-if="selectedProperty.pIsHomeInsuranceTaken"><span> Company Phone No : </span> {{selectedProperty.pHomeInsuranceCompanyPhoneNo}} </h3>
                                                            <h3 ng-if="selectedProperty.pIsHomeInsuranceTaken"><span> End Date : </span> {{selectedProperty.pHomeInsuranceEndDate | date}} </h3>
                                                        </div>
                                                    </div>
                                                </accordion-group>
                                            </accordion>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="container mar_top2em">
                <div class="col-lg-12 col-md-12 col-xs-12 pad_0 marg_auto">
                    <ul class="tab_menu">
                        <li class="first_tab" ng-class="tab1Class"><a ng-click="ShowTabNumber = 1;setTabClass('1')">Financials</a></li>
                        <li ng-class="tab2Class"><a ng-click="ShowTabNumber = 2;setTabClass('2')">Work Order</a></li>
                        <li ng-class="tab4Class"><a ng-click="ShowTabNumber = 4;setTabClass('4')">Documents</a></li>
                        <li ng-class="tab5Class"><a ng-click="ShowTabNumber = 5;setTabClass('5')" style="border-right:1px solid #ccc">Leases</a></li>
                        <li ng-class="tab6Class"><a ng-click="ShowTabNumber = 6;setTabClass('6')">Events</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>

            <!-- Financials-->
            <div class="container tab-wrap2" ng-show="ShowTabNumber == 1" ng-init="LoadPropertyFinancial(viewPropertyId)">

                <div class="inner_div">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12 paddingbottom13">
                        <div style="margin-top:1em">
                            <span class="tabel-head"> Income Expense</span>
                        </div>
                        <table width="100%" class="exp-table ng-scope" id="tblPropertyFinancialIncome">
                            <thead class="th-title">
                                <tr>
                                    <th colspan="2">Income</th>
                                    <th colspan="2" style="text-align:right !important;"><a href="#IncmExpnseRpt/{{selectedProperty.pOwnerId}}/{{selectedProperty.pOwnerPOID}}/{{selectedProperty.pId}}/{{selectedProperty.isOwnerCompany}}">View report</a></th>
                                </tr>
                            </thead>
                            <thead class="th-title2" style="background-color:#f3f5f7 !important;">
                                <tr>
                                    <th>Item</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Year-to-date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tranRecd in mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.lstMdlOwnerIncomeByPropertyIdLeaseId">
                                    <td>{{tranRecd.type}}</td>
                                    <td>{{tranRecd.category}}</td>
                                    <td>{{tranRecd.mtd | currency}}</td>
                                    <td>{{tranRecd.ytd | currency}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Total Income</td>
                                    <td>{{mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.totalIncomeMTD | currency}}</td>
                                    <td>{{mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.totalIncomeYTD | currency}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <table width="100%" class="exp-table ng-scope mar_top" id="tblPropertyFinancialExpense">
                            <thead class="th-title">
                                <tr>
                                    <th colspan="4">Expenses</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tranRecd in mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.lstMdlOwnerExpenseByPropertyIdLeaseId">
                                    <td>{{tranRecd.type}}</td>
                                    <td>{{tranRecd.category}}</td>
                                    <td>{{tranRecd.mtd | currency}}</td>
                                    <td>{{tranRecd.ytd | currency}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Total Expenses</td>

                                    <td>{{mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.totalExpenseMTD | currency}}</td>
                                    <td>{{mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.totalExpenseYTD | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Work order-->
            <div class="divworkorder container tab-wrap2" ng-if="ShowTabNumber == 2">
                <div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12 padd-zero">
                        <div ng-include="'Work_Orders.html'"></div>
                    </div>
                </div>
            </div>

            <!-- Occupancy-->
            <div class="container tab-wrap2" ng-if="ShowTabNumber == 3">
                <div class="inner_div">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12">
                        <table width="100%" class="exp-table">
                            <thead class="th-title2">
                                <tr>
                                    <th></th>
                                    <th> Tenant</th>
                                    <th> Contact </th>
                                    <th> Additonal Occupments </th>
                                    <th> Addtional Pricing </th>
                                    <th> LISTED ID </th>
                                    <th> LISTEDIN </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="l in leaseslist">
                                    <td> <span ng-show="l.pLeaseExpire" class="expire"> Expiring Soon </span></td>
                                    <td>
                                        {{split(l.Tenants,',',0)}}
                                    </td>
                                    <td>
                                        {{l.TenantPhone}}
                                    </td>
                                    <td> Additonal Occuments </td>
                                    <td> Addtional Pricing </td>
                                    <td> Listed It{{l.pId}} </td>
                                    <td> <button class="btn" style="background-color:#008bff" ng-click=""> List It</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Documents-->
            <div class="container tab-wrap2" ng-if="ShowTabNumber == 4">
                <div class="inner_div">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12">
                        <table width="100%" class="exp-table mar_btm1em mar_top1em" >

                            <thead class="th-title">
                                <tr>
                                    <th width="20%">Document Name</th>
                                    <th width="20%">Document Description</th>
                                    <th width="20%">Document Tags</th>
                                    <th width="12%">Uploaded Date</th>
                                    <th width="28%">View Doc </th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat="doc in selectedProperty.docsArray" ng-if="selectedProperty.docsArray.length > 0">

                                    <td><i class="fa fa-file"></i> &nbsp; {{doc.documentName.split('.')[0]}}</td>
                                    <td>{{doc.documentDesc}}</td>
                                    <td>{{doc.documentTags}}</td>
                                    <td>{{doc.documentCreationDate  | date}}</td>
                                    <td> <a ng-click="openUrl(selectedProperty.pId +'-'+ doc.documentName)">  {{doc.documentName.split('.')[0]}}</a></td>
                                </tr>
                                <tr ng-if="selectedProperty.docsArray.length == 0">
                                    <td colspan="5"><p class="P-Center">No Record Found</p></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <!-- Leases-->
            <div class="container tab-wrap2" ng-if="ShowTabNumber == 5">
                <div class="inner_div">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12">
                        <div style="margin-top:1em">
                            <span class="tabel-head" ng-show="ShowActiveLease == true"> Active Leases: <span class="tab-notify">{{ leaseslist.length}}</span> </span>
                            <span class="tabel-head" ng-show="ShowActiveLease == false"> Past Leases: <span class="tab-notify">{{ leaseslist.length}}</span> </span>
                        </div>
                        <table width="100%" class="exp-table mar_top1em" ng-if="leaseslist.length > 0">
                            <thead class="th-title">
                                <tr>
                                    <th>LeaseID</th>
                                    <th>Tenant</th>
                                    <th>Rent</th>
                                    <th>Start Date </th>
                                    <th>End Date </th>
                                    <th>Payment Frequency </th>
                                    <th>Security Deposit </th>
                                    <th>Tenant Contact </th>
                                    <th>Additional Occupants </th>
                                    <th>Assigned Parking </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="l in leaseslist  | filter: filterBySelection()">
                                    <td><a href="#leaseview/{{l.pId}}/{{selectedProperty.pId}}" style="text-decoration:underline;">{{l.pLeaseId}}</a> <br /> <span class="errormsg" ng-if="l.pLeaseValidityDays < 30 && l.pLeaseValidityDays > 0"><sup>Expiring in {{l.pLeaseValidityDays}} day(s)</sup></span></td>
                                    <td>
                                        {{split(l.Tenants,',',0)}}
                                    </td>
                                    <td>{{l.pRentalAmount}} </td>
                                    <td>{{l.pStartDate | date}} </td>
                                    <td>{{l.pEndDate | date}}</td>
                                    <td>{{l.pPaymentFrequencyName}}</td>
                                    <td>{{l.pSecurityDeposit}} </td>
                                    <td>{{l.TenantPhone}}</td>
                                    <td>{{l.OccupentCount == null ? 0 : l.OccupentCount}}</td>
                                    <td>{{l.pParkingSpaces == null ? 0 : l.pParkingSpaces}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="margintop3 mar_btm1em" ng-if="ShowActiveLease == true">
                            <!--<span> Show Past Leases :</span>-->
                            <button class="btn btn-primary" ng-click='FilterLeases("InActive")'>
                                <i class="fa fa-file-text-o"></i> Show Past Leases
                            </button>
                        </div>

                        <div class="margintop3 mar_btm1em" ng-if="ShowActiveLease == false">
                            <!--<span> Show Active Leases :</span> &nbsp;&nbsp;-->
                            <button class="btn btn-primary" ng-click='FilterLeases("Active")'>
                                <i class="fa fa-file-text-o"></i> Show Active Leases
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Leases-->
            <!-- Events-->
            <div class="diveventTracker container tab-wrap2" ng-if="ShowTabNumber == 6">
                <div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12 padd-zero">
                        <div ng-include="'Views/EventTracker/EventTracker.html'"></div>
                    </div>
                </div>
            </div>

        </md-content>
    </section>
    <div >
        <div class="modal fade-scale" id="uploadDocument" role="dialog" aria-labelledby="uploadDocument">
            <div class="modal-dialog" role="document" style="width:50% !important">
                <div class="modal-content">
                    <div class="modal-header model-headerColor">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Upload Document</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="padd_zero marg1 col-lg-12 attach-doc">
                                    <label><b> Attach documents.</b></label>
                                    <input type="file" multiple value="Upload" id="flUploadDocuments" title="Load files..." onchange="angular.element(this).scope().documentSelected(this)" />
                                </div>
                            </div>
                            <form name="userForm" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">
                                <div class="lease-form col-sm-12 col-xs-12" ng-repeat="doc in selectedProperty.docsArray">
                                    <div ng-if="!doc.isDeleted">

                                        <div class="col-sm-3 col-xs-10 form-group">
                                            <label>Document Name</label>
                                            <span class="form2">{{doc.documentName.split('.')[0]}}</span>
                                        </div>
                                        <div class="col-sm-5 col-xs-8 form-group">
                                            <label>
                                                Document Description
                                                <span class="errormsg">*</span><span class="errormsg" ng-show="userForm.docDesc_{{$index}}.$dirty && userForm.docDesc_{{$index}}.$invalid">
                                                    <span ng-show="userForm.docDesc_{{$index}}.$error.required">Document name is required.</span>
                                                </span>
                                            </label>
                                            <input type="text" placeholder="Document name" class="form2" name="docDesc_{{$index}}" ng-model="doc.documentDesc" required />
                                        </div>
                                        <div class="col-sm-3 col-xs-8 form-group">
                                            <div>
                                                <label>Document Tags</label>
                                                <input type="text" placeholder="Document tags" class="form2" name="docTags" ng-model="doc.documentTags" />
                                            </div>
                                        </div>
                                        <div class="col-sm-1 col-xs-1 form-group">
                                            <label>&nbsp;</label>
                                            <!--<img src="./images/remove.png" ng-click="removeDocument(doc.counter)" />-->
                                            <i class="fa fa-trash" style="font-size:17px;color:#6b6767;" ng-click="removeDocument(doc.counter)"></i>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="padd_zero col-lg-12">
                                        <div class="col-md-6 col-sm-6 col-xs-6 form-group paddLeft_zero">
                                            <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-success btn-block btn1" ng-click="uploadDocuments(selectedProperty.pId)">
                                                Upload Document
                                            </button>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 form-group paddRight_zero">
                                            <button class="btn btn-danger btn-block btn1" ng-click="closeuploadDocument()">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--<div class="padd_zero col-lg-12">
                                <div class="col-md-6 col-sm-6 col-xs-6 form-group paddLeft_zero">
                                    <span> </span>
                                    <button class="btn btn-success btn-block btn1 btn-width" ng-disabled="frmSupportTicket.$invalid"
                                            type="submit" ng-click="SaveSupportTicket(frmSupportTicket)">
                                        Submit
                                    </button>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'Shared View/_Loader.html'"></div>
        <div class="modal" id="DeletePropertyConfirmation">
            <div ng-include="'Views/alert/alert_ConfirmMessage.html'"></div>
        </div>
    </div>
    <div ng-include="'Shared View/PartialView/Finance/_ExportExcelTable.html'"></div>
</div>


