﻿

<div>
    <div class="clearfix"></div>
    <div class="container-fluid wrap1">
        <div class="vt-breadcrumb">
            <div class="vt-brdcrumb-wrap col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <img class="bld-img" src="images/bld-icon.png" />
                <h5>
                    {{pTypeName}}
                    <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                    <span>Contacts <img src="images/right-arrow.png" /></span>
                    <span>{{pTypeName}}</span>
                </h5>
            </div>
            <div class="vt-filter">
                <!--<a href="#createvendor" class="vt-btn1 pull-right">New contact</a>-->
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid tab-wrap5">
        <div id="accord4" class="col-lg-9 col-md-9 col-sm-9 col-xs-12 marg_auto wrap8">
            <div class="col-lg-12">
                <div class="wrap8-col col-lg-6 col-md-12 col-sm-12 col-xs-12" ng-repeat="per in personlist">
                    <div class="inner-wrap row marginnone">
                        <div class="col-md-3">
                            <!--<span class="initial">{{per.Initial}}</span>-->
                           

                            <img  ng-if="per.pImage != null && per.pImage != ''" class="img-responsive mar_top1em" ng-src="../Uploads/Person/Photos/{{per.pId}}-ImageProfileImagePersonId_{{per.pId}}.png" alt="Image" style="height:110px;" />

                            <!--<img ng-if="per.pImage != null && per.pImage != ''" class="img-responsive mar_top1em" ng-src="../{{per.pImage}}"  alt="Image"/>-->
                            <img ng-if="per.pImage == null || per.pImage == ''" src="../../images/DefaulProfileImage.png" />                            
                        </div>
                        <div class="right-wrap col-md-8">
                            <div class="asst-row1">
                                <h3 ng-if="pTypeId == PersonTypeIdEnum.owner"><a href="#owners/{{per.pId}}/{{per.ownerPOID}}/{{per.ownerIsCompany}}">{{per.pFullName}}</a></h3>
                                <h3 ng-if="pTypeId == PersonTypeIdEnum.tenant"><a href="#tenants/{{per.pId}}">{{per.pFullName}}</a></h3>
                                <h4>{{per.pAddress}}</h4>
                            </div>
                            <div>
                                <h5>
                                    <span><i class="material-icons">email</i> <a class="anchor_disable">{{per.pEmail}}</a></span>
                                </h5>
                                <h5>
                                    <span style="width:140px"><i class="material-icons">phone</i> {{per.pPhoneNo}}</span>
                                    <!--<span ng-if="pTypeId == PersonTypeIdEnum.tenant" style="width:140px"><i class="material-icons">print</i> {{per.pFax == ' ' ? '' : per.pFax}}</span>-->
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
