<style>
    .back-color {
        background-color: gainsboro !important;
    }
</style>

<div ng-controller="propertiesController" ng-show="!userData.isSubscriptionExpired" class="min-higt" layout="column" ng-cloak ng-init="LoadAddEdit()">
    <div class="clearfix"></div>
    <div class="container wrap1">
        <div class="vt-breadcrumb">
            <div class="vt-brdcrumb-wrap padd6 col-lg-4 col-xs-12">
                <img class="bld-img" src="images/bld-icon.png">
                <h5>
                    {{PropertyEntryMode}} Property
                    <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                    <span><a href="#properties">Properties</a> <img src="images/right-arrow.png" /></span>
                    <span>{{PropertyEntryMode}} Property</span>
                </h5>
            </div>
            <div class="vt-filter">
                <ul class="menu4"></ul>
            </div>
        </div>
    </div>
    <div class="container-fluid wrapnew" style="margin-top:13px">
        <div class="vt-brdcrumb-wrap col-lg-4 col-xs-10 pad_0">
            <ul class="menu2">
                <li id="liBasicInfo" class="active"><a id="stp11" ng-click="showtab1(false)">1. Basic Info</a></li>
                <li id="liAddlInfo"><a id="stp22" ng-click="showtab2(false)">2. Additional Info</a></li>
                <li id="liDocuments"><a id="stp33" ng-click="showtab3(false)">3. Documents</a></li>
            </ul>
        </div>
        <div class="vt-filter">
        </div>
    </div>
    <div class="container-fluid">
        <div class="container pad_0">
            <div class="tab-content">

                <div id="step1tab" ng-show="step1Show" class="tab-pane fade in active">
                    <div id="accord4" class="work-wrap">
                        <div class="lease-form col-xs-12">
                            <form name="propForm" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Basic Info</legend>
                                    <div class="image-upload col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="img-one" id="divimage1">
                                            <label for="file-input">
                                                <i class="material-icons">add</i>
                                            </label>
                                            <input id="file-input" class="file1" type="file" name="image1"
                                                   onchange="angular.element(this).scope().fileSelected(this)" />
                                        </div>
                                        <div class="img-two" id="divimage2">
                                            <label for="file-input1">
                                                <i class="material-icons">add</i>
                                            </label>
                                            <input id="file-input1" class="file2" type="file" name="image2"
                                                   onchange="angular.element(this).scope().fileSelected(this)" />
                                        </div>
                                        <div class="img-two" id="divimage3">
                                            <label for="file-input2">
                                                <i class="material-icons">add</i>
                                            </label>
                                            <input id="file-input2" class="file3" type="file" name="image3"
                                                   onchange="angular.element(this).scope().fileSelected(this)" />
                                        </div>
                                        <div class="img-two" id="divimage4">
                                            <label for="file-input3">
                                                <i class="material-icons">add</i>
                                            </label>
                                            <input id="file-input3" class="file4" type="file" name="image4"
                                                   onchange="angular.element(this).scope().fileSelected(this)" />
                                        </div>
                                        <div class="img-two" id="divimage5">
                                            <label for="file-input4">
                                                <i class="material-icons">add</i>
                                            </label>
                                            <input id="file-input4" class="file5" type="file" name="image5" onchange="angular.element(this).scope().fileSelected(this)" />
                                        </div>
                                    </div>

                                    <div class="padd-lease col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>Category <span class="errormsg">*</span><span class="errormsg" ng-show="!propForm.ddlpropertycategory.$pristine && propForm.ddlpropertycategory.$invalid">Select Property Category.</span></label>
                                            <input type="hidden" name="ptyId" ng-model="pId" />

                                            <select id="ddlPropertyCategory" name="ddlpropertycategory" ng-model="pPropertyCategory" ng-options="s.Name for s in propertycategorieslist track by s.Id" required>
                                                <option value=""><-----Select Property Category-----></option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">

                                            <label>Type <span class="errormsg">*</span><span class="errormsg" ng-show="!propForm.ddlpropertytype.$pristine && propForm.ddlpropertytype.$invalid">Select Property Type</span></label>
                                            <select id="ddlPropertyType" name="ddlpropertytype" ng-model="pPropertyType" ng-options="s.Name for s in propertytypesfilteredlist track by s.Id" required>
                                                <option value=""><-----Select Property Type-----></option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <!--<label>Property Name <span class="errormsg">*</span><span class="errormsg" ng-show="!propForm.ptyname.$pristine && propForm.ptyname.$invalid"> Enter Property Name</span></label>-->
                                            <label>
                                                Property Name
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="!propForm.ptyname.$pristine && propForm.ptyname.$invalid">
                                                    Property name is required
                                                </span>
                                            </label>
                                            <input type="text" class="form2" name="ptyname" ng-model="pName" maxlength="40"
                                                   placeholder="Property Name" required />
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>Mail Box #</label>
                                            <input type="text" class="form2" ng-model="pMailBoxNo" name="mailboxno" maxlength="10" placeholder="Mail Box #" />
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>Address <span class="errormsg">*</span><span class="errormsg" ng-show="!propForm.address.$pristine && propForm.address.$invalid">Address is required</span></label>
                                            <input type="text" class="form2" ng-model="pAddress" name="address" maxlength="95" placeholder="Address" required />
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>Country<span class="errormsg">*</span><span class="errormsg" ng-show="!propForm.country.$pristine && propForm.country.$invalid"> Select Country</span></label>
                                            <ui-select ng-model="pCountry" theme="selectize"
                                                       name="ddlcountry"
                                                       on-select="checkCountry($model)"
                                                       title="Select Country" required>
                                                <ui-select-match placeholder="Select or search a country">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="country in countrieslist | orderBy : 'Name' | filter: $select.search">
                                                    <span ng-bind-html="country.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>
                                                State
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="!propForm.state.$pristine && propForm.state.$invalid"> Select State</span>
                                            </label>

                                            <ui-select ng-model="$parent.pState" theme="selectize"
                                                       name="ddlstate" ng-disabled="showState"
                                                       on-select="checkState($model)" title="Select State" required>
                                                <ui-select-match placeholder="Select or search a state">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="state in stateslist | orderBy : 'Name' | filter: $select.search">
                                                    <span ng-bind-html="state.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">

                                            <label>County</label>
                                            <ui-select ng-model="$parent.pCounty" theme="selectize"
                                                       name="ddlcounty" ng-disabled="showCounty"
                                                       title="Select county" on-select="checkCounty($model)">
                                                <ui-select-match placeholder="Select or search a county">
                                                    {{$select.selected.name}}
                                                    <button class="clearddl" data-toggle="tooltip" data-placement="bottom" title="Cancel selection" ng-click="$parent.clearddl($event)">X</button>
                                                </ui-select-match>
                                                <ui-select-choices repeat="county in countieslist | orderBy : 'name' | filter: $select.search">
                                                    <span ng-bind-html="county.name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                    </div>
                                    <div class="padd_zero col-lg-12">
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">

                                            <label>City<span class="errormsg">*</span><span class="errormsg" ng-show="!propForm.city.$pristine && propForm.city.$invalid"> Select City</span></label>
                                            <ui-select ng-model="$parent.pCity" theme="selectize"
                                                       name="ddlcity" ng-disabled="showCity"
                                                       title="Select city" on-select="SetCityModel($model);" required>
                                                <ui-select-match placeholder="Select or search a city">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="city in citieslist | orderBy : 'Name' | filter: $select.search | limitTo:35">
                                                    <span ng-bind-html="city.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>
                                                Zip Code
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="propForm.zipcode.$dirty && propForm.zipcode.$invalid">
                                                    <span ng-show="propForm.zipcode.$error.required">Zip code is required.</span>
                                                    <span ng-show="propForm.zipcode.$error.pattern"> The zip code must have 5 digits with an optional - and 4 more digits.</span>
                                                </span>
                                                <span ng-if="!pZipValid" class="errormsg">Invalid zip code</span>
                                            </label>

                                            <input type="text" class="form2" ng-model="pZipCode"
                                                   ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/"
                                                   ng-blur="ValidateZipCode(pZipCode,'zip_code')" name="zipcode" id="zip_code"
                                                   placeholder="Zip Code" maxlength="5" required />
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Base Rent ($)</label>
                                            <input type="text" class="form2 rightText" ng-model="pBaseRent" name="baserent" placeholder="0" maxlength="10" only-digits />
                                        </div>

                                    </div>
                                    <div class="padd_zero col-lg-12">
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Tax ($)</label>
                                            <input type="text" class="form2 rightText" ng-model="pPropertyTax" name="propTax" placeholder="0" maxlength="10" only-digits />
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <!--<label>Gross Area (Sq Ft)<span class="errormsg">*</span><span class="errormsg" ng-show="!propForm.grossarea.$pristine && propForm.grossarea.$invalid"> Gross area is required</span></label>-->
                                            <label>Gross Area (Sq Ft)</label>
                                            <input type="text" class="form2" ng-model="pGrossArea" name="grossarea" ng-keyup="GrossAreaChange($event)" placeholder="Gross Area" maxlength="15" only-digits />
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>
                                                Rentable Area (Sq Ft)
                                                <!--<span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="!propForm.rentablearea.$pristine && propForm.rentablearea.$invalid">
                                                    Rentable area is required
                                                </span>-->
                                            </label>
                                            <input type="text" class="form2" ng-model="pRentableArea" name="rentablearea" placeholder="Rentable Area" maxlength="15" only-digits max-limit="{{pGrossArea}}" with-max-limit />
                                        </div>
                                    </div>
                                    <div class="padd_zero col-lg-12">

                                        <div class="col-md-4 col-sm-4 col-sm-4 col-xs-12 form-group">
                                            <label>Parking Spaces</label>
                                            <input type="text" class="form2" ng-model="pParkingSpaces" name="parkingspaces" placeholder="Parking Spaces" numbers-only maxlength="4" />
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>HOA</label>

                                            <div class="row marginnone">
                                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padd-zero">
                                                    <select class="form-control" name="ddlhoa" ng-model="pHOA" ng-options="s.hoaName for s in hoalist track by s.id">
                                                        <option value=""><----- Select Association -----></option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padd-zero">
                                                    <a id="addrow" class="btn-max clone5 vt-btn3 floatRight" style="margin:unset;font-size: 19px;" data-toggle="modal" data-target="#mdlAddHOA" title="Add HOA">
                                                        <i class="glyphicon glyphicon-plus-sign"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-4 col-sm-4 col-sm-4 col-xs-12 form-group">
                                            <label>HOA Amount</label>
                                            <input type="text" class="form2 rightText" ng-model="pHoaAmount" name="hoaAmount" placeholder="0" maxlength="10" only-digits />
                                        </div>

                                    </div>

                                    <div class="padd_zero col-lg-12">

                                        <div class="col-md-4 col-sm-4 col-sm-4 col-xs-12 form-group">
                                            <label> HOA Payment Frequency</label>

                                            <select name="hoaPaymentFreq" ng-model="HOAPaymentFrequency"
                                                    ng-options="paymtFreq for paymtFreq in mdlHoaPaymentFreq">
                                                <option value=""><----- Select HOA payment frequency -----></option>
                                            </select>
                                            <!--<input type="text" class="form2" ng-model="pHoaDate" name="hoaDate" placeholder="HOA Payment Date (Day of month 1-30)" min="1" max="30" maxlength="2" only-digits-max-thirtyone />-->
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-sm-4 col-xs-12 form-group">
                                            <label>HOA Payment Date</label>
                                            <div flex-gt-xs>
                                                <md-datepicker ng-model="pHoaDate" md-placeholder="HOA Payment Date"
                                                               ng-init="DisableInput_DTP()"></md-datepicker>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-sm-4 col-xs-12 form-group">
                                            <label>Management Fee</label>
                                            <div class="row marginnone">
                                                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-9 padd-zero">
                                                    <input type="text" class="form2 text-right" ng-show="pManagementFeeType == 'Amount'" style="padding-right: 5px;"
                                                           ng-model="pManagementFee" name="managementFee" placeholder="Management Fee" maxlength="10" only-digits />

                                                    <input type="text" class="form2 rightText" name="managementFee" ng-show="pManagementFeeType == 'Percentage'"
                                                           placeholder="0" ng-model="pManagementFee" min="0" max="100" only-digits-max-hundread />
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-2 col-xs-3 padd-zero">
                                                    <select style="border-left:0px !important" name="ManagementFeeType" ng-model="pManagementFeeType" ng-change="FeeTypeChange(pManagementFeeType)"
                                                            ng-options="markupType for markupType in ManagementFeeType"></select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="padd_zero col-lg-12">
                                        <div class="col-md-4 col-sm-4 col-sm-4 col-xs-12 form-group">
                                            <label>Management Fee Date</label>
                                            <div flex-gt-xs>
                                                <md-datepicker ng-model="pManagementFeeDate" md-placeholder="Management Fee Date"
                                                               ng-init="DisableInput_DTP()"></md-datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <div></div>
                                <div class="padd-lease lease-form">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-40" layout="row">
                                        <label>Owner Type:&nbsp;<span class="errormsg">*</span></label>
                                        <md-radio-group ng-model="Ownertype" layout="row" class="lease-form">
                                            <md-radio-button value="individual" class="md-primary">Group of individuals</md-radio-button>
                                            <md-radio-button value="company">Company</md-radio-button>
                                        </md-radio-group>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_0 mar_top_button">



                                        <div class="create-panel" ng-if="Ownertype == 'company'">
                                            <fieldset class="scheduler-border">
                                                <legend class="scheduler-border">Company Info</legend>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-40" layout="row">
                                                    <label>Choose From Existing Company:&nbsp;</label>
                                                    <md-radio-group ng-model="pAddNewCompany" layout="row" class="lease-form" ng-change="ClearCompany(pAddNewCompany)">
                                                        <!--ng-click="AddNewUserFunction()"-->
                                                        <md-radio-button value="0" class="md-primary">Yes</md-radio-button>
                                                        <md-radio-button value="1">No</md-radio-button>
                                                    </md-radio-group>
                                                </div>

                                                <div class="col-xs-12 clonedInput6 pad_0" ng-if="pAddNewCompany == 0">
                                                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-40" layout="row"><label>Existing Company</label></div>-->
                                                    <div class="padd-lease lease-form">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_0">
                                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                <label>
                                                                    Company Name
                                                                    <span class="errormsg">*</span><span class="errormsg" ng-show="propForm.ddlCompany.$dirty && propForm.ddlCompany.$invalid">
                                                                        <span ng-show="propForm.CompanyName.$error.required">Company Name is required.</span>
                                                                    </span>
                                                                </label>

                                                                <select class="form-control" name="ddlCompany" ng-change="CompanyChanged(pCompany.POID)" ng-model="pCompany" ng-options="s.CompanyName for s in CompanyList track by s.POID" required>
                                                                    <option value="">----- Select Company ----</option>
                                                                </select>
                                                                <!--<input type="text" class="form2" name="CompanyName" placeholder="Company Name"
                                                                       ng-model="OwnerMaster.CompanyName" maxlength="50" required />-->
                                                            </div>

                                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                <label>
                                                                    Email
                                                                    <span class="errormsg">*</span><span class="errormsg" ng-show="propForm.Email.$dirty && propForm.Email.$invalid">
                                                                        <span ng-show="propForm.Email.$error.required">Email is required.</span>
                                                                        <span ng-show="propForm.Email.$error.pattern">Invalid email</span>
                                                                    </span>
                                                                </label>
                                                                <input type="text" class="form2 disabledinput" name="Email" ng-pattern="eml_addess" maxlength="140" ng-disabled="PropertyEntryMode == 'Edit'" placeholder="Email" ng-model="OwnerMaster.Email" required />
                                                            </div>

                                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                <label>
                                                                    Contact Person
                                                                    <span class="errormsg">*</span><span class="errormsg" ng-show="propForm.lblContactPerson.$dirty && propForm.lblContactPerson.$invalid">
                                                                        <span ng-show="propForm.lblContactPerson.$error.required">Contact Person is required.</span>
                                                                    </span>
                                                                </label>
                                                                <input type="text" class="form2 disabledinput" name="lblContactPerson" maxlength="50" placeholder="Contact Person"
                                                                       ng-model="OwnerMaster.ContactPerson" required />
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_0">
                                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                <label>
                                                                    Phone
                                                                    <span class="errormsg">*</span><span class="errormsg" ng-show="propForm.lblContactNum.$dirty && propForm.lblContactNum.$invalid">
                                                                        <span ng-show="propForm.lblContactNum.$error.required">Phone is required.</span>
                                                                    </span>
                                                                </label>
                                                                <input type="text" class="form2 disabledinput" name="lblContactNum"
                                                                       ng-model="OwnerMaster.ContactNum" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required />
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 clonedInput6 pad_0" ng-if="pAddNewCompany == 1">
                                                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-40" layout="row"><label>Create New Company</label></div>-->
                                                    <div class="clearfix"></div>
                                                    <fieldset class="scheduler-border">
                                                        <legend></legend>
                                                        <div class="padd-lease lease-form">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_0">
                                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                    <label>
                                                                        Company Name
                                                                        <span class="errormsg">*</span><span class="errormsg" ng-show="propForm.CompanyName.$dirty && propForm.CompanyName.$invalid">
                                                                            <span ng-show="propForm.CompanyName.$error.required">Company Name is required.</span>
                                                                        </span>
                                                                    </label>
                                                                    <input type="text" class="form2" name="CompanyName" placeholder="Company Name"
                                                                           ng-model="OwnerMaster.CompanyName" maxlength="50" required />
                                                                </div>

                                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                    <label>
                                                                        Email
                                                                        <span class="errormsg">*</span><span class="errormsg" ng-show="propForm.Email.$dirty && propForm.Email.$invalid">
                                                                            <span ng-show="propForm.Email.$error.required">Email is required.</span>
                                                                            <span ng-show="propForm.Email.$error.pattern">Invalid email</span>
                                                                        </span>
                                                                        <span class="errormsg">
                                                                            <span ng-show="isOwnerMasterEmailExist == true">Email is already exist.</span>
                                                                        </span>
                                                                    </label>
                                                                    <input type="text" class="form2" name="Email" ng-pattern="eml_addess" maxlength="140" ng-disabled="PropertyEntryMode == 'Edit'" placeholder="Email"
                                                                           ng-blur="CheckEmailAvailability(OwnerMaster.Email,'company')" ng-model="OwnerMaster.Email" required />
                                                                </div>

                                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                    <label>
                                                                        Contact Person
                                                                        <span class="errormsg">*</span><span class="errormsg" ng-show="propForm.lblContactPerson.$dirty && propForm.lblContactPerson.$invalid">
                                                                            <span ng-show="propForm.lblContactPerson.$error.required">Contact Person is required.</span>
                                                                        </span>
                                                                    </label>
                                                                    <input type="text" class="form2" name="lblContactPerson" maxlength="50" placeholder="Contact Person"
                                                                           ng-model="OwnerMaster.ContactPerson" required />
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad_0">
                                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                    <label>
                                                                        Phone
                                                                        <span class="errormsg">*</span><span class="errormsg" ng-show="propForm.lblContactNum.$dirty && propForm.lblContactNum.$invalid">
                                                                            <span ng-show="propForm.lblContactNum.$error.required">Phone is required.</span>
                                                                        </span>
                                                                    </label>
                                                                    <input type="text" class="form2" name="lblContactNum"
                                                                           ng-model="OwnerMaster.ContactNum" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required />
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </fieldset>
                                                </div>

                                            </fieldset>
                                        </div>

                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                        <a id="addrow" class="marg20 btn-max clone5 vt-btn3 floatRight" data-toggle="modal" data-target="#mdlAddOwner">
                                            <i class="glyphicon glyphicon-plus-sign"></i> Add Owner
                                        </a>
                                        <table id="tblPersonOwner" class="table table-bordered tableborder">
                                            <thead style="background-color:#ebebeb;">
                                                <tr>
                                                    <th> # </th>
                                                    <th> First Name </th>
                                                    <th> Last Name </th>
                                                    <th> Email </th>
                                                    <th> Phone No </th>
                                                    <th> Isprimary </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="owner in lstOwners">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{owner.pFirstName}}</td>
                                                    <td>{{owner.pLastName}}</td>
                                                    <td>{{owner.pEmail}}</td>
                                                    <td>{{owner.pPhoneNo}}</td>
                                                    <td>
                                                        <md-radio-group ng-model="owner.Isprimary" layout="row" ng-click="SetPrimary($index)" class="lease-form">
                                                            <md-radio-button value="1" class="md-primary"></md-radio-button>
                                                        </md-radio-group>
                                                    </td>
                                                    <td>
                                                        <span ng-click="removeRow($index)">
                                                            <!--<img src="./images/remove.png" />-->
                                                            <i class="fa fa-trash" style="font-size:17px;color:#6b6767;"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="padd-lease lease-form">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="col-md-6 col-sm-6 col-xs-6 form-group mar_top1em">
                                                <a href="#properties" ng-if="PropertyEntryMode == 'Add'" class="vt-btn2" style="margin-left:unset;">Cancel</a>
                                                <a href="#propertyProfile/{{pId}}" ng-if="PropertyEntryMode == 'Edit'" class="vt-btn2" style="margin-left:unset;">Cancel</a>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 form-group mar_top1em">

                                                <button ng-click="UpdateProperty(false,true)" ng-if="PropertyEntryMode == 'Edit'" ng-disabled="propForm.$invalid" class="vt-btn1 custom-tab floatRight " id="steps1" style="margin-right:unset;" ng-class="{'disabledColor': propForm.$invalid == true}">Save &amp; Next</button>

                                                <button ng-click="saveProperty(false,true);showtab2(true)" ng-if="PropertyEntryMode == 'Add'" ng-disabled="propForm.$invalid || lstOwners.length < 1" class="vt-btn1 custom-tab floatRight " id="steps1" style="margin-right:unset;" ng-class="{'disabledColor': propForm.$invalid == true || isOwnerMasterEmailExist == true || lstOwners.length < 1 }">Save &amp; Next</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="step2tab" ng-show="step2Show" class="tab-pane fade">
                    <form name="propAdditionalInfoForm" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">

                        <div id="accord4" class="work-wrap">
                            <div class="lease-form col-xs-12">
                                <div class="lease-form col-xs-12 pad_0">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border">Additional Info</legend>

                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Description</label>
                                            <input type="text" class="form2" ng-model="pDescription" name="description" placeholder="Description" maxlength="190" />
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Airport Name</label>
                                            <input type="text" class="form2" ng-model="pAirportName" name="airportname" placeholder="Airport Name" maxlength="95" only-alphabets />
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Airport Distance</label>
                                            <input type="text" class="form2" ng-model="pAirportDistance" name="airportdistance" placeholder="Airport Distance" maxlength="5" only-digits />
                                        </div>
                                        <!--<div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Units of Measurement</label>
                                            <input type="text" class="form2" ng-model="pUOM" name="grossarea" placeholder="Units of Measurement" maxlength="50" only-alphabets />
                                        </div>-->
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Owned / Leased</label>
                                            <!--<input type="text" class="form2" ng-model="pListType" name="rentarea" placeholder="Owned / Leased" maxlength="100" only-alphabets />-->

                                            <select name="ownedLeased" ng-model="pListType"
                                                    ng-options="status for status in mdlPropertyStatus">
                                                <option value=""><----- N/A -----></option>
                                            </select>

                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Zoning</label>
                                            <input type="text" class="form2" ng-model="pZoning" name="zoning" placeholder="Zoning" maxlength="50" />
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Land Acres</label>
                                            <input type="text" class="form2" ng-model="pLandAcres" name="landacres" placeholder="Land Acres" maxlength="15" only-digits />
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Comments</label>
                                            <input type="text" class="form2" ng-model="pComments" name="comments" maxlength="200" />
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Custom Field 1</label>
                                            <input type="text" class="form2" ng-model="pCustomField1" name="cf1" maxlength="95" />
                                        </div>
                                    </fieldset>

                                    <div class="col-md-5 col-sm-4 col-xs-12 form-group" layout="row">
                                        <label>Do you have Warranty for the property?&nbsp;&nbsp;&nbsp;</label>

                                        <div>
                                            <md-radio-group ng-model="pIsHomeWarrantyTaken" layout="row">
                                                <md-radio-button value="1" class="md-primary">Yes</md-radio-button>&nbsp;
                                                <md-radio-button value="0" ng-click="resetHomeWarrantyData()">No</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div ng-if="pIsHomeWarrantyTaken == true">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border">Property Warranty</legend>
                                            <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                <label>
                                                    Warranty Company Name
                                                    <span class="errormsg">*</span>
                                                    <span class="errormsg" ng-show="propAdditionalInfoForm.phomewarrantycompanyname.$dirty && propAdditionalInfoForm.phomewarrantycompanyname.$invalid">
                                                        <span ng-show="propAdditionalInfoForm.phomewarrantycompanyname.$error.required">Company name is required.</span>
                                                    </span>

                                                </label>
                                                <input type="text" class="form2" ng-model="$parent.pHomeWarrantyCompanyName" maxlength="50" name="phomewarrantycompanyname" only-alphabets required />
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                <label>
                                                    Warranty Company Phone.
                                                    <span class="errormsg">*</span>
                                                    <span class="errormsg" ng-show="propAdditionalInfoForm.phomewarrantycompanyphoneno.$dirty && propAdditionalInfoForm.phomewarrantycompanyphoneno.$invalid">
                                                        <span ng-show="propAdditionalInfoForm.phomewarrantycompanyphoneno.$error.required">Phone is required.</span>
                                                    </span>
                                                </label>
                                                <input type="text" class="form2" ng-model="$parent.pHomeWarrantyCompanyPhoneNo" name="phomewarrantycompanyphoneno" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required />
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                <label>Warranty Start Date</label>
                                                <div flex-gt-xs>
                                                    <md-datepicker ng-model="$parent.pHomeWarrantyStartDate" ng-init="DisableInput_DTP()"
                                                                   name="phomewarrantystartdate" md-placeholder="Warranty Start date"
                                                                   ng-change="$parent.pHomeWarrantyEndDate = $parent.pHomeWarrantyStartDate"></md-datepicker>  <!--ng-change="$parent.pHomeWarrantyEndDate = $parent.pHomeWarrantyStartDate"-->
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                <label>Warranty End Date</label>
                                                <div flex-gt-xs>
                                                    <md-datepicker ng-model="$parent.pHomeWarrantyEndDate" ng-init="DisableInput_DTP()"
                                                                   md-min-date="$parent.pHomeWarrantyStartDate" name="phomewarrantyenddate"
                                                                   md-placeholder="Warranty End date"></md-datepicker>
                                                    <!--ng-change="$parent.CheckWarrantyEndDate()"-->
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12 form-group" style="margin-top:7px">
                                                <label>Set Reminder</label>
                                                <md-radio-group ng-model="$parent.pHomeWarrantySendReminder" layout="row">
                                                    <!--ng-change="$parent.warrantyReminderChange()"-->
                                                    <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                                    <md-radio-button value="0">No</md-radio-button>
                                                </md-radio-group>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group" layout="row">
                                        <label>Do you have Insurance for the property?&nbsp;&nbsp;&nbsp;</label>
                                        <div>
                                            <md-radio-group ng-model="pIsHomeInsuranceTaken" layout="row">
                                                <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                                <md-radio-button value="0" ng-click="resetHomeInsuranceData()">No</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div ng-if="pIsHomeInsuranceTaken == true">
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border">Property Insurance</legend>
                                            <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                <label>
                                                    Insurance Company Name
                                                    <span class="errormsg">*</span>
                                                    <span class="errormsg" ng-show="propAdditionalInfoForm.phomeInsurancecompanyname.$dirty && propAdditionalInfoForm.phomeInsurancecompanyname.$invalid">
                                                        <span ng-show="propAdditionalInfoForm.phomeInsurancecompanyname.$error.required">Company name is required.</span>
                                                    </span>
                                                </label>
                                                <input type="text" class="form2" ng-model="$parent.pHomeInsuranceCompanyName" maxlength="50" name="phomeInsurancecompanyname" only-alphabets required />
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                <label>
                                                    Insurance Company Phone.
                                                    <span class="errormsg">*</span>
                                                    <span class="errormsg" ng-show="propAdditionalInfoForm.phomeInsurancecompanyphone.$dirty && propAdditionalInfoForm.phomeInsurancecompanyphone.$invalid">
                                                        <span ng-show="propAdditionalInfoForm.phomeInsurancecompanyphone.$error.required">Phone is required.</span>
                                                    </span>
                                                </label>

                                                <input type="text" class="form2" ng-model="$parent.pHomeInsuranceCompanyPhoneNo" name="phomeInsurancecompanyphone" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required />
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                                <label>Insurance Start Date</label>

                                                <div flex-gt-xs>
                                                    <md-datepicker ng-model="$parent.pHomeInsuranceStartDate" ng-init="DisableInput_DTP()"
                                                                   ng-change="$parent.pHomeInsuranceEndDate = $parent.pHomeInsuranceStartDate"
                                                                   name="phomeInsurancestartdate" md-placeholder="Insurance Start date"></md-datepicker>
                                                </div>
                                            </div>
                                            <div class="leasedt col-md-4 col-sm-4 col-xs-12 form-group">
                                                <label>Insurance End Date</label>

                                                <div flex-gt-xs>
                                                    <md-datepicker ng-model="$parent.pHomeInsuranceEndDate" ng-init="DisableInput_DTP()"
                                                                   md-min-date="$parent.pHomeInsuranceStartDate" name="phomeInsuranceenddate" md-placeholder="Insurance End date"></md-datepicker>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-12 form-group mar_top_button">

                                                <label>Insurance Reminder</label>
                                                <md-radio-group ng-model="$parent.pHomeInsuranceSendReminder" layout="row">
                                                    <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                                    <md-radio-button value="0">No</md-radio-button>
                                                </md-radio-group>
                                                <!--ng-change="$parent.InsuranceReminderChange()"-->
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="padd-lease lease-form">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                                        <a href="#properties" ng-if="PropertyEntryMode == 'Add'" class="vt-btn2" style="margin-left:unset;">Cancel</a>

                                        <a href="#propertyProfile/{{pId}}" ng-if="PropertyEntryMode == 'Edit'" class="vt-btn2" style="margin-left:unset;">Cancel</a>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 form-group">


                                        <button ng-click="UpdatePropertyAdditionalInfo()" class="vt-btn1 custom-tab floatRight " id="steps2" style="margin-right:unset;" ng-disabled="propAdditionalInfoForm.$invalid">Save &amp; Next</button>
                                        <!--<li><a ng-click="saveProperty(false);showtab3(true)" class="vt-btn1 custom-tab" id="steps2">Save &amp; Next</a></li>-->
                                        <!--<button ng-click="saveProperty(false);showtab2(true)" ng-disabled="propForm.$invalid || isOwnerMasterEmailExist == true" class="vt-btn1 custom-tab floatRight " id="steps1" style="margin-right:unset;" ng-class="{'disabledColor': propForm.$invalid == true}">Save &amp; Next</button>-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div id="step3tab" ng-show="step3Show" class="tab-pane fade">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Attach Documents:</legend>
                        <!--<div><label>Attach documents.</label></div>-->
                        <div class="lease-form">
                            <div class="col-sm-6 col-xs-18 form-group">
                                <input type="file" multiple value="Upload" id="flUploadDocuments" title="Load files..." onchange="angular.element(this).scope().documentSelected(this)" />
                            </div>
                        </div>
                        <div class="lease-form col-sm-12 col-xs-12" ng-repeat="doc in documentArray">
                            <div ng-if="!doc.isDeleted">
                                <div class="col-sm-3 col-xs-10 form-group">
                                    <label>Document Name</label>
                                    <span class="form2">{{doc.documentName.split('.')[0]}}</span>
                                </div>
                                <div class="col-sm-3 col-xs-8 form-group">
                                    <label>Document Description</label>
                                    <input type="text" placeholder="Document name" class="form2" maxlength="200" name="docDesc" ng-model="doc.documentDesc" />
                                </div>
                                <div class="col-sm-2 col-xs-8 form-group">
                                    <div>
                                        <label>Document Tags</label>
                                        <input type="text" placeholder="Document tags" class="form2" maxlength="500" name="docTags" ng-model="doc.documentTags" />
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-8 form-group" ng-show="PropertyEntryMode == 'Edit'">
                                    <div>
                                        <label>Uploaded Date</label>
                                        <span class="form2" name="UploadedDate">{{ doc.documentCreationDate | date}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-1 form-group">
                                    <label>&nbsp;</label>
                                    <!--<img src="./images/remove.png" ng-click="removeDocument(doc.counter)" />-->
                                    <i class="fa fa-trash" style="font-size:17px;color:#6b6767;" ng-click="removeDocument(doc.counter)"></i>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="row">
                        <div class="padd-lease lease-form">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <button ng-click="savePhotos(true)" class="vt-btn1 custom-tab floatRight " id="steps3" style="margin-right:unset;">Save &amp; Close</button>
                                <!--<a ng-click="savePhotos(true)" class="vt-btn1 custom-tab" id="steps3">Save & Close</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade-scale" id="mdlAddOwner" role="dialog" aria-labelledby="mdlAddOwner">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Owner</h4>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div id="step3">


                            <div class="padd-lease lease-form">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-40" layout="row">
                                    <label>Choose From Existing Owners:&nbsp;</label>
                                    <md-radio-group ng-model="pAddNewOwner" layout="row" class="lease-form">
                                        <!--ng-click="AddNewUserFunction()"-->
                                        <md-radio-button value="0" class="md-primary">Yes</md-radio-button>
                                        <md-radio-button value="1">No</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="clearfix"></div>


                                <form name="addOwnerForm" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">

                                    <div class="padd-lease lease-form" ng-if="pAddNewOwner == 1">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-40" layout="row"><label>Create New Owner</label></div>
                                        <div class="clearfix"></div>

                                        <div class="create-panel">
                                            <div>
                                                <div id="clonedInput6" style="border: 1px solid #ebebeb;" class="col-xs-12 clonedInput6 padding26" ng-class="{'marginTop16':$index !=0}">
                                                    <div class="padd-lease lease-form">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                <label>
                                                                    First Name
                                                                    <span class="errormsg">*</span><span class="errormsg" ng-show="addOwnerForm.lblpFirstName.$dirty && addOwnerForm.lblpFirstName.$invalid">
                                                                        <span ng-show="addOwnerForm.lblpFirstName.$error.required">First name is required.</span>
                                                                    </span>
                                                                </label>
                                                                <input type="text" class="form2" name="lblpFirstName" maxlength="50" placeholder="First Name"
                                                                       ng-model="MdlOwner.pFirstName" required />
                                                            </div>

                                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                <label>
                                                                    Last Name
                                                                    <span class="errormsg">*</span><span class="errormsg" ng-show="addOwnerForm.lblpLastName.$dirty && addOwnerForm.lblpLastName.$invalid">
                                                                        <span ng-show="addOwnerForm.lblpLastName.$error.required">Last name is required.</span>
                                                                    </span>
                                                                </label>
                                                                <input type="text" class="form2" name="lblpLastName" maxlength="50" placeholder="Last Name"
                                                                       ng-model="MdlOwner.pLastName" required />
                                                            </div>

                                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                <label>
                                                                    Email
                                                                    <span class="errormsg">*</span><span class="errormsg" ng-pattern="emailAddessPattern" ng-show="addOwnerForm.lblpEmail.$dirty && addOwnerForm.lblpEmail.$invalid">
                                                                        <span ng-show="addOwnerForm.lblpEmail.$error.required">Email is required.</span>
                                                                        <span ng-show="addOwnerForm.lblpEmail.$error.pattern">Invalid email</span>
                                                                    </span>
                                                                    <span class="errormsg">
                                                                        <span ng-show="isPersonEmailExist == true">Email is already exist.</span>
                                                                    </span>
                                                                </label>
                                                                <input type="text" class="form2" name="lblpEmail" ng-pattern="eml_addess" maxlength="80" placeholder="Email"
                                                                       ng-blur="CheckEmailAvailability(MdlOwner.pEmail,'person')" ng-model="MdlOwner.pEmail" required />
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                <label>
                                                                    Phone No
                                                                    <span class="errormsg">*</span><span class="errormsg" ng-show="addOwnerForm.lblPhone.$dirty && addOwnerForm.lblPhone.$invalid">
                                                                        <span ng-show="addOwnerForm.lblPhone.$error.required">Phone is required.</span>
                                                                    </span>
                                                                </label>
                                                                <input type="text" class="form2" name="lblPhone"
                                                                       ng-model="MdlOwner.pPhoneNo" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="padd-lease lease-form" ng-if="pAddNewOwner == 0">
                                        <!--leaseFormBorder-->
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-40" layout="row"><label>Existing Owners.</label></div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>
                                                Owner Name
                                                <span class="errormsg">*</span><span class="errormsg" ng-show="!propForm.ddlowner.$pristine && propForm.ddlowner.$invalid">Please select a owner.</span>

                                            </label>
                                            <select class="form-control" name="ddlowner" ng-change="OwnerChanged(pOwner)" ng-model="pOwner" ng-options="s.Name for s in ownerlist track by s.PersonId" required>
                                                <option value="">----- Select Owner ----</option>
                                            </select>

                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Phone No</label>
                                            <input type="text" class="form2 disabledinput" name="contactno" ng-model="pOwner.Phone" readonly />
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Email</label>
                                            <input type="email" class="form2 disabledinput" name="email" ng-model="pOwner.Email" readonly />
                                        </div>
                                    </div>

                                    <div class="padd-lease lease-form" style="margin-top: 2%;">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <button type="button" class="btn btn-success btn-block" ng-class="{disabled: addOwnerForm.$invalid}" ng-if="pAddNewOwner == 0" ng-click="AddExistingUser(pOwner)">Add</button>
                                            <button type="button" class="btn btn-success btn-block" ng-class="{disabled: addOwnerForm.$invalid}" ng-if="pAddNewOwner == 1" ng-click="AddNewUser(addOwnerForm)">Add</button>

                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <button type="button" class="btn btn_close btn-block" ng-click="Cancel(addOwnerForm)">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade-scale" id="mdlAddHOA" role="dialog" aria-labelledby="mdlAddHOA">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="LabelmdlAddHOA">Add HOA</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div id="step3">
                            <div class="padd-lease lease-form">
                                <form name="addHOAForm" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">

                                    <div class="padd-lease lease-form">
                                        <div class="create-panel">
                                            <div>
                                                <div>
                                                    <div class="padd-lease lease-form">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                <label>
                                                                    HOA Name
                                                                    <span class="errormsg">*</span><span class="errormsg" ng-show="addHOAForm.lblHOAName.$dirty && addHOAForm.lblHOAName.$invalid">
                                                                        <span ng-show="addHOAForm.lblHOAName.$error.required">HOA name is required.</span>
                                                                    </span>
                                                                </label>
                                                                <input type="text" class="form2" name="lblHOAName" maxlength="90"
                                                                       ng-model="MdlHoaDetail.hoaName" required /> <!--only-alphabets-->
                                                            </div>

                                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                <label>
                                                                    Person First Name
                                                                    <span class="errormsg">*</span><span class="errormsg" ng-show="addHOAForm.lblPrsnFirstName.$dirty && addHOAForm.lblPrsnFirstName.$invalid">
                                                                        <span ng-show="addHOAForm.lblPrsnFirstName.$error.required">Person first name is required.</span>
                                                                    </span>
                                                                </label>
                                                                <input type="text" class="form2" name="lblPrsnFirstName" maxlength="50"
                                                                       ng-model="MdlHoaDetail.personFirstName" required only-alphabets />
                                                            </div>

                                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                <label>
                                                                    Person Last Name
                                                                    <span class="errormsg">*</span><span class="errormsg" ng-show="addHOAForm.lblPrsnLastName.$dirty && addHOAForm.lblPrsnLastName.$invalid">
                                                                        <span ng-show="addHOAForm.lblPrsnLastName.$error.required">Person last name is required.</span>
                                                                    </span>
                                                                </label>
                                                                <input type="text" class="form2" name="lblPrsnLastName" maxlength="50"
                                                                       ng-model="MdlHoaDetail.personLastName" required only-alphabets />
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                <label>
                                                                    Email
                                                                    <span class="errormsg">*</span><span class="errormsg" ng-pattern="emailAddessPattern" ng-show="addHOAForm.lblHoaEmail.$dirty && addHOAForm.lblHoaEmail.$invalid">
                                                                        <span ng-show="addHOAForm.lblHoaEmail.$error.required">Email is required.</span>
                                                                        <span ng-show="addHOAForm.lblHoaEmail.$error.pattern">Invalid email</span>
                                                                    </span>
                                                                    <span class="errormsg">
                                                                        <span ng-show="isHOAEmailExist == true">Email is already exist.</span>
                                                                    </span>
                                                                </label>
                                                                <input type="text" class="form2" name="lblHoaEmail" ng-pattern="eml_addess" maxlength="100"
                                                                       ng-blur="CheckHOAEmailAvailability(MdlHoaDetail.email)" ng-model="MdlHoaDetail.email" required />
                                                            </div>


                                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                                                <label>
                                                                    Phone No
                                                                    <span class="errormsg">*</span><span class="errormsg" ng-show="addHOAForm.lblHoaPhone.$dirty && addHOAForm.lblHoaPhone.$invalid">
                                                                        <span ng-show="addHOAForm.lblHoaPhone.$error.required">Phone is required.</span>
                                                                    </span>
                                                                </label>
                                                                <input type="text" class="form2" name="lblHoaPhone"
                                                                       ng-model="MdlHoaDetail.phone" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="padd-lease lease-form" style="margin-top: 2%;">

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <button type="button" class="btn btn-success btn-block" ng-class="{disabled: addHOAForm.$invalid}" ng-click="AddNewHOA(addHOAForm)">Save</button>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <button type="button" class="btn btn_close btn-block" ng-click="CancelHOA(addHOAForm)">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div ng-include="'Shared View/_Loader.html'"></div>
</div>