<div ng-controller="personController as pcntrl" ng-show="!userData.isSubscriptionExpired" class="min-higt" layout="column" ng-cloak ng-init="initializePage()">
    <div class="clearfix"></div>
    <div class="container-fluid wrap1">
        <div class="vt-breadcrumb">
            <div class="vt-brdcrumb-wrap col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <h6 class="padd6">
                    Add Contact
                    <span></span>
                </h6>
            </div>
            <div class="vt-filter">
                <ul class="menu4">
                    <a href="#person/{{pTypeId}}" class="vt-btn2">Cancel</a>
                    <a ng-click="savePerson()" class="vt-btn1">Save &amp Close</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid">
        <div class="container">
            <div class="lease-form col-xs-12">
                <form class="ng-pristine ng-valid" role="form" name="personForm" novalidate>
                    <div class="padd_zero marg1 image-upload col-lg-4 col-md-4 col-sm-4 col-xs-4">

                        <div class="img-one" id="divimage1">
                            <label for="file-input">
                                <i class="material-icons">add</i>
                            </label>
                            <input id="file-input" class="file1" type="file" name="image1"
                                   onchange="angular.element(this).scope().fileSelected(this)" />
                        </div>
                    </div>
                    <div class="padd_zero marg1 col-lg-8">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>Type</label>
                            <select class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="pTypeId" aria-invalid="false">
                                <option value=""><-----Select Type-----></option>
                                <option value="2">Owner</option>
                                <option value="3">Tenant</option>
                                <option value="4">Vendor</option>
                                <option value="5">Associations</option>
                            </select>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-24 form-group" ng-show="pTypeId == 4 || pTypeId == 5">
                                <label>Company <span class="errormsg">*</span><span class="errormsg" ng-show="(pTypeId == 4 || pTypeId == 5) && !personForm.companyname.$pristine && personForm.companyname.$invalid && !personForm.firstname.$pristine">Enter Company Name</span></label>
                                <input type="text" class="form2" name="companyname" ng-model="pCompanyName" />
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-36 form-group"  ng-show="pTypeId == 4">
                            <label>Service Category<span class="errormsg">*</span><span class="errormsg" ng-show="(pTypeId == 4) && !personForm.companyname.$pristine && personForm.servicecategory.$invalid && !personForm.servicecategory.$pristine">Enter Service Category</span></label>
                            <!-- <md-select ng-model="pServiceCategory" multiple flex>
                                <md-option ng-repeat="s in servicecategorylist" ng-value="{{s.Id}}"  >{{s.Name}}</md-option>
                            </md-select> -->
                            <md-select name="servicecategory" ng-model="pServiceCategory" multiple flex>
                                <md-option ng-value=""><-----Select Type-----></md-option>
                                <md-option ng-value="{{s.Id}}" ng-repeat="s in servicecategorylist">{{ s.Name }}</md-option>
                            </md-select>
                        </div>                    
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>First Name <span class="errormsg">*</span><span class="errormsg" ng-show="!personForm.firstname.$pristine && personForm.firstname.$invalid && !personForm.firstname.$pristine">Enter First Name</span></label>
                            <input type="text" class="form2" name="firstname" ng-model="pFirstName" required>
                            
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>Last Name <span class="errormsg">*</span><span class="errormsg" ng-show="!personForm.lastname.$pristine && personForm.lastname.$invalid"> Enter Last Name</span></label>
                            <input type="text" class="form2" name="lastname" ng-model="pLastName" required>
                        </div>                        
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>Mail Box #</label>
                            <input type="text" class="form2" ng-model="pMailBoxNo" name="mailboxno" placeholder="Mail Box #" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>Address<span class="errormsg">*</span><span class="errormsg" ng-show="!personForm.address.$pristine && personForm.address.$invalid"> Enter Address</span></label>
                            <input type="text" class="form2" ng-model="pAddress" name="address" placeholder="Address" required />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>Country<span class="errormsg">*</span><span class="errormsg" ng-show="!personForm.ddlcountry.$pristine && personForm.ddlcountry.$invalid"> Enter Country</span></label>
                            <select id="ddlcountry" name="ddlcountry" ng-model="pCountry" ng-options="s.Name for s in countrieslist track by s.Id" required>
                                <option value=""><-----Select Country-----></option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>State<span class="errormsg">*</span><span class="errormsg" ng-show="!personForm.ddlstate.$pristine && personForm.ddlstate.$invalid"> Enter State</span></label>
                            <select id="ddlstate" name="ddlstate" ng-model="pState" ng-options="s.Name for s in stateslist track by s.Id" required>
                                <option value=""><-----Select State-----></option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="clearfix"></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>City<span class="errormsg">*</span><span class="errormsg" ng-show="!personForm.ddlcity.$pristine && personForm.ddlcity.$invalid"> Enter City</span></label>
                            <select id="ddlcity" name="ddlcity" ng-model="pCity" ng-options="s.Name for s in citieslist track by s.Id" required>
                                <option value=""><-----Select City-----></option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>County</label>
                            <select id="ddlcounty" name="ddlcounty" ng-model="pCounty" ng-options="s.Name for s in countieslist track by s.Id"></select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>Zipcode<span class="errormsg">*</span><span class="errormsg" ng-show="!personForm.zipcode.$pristine && personForm.zipcode.$invalid"> Enter Zipcode</span></label>
                            <input type="text" class="form2" name="zipcode" ng-model="pZipcode" required>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>Email <span class="errormsg">*</span><span class="errormsg" ng-show="!personForm.email.$pristine && personForm.email.$invalid"> Enter Email</span></label>
                            <input type="email" class="form2" name="email" ng-model="pEmail" required>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>Phone Number <span class="errormsg">*</span><span class="errormsg" ng-show="!personForm.zipcode.$pristine && personForm.phonenumber.$invalid"> Enter Phone Number</span></label>
                            <input type="text" class="form2" name="phonenumber" ng-model="pPhoneNo" required>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>Fax</label>
                            <input type="text" class="form2" name="faxno" ng-model="pFaxNo">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>Twitter URL</label>
                            <input type="text" class="form2" name="twitterurl" ng-model="pTwitterUrl">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                            <label>FB URL</label>
                            <input type="text" class="form2" name="fburl" ng-model="pFBUrl">
                        </div>
                        <div class="clearfix"></div>    
                    </div>                                    
                </form>
            </div>
        </div>
    </div>
</div>