﻿
<div ng-controller="AssociationController as ASSC" ng-show="!userData.isSubscriptionExpired" class="min-higt" layout="column" ng-cloak ng-init="ASSC.LoadAssociation()">
    <div class="clearfix"></div>
    <div class="container-fluid wrap1">
        <div class="vt-breadcrumb">
            <div class="vt-brdcrumb-wrap padd6 col-lg-4 col-xs-12">
                <img class="bld-img" src="images/bld-icon.png">
                <h5>
                    Association
                    <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                    <span><a href="#association">Contacts</a> <img src="images/right-arrow.png" /></span>
                    <span>Association</span>
                </h5>
            </div>
            <div class="vt-filter">
                <ul class="menu4" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">
                    <a href="#createassociation" class="vt-btn1 pull-right">New contact</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="container-fluid">
        <div class="container pad_0">
            <div class="tab-content">
                <div id="step1tab" class="tab-pane fade in active">
                    <div id="accord4" class="col-xs-12 marg_auto wrap8">
                        <div class="col-lg-12">
                            <div class="wrap8-col col-lg-6 col-md-12 col-sm-12 col-xs-12" ng-repeat="association in ASSC.lstAssociation">
                                <div class="hov-wrap inner-wrap">
                                    <div class="full-width right-wrap">
                                        <div class="asst-row">
                                            <h5 ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false" class="pull-right "><a class="edit_icon" href="#createassociation/{{association.id}}"><i class="fa fa-edit"></i></a></h5>
                                            <h3>{{association.personFirstName +' '+ association.personLastName}}</h3>
                                            <h4>{{association.address}}</h4>
                                            <ul class="term-list">
                                                <span>Properties : </span>
                                                <li class="term-item" ng-repeat="x in association.lstProperties">
                                                    {{ x | limitTo: 20 }}{{x.length > 20 ? '...' : ''}}
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="asst-row">
                                            <h5>
                                                <span ng-if="association.email != '' && association.email != null"><i class="material-icons">email</i> <a class="anchor_disable" href="">{{association.email}}</a></span>
                                                <span ng-if="association.email == '' || association.email == null"><i class="material-icons">email</i> N/A</span>
                                               
                                                 <span ng-if="association.phone != '' && association.phone != null"><i class="material-icons">phone</i> {{association.phone}}</span>
                                                <span ng-if="association.phone == '' || association.phone == null"><i class="material-icons">phone</i> N/A</span>
                                            </h5>
                                            <h5>
                                                <span ng-if="association.fax != '' && association.fax != null"><i class="material-icons">print</i> {{association.fax}}</span>
                                                <span><i class="material-icons web">insert_link</i><a target="_blank" ng-href="{{association.fbUrl}}">{{association.fbUrl}}</a></span>
                                                <!--<a ng-click="openUrl(selectedProperty.pId +'-'+ doc.documentName)">  {{doc.documentName.split('.')[0]}}</a>-->
                                                <!--<span><i class="material-icons web">insert_link</i> <a href="#" target="_blank"><a href="#" target="_blank">{{association.fbUrl}}</a></a></span>-->
                                            </h5>
                                           
                                        </div>	
                                    </div>
                                </div>
                            </div>  
                        </div>           
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'Shared View/_Loader.html'"></div>
</div>












