﻿<div ng-controller="billController as BC" ng-show="!userData.isSubscriptionExpired" ng-init="BC.LoadBill()" class="min-higt" layout="column" ng-cloak>
    <div>
        <div class="clearfix"></div>      
        <div ng-include="'Shared View/PartialView/Finance/FinanceMenuBar.html'" ng-if="userData.personType == PersonTyp.property_manager && BC.pageShowOnOwner_TenantContact == false"></div>
        <div class="clearfix"></div>
        <div class="container">
            <div class="inner_div1">
               
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12 pad_0">
                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <div id="accord4" class="report-form work-wrap">
                            <div class="lease-form col-xs-12">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">       <!--ng-class="userData.personType != PersonTyp.property_manager ? 'paddingleft0' : ''"--> 
                                    <label>Select Period</label>
                                    <select class="form-control" ng-model="BC.selectCurrentPeriod"
                                            ng-options="Period.Period for Period in BC.lstCurrentPeriod" ng-change="BC.GetBillData()">
                                        <option selected value=""><-----Select Period-----></option>
                                    </select>
                                    <div ng-if="BC.selectCurrentPeriod.date == 'custom'" class="row customDateBox">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label class="padd7">From Date</label>
                                            <div flex-gt-xs>
                                                <md-datepicker ng-model="BC.startDate" md-placeholder="Start date"
                                                               ng-change="BC.ChangeDate()"></md-datepicker>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label class="padd7">To Date</label>
                                            <div flex-gt-xs>
                                                <md-datepicker ng-model="BC.endDate" md-placeholder="Start date"
                                                               md-min-date="BC.startDate"></md-datepicker>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label class="padd7"></label>
                                            <a class="btn btn-info" ng-click="BC.GetBillData('custom')">Filter</a>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="userData.personType == PersonTyp.property_manager && BC.pageShowOnOwner_TenantContact == false">
                                    <label>Select Owner/Tenant</label>
                                    <div>               
                                        <ui-select ng-model="BC.selectOwner" theme="selectize"
                                                   ng-disabled="BC.selectCurrentPeriod.date == undefined"
                                                   title="Choose a Owner" on-select="BC.FillProperty_dropdown(BC.selectOwner)">
                                            <ui-select-match placeholder="Select or search a Owner/Tenant">{{$select.selected.ownerFullName}}</ui-select-match>
                                            <ui-select-choices repeat="Owner in BC.lstOwner | orderBy : 'ownerFullName' | filter: $select.search">
                                                <span ng-bind-html="Owner.ownerFullName | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>


                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="(userData.personType == PersonTyp.property_manager  && BC.pageShowOnTenantContact == false) || userData.personType == PersonTyp.owner">
                                     <label>Select Property</label>  
                                    <ui-select ng-model="BC.selectProperty" theme="selectize"
                                               ng-disabled="BC.selectCurrentPeriod.date == undefined "
                                               title="Choose a Property" on-select="BC.FilterByProperty(BC.selectProperty)">
                                        <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                                        <ui-select-choices repeat="Property in BC.filterPropertyList | orderBy : 'propertyName' | filter: $select.search">
                                            <span ng-bind-html="Property.propertyName | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div ng-if="userData.personType == PersonTyp.property_manager">
                        <div ng-include="'Shared View/Bill Partial/Receivable.html'"></div>
                        <div ng-include="'Shared View/Bill Partial/Payable.html'"></div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="userData.personType != PersonTyp.property_manager">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-if="BC.selectCurrentPeriod.date != undefined">

                            <div class="marginBottom10 col-md-12 p0">
                                <div class="col-md-6 pad_0 p0">
                                    <h2 class="table_head">Received</h2>
                                </div>

                                <div class="col-md-3 p0" style="margin-top:17px">
                                    Show  <select class="itemCountddl" ng-model="BC.receivableItemsPerPage"
                                                  ng-options="count for count in BC.itemsPerPageArr" ng-change="BC.SetItemsPerPageForReceivable(BC.receivableItemsPerPage)"></select>
                                </div>

                                <div class="col-md-3 text-right pad_0" style="margin-top: 17px;" ng-if="BC.lstReceiver_Filter.length != 0">
                                    <div class="dropdown">
                                        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                            Export Action
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu padd10topBottom">
                                            <li onclick="ExportToExcel('tblReceiver', 'Payment Received')"><i class="fa fa-file-excel-o" style="color:green"></i> Export To excel</li>
                                            <li ng-click="BC.PrintPdf('tblReceiver1','','Payment Received')" class="marginTop16"><i class="fa fa-file-pdf-o" style="color:green"></i> Export To Pdf</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="divReceiver">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'billId')">Bill No</th>
                                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'number')">Invoice Number</th>
                                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'propertyName')">Property</th>
                                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'payableFullName')">To</th>
                                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'date')">Date</th>
                                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'amount')">Amount</th>
                                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'paymentType')">PaymentType</th>
                                            <th ng-click="BC.Receiver_OrderBy = BC.OrderBy(BC.Receiver_OrderBy, 'comment')">Comment</th>
                                            <th>Generate Bill</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" ng-if="BC.lstReceiver_Filter.length < 1">
                                            <td colspan="9">
                                                <p class="P-Center">No Record Found</p>
                                            </td>
                                        </tr>
                                        <tr ng-if="BC.lstReceiver_Filter.length != 0" ng-repeat="property in BC.lstReceiver_Filter  | orderBy : BC.Receiver_OrderBy | offset: BC.currentPage_Receiver * BC.receivableItemsPerPage | limitTo: BC.receivableItemsPerPage ">
                                            <td>{{property.billId}}</td>
                                            <td>{{property.number}}</td>
                                            <td>{{property.propertyName}}</td>
                                            <td>{{property.payableFullName}}</td>
                                            <td>{{property.date  | date}}</td>
                                            <td>{{property.amount | currency}}</td>
                                            <td>{{property.paymentType}}</td>
                                            <td>{{property.comment}}</td>
                                            <td><a ng-click="BC.ShowBill(property,'receive')"><i class="fa fa-file-text"></i> Bill</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div>
                                <ul ng-if="BC.lstReceiver_Filter.length == 0"></ul>
                                <ul class="pagination" ng-if="BC.lstReceiver_Filter.length != 0">
                                    <li ng-class="BC.PageService.PrevPageDisabled(BC.currentPage_Receiver)">
                                        <a ng-click="BC.currentPage_Receiver = BC.PageService.PrevPage(BC.currentPage_Receiver)">« Prev</a>
                                    </li>
                                    <li ng-repeat="n in BC.PageService.Range(BC.lstReceiver_Filter.length,BC.currentPage_Receiver,BC.receivableItemsPerPage)"
                                        ng-class="{active: n == BC.currentPage_Receiver}"
                                        ng-click="BC.currentPage_Receiver = n">
                                        <a>{{n+1}}</a>
                                    </li>
                                    <li ng-class="BC.PageService.NextPageDisabled(BC.lstReceiver_Filter.length,BC.currentPage_Receiver,BC.receivableItemsPerPage)">
                                        <a ng-click="BC.currentPage_Receiver = BC.PageService.NextPage(BC.lstReceiver_Filter.length,BC.currentPage_Receiver,BC.receivableItemsPerPage)">Next »</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-if="BC.selectCurrentPeriod.date != undefined">
                            <div class="marginBottom10 col-md-12 p0">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p0"><h2 class="table_head">Paid</h2></div>

                                <div class="col-md-3 p0" style="margin-top:17px">
                                    Show  <select class="itemCountddl" ng-model="BC.payableItemsPerPage"
                                                  ng-options="count for count in BC.itemsPerPageArr" ng-change="BC.SetItemsPerPageForPayable(BC.payableItemsPerPage)"></select>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 p0" style="margin-top:17px;" ng-if="BC.lstPayable_Filter.length > 0">
                                    <div class="text-right marginBottom10">
                                        <div class="dropdown">
                                            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                                Export Action
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu padd10topBottom">
                                                <li onclick="ExportToExcel('tblPayable', 'Paid Bills')"><i class="fa fa-file-excel-o" style="color:green"></i> Export To excel</li>
                                                <li ng-click="BC.PrintPdf('tblPayable1','','Paid Bills')" class="marginTop16"><i class="fa fa-file-pdf-o" style="color:green"></i> Export To Pdf</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped mar_top">
                                <thead>
                                    <tr>
                                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'billId')">Bill No</th>
                                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'number')">Invoice Number</th>
                                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'propertyName')">Property</th>
                                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'receiverFullName')">From</th>
                                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'date')">Date</th>
                                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'amount')">Amount</th>
                                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'paymentType')">PaymentType</th>
                                        <th ng-click="BC.Payable_OrderBy = BC.OrderBy(BC.Payable_OrderBy, 'comment')">Comment</th>
                                        <th>Generate Bill</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" ng-if="BC.lstPayable_Filter.length < 1">
                                        <td colspan="9">
                                            <p class="P-Center">No Record Found</p>
                                        </td>
                                    </tr>
                                    <tr ng-if="BC.lstPayable_Filter.length > 0" ng-repeat="property in BC.lstPayable_Filter | orderBy : BC.Payable_OrderBy | offset: BC.currentPage_Payable * BC.payableItemsPerPage | limitTo: BC.payableItemsPerPage ">
                                        <td>{{property.billId}}</td>
                                        <td>{{property.number}}</td>
                                        <td>{{property.propertyName}}</td>
                                        <td>{{property.receiverFullName}}</td>
                                        <td>{{property.date | date}}</td>
                                        <td>{{property.amount | currency}}</td>
                                        <td>{{property.paymentType}}</td>
                                        <td>{{property.comment}}</td>
                                        <!--<td><button ng-click="BC.ShowBill(property,'payment')" class="btn btn-info">Bill</button></td>-->
                                        <td><a ng-click="BC.ShowBill(property,'payment')"><i class="fa fa-file-text"></i> Bill</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <ul ng-if="BC.lstPayable_Filter.length < 1"></ul>
                                <ul class="pagination" ng-if="BC.lstPayable_Filter.length > 0">
                                    <li ng-class="BC.PageService.PrevPageDisabled(BC.currentPage_Payable)">
                                        <a ng-click="BC.currentPage_Payable = BC.PageService.PrevPage(BC.currentPage_Payable)">« Prev</a>
                                    </li>
                                    <li ng-repeat="n in BC.PageService.Range(BC.lstPayable_Filter.length,BC.currentPage_Payable,BC.payableItemsPerPage)"
                                        ng-class="{active: n == BC.currentPage_Payable}"
                                        ng-click="BC.currentPage_Payable = n">
                                        <a>{{n+1}}</a>
                                    </li>
                                    <li ng-class="BC.PageService.NextPageDisabled(BC.lstPayable_Filter.length,BC.currentPage_Payable,BC.payableItemsPerPage)">
                                        <a ng-click="BC.currentPage_Payable = BC.PageService.NextPage(BC.lstPayable_Filter.length,BC.currentPage_Payable,BC.payableItemsPerPage)">Next »</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
               
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-include="'Shared View/_Loader.html'"></div>
    <div ng-if="userData.personType == PersonTyp.property_manager && (!BC.pageShowOnOwner_TenantContact)" ng-include="'Shared View/Bill Partial/_GenerateBill.html'"></div>
    <div ng-if="userData.personType == PersonTyp.property_manager && BC.pageShowOnOwner_TenantContact && ActiveTabName == 'Payments'" ng-include="'Shared View/Bill Partial/_GenerateBill.html'"></div>

    <div ng-if="ShowInvoiceBillModel && ActiveTabName == 'Payments' && userData.personType != PersonTyp.property_manager" ng-include="'Shared View/Bill Partial/_GenerateBill.html'"></div>
    <div ng-include="'Shared View/Bill Partial/_ExportExcelTable.html'"></div>

</div>