﻿
<style>

    .modal1 {      
        
        background-color: rgb(0,0,0);
        background-color: rgba(133,190,220,0.85);
    }

</style>

<div class="min-higt" ng-controller="companyHomeController as CHC" ng-show="!userData.isSubscriptionExpired" ng-init="CHC.LoadFunction()" ng-cloak>



    <div class="container-fluid" style="padding:0px">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" ng-non-bindable style="width:100%;padding:0px">
           
            <div class="carousel-inner" style="height:500px">
                <div class="item active" style="background-image:url('http://www.kinyu-z.net/data/wallpapers/59/906824.png');background-repeat:no-repeat;background-size:cover;height:500px ">

                </div>

                <div class="item" style="background-image:url('https://wallpaper-house.com/data/out/10/wallpaper2you_465368.jpg');background-repeat:no-repeat;background-size:cover;height:500px">

                </div>

                <div class="item" style="background-image:url('https://wallpaper-house.com/data/out/10/wallpaper2you_465369.jpg');background-repeat:no-repeat;background-size:cover;height:500px">

                </div>
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
            </div>

          
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <section id="aboutus"></section>

        <section id="contactus"></section>
    </div>

    <div ng-include="'Shared View/_Loader.html'"></div>

    <div class="modal fade-scale" id="mdllogin" role="dialog" aria-labelledby="mdllogin" ng-controller="loginController as LC">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style="border-radius: 0px; border: 5px solid #8a8484;">
               
                <div class="modal-body">

                    <form name="login" ng-init="LC.PageLoad(login)">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <center><img class="imo" ng-src="data:image/png;base64,{{CHC.CompanyData.logo.base64}}" style="margin-bottom: 2em;max-height: 60px;"> </center>

                        <div>
                            <div class="loginErrorMsg">
                                <span class="errormsg" ng-show="login.username.$dirty && login.username.$invalid">
                                    <span ng-show="login.username.$error.required && login.username.$dirty">Username is required.</span>
                                    <span ng-show="login.username.$error.pattern">Invalid email</span>
                                </span>
                            </div>

                            <div class="input-group" style="margin-bottom:1em;">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input class="form-control" type="email" placeholder="Enter email" style="height: 40px;"
                                           ng-pattern="LC.eml_add" ng-model="LC.mdlUser.userName" name="username" required>
                              
                            </div>
                        </div>

                        <div>
                            <div class="loginErrorMsg">
                                <span class="errormsg" ng-show="login.psw.$dirty && login.psw.$invalid">
                                    <span ng-show="login.psw.$error.required">Password is required.</span>
                                    <!--<span ng-show="login.psw.$error.minlength">
                                        Password length must be greater than 5
                                    </span>-->
                                </span>
                            </div>
                            <div class="input-group" style="margin-bottom:1em;">                             
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input class="form-control" type="password" placeholder="Enter password" style="height: 40px;"
                                           ng-minlength="6" ng-model="LC.mdlUser.password" name="psw" required>
                            </div>
                        </div>
                        <div class="input-group"></div>                              
                        
                        <button class="btn btn-block btn-success"  style="height: 40px;" type="submit" id="saveForm" name="saveForm" ng-disabled="login.$invalid" ng-click="LC.SignIn()">LOGIN</button>             
                        <div class="modal-footer" style="padding: 19px 0 0!important;"> 
                            <a data-toggle="modal" data-target="#mdlForgotPassword" class="text-left pull-left" style="color:#054f9c">Forgot password?</a>
                           
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    <div class="modal fade-scale modal1" id="mdlForgotPassword" role="dialog" aria-labelledby="mdlForgotPassword" ng-controller="loginController as LC">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content" style="border-radius: 0px; border: 5px solid #8a8484;">
              
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <form name="frmForgotPassword">
                                <div>
                                    <h5 style="font-weight: 800!important; color: #6d6a6a;">We will send you new password to your mail</h5>
                                </div>

                                <div>
                                    <div class="loginErrorMsg">

                                        <span class="errormsg" ng-show="frmForgotPassword.userEmail.$dirty && frmForgotPassword.userEmail.$invalid">
                                            <span ng-show="frmForgotPassword.userEmail.$error.required && frmForgotPassword.userEmail.$dirty">Email is required.</span>
                                            <span ng-show="frmForgotPassword.userEmail.$error.pattern">Invalid email pattern.</span>
                                        </span>
                                        <span ng-show="LC.isForgotEmailExists != null && LC.isForgotEmailExists == false" class="errormsg">Invalid Email.</span>
                                    </div>

                                    <div class="input-group" style="margin-bottom:1em;">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input class="form-control" type="email" placeholder="Enter email" style="height: 40px;"
                                               maxlength="95" ng-blur="LC.CheckEmail(LC.mdlforgotPasswordReset.userEmail)" ng-pattern="LC.eml_add" ng-model="LC.mdlforgotPasswordReset.userEmail" name="userEmail" required>

                                    </div>
                                </div>
                                <div class="input-group"></div>
                                <div class="modal-footer" style="padding: 19px 0 0!important;">
                                    <button class="btn btn-success pull-right" style="height: 40px;" type="submit" name="saveForm" ng-disabled="frmForgotPassword.$invalid || LC.isForgotEmailExists == false" ng-click="LC.ForgotPasswordReset(frmForgotPassword)">Submit</button>
                                    <button class="btn btn-danger pull-left" style="height: 40px;" ng-click="LC.ClearForgotPassword(frmForgotPassword)" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Helium - Bootstrap 4 Onepage Template</title>
    <link href="css/companyhomepagecss/bootstrap.min.css" rel="stylesheet" />
    <link href="css/companyhomepagecss/slicknav.css" rel="stylesheet" />
    <link href="css/companyhomepagecss/owl.carousel.css" rel="stylesheet" />   
    <link href="css/companyhomepagecss/owl.theme.css" rel="stylesheet" />
    <link href="css/companyhomepagecss/main.css" rel="stylesheet" />
    <link href="css/companyhomepagecss/extras.css" rel="stylesheet" />
    <link href="css/companyhomepagecss/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   
    <header id="header-wrap">
       
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
            <div class="container">
              
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="icon-menu"></span>
                        <span class="icon-menu"></span>
                        <span class="icon-menu"></span>
                    </button>
                    <a href="index.html" class="navbar-brand"><img src="images/companyhomepageimg/logo.png" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                        <li class="nav-item active">
                            <a class="nav-link" href="#sliders">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">
                                About Us
                            </a>
                        </li>




                        <li class="nav-item">
                            <a class="nav-link" href="#contact">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
           
            <ul class="mobile-menu navbar-nav">
                <li>
                    <a class="page-scroll" href="#sliders">
                        Home
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">
                        About
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">
                        Services
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">
                        Portfolio
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#feature">
                        Features
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">
                        Team
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#pricing">
                        Pricing
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">
                        Contact
                    </a>
                </li>
            </ul>
            
        </nav>
       
        <div id="sliders">
            <div class="full-width">
                
                <div id="light-slider" class="carousel slide">
                    <div id="carousel-area">
                        <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-slider" data-slide-to="1"></li>
                                <li data-target="#carousel-slider" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                   
                                    <img src="images/companyhomepageimg/bg-4.jpg" alt="" class="img_hei">
                                    <div class="carousel-caption">
                                        <h3 class="slide-title animated fadeInDown"><span>Helium</span> - Bootstrap 4 UI Kit</h3>
                                        <h5 class="slide-text animated fadeIn">Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br> Curabitur ultricies nisi Nam eget dui. Etiam rhoncus</h5>
                                        <a href="#" class="btn btn-lg btn-common animated fadeInUp">LOGIN</a>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="images/companyhomepageimg/bg-5.jpg" alt="" class="img_hei">
                                    <div class="carousel-caption">
                                        <h3 class="slide-title animated fadeInDown"><span>Cutting-edge</span> Features</h3>
                                        <h5 class="slide-text animated fadeIn">Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br> Curabitur ultricies nisi Nam eget dui. Etiam rhoncus</h5>
                                        <a href="#" class="btn btn-lg btn-common animated fadeInUp">LOGIN</a>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="images/companyhomepageimg/bg-6.jpg" alt="" class="img_hei">
                                    <div class="carousel-caption">
                                        <h3 class="slide-title animated fadeInDown"><span>100+</span> UI Blocks & Components</h3>
                                        <h5 class="slide-text animated fadeIn">Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br> Curabitur ultricies nisi Nam eget dui. Etiam rhoncus</h5>
                                        <a href="#" class="btn btn-lg btn-common animated fadeInUp">LOGIN</a>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                            <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </header>
    
    <section id="services" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Our Services</h2>
                </div>
            </div>
            <div class="row">
              
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <div class="service-box">
                        <div class="service-icon">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Easy to Customize</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.
                            </p>
                        </div>
                    </div>
                </div>
              
             
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <div class="service-box">
                        <div class="service-icon">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="service-content">
                            <h4><a href="#">100+ Components</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.
                            </p>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <div class="service-box">
                        <div class="service-icon">
                            <i class="fa fa-tachometer"></i>
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Super Fast</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.
                            </p>
                        </div>
                    </div>
                </div>
             
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <div class="service-box">
                        <div class="service-icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Clean Design</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <div class="service-box">
                        <div class="service-icon">
                            <i class="fa fa-flash"></i>
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Bootstrap 4 UI Kit</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.
                            </p>
                        </div>
                    </div>
                </div>
              
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <div class="service-box">
                        <div class="service-icon">
                            <i class="fa fa-hand-pointer-o"></i>
                        </div>
                        <div class="service-content">
                            <h4><a href="#">Advanced Features</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto officiis consequuntur vero error excepturi.
                            </p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    
    <section id="contact" class="contact-form section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Contact Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 text-center">
                   
                    <div class="contact-info">
                        <address>
                            <i class="lni-map-marker icons cyan-color contact-info-icon fa fa-map-marker"></i>
                            Level 13, 2 Elizabeth St, Melbourne,
                        </address>
                        <div class="tel-info">
                         
                            <a href="tel:+61(8)82343555"><i class="lni-phone icons cyan-color contact-info-icon fa fa-phone"></i>+61 (8) 8234 3555</a>
                        </div>
                        <a href="mailto:hello@spiritapp.com"><i class="lni-envelope icons cyan-color contact-info-icon fa fa-skype"></i>admin@uideck.com</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <a href="#" class="back-to-top">
        <i class="fa fa-arrow-up"></i>
    </a>

    <script src="js/companyhomepagejs/jquery-min.js"></script>
    <script src="js/companyhomepagejs/popper.min.js"></script>
    <script src="js/companyhomepagejs/bootstrap.min.js"></script>
    <script src="js/companyhomepagejs/owl.carousel.min.js"></script>
    <script src="js/companyhomepagejs/jquery.mixitup.js"></script>
    <script src="js/companyhomepagejs/jquery.nav.js"></script>
    <script src="js/companyhomepagejs/scrolling-nav.js"></script>
    <script src="js/companyhomepagejs/jquery.easing.min.js"></script>
    <script src="js/companyhomepagejs/jquery.slicknav.js"></script>
    <script src="js/companyhomepagejs/jquery-min.js"></script>


    

</body>
</html>-->
