<style>
    .selectize-control.single .selectize-input {
        padding: 0px 0px 0px 8px !important;
    }

    .selectize-input focus {
        padding: 10px 0px 0px 8px !important;
    }


    .selectize-control.single .selectize-input .selectize-focus {
        padding: 10px 0px 0px 8px !important;
    }

    .selectize-input .selectize-focus {
        padding: 10px 0px 0px 8px !important;
    }

    div.selectize-input div.ui-select-match span[aria-hidden="false"] {
        padding: 10px 0px 0px 8px !important;
    }
</style>

<style>
    /** {
        box-sizing: border-box;
    }

    ul {
        list-style-type: none;
    }

    body {
        font-family: Verdana, sans-serif;
    }*/
    .weekdays {
        margin: 0;
        padding: 10px 0;
        background-color: #ddd;
    }

        .weekdays li {
            display: inline-block;
            width: 13.6%;
            color: #666;
            text-align: center;
        }

    .days {
        padding: 10px 0;
        background: #eee;
        margin: 0;
    }

        .days li {
            list-style-type: none;
            display: inline-block;
            width: 18%;
            text-align: center;
            margin-bottom: 5px;
            font-size: 12px;
            color: #777;
        }

            .days li .active {
                padding: 5px;
                background: #1abc9c;
                color: white !important;
            }

    /* Add media queries for smaller screens */
    @media screen and (max-width:720px) {
        .weekdays li, .days li {
            width: 13.1%;
        }
    }

    @media screen and (max-width: 420px) {
        .weekdays li, .days li {
            width: 12.5%;
        }

            .days li .active {
                padding: 2px;
            }
    }

    @media screen and (max-width: 290px) {
        .weekdays li, .days li {
            width: 12.2%;
        }
    }
</style>

<div ng-controller="leaseController" ng-show="!userData.isSubscriptionExpired" class="min-higt" layout="column" ng-init="LoadFunction()" ng-cloak>

    <div class="container wrap1">
        <div class="vt-breadcrumb">
            <div class="vt-brdcrumb-wrap padd6 col-lg-4 col-xs-12">
                <img class="bld-img" src="images/bld-icon.png">
                <h5>
                    {{pEntryMode}} Lease
                    <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                    <span><a href="#leases">Leases</a> <img src="images/right-arrow.png" /></span>
                    <span>{{pEntryMode}} Lease</span>
                </h5>
            </div>
            <div class="vt-filter">
                <ul class="menu4">
                    <li><a class="vt-btn2" ng-click="CancelLease()">Cancel</a></li>
                    <li><a ng-click="showtab2()" class="vt-btn1 custom-tab" id="steps11">Select &amp; Continue</a></li>
                    <li><button ng-click="saveLease(true);" class="vt-btn1 custom-tab" id="steps12" ng-disabled="tenantArray.length == 0 || checkfrequency==false">Save</button></li>
                    <!--<li><button ng-click="saveLease(true)" class="vt-btn1 custom-tab" id="steps13">Save</button></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div ng-include="'Shared View/_Loader.html'"></div>
    <div class="modal fade-scale" id="mdlOccupants" role="dialog" aria-labelledby="mdlOccupants">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Occupants</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form name="frmOccupants" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">
                            <div class="clearfix"></div>
                            <div class="padd-lease lease-form">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                    <label>
                                        First Name
                                        <span class="errormsg">*</span><span class="errormsg" ng-show="frmOccupants.firstName.$dirty && frmOccupants.firstName.$invalid">
                                            <span ng-show="frmOccupants.firstName.$error.required">First name is required.</span>
                                        </span>
                                    </label>
                                    <input type="text" class="form2" name="firstName" ng-model="occupantsMdl.firstName" maxlength="100" required />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                    <label>
                                        Last Name
                                        <span class="errormsg">*</span><span class="errormsg" ng-show="frmOccupants.lastName.$dirty && frmOccupants.lastName.$invalid">
                                            <span ng-show="frmOccupants.lastName.$error.required">Last name is required.</span>
                                        </span>
                                    </label>
                                    <input type="text" class="form2" name="lastName" ng-model="occupantsMdl.lastName" maxlength="100" required />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                    <label>
                                        Relation
                                        <span class="errormsg">*</span><span class="errormsg" ng-show="frmOccupants.relation.$dirty && frmOccupants.relation.$invalid">
                                            <span ng-show="frmOccupants.relation.$error.required">Relation is required.</span>
                                        </span>
                                    </label>
                                    <input type="text" class="form2" name="relation" ng-model="occupantsMdl.relation" maxlength="100" required />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                    <label>Description</label>
                                    <textarea class="form2" id="clausedesc" stopccp ng-model="occupantsMdl.detail" maxlength="345"></textarea>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                    <!--<label>Actions</label>-->
                                    <label>&nbsp;</label>
                                    <button type="button" ng-click="AddOccupants(occupantsMdl,frmOccupants);"
                                            ng-class="{disabled: frmOccupants.$invalid}" class="btn btn-success btn-block">
                                        Add
                                    </button>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn_close btn-block" ng-click="CloseMdl_Occupants(frmOccupants)">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade-scale" id="mdlClauses" role="dialog" aria-labelledby="mdlClauses">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Clauses</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form name="frmClauses" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">
                            <div class="clearfix"></div>
                            <div class="padd-lease lease-form">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                    <label>
                                        Clause Type
                                        <span class="errormsg">*</span><span class="errormsg"
                                                                             ng-show="frmClauses.clausetype.$dirty && frmClauses.clausetype.$invalid">
                                            <span ng-show="frmClauses.clausetype.$error.required">Clause Type is required.</span>
                                        </span>
                                    </label>

                                    <input type="text" class="form2" name="clausetype" ng-model="pClauseType" required />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                    <label>Description</label>
                                    <textarea class="form2" id="clausedesc" stopccp ng-model="pClauseDesc" style="width:500px;height:100px;"></textarea>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                    <!--<label>Actions</label>-->
                                    <button type="button" ng-click="addClause(this,frmClauses);" class="btn btn-success btn-block"
                                            ng-class="{disabled: frmClauses.$invalid}">
                                        Add
                                    </button>
                                    <button type="button" class="btn btn_close btn-block" ng-click="CloseMdl_Clause(frmClauses)">
                                        Close
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>  <!--Close Model body-->
            </div>
        </div>
    </div>

    <div class="modal fade-scale" id="mdlOptions" role="dialog" aria-labelledby="mdlOptions">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Option</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form name="frmOptions" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">
                            <div class="clearfix"></div>
                            <div class="padd-lease lease-form">
                                <div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                        <label>
                                            Option Type
                                            <span class="errormsg">*</span><span class="errormsg"
                                                                                 ng-show="frmOptions.optiontype.$dirty && frmOptions.optiontype.$invalid">
                                                <span ng-show="frmOptions.optiontype.$error.required">Option Type is required.</span>
                                            </span>
                                        </label>

                                        <input type="text" class="form2" name="optiontype" ng-model="pOptionType" required />
                                    </div>

                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 form-group">
                                        <label>Description</label>
                                        <textarea class="form2" id="optiondesc" stopccp ng-model="pOptionDesc" style="width:700px;height:100px;"></textarea>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                        <label>Required By</label>
                                        <select class="form-control" ng-model="pOptionReqdBy">
                                            <option selected="selected" value="Owner">Owner</option>
                                            <option value="Tenant">Tenant</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                        <label>Effective On</label>
                                        <div flex-gt-xs>
                                            <md-datepicker ng-model="pOptionEffOn" md-placeholder="Effective On"></md-datepicker>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                        <label>Last Execution </label>
                                        <div flex-gt-xs>
                                            <md-datepicker ng-model="pOptionLastExec" md-placeholder="Last Execution"></md-datepicker>
                                        </div>
                                    </div>

                                </div>

                                <div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                                        <button type="button" ng-click="addOption(this,frmOptions);" class="btn btn-success btn-block"
                                                ng-class="{disabled: frmOptions.$invalid}">
                                            Add
                                        </button>
                                        <!--<button type="button" class="btn btn_close btn-block" ng-click="CloseMdl_Options(frmOptions)">
                                            Close
                                        </button>-->
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                                        <!--<button type="button" ng-click="addOption(this,frmOptions);" class="btn btn-success btn-block"
                                                ng-class="{disabled: frmOptions.$invalid}">
                                            Add
                                        </button>-->
                                        <button type="button" class="btn btn_close btn-block" ng-click="CloseMdl_Options(frmOptions)">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade-scale" id="mdlAddTanents" role="dialog" aria-labelledby="mdlAddTanents">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Tenant</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-40" layout="row">
                            <label>Add New Tenant:&nbsp;&nbsp;&nbsp;</label>
                            <div>
                                <md-radio-group ng-model="pAddNewTenant" layout="row" class="lease-form">
                                    <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                    <md-radio-button value="0">No</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <form name="frmAddTenant_New" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">
                            <div class="padd-lease lease-form" ng-if="pAddNewTenant == 1">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                    <label>
                                        First Name
                                        <span class="errormsg">*</span><span class="errormsg" ng-show="frmAddTenant_New.firstname.$dirty && frmAddTenant_New.firstname.$invalid">
                                            <span ng-show="frmAddTenant_New.firstname.$error.required">First name is required.</span>
                                        </span>
                                    </label>
                                    <input type="text" class="form2" name="firstname" ng-model="$parent.pFirstName" placeholder="First Name" required />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                    <label>
                                        Last Name
                                        <span class="errormsg">*</span><span class="errormsg" ng-show="frmAddTenant_New.lastname.$dirty && frmAddTenant_New.lastname.$invalid">
                                            <span ng-show="frmAddTenant_New.lastname.$error.required">Last name is required.</span>
                                        </span>
                                    </label>
                                    <input type="text" class="form2" name="lastname" ng-model="$parent.pLastName" placeholder="Last Name" required />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                    <label>
                                        Email

                                        <span class="errormsg">*</span><span class="errormsg" ng-pattern="emailAddessPattern"
                                                                             ng-show="frmAddTenant_New.lblpEmail.$dirty && frmAddTenant_New.lblpEmail.$invalid">
                                            <span ng-show="frmAddTenant_New.lblpEmail.$error.required">Email is required.</span>
                                            <span ng-show="frmAddTenant_New.lblpEmail.$error.pattern">Invalid email</span>
                                        </span>
                                        <span class="errormsg" ng-show="frmAddTenant_New.lblpEmail.$error.pattern == undefined && frmAddTenant_New.lblpEmail.$error.required == undefined">
                                            <span ng-show="isPersonEmailExist == true">Email is already exist.</span>
                                        </span>
                                    </label>
                                    <input type="text" class="form2" name="lblpEmail" ng-pattern="eml_addess" placeholder="Email"
                                           ng-model="$parent.pEmail" required ng-blur="EmailExist()" />  <!--ng-blur="CheckEmailAvailability(MdlOwner.pEmail,'person')"-->


                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">

                                    <label>
                                        Phone
                                        <span class="errormsg">*</span><span class="errormsg" ng-show="frmAddTenant_New.lblPhone.$dirty && frmAddTenant_New.lblPhone.$invalid">
                                            <span ng-show="frmAddTenant_New.lblPhone.$error.required">Phone is required.</span>
                                        </span>
                                    </label>
                                    <input type="text" class="form2" name="lblPhone"
                                           ng-model="$parent.pPhoneNo" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                    <label>&nbsp;</label>

                                    <button type="button" ng-click="savePerson(frmAddTenant);" class="btn btn-success btn-block"
                                            ng-class="{disabled: frmAddTenant_New.$invalid || isPersonEmailExist == true }">
                                        Save & Add
                                    </button>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn_close btn-block" ng-click="CloseMdl_Tenant(frmAddTenant_New)">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                        <form name="frmAddTenant" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">
                            <div class="padd-lease lease-form" ng-show="pAddNewTenant == 0">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-10 form-group">
                                    <label>
                                        Existing Tenants.  <span class="errormsg">*</span><span class="errormsg" ng-show="!frmAddTenant.ddltenant.$pristine && frmAddTenant.ddltenant.$invalid">Please select a tenant.</span>
                                    </label>

                                    <select class="form-control" name="ddltenant" ng-model="pTenant" ng-options="s.pFullName for s in tenantlist track by s.pId" required>
                                        <option value=""><----- Select Tenant -----></option>
                                    </select>

                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-10 form-group">
                                    <label>Contact No</label>
                                    <input type="text" class="form2" name="contactno" ng-model="pTenant.pPhoneNo" ng-disabled="true" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-10 form-group">
                                    <label>Email</label>
                                    <input type="email" class="form2" name="email" ng-model="pTenant.pEmail" ng-disabled="true" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-10 form-group">
                                    <!--<label>Actions</label>-->
                                    <button type="button" class="btn btn-success btn-block" ng-click="addTenant(this,frmAddTenant)"
                                            ng-class="{disabled: frmAddTenant.$invalid}">
                                        Add
                                    </button>
                                    <button type="button" class="btn btn_close btn-block" ng-click="CloseMdl_Tenant(frmAddTenant)">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <!--<div class="container-fluid lease1 wrap1">
        <div class="vt-breadcrumb">
            <div class="vt-filter">
                <ul class="menu4">
                    <li><a class="vt-btn2" ng-click="CancelLease()">Cancel</a></li>
                    <li><a ng-click="showtab2()" class="vt-btn1 custom-tab" id="steps11">Select &amp; Continue</a></li>
                    <li><button ng-click="saveLease(true);" class="vt-btn1 custom-tab" id="steps12" ng-disabled="tenantArray.length == 0">Save</button></li>
                    <li><button ng-click="saveLease(true)" class="vt-btn1 custom-tab" id="steps13">Save</button></li>
                </ul>
            </div>
        </div>
    </div>-->
    <div class="container-fluid wrapnew">
        <div class="lease_brdr vt-brdcrumb-wrap col-xs-12" ng-if="false">
            <ul class="menu2">
                <li class="active" id="liSelectProperty"><a id="stp1" data-toggle="tab" ng-click="showtab1()">1: Select Property</a></li>
                <li class="active" id="liLeaseInfo"><a id="stp2" data-toggle="tab" ng-click="showtab2()">1: Lease Information</a></li>
                <li class="" id="liTenantInfo"><a id="stp3" data-toggle="tab" ng-click="showtab3()">2: Additional Information</a></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="tab-content">
                <div id="step2" class="tab-pane fade lease-form col-xs-12" ng-show="step2Show">
                    <form>
                        <fieldset id="fildProperty" class="scheduler-border">
                            <legend class="scheduler-border">Property Detail:</legend>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group" ng-if="leasePropertyId == 0 && editlease_ByLeaseView != true">
                                <label>
                                    Select Property
                                    <sup class="errormsg">*</sup>
                                </label>
                                <div>
                                    <ui-select ng-model="selectPropertyModel" theme="selectize"
                                               title="Choose a Property" on-select="GetPropertyByDropdown(selectPropertyModel)">
                                        <ui-select-match placeholder="Select or search a Property">{{$select.selected.pName}}</ui-select-match>
                                        <ui-select-choices repeat="property in propertieslist | orderBy : 'pName' | filter: $select.search">
                                            <span style="padding-top:10px !important;" ng-bind-html="property.pName | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                            </div>
                            <!--<fieldset id="fildProperty">-->
                            <!--<legend>Property Detail:</legend>-->

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>Property ID</label>
                                <input type="text" class="form2" ng-model="selected_property.pNum" placeholder="" ng-disabled="true" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>Property Name</label>
                                <input type="text" class="form2" ng-model="selected_property.pName" placeholder="" ng-disabled="true" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>Property Category</label>
                                <input type="text" class="form2" ng-model="selected_property.pCategoryName" ng-disabled="true" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>Property Type</label>
                                <input type="text" class="form2" ng-model="selected_property.pTypeName" ng-disabled="true" />
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-24 form-group">
                                <label>Property Address</label>
                                <input type="text" class="form2" name="propertyaddress" ng-model="selected_property.pAddress" ng-disabled="true" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>Owner</label>
                                <input type="text" class="form2" name="ownername" ng-model="selected_property.pOwnerName" ng-disabled="true" />
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>Lease Description</label>
                                <textarea type="text" stopccp class="form2" ng-model="pLeaseDesc" maxlength="195"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-40 mar_top_button pad_0">
                                <div class="padd-lease lease-form">

                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <!--<fieldset>-->
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>

                    <!-- Occupants -->
                    <form>
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Tenant And Occupants Detail:</legend>

                            <div class="lease-accord col-lg-12">
                                <div class="padd-lease lease-form">
                                    <button type="button" class="btn btn-primary" ng-click="ShowAddTenetsMdl()" ng-disabled="disable_btnTenants == true || selected_property == undefined">Add Tenants Info</button> <sup ng-if="tenantArray.length < 1" class="errormsg">*</sup>
                                </div>
                                <div class="lease-form col-lg-12 col-sm-12 col-xs-12 mar_top_button pad_0">
                                    <table class="table table-bordered tableborder">
                                        <thead style="background-color:#ebebeb;">
                                            <tr>
                                                <th>Tenant Name</th>
                                                <th>Tenant Contact No.</th>
                                                <th>Tenant Email</th>
                                                <th ng-if="leasePropertyId == 0 && editlease_ByLeaseView != true">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="t in tenantArray" ng-if="t.isDeleted != true">
                                                <td>{{t.tenantname}}</td>
                                                <td>{{t.tenantphoneno}}</td>
                                                <td>{{t.tenantemail}}</td>
                                                <td ng-if="leasePropertyId == 0 && editlease_ByLeaseView != true">
                                                    <!--<img src="./images/remove.png" ng-click="removeTenant(t.counter)" />-->
                                                    <i class="fa fa-trash" style="font-size:17px;color:#6b6767;" ng-click="removeTenant(t.counter)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="lease-accord col-lg-12">
                                <div class="padd-lease lease-form">
                                    <button type="button" class="btn btn-primary" ng-disabled="selected_property == undefined" ng-click="ShowAddOccupantsMdl()">
                                        Add Occupants
                                    </button>
                                </div>
                                <div class="lease-form col-lg-12 col-sm-12 col-xs-12 mar_top_button pad_0">
                                    <table class="table table-bordered tableborder">
                                        <thead style="background-color:#ebebeb;">
                                            <tr>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Relation</th>
                                                <th>Description</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="o in lstOccupant" ng-if="!o.isDeleted">
                                                <td>{{o.firstName}}</td>
                                                <td>{{o.lastName}}</td>
                                                <td>{{o.relation}}</td>
                                                <td>{{o.detail}}</td>
                                                <td>
                                                    <!--<img src="./images/remove.png" ng-click="RemoveOccupants($index,o)" />-->
                                                    <i class="fa fa-trash" style="font-size:17px;color:#6b6767;" ng-click="RemoveOccupants($index,o)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <!-- End Occupants -->
                    <form name="FormPayment">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Agreement Detail:</legend>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>Type of Agreement</label>
                                <select class="form-control" id="ddlAgreementType" name="ddlagreementtype" ng-model="pAgreementType" required>
                                    <option value=""><----- Select Agreement -----></option>
                                    <option ng-repeat="s in agreementtypeslist" value="{{s.Id}}" ng-selected="pAgreementTypeId == s.Id">
                                        {{s.Name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>Lease Type</label>
                                <!--<textarea type="text" class="form2" ng-model="pLeaseType" maxlength="98"></textarea>-->

                                <select class="form-control" id="ddlpLeaseType" name="ddlpLeaseType" ng-model="pLeaseType" required>
                                    <option value=""><----- Select Lease Type -----></option>
                                    <option ng-repeat="type in mdlLeaseType" value="{{type.leaseType}}">
                                        {{type.leaseType}}
                                    </option>
                                </select>

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="!ShowSelectFrequency">
                                <label>
                                    Payment Frequency
                                    <sup class="errormsg">*</sup>
                                    <span class="errormsg" ng-if="!checkfrequency">Select Payment Frequency.</span>
                                </label>

                                <div>
                                    <select class="form-control" id="ddlPaymentFrequency" name="ddlPaymentFrequency" ng-model="pPaymentFrequencyId" ng-change="CreateMonthNumberArray(pPaymentFrequencyId)" required>
                                        <option value=""><---Select Payment Frequency---></option>
                                        <option ng-repeat="s in leasepaymentfrequencylist" value="{{s.Id}}" ng-selected="pPaymentFrequencyId == s.Id">
                                            {{s.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="ShowSelectFrequency">
                                <div class="row marginnone">
                                    <div class="col-md-6 p0">
                                        <label>Payment Frequency</label>
                                        <div>
                                            <select class="form-control" id="PaymentFrequency" name="PaymentFrequency" ng-model="PaymentFrequency" ng-change="CreateMonthNumberArray(PaymentFrequency)" required>
                                                <option value=""><--Select Payment Frequency--></option>
                                                <option ng-repeat="s in leasepaymentfrequencylist" value="{{s.Id}}" ng-selected="pPaymentFrequencyId == s.Id">
                                                    {{s.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 paddingLeft5px">
                                        <label>Payment Date</label>
                                        <div>
                                            <div ng-if="frequency == 'Weekly'" class="weekly">Every {{ShowSelectFrequency}}</div> 
                                            <div ng-if="frequency != 'Weekly'" class="monthly">{{ShowSelectFrequency}}<sup>{{suffix}}</sup> of every month</div>

                                            <span style="float:right;"><a ng-click="ShowFrequencyModel()">Change</a></span>
                                        </div>
                                    </div>

                                </div>

                            </div>



                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>Lease Rental Amount ($)</label>
                                <input type="text" class="form2 rightText" placeholder="0" name="rentalamount" ng-model="pLeaseAmount" maxlength="16" only-digits required />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>Security Deposit ($)</label>
                                <input type="text" class="form2 rightText" name="securitydeposit" placeholder="0" ng-model="pSecurityDeposit" maxlength="16" only-digits required />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>Lease Active?</label>
                                <select class="form-control" ng-model="pLeaseActive" required>
                                    <option selected value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label class="padd7">Start Date</label>
                                <div flex-gt-xs>                                   
                                    <md-datepicker ng-model="pStartDate" md-placeholder="Start date"
                                                   ng-change="startDateChanged()" ng-init="DisableInput_DTP()"></md-datepicker>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label class="padd7">End Date</label>
                                <div flex-gt-xs>                                    
                                    <md-datepicker md-min-date="pStartDate"  ng-model="pEndDate" md-placeholder="End date" ng-init="DisableInput_DTP()"></md-datepicker>
                                    <!--<md-datepicker  ng-model="pEndDate" md-placeholder="End date"  ng-init="DisableInput_DTP()"></md-datepicker>-->
                                    <!--ng-change="endDateChanged()"-->
                                    <!--<md-datepicker ng-model="BC.endDate" md-placeholder="Start date"  md-min-date="BC.startDate"></md-datepicker>-->
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div class="clearfix"></div>
                    <form>
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Document Section:</legend>
                            <div id="docsSection">
                                <div class="clearfix"></div>

                                <div class="lease-form">
                                    <div><label>Attach documents.</label></div>
                                    <div class="col-sm-6 col-xs-18 form-group mar_top_button pad_0">
                                        <input type="file" multiple value="Upload" id="flUploadDocuments" title="Load files..." onchange="angular.element(this).scope().documentSelected(this)" />
                                    </div>
                                </div>
                                <div class="lease-form col-sm-12 col-xs-12" ng-if="documentArray.length != 0" style="padding:0px 4px;">
                                    <table class="table table-bordered tableborder">
                                        <thead style="background-color:#ebebeb;">
                                            <tr>
                                                <th>Document Name</th>
                                                <th>Document Description</th>
                                                <th>Document Tags</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="doc in documentArray" ng-if="!doc.isDeleted">
                                                <td><i class="fa fa-file"></i> &nbsp; {{doc.documentName}}</td>
                                                <td><input type="text" placeholder="Document description" class="form2" maxlength="200" name="docDesc" ng-model="doc.documentDesc" /></td>
                                                <td><input type="text" placeholder="Document tags" class="form2" maxlength="500" name="docTags" ng-model="doc.documentTags" /></td>
                                                <td>
                                                    <!--<img src="./images/remove.png" ng-click="removeDocument(doc.counter)" />-->
                                                    <i class="fa fa-trash" style="font-size:17px;color:#6b6767;" ng-click="removeDocument(doc.counter)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-12 padd-zero">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#AdditionalInformation" style="margin-left:15px;">Additional Information</button> <br /> <br />
                </div>
                <div id="AdditionalInformation" class="col-xs-12 collapse">
                    <form style="margin-top:1em;">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Additional Info:</legend>
                            <div class="padd-lease lease-form">
                                <div class="col-md-4 col-sm-4 col-sm-4 col-xs-12 form-group">
                                    <label>Parking Spaces</label>
                                    <input type="text" class="form2" ng-model="pParkingSpaces" name="parkingspaces"
                                           placeholder="Parking Spaces" only-digits max-limit="{{selected_property.pParkingSpaces}}" with-max-limit />
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                    <label>Gross Area (Sq Ft)</label>
                                    <input type="text" class="form2" ng-model="selected_property.pGrossArea" name="grossarea"
                                           placeholder="Gross Area" ng-disabled="true" />
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                    <label>Rentable Area (Sq Ft)</label>
                                    <input type="text" class="form2" ng-model="pRentableArea" name="rentablearea" placeholder="Rentable Area" only-digits max-limit="{{selected_property.pRentableArea}}" with-max-limit />
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                    <label>Late Payment Fee</label>
                                    <input type="text" class="form2" ng-model="pLatePayamentFee" name="latepaymentfee" placeholder="Late Payment Fee" only-digits />
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                    <label>Late Payment Charged</label>
                                    <select class="form-control" id="ddlLatePaymentCharged" name="ddlLatePaymentCharged" ng-model="pLatePayamentCharged" required>
                                        <option value=""><-Select Late Payment Charged-></option>
                                        <option value="1">Fixed Amount</option>
                                        <option value="2">One Time Charge</option>
                                        <option value="3">Charged Daily</option>
                                        <option value="4">Percentage</option>
                                    </select>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group mar_top_button" layout="row">
                                    <label>Is Move-in Inspection Required?&nbsp;&nbsp;&nbsp;</label>
                                    <div>
                                        <md-radio-group ng-model="pIsMoveInInspectionReqd" layout="row">
                                            <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                            <md-radio-button value="0">No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group mar_top_button" layout="row">
                                    <label>Is Move-out Inspection Required?&nbsp;&nbsp;&nbsp;</label>
                                    <div>
                                        <md-radio-group ng-model="pIsMoveOutInspectionReqd" layout="row">
                                            <md-radio-button value="1" class="md-primary">Yes</md-radio-button>
                                            <md-radio-button value="0">No</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-36 form-group" layout="row">
                                    <label>Maximum People allowed to live on the property:&nbsp;<br />(be sure to include any children)</label>
                                    <input type="text" class="form2" style="width:50px" ng-model="pMaxPeopleAllowedToLive" name="maxpplallowedtolive"
                                           numbers-only maxlength="2" placeholder="Maximum People allowed to Live" required />
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <form>
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Add Clauses:</legend>
                            <div class="lease-accord col-lg-12">
                                <div class="padd-lease lease-form">
                                    <button type="button" class="btn btn-primary" ng-click="ShowAddClausesMdl()">
                                        Add Clauses
                                    </button>
                                </div>
                                <div class="lease-form col-sm-12 col-xs-12 pad_0 mar_top_button">


                                    <table class="table table-bordered tableborder">
                                        <thead style="background-color:#ebebeb;">
                                            <tr>
                                                <th>Clause Type</th>
                                                <th>Clause Description</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="t in clauseArray" ng-if="!t.isDeleted">
                                                <td>{{t.clausetype}}</td>
                                                <td>{{t.clausedesc}}</td>
                                                <td>
                                                    <!--<img src="./images/remove.png" ng-click="removeClause(t.counter)" />-->
                                                    <i class="fa fa-trash" style="font-size:17px;color:#6b6767;" ng-click="removeClause(t.counter)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <form>
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Add Options:</legend>
                            <div class="lease-accord col-lg-12">
                                <div class="padd-lease lease-form">
                                    <button type="button" class="btn btn-primary" ng-click="ShowAddOptionsMdl()">
                                        Add Options
                                    </button>
                                </div>
                                <div class="lease-form col-lg-12 col-sm-12 col-xs-12 pad_0 mar_top_button">
                                    <div>
                                        <table class="table table-bordered tableborder">
                                            <thead style="background-color:#ebebeb;">
                                                <tr>
                                                    <th>Option Type</th>
                                                    <th>Option Description</th>
                                                    <th>Required By</th>
                                                    <th>Effective On</th>
                                                    <th>Last Execution</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="t in optionArray" ng-if="!t.isDeleted">

                                                    <td>{{t.optiontype}}</td>
                                                    <td>{{t.optiondesc}}</td>
                                                    <td>{{t.optionreqdby}}</td>
                                                    <td>{{t.optioneffon | date }}</td>
                                                    <td>{{t.optionlastexec| date}}</td>
                                                    <td>
                                                        <!--<img src="./images/remove.png" ng-click="removeOption(t.counter)" />-->
                                                        <i class="fa fa-trash" style="font-size:17px;color:#6b6767;" ng-click="removeOption(t.counter)"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="modal fade-scale" id="mdlRentPaymentFrequency" role="dialog" aria-labelledby="mdlRentPaymentFrequency">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Select Payment Date</h4>
                </div>
                <div class="modal-body">
                    <div class="row" ng-if="frequency == 'Weekly'">
                        <div class="col-md-12 block">
                            <md-radio-group ng-model="mdlWeekDay" ng-click="showSelectWeekDay(mdlWeekDay)" layout="row">
                                <md-radio-button value="{{weekDay}}" ng-repeat="weekDay in weekDayArray">{{weekDay}}</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div class="row" ng-if="frequency != 'Weekly' && frequency != 'Other'">
                        <div class="col-md-12">
                            <ul class="days">
                                <li ng-repeat="day in monthDayArray"><span ng-click="setDay(day)" ng-class="{'active': mdlMonthDay == day}">{{day}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn vt-btn2" data-dismiss="modal" aria-label="Close">Close</button>
                    <button class="btn vt-btn1"  ng-click="ShowSelectDayDate()">Ok</button>
                </div>
            </div>
        </div>
    </div>

</div>
