﻿

<style>
    .back-color {
        background-color: gainsboro !important;
    }

    .selectdemoSelectHeader {
        /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
    }

        .selectdemoSelectHeader .demo-header-searchbox {
            border: none;
            outline: none;
            height: 100%;
            width: 100%;
            padding: 0;
        }

        .selectdemoSelectHeader .demo-select-header {
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
            padding-left: 10.667px;
            height: 48px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            width: auto;
        }

        .selectdemoSelectHeader md-content._md {
            max-height: 240px;
        }

        .tab-content .form-group {
    min-height: 43px !important;
}
        .mar_10 {
            margin-top:10px;
        }
</style>

<div ng-controller="AssociationController as ASSC" ng-show="!userData.isSubscriptionExpired" class="min-higt" layout="column" ng-cloak ng-init="ASSC.LoadCreateAssociation()">
    <div class="clearfix"></div>
    <div class="container-fluid wrap1">
        <div class="vt-breadcrumb">
            <div class="vt-brdcrumb-wrap padd6 col-lg-4 col-xs-12">
                <img class="bld-img" src="images/bld-icon.png">
                <h5>
                    {{ASSC.associationEntryMode}} Association
                    <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                    <span><a href="#association">Contacts</a> <img src="images/right-arrow.png" /></span>
                    <span>{{ASSC.associationEntryMode}} Association</span>
                </h5>
            </div>
            <div class="vt-filter">
                <ul class="menu4">
                    <a href="#association" class="btn btn-danger vt-btn2">Cancel</a>
                    <a class="btn btn-success vt-btn2" ng-click="ASSC.SaveAssociation(frmCreateAssociation);" ng-if="ASSC.associationEntryMode == 'Create'" ng-class="{disabled: frmCreateAssociation.$invalid || ASSC.isEmailExist == true}">Save</a>
                    <a class="btn btn-success vt-btn2" ng-click="ASSC.UpdateAssociation(frmCreateAssociation);" ng-if="ASSC.associationEntryMode == 'Edit'" ng-class="{disabled: frmCreateAssociation.$invalid || ASSC.isEmailExist == true}">Update</a>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container pad_0">
            <div class="tab-content">
                <div id="step1tab" class="tab-pane fade in active">
                    <div id="accord4" class="work-wrap">
                        <div class="lease-form col-xs-12">
                            <form name="frmCreateAssociation" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Association Info</legend>
                                    <div class="image-upload col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <i class="fa fa-window-close removeProfileImage" onclick="angular.element(this).scope().removeProfileImage()"></i>
                                        <div class="img-one" id="divimage">
                                            <label for="file-input">
                                                <i class="material-icons">add</i>
                                            </label>
                                            <input id="file-input" class="file1" type="file" name="image1"
                                                   onchange="angular.element(this).scope().fileSelected(this)" />
                                        </div>
                                    </div>

                                    <div class="padd-lease col-lg-8 col-md-8 col-sm-8 col-xs-8">

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>
                                                Company Name
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="!frmCreateAssociation.companyname.$pristine && frmCreateAssociation.companyname.$invalid">
                                                    Company name is required
                                                </span>
                                            </label>
                                            <input type="text" class="form2" name="companyname" ng-model="ASSC.mdlAssociationRegistration.mdlAssociation.hoaName"
                                                   maxlength="90" placeholder="Company Name" required />
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>
                                                First Name
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="!frmCreateAssociation.personFirstName.$pristine && frmCreateAssociation.personFirstName.$invalid">
                                                    First name is required
                                                </span>
                                            </label>
                                            <input type="text" class="form2" name="personFirstName" ng-model="ASSC.mdlAssociationRegistration.mdlAssociation.personFirstName" maxlength="40"
                                                   placeholder="First Name" required />
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>
                                                Last Name
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="!frmCreateAssociation.personLastName.$pristine && frmCreateAssociation.personLastName.$invalid">
                                                    Last name is required
                                                </span>
                                            </label>
                                            <input type="text" class="form2" name="personLastName" ng-model="ASSC.mdlAssociationRegistration.mdlAssociation.personLastName" maxlength="40"
                                                   placeholder="Last Name" required />
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>Address <span class="errormsg">*</span><span class="errormsg" ng-show="!frmCreateAssociation.addressLine1.$pristine && frmCreateAssociation.addressLine1.$invalid">Address is required</span></label>
                                            <input type="text" class="form2" ng-model="ASSC.mdlAssociationRegistration.mdlAddress.line1" name="addressLine1" maxlength="95" placeholder="Address" required />
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>Country<span class="errormsg">*</span><span class="errormsg" ng-show="!frmCreateAssociation.country.$pristine && frmCreateAssociation.country.$invalid"> Select Country</span></label>
                                            <ui-select ng-model="ASSC.mdlCountryState.selectedCountry" theme="selectize"
                                                       name="ddlcountry"
                                                       title="Select Country" required>
                                                <ui-select-match placeholder="Select or search a country">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="country in ASSC.country | orderBy : 'Name' | filter: $select.search">
                                                    <span ng-bind-html="country.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>State<span class="errormsg">*</span><span class="errormsg" ng-show="!frmCreateAssociation.state.$pristine && frmCreateAssociation.state.$invalid"> Select State</span></label>

                                            <ui-select ng-model="ASSC.mdlCountryState.selectedState" theme="selectize"
                                                       name="ddlstate" ng-disabled="showState"
                                                       on-select="ASSC.GetCountyByStateId($model)" title="Select State" required>
                                                <ui-select-match placeholder="Select or search a state">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="state in ASSC.state | orderBy : 'Name' | filter: $select.search">
                                                    <span ng-bind-html="state.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                    </div>

                                    <div class="padd_zero col-lg-12 mar_10">
                                     
                                        <div class="col-md-4 col-sm-4 col-xs-12 ">

                                            <label>County</label>
                                            <ui-select ng-model="ASSC.mdlCountryState.selectedCounty" theme="selectize"
                                                       name="ddlcounty" ng-disabled="showCounty"
                                                       title="Select county" on-select="ASSC.ChangeCity($model)">
                                                <ui-select-match placeholder="Select or search a county">
                                                    {{$select.selected.name}}
                                                    <button class="clearddl" data-toggle="tooltip" data-placement="bottom" title="Cancel selection" ng-click="$parent.clearddl($event)">X</button>
                                                </ui-select-match>
                                                <ui-select-choices repeat="county in ASSC.county | orderBy : 'name' | filter: $select.search">
                                                    <span ng-bind-html="county.name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">

                                            <label>City<span class="errormsg">*</span><span class="errormsg" ng-show="!frmCreateAssociation.city.$pristine && frmCreateAssociation.city.$invalid"> Select City</span></label>
                                            <ui-select ng-model="ASSC.mdlCountryState.selectedCity" theme="selectize"
                                                       name="ddlcity" ng-disabled="showCity"
                                                       title="Select city" on-select="ASSC.ChangeZip();" required>
                                                <ui-select-match placeholder="Select or search a city">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="city in ASSC.city | orderBy : 'Name' | filter: $select.search | limitTo:35">
                                                    <span ng-bind-html="city.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label>
                                                Zip Code
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmCreateAssociation.zipcode.$dirty && frmCreateAssociation.zipcode.$invalid">
                                                    <span ng-show="frmCreateAssociation.zipcode.$error.required">Zip code is required.</span>
                                                    <span ng-show="frmCreateAssociation.zipcode.$error.pattern"> The zip code must have 5 digits with an optional - and 4 more digits.</span>
                                                </span>
                                                <span ng-if="!ASSC.pZipValid" class="errormsg">Invalid zip code</span>
                                            </label>

                                            <input type="text" class="form2" ng-model="ASSC.mdlAssociationRegistration.mdlAddress.zipcode"
                                                   ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/"
                                                   ng-blur="ASSC.ValidateZipCode(ASSC.mdlAssociationRegistration.mdlAddress.zipcode,'zip_code')" name="zipcode" id="zip_code"
                                                   placeholder="Zip Code" maxlength="10" required />
                                        </div>
                                    </div>

                                    <div class="padd_zero col-lg-12">                                    

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label>
                                                Email
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmCreateAssociation.email.$dirty && frmCreateAssociation.email.$invalid">
                                                    <span ng-show="frmCreateAssociation.email.$error.required && frmCreateAssociation.email.$dirty">Email is required.</span>
                                                    <span ng-show="frmCreateAssociation.email.$error.pattern">Invalid email</span>
                                                </span>
                                                <span class="errormsg">
                                                    <span ng-show="ASSC.isEmailExist == true">Email already exist.</span>
                                                </span>
                                            </label>
                                            <div>
                                                <input class="form2" type="email" placeholder="Enter email"
                                                       ng-pattern="ASSC.eml_addess" ng-model="ASSC.mdlAssociationRegistration.mdlAssociation.email" name="email"
                                                       ng-blur="ASSC.EmailExist(ASSC.mdlAssociationRegistration.mdlAssociation.email)" maxlength="50" required>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label>
                                                Phone No
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmCreateAssociation.phone.$dirty && frmCreateAssociation.phone.$invalid">
                                                    <span ng-show="frmCreateAssociation.phone.$error.required">Phone number is required.</span>
                                                </span>
                                            </label>
                                            <div>
                                                <input class="form2" type="text"
                                                       ng-model="ASSC.mdlAssociationRegistration.mdlAssociation.phone" name="phone" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required> <!--numbers-only-->
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Fax</label>
                                            <div>
                                                <input class="form2" type="text" placeholder="1234567890"
                                                       ng-model="ASSC.mdlAssociationRegistration.mdlAssociation.fax" ng-blur="CheckFax_IsEmpty()" numbers-only maxlength="10">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="padd_zero col-lg-12">                                       

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label>Twitter URL</label>
                                            <div class="form-group">
                                                <input class="form2" type="text" placeholder="Twitter URL"
                                                       ng-model="ASSC.mdlAssociationRegistration.mdlAssociation.twitterUrl" maxlength="200">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 ">
                                            <label>FB URL</label>
                                            <div class="form-group">
                                                <input class="form2" type="text" placeholder="FB URL"
                                                       ng-model="ASSC.mdlAssociationRegistration.mdlAssociation.fbUrl" maxlength="200">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'Shared View/_Loader.html'"></div>
</div>