
<div ng-controller="workorderController as WOC" ng-show="!userData.isSubscriptionExpired" class="min-higt" layout="column" ng-init="WOC.LoadCreateWorkOrder()" ng-cloak>
    <div class="container-fluid wrap1">
        <div class="vt-breadcrumb">
            <div class="lease_brdr vt-brdcrumb-wrap col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <img class="bld-img" src="images/bld-icon.png" />
                <h5>
                    {{WOC.WorkOrderEntryMode}} Work Order
                    <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                    <span>Maintenance <img src="images/right-arrow.png" /> </span>
                    <span>Work Orders</span>
                </h5>
            </div>
            <div class="vt-filter">
                <ul class="menu4">                   
                    <a ng-click="WOC.CancelCreateWorkOrder()" class="btn btn-danger vt-btn2">Cancel</a>
                    <a class="btn btn-success vt-btn2" ng-if="WOC.WorkOrderEntryMode == 'Create' && userData.isSubscriptionExpired == false" ng-click="WOC.SaveWorkorder(woForm)" style="background-color: #5cb85c!important;border-color:#5cb85c!important;" ng-class="{disabled: woForm.$invalid || WOC.wrArray.length < 1 }">Save</a>
                </ul>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="container mar_top2em">
        <form class="form-horizontal" name="woForm" novalidate role="form">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Work Order</legend>
                    <div class="padd_zero marg1 col-md-12" ng-if="WOC.WorkOrderEntryMode != 'Create'">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <label>WOID</label>
                            <input type="text" class="form2" name="woid" ng-model="WOC.WOID" readonly disabled />
                        </div>
                    </div>

                    <div class="padd_zero col-md-12">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                            <label>Property<span class="errormsg">*</span><span class="errormsg" ng-show="!woForm.ddlproperty.$pristine && woForm.ddlproperty.$invalid">Select Property</span></label>
                            <ui-select ng-model="WOC.selectedProperty" theme="selectize" name="ddlproperty" on-select="WOC.GetPropertyOwnerTenantManagerByPropertyId($model.propertyId)"
                                       ng-disabled="WOC.WorkOrderEntryMode == 'Edit'" title="Choose a Property" required>
                                <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                                <ui-select-choices repeat="property in WOC.propertieslist | filter: $select.search">
                                    <span ng-bind-html="property.propertyName | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <label>Address</label>
                            <input type="text" class="form2" name="address" ng-model="WOC.selectedProperty.propAddress" readonly disabled />
                        </div>
                    </div>

                    <div class="padd_zero marg1 col-md-12">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <label>
                                Requested By
                                <!--<span class="errormsg">*</span>
                                <span class="errormsg" ng-show="!woForm.requestedby.$pristine && woForm.requestedby.$invalid">select requested by</span>-->
                            </label>

                            <ui-select ng-model="WOC.RequestedBy" theme="selectize" name="requestedby"
                                       ng-disabled="WOC.WorkOrderEntryMode == 'Edit' || WOC.lstRequestedBy.length < 1" title="Select Person Type">
                                <ui-select-match placeholder="Select Person Type">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="Person in WOC.lstRequestedBy | filter: $select.search">
                                    <span ng-bind-html="Person.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <label>Requested Date</label>
                            <div flex-gt-xs>
                                <md-datepicker ng-init="WOC.DisableInput_DTP()" ng-model="WOC.woRequestedDate" ng-disabled="WOC.WorkOrderEntryMode == 'Edit'" md-placeholder="Start date"></md-datepicker>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <label>
                                Description
                            </label>
                            <textarea class="form-control form2" ng-disabled="WOC.WorkOrderEntryMode == 'Edit'" maxlength="1000" name="pWODescription" ng-model="WOC.woDescription" style="resize:none;"></textarea>
                        </div>
                    </div>

                    <div class="padd_zero marg1 col-md-12" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false && (WOC.selectedWorkOrderStatus == '' || WOC.selectedWorkOrderStatus.name == 'Open')">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" ng-if="WOC.selectedWorkOrderStatus.name != 'Cancelled'">
                            <a id="addrow" class="btn-max clone5 vt-btn3" data-toggle="modal" ng-click="WOC.AddNewWorkRequers();" data-target="#mdlAddWorkRequest">
                                <i class="glyphicon glyphicon-plus-sign"></i> Add Work Request
                            </a>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Work Requests</legend>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <!--<th ng-click="IC.lstInvoices_OrderBy = IC.OrderBy(IC.lstInvoices_OrderBy, 'invoiceNum')">Invoice No</th>-->
                                    <th  ng-if="WOC.selectedWorkOrderStatus != ''">WR#</th>
                                    <th>Service Category</th>
                                    <th>Vendor Name</th>
                                    <th>Description</th>
                                    <th>Exp Start Date</th>
                                    <th>Exp Comp Date</th>
                                    <th>PO Number</th>
                                    <th>Invoice Number</th>
                                    <th ng-if="WOC.selectedWorkOrderStatus != ''">Status</th>
                                    <th ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false && WOC.WorkOrderEntryMode == 'Edit'">Action</th>
                                    <th ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false && WOC.WorkOrderEntryMode != 'Edit'">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="workorder in WOC.wrArray track by $index">
                                   
                                    <td  ng-if="WOC.selectedWorkOrderStatus != '' && workorder.strStatus == 'Open'" ng-click="WOC.EditWorkRequest(workorder.id,'Edit')">
                                        <a class="underline">
                                            WR#{{workorder.id}}
                                        </a>   
                                    </td>
                                    <td ng-if="WOC.selectedWorkOrderStatus != '' && workorder.strStatus != 'Open'" ng-click="WOC.EditWorkRequest(workorder.id,'View')">
                                        <a class="underline">
                                            WR#{{workorder.id}}
                                        </a>
                                    </td>
                                    <td>{{workorder.serviceCategory.name}}</td>
                                    <td>{{workorder.vendor.firstName + ' '+ workorder.vendor.lastName}}</td>
                                    <td>{{workorder.description}}</td>
                                    <td>{{workorder.expectedStartDate | date}}</td>
                                    <td>{{workorder.expectedCompletionDate | date}}</td>
                                    <td>{{workorder.poNumber}}</td>
                                    <td>{{workorder.invoiceNumber}}</td>
                                    <td ng-if="WOC.selectedWorkOrderStatus != ''">{{workorder.strStatus}}</td>
                                    <td ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false && WOC.WorkOrderEntryMode == 'Edit'">
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                Action
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu padd10topBottom">
                                                <li ng-if="workorder.strStatus == 'Open'" class="marginTop16 EditOption" style="cursor:pointer" ng-click="WOC.EditWorkRequest(workorder.id,'Edit')" title="Edit Work Request">
                                                    <i style="margin-right:5px;" class="fa fa-pencil"></i>
                                                    Edit
                                                </li>
                                                <li ng-if="workorder.strStatus != 'Open'" class="marginTop16 EditOption" style="cursor:pointer" ng-click="WOC.EditWorkRequest(workorder.id,'View')" title="Edit Work Request">
                                                    <i style="margin-right:5px;" class="fa fa-eye"></i>
                                                    View
                                                </li>
                                                <li ng-if="workorder.strStatus == 'Open'" class="margintop3" style="cursor:pointer" ng-click="WOC.ChangeWorkRequestStatus('Closed',workorder.id)">
                                                    <i style="margin-right:5px;" class="fa fa-book"></i>Close
                                                    <!--<md-radio-group ng-model="WorkRequestStatus" layout="row" ng-change="WOC.ChangeWorkRequestStatus('Closed',workorder.id)">
                                                        <md-radio-button value="Closed">Close</md-radio-button>
                                                    </md-radio-group>-->
                                                </li>
                                                <li ng-if="workorder.strStatus == 'Open'" class="margintop3" style="cursor:pointer" ng-click="WOC.ChangeWorkRequestStatus('Cancelled',workorder.id)">
                                                    <i style="margin-right:5px;" class="fa fa-close"></i>Cancel
                                                    <!--<md-radio-group ng-model="WorkRequestStatus" layout="row" ng-change="WOC.ChangeWorkRequestStatus(WorkRequestStatus,workorder.id)">
                                                        <md-radio-button value="Cancelled">Cancel</md-radio-button>
                                                    </md-radio-group>-->
                                                </li>
                                            </ul>
                                        </div>
                                    </td>

                                    <td ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false && WOC.WorkOrderEntryMode != 'Edit'">
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                Action
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu padd10topBottom">
                                                <li class="marginTop16 EditOption" style="cursor:pointer" ng-click="WOC.EditWR(workorder.id,$index)" title="Edit Work Request">
                                                    <i style="margin-right:5px;" class="fa fa-pencil"></i>
                                                    Edit
                                                </li>
                                                <li class="marginTop16" style="cursor:pointer" ng-click="WOC.removeWR($index)" title="Delete Work Request">
                                                    <i class="fa fa-trash"></i>
                                                    Delete
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border" style="margin-bottom:unset!important;">Attach Documents</legend>
                    <!--<div><label>Attach documents.</label></div>-->

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false && WOC.WorkOrderEntryMode == 'Edit' && WOC.selectedWorkOrderStatus.name == 'Open'">
                        <div class="col-sm-12 col-xs-12 form-group">
                            <a class="btn btn-success vt-btn2 text-right" style="float:right;background-color: #5cb85c!important;border-color:#5cb85c!important;"
                               ng-click="WOC.saveDocuments()" ng-class="{disabled : WOC.documentArray.length < 1 }">Save</a>
                        </div>
                    </div>
                    <div class="lease-form col-sm-12 col-xs-12" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">
                        <div class="col-sm-6 col-xs-12 form-group">
                            <input type="file" multiple value="Upload" id="flUploadDocuments" title="Load files..." onchange="angular.element(this).scope().documentSelected(this)" />
                        </div>
                    </div>
                    <div class="lease-form col-sm-12 col-xs-12" ng-repeat="doc in WOC.documentArray">
                        <div ng-if="!doc.isDeleted">
                            <div class="col-sm-3 col-xs-10 form-group">
                                <label>Document Name</label>

                                <input type="text" placeholder="Document name" class="form2" maxlength="200" name="docName" value="{{doc.documentName.split('.')[0]}}" disabled />
                                <!--<span class="form2">{{doc.documentName.split('.')[0]}}</span>-->
                            </div>
                            <div class="col-sm-3 col-xs-8">
                                <label>Document Description</label>
                                <input type="text" placeholder="Document description" class="form2" maxlength="200" name="docDesc" ng-model="doc.documentDesc" />
                            </div>
                            <div class="col-sm-2 col-xs-8">
                                <div>
                                    <label>Document Tags</label>
                                    <input type="text" placeholder="Document tags" class="form2" maxlength="500" name="docTags" ng-model="doc.documentTags" />
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-8" ng-show="WOC.WorkOrderEntryMode == 'Edit'">
                                <div>
                                    <label>Uploaded Date</label>
                                    <input type="text" placeholder="Uploaded Date" class="form2" name="docDate" value="{{ doc.documentCreationDate | date}}" disabled />
                                    <!--<span class="form2" name="UploadedDate">{{ doc.documentCreationDate | date}}</span>-->
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-1 form-group" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">
                                <label>&nbsp;</label>
                                <i class="fa fa-trash" style="font-size:17px;color:#6b6767;" ng-click="WOC.removeDocument(doc.counter)"></i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
    <div class="clearfix"></div>

    <div class="modal fade-scale" id="mdlAddWorkRequest" role="dialog" aria-labelledby="mdlAddWorkRequest">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Work Request</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="padd-lease">
                            <form name="frmWorkRequest" novalidate role="form">
                                <fieldset class="scheduler-border">
                                    <!--<legend class="scheduler-border">Work Request</legend>-->
                                    <div>
                                        <div class="padd_zero marg1 col-md-12">

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <label>
                                                    Vendor Name
                                                </label>
                                                <ui-select ng-model="WOC.mdlWorkRequest.vendor" theme="selectize"
                                                           name="ddlvendor" on-select="WOC.GetVendorServiceCategory($model.vendorId);"
                                                           title="Select Vendor" ng-disabled="WOC.WorkRequestEntrymode == 'View'" >
                                                    <ui-select-match placeholder="Select Vendor">{{$select.selected.firstName +' '+$select.selected.lastName}}</ui-select-match>
                                                    <ui-select-choices repeat="s in WOC.lstVendor | filter: $select.search" group-by="'groupName'">
                                                        <span ng-bind-html="s.firstName +' '+ s.lastName | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <a href="#createvendor" class="underline" ng-if="WOC.WorkRequestEntrymode != 'View'" ng-click="WOC.CloseModal()">Create New Vendor</a>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <label>
                                                    Service Category
                                                    <span class="errormsg">*</span>
                                                    <span class="errormsg" ng-show="frmWorkRequest.wrservicecategory.$dirty && frmWorkRequest.wrservicecategory.$invalid">
                                                        <span ng-show="frmWorkRequest.wrservicecategory.$error.required">Select service category.</span>
                                                    </span>
                                                </label>
                                                <ui-select ng-model="WOC.mdlWorkRequest.serviceCategory" theme="selectize"
                                                           name="wrservicecategory"
                                                           title="Select Service Category" ng-disabled="WOC.WorkRequestEntrymode == 'View'" required>
                                                    <ui-select-match placeholder="Select Service Category">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="ServiceGrp in WOC.lstServiceCategory | filter: $select.search" group-by="'groupName'">
                                                        <span ng-bind-html="ServiceGrp.name | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <label>
                                                    PO Number
                                                </label>
                                                <input type="text" class="form-control form2" name="ponumber" ng-model="WOC.mdlWorkRequest.poNumber" ng-disabled="WOC.WorkRequestEntrymode == 'View'" />
                                            </div>
                                           
                                        </div>

                                        <div class="padd_zero marg1 col-md-12">                                           
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <label>
                                                    Invoice Number
                                                </label>
                                                <input type="text" class="form-control form2" name="invoicenumber" ng-model="WOC.mdlWorkRequest.invoiceNumber" ng-disabled="WOC.WorkRequestEntrymode == 'View'" />
                                            </div>    

                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                <label>Description</label>
                                                <textarea class="form-control form2" maxlength="490" name="wrdescription" ng-model="WOC.mdlWorkRequest.description" style="resize:none;" ng-disabled="WOC.WorkRequestEntrymode == 'View'"></textarea>
                                            </div>
                                                                                   
                                        </div>
                                        <div class="padd_zero marg1 col-md-12">

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                                <label>Expected Start Date</label>
                                                <div flex-gt-xs >
                                                    <md-datepicker ng-init="WOC.DisableInput_DTP()" md-min-date="WOC.TodayDate" ng-change="WOC.ChangeCompletionDate()" ng-model="WOC.mdlWorkRequest.expectedStartDate"  md-placeholder="Expected start date" ng-disabled="WOC.WorkRequestEntrymode == 'View'"></md-datepicker>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">                                               
                                                <label>Expected Completion Date</label>
                                                <div flex-gt-xs>
                                                    <md-datepicker ng-init="WOC.DisableInput_DTP()" md-min-date="WOC.mdlWorkRequest.expectedStartDate" ng-model="WOC.mdlWorkRequest.expectedCompletionDate"  md-placeholder="Expected completion date" ng-disabled="WOC.WorkRequestEntrymode == 'View'"></md-datepicker>
                                                </div>
                                            </div>


                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" ng-if="WOC.WorkOrderEntryMode == 'Edit' && WOC.mdlWorkRequest.workorderId != 0">
                                                <label>
                                                    Status
                                                    <!--<span class="errormsg">*</span>
                                                    <span class="errormsg" ng-show="frmWorkRequest.ddlWorkRequestStatus.$dirty && frmWorkRequest.ddlWorkRequestStatus.$invalid">
                                                        <span ng-show="frmWorkRequest.ddlWorkRequestStatus.$error.required">Select work order status.</span>
                                                    </span>-->
                                                </label>       
                                                <md-radio-group ng-model="WOC.mdlWorkRequest.wrStatus" layout="row">
                                                    <md-radio-button ng-disabled="WOC.WorkRequestEntrymode == 'View'" value="{{Status.name}}" [checked]="{{WOC.mdlWorkRequest.wrStatus.name == Status.name}}" ng-repeat="Status in WOC.mdlWorkRequestStatus">{{Status.name}}</md-radio-button>
                                                </md-radio-group>
                                               
                                                <!--<select name="ddlWorkRequestStatus" class="form-control form2" ng-model="WOC.mdlWorkRequest.wrStatus" ng-options="s.name for s in WOC.mdlWorkRequestStatus track by s.id" required>
                                                    <option value="">Select Status</option>
                                                </select>-->
                                            </div>

                                        </div>

                                        <div class="padd_zero marg1 col-md-12" ng-if="WOC.WorkOrderEntryMode == 'Edit'">

                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padd-zero">
                                                <!--ng-class="{'padd-zero' : WOC.mdlWorkRequest.workorderId == 0 }"-->
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-if="WOC.WorkRequestEntrymode != 'View'">
                                                    <div>
                                                        <button type="button" class="btn btn-success form2 marginTop31" style="color:#ffffff!important;background-color:#5cb85c!important;border-color:#4cae4c!important;"
                                                                ng-class="{disabled: frmWorkRequest.$invalid}" ng-if="WOC.WorkOrderEntryMode == 'Edit'" ng-click="WOC.AddUpdateWorkRequests(frmWorkRequest)">
                                                            {{WOC.WorkRequestEntrymode}}
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div>
                                                        <button type="button" class="btn btn-danger form2 marginTop31" style="color:#ffffff!important;" ng-click="WOC.ClearMdlWorkRequest(frmWorkRequest)">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="padd_zero marg1 col-md-12" ng-if="WOC.WorkOrderEntryMode == 'Create'">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div>
                                                    <button type="button" class="btn btn-success form2" style="color:#ffffff!important;background-color:#5cb85c!important;border-color:#4cae4c!important;" ng-class="{disabled: frmWorkRequest.$invalid}"
                                                            ng-click="WOC.addWR(frmWorkRequest)" ng-if="!WOC.UpdateIndex">
                                                        Add
                                                    </button>
                                                    <button type="button" class="btn btn-success form2" style="color:#ffffff!important;background-color:#5cb85c!important;border-color:#4cae4c!important;" ng-class="{disabled: frmWorkRequest.$invalid}"
                                                            ng-click="WOC.UpdateWR(frmWorkRequest)" ng-if="WOC.UpdateIndex">
                                                        Update
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div>
                                                    <button type="button" class="btn btn-danger form2" style="color:#ffffff!important;" ng-click="WOC.ClearMdlWorkRequest(frmWorkRequest)">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'Shared View/_Loader.html'"></div>
    </div>

    <div class="clearfix"></div>
    <div ng-include="'Shared View/_Loader.html'"></div>
</div>	