﻿

<style>
    .back-color {
        background-color: gainsboro !important;
    }

    .selectdemoSelectHeader {
        /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
    }

        .selectdemoSelectHeader .demo-header-searchbox {
            border: none;
            outline: none;
            height: 100%;
            width: 100%;
            padding: 0;
        }

        .selectdemoSelectHeader .demo-select-header {
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
            padding-left: 10.667px;
            height: 48px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            width: auto;
        }

        .selectdemoSelectHeader md-content._md {
            max-height: 240px;
        }

    .tab-content .form-group {
        min-height: 43px !important;
    }

    .mar_10 {
        margin-top: 10px;
    }

    .md-select-menu-container.md-active.md-clickable {
        /*top: 208px !important;*/
        top: 32% !important;
    }
 
</style>

<div ng-controller="VendorController as VC" ng-show="!userData.isSubscriptionExpired" class="min-higt" layout="column" ng-cloak ng-init="VC.LoadCreateVendor()">
    <div class="clearfix"></div>
    <div class="container-fluid wrap1">
        <div class="vt-breadcrumb">
            <div class="vt-brdcrumb-wrap padd6 col-lg-4 col-xs-12">
                <img class="bld-img" src="images/bld-icon.png">
                <h5>
                    {{VC.vendorEntryMode}} Vendor
                    <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                    <span><a href="#vendor">Contacts</a> <img src="images/right-arrow.png" /></span>
                    <span>{{VC.vendorEntryMode}} Vendor</span>
                </h5>
            </div>
            <div class="vt-filter">
                <ul class="menu4">
                    <!--href="#{{VC.mdl.returnUrl}}"-->
                    <a ng-click="VC.CancelCreateVendor()" ng-if="VC.mdl.AddNewVendorFromWorkOrder == true" class="btn btn-danger vt-btn2">Cancel</a>
                    <a ng-click="VC.CancelCreateVendor()" ng-if="VC.mdl.AddNewVendorFromWorkOrder == undefined" class="btn btn-danger vt-btn2">Cancel</a>
                    <!--href="#vendor"-->
                    <a class="btn btn-success vt-btn2" ng-click="VC.SaveVendor(frmCreateVendor);" ng-if="VC.vendorEntryMode == 'Create'" ng-class="{disabled: frmCreateVendor.$invalid || VC.isEmailExist == true}">Save</a>
                    <a class="btn btn-success vt-btn2" ng-click="VC.UpdateVendor(frmCreateVendor);" ng-if="VC.vendorEntryMode == 'Edit'" ng-class="{disabled: frmCreateVendor.$invalid || VC.isEmailExist == true}">Update</a>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container pad_0">
            <div class="tab-content">
                <div id="step1tab" class="tab-pane fade in active">
                    <div id="accord4" class="work-wrap">
                        <div class="lease-form col-xs-12">
                            <form name="frmCreateVendor" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Vendor Info</legend>
                                    <div class="image-upload col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <i class="fa fa-window-close removeProfileImage" onclick="angular.element(this).scope().removeProfileImage()"></i>
                                        <div class="img-one" id="divimage">
                                            <!--ng-style="{'background-image':'url(/Uploads/Contacts/Vendors/Photos/{{VC.bgUrl}})'}"-->
                                            <label for="file-input">
                                                <i class="material-icons">add</i>
                                            </label>
                                            <input id="file-input" class="file1" type="file" name="image1"
                                                   onchange="angular.element(this).scope().fileSelected(this)" />
                                        </div>
                                    </div>

                                    <div class="padd-lease col-lg-8 col-md-8 col-sm-8 col-xs-8">

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>
                                                Company Name
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="!frmCreateVendor.companyname.$pristine && frmCreateVendor.companyname.$invalid">
                                                    Company name is required
                                                </span>
                                            </label>
                                            <input type="text" class="form2" name="companyname" ng-model="VC.mdlVendorRegistration.mdlVendor.companyName"
                                                   maxlength="90" placeholder="Company Name" required />
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group"  >
                                            <label>
                                                Service Category
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="!frmCreateVendor.Selectservice.$pristine && frmCreateVendor.Selectservice.$invalid">
                                                    Select service category
                                                </span>
                                            </label>

                                            <md-input-container class="form2" style="padding-left:unset!important;">
                                                <md-select name="Selectservice" class="form2 no-underline" ng-model="VC.mdlVendorRegistration.mdlServiceCategories" ng-click="VC.Hide()"  multiple  required>
                                                    <md-optgroup ng-if="VC.showthis" ng-mouseleave="VC.HideContainer($event)" >
                                                        <md-option ng-value="ServiceCategory.id" ng-repeat="ServiceCategory in VC.vendorServiceCategory">{{ServiceCategory.name}}</md-option>
                                                    </md-optgroup>
                                                </md-select>
                                            </md-input-container>
                                           
                                           
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>
                                                First Name
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="!frmCreateVendor.firstName.$pristine && frmCreateVendor.firstName.$invalid">
                                                    First name is required
                                                </span>
                                            </label>
                                            <input type="text" class="form2" name="firstName" ng-model="VC.mdlVendorRegistration.mdlVendor.firstName" maxlength="40"
                                                   placeholder="First Name" required />
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>
                                                Last Name
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="!frmCreateVendor.lastName.$pristine && frmCreateVendor.lastName.$invalid">
                                                    Last name is required
                                                </span>
                                            </label>
                                            <input type="text" class="form2" name="lastName" ng-model="VC.mdlVendorRegistration.mdlVendor.lastName" maxlength="40"
                                                   placeholder="Last Name" required />
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>Address <span class="errormsg">*</span><span class="errormsg" ng-show="!frmCreateVendor.addressLine1.$pristine && frmCreateVendor.addressLine1.$invalid">Address is required</span></label>
                                            <input type="text" class="form2" ng-model="VC.mdlVendorRegistration.mdlAddress.line1" name="addressLine1" maxlength="95" placeholder="Address" required />
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label>Country<span class="errormsg">*</span><span class="errormsg" ng-show="!frmCreateVendor.country.$pristine && frmCreateVendor.country.$invalid"> Select Country</span></label>
                                            <ui-select ng-model="VC.mdlCountryState.selectedCountry" theme="selectize"
                                                       name="ddlcountry"
                                                       title="Select Country" required>
                                                <ui-select-match placeholder="Select or search a country">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="country in VC.country | orderBy : 'Name' | filter: $select.search">
                                                    <span ng-bind-html="country.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                    </div>

                                    <div class="padd_zero col-lg-12 mar_10">
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>State<span class="errormsg">*</span><span class="errormsg" ng-show="!frmCreateVendor.state.$pristine && frmCreateVendor.state.$invalid"> Select State</span></label>

                                            <ui-select ng-model="VC.mdlCountryState.selectedState" theme="selectize"
                                                       name="ddlstate" ng-disabled="showState"
                                                       on-select="VC.GetCountyByStateId($model)" title="Select State" required>
                                                <ui-select-match placeholder="Select or search a state">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="state in VC.state | orderBy : 'Name' | filter: $select.search">
                                                    <span ng-bind-html="state.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">

                                            <label>County</label>
                                            <ui-select ng-model="VC.mdlCountryState.selectedCounty" theme="selectize"
                                                       name="ddlcounty" ng-disabled="showCounty"
                                                       title="Select county" on-select="VC.ChangeCity($model)">
                                                <ui-select-match placeholder="Select or search a county">
                                                    {{$select.selected.name}}
                                                    <button class="clearddl" data-toggle="tooltip" data-placement="bottom" title="Cancel selection" ng-click="$parent.clearddl($event)">X</button>
                                                </ui-select-match>
                                                <ui-select-choices repeat="county in VC.county | orderBy : 'name' | filter: $select.search">
                                                    <span ng-bind-html="county.name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">

                                            <label>City<span class="errormsg">*</span><span class="errormsg" ng-show="!frmCreateVendor.city.$pristine && frmCreateVendor.city.$invalid"> Select City</span></label>
                                            <ui-select ng-model="VC.mdlCountryState.selectedCity" theme="selectize"
                                                       name="ddlcity" ng-disabled="showCity"
                                                       title="Select city" on-select="VC.ChangeZip();" required>
                                                <ui-select-match placeholder="Select or search a city">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="city in VC.city | orderBy : 'Name' | filter: $select.search | limitTo:35">
                                                    <span ng-bind-html="city.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                    <div class="padd_zero col-lg-12">
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label>
                                                Zip Code
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmCreateVendor.zipcode.$dirty && frmCreateVendor.zipcode.$invalid">
                                                    <span ng-show="frmCreateVendor.zipcode.$error.required">Zip code is required.</span>
                                                    <span ng-show="frmCreateVendor.zipcode.$error.pattern"> The zip code must have 5 digits with an optional - and 4 more digits.</span>
                                                </span>
                                                <span ng-if="!VC.pZipValid" class="errormsg">Invalid zip code</span>
                                            </label>

                                            <input type="text" class="form2" ng-model="VC.mdlVendorRegistration.mdlAddress.zipcode"
                                                   ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/"
                                                   ng-blur="VC.ValidateZipCode(VC.mdlVendorRegistration.mdlAddress.zipcode,'zip_code')" name="zipcode" id="zip_code"
                                                   placeholder="Zip Code" maxlength="10" required />
                                        </div>


                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label>
                                                Email
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmCreateVendor.email.$dirty && frmCreateVendor.email.$invalid">
                                                    <span ng-show="frmCreateVendor.email.$error.required && frmCreateVendor.email.$dirty">Email is required.</span>
                                                    <span ng-show="frmCreateVendor.email.$error.pattern">Invalid email</span>
                                                </span>
                                                <span class="errormsg">
                                                    <span ng-show="VC.isEmailExist == true">Email already exist.</span>
                                                </span>
                                            </label>
                                            <div class="form-group">
                                                <input class="form2" type="email" placeholder="Enter email"
                                                       ng-pattern="VC.eml_addess" ng-model="VC.mdlVendorRegistration.mdlVendor.email" name="email"
                                                       ng-blur="VC.EmailExist(VC.mdlVendorRegistration.mdlVendor.email)" maxlength="50" required>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label>
                                                Phone No
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmCreateVendor.phone.$dirty && frmCreateVendor.phone.$invalid">
                                                    <span ng-show="frmCreateVendor.phone.$error.required">Phone number is required.</span>
                                                </span>
                                            </label>
                                            <div class="form-group">
                                                <input class="form2" type="text"
                                                       ng-model="VC.mdlVendorRegistration.mdlVendor.phone" name="phone" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required> <!--numbers-only-->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="padd_zero col-lg-12">
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label>Fax</label>
                                            <div class="form-group">
                                                <input class="form2" type="text" placeholder="1234567890"
                                                       ng-model="VC.mdlVendorRegistration.mdlVendor.fax" ng-blur="CheckFax_IsEmpty()" numbers-only maxlength="10">
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label>Twitter URL</label>
                                            <div class="form-group">
                                                <input class="form2" type="text" placeholder="Twitter URL"
                                                       ng-model="VC.mdlVendorRegistration.mdlVendor.twitterUrl" maxlength="200">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>FB URL</label>
                                            <div class="form-group">
                                                <input class="form2" type="text" placeholder="FB URL"
                                                       ng-model="VC.mdlVendorRegistration.mdlVendor.fbUrl" maxlength="200">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'Shared View/_Loader.html'"></div>
</div>