﻿<div ng-controller="financeController as FC" ng-show="!userData.isSubscriptionExpired" ng-init="FC.LoadFunction()" class="min-higt" layout="column" ng-cloak>
    <div ng-if="!displayPropView">
        <div class="clearfix"></div>
        <div ng-include="'Shared View/PartialView/Finance/FinanceMenuBar.html'" ng-if="userData.personType == PersonTyp.property_manager &&  FC.isLease == false && FC.pageShowOnOwner_TenantContact == false"></div>
        <div class="clearfix"></div>
        <div class="container">
            <div class="inner_div1">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12">
                    <div class="tab-content" ng-class="userData.personType != PersonTyp.property_manager ? 'tabHeight' : ''">
                        <div class="tab-pane fade in active">
                            <div id="accord4" class="report-form work-wrap">
                                <div class="lease-form col-xs-12 pad_0">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="FC.isLease == false">
                                        <!--ng-class="userData.personType != PersonTyp.property_manager ? 'paddingleft0' : ''"-->
                                        <label>Select Period</label>
                                        <select class="form-control" ng-model="FC.selectCurrentPeriod"
                                                ng-options="Period.Period for Period in FC.lstCurrentPeriod" ng-change="FC.FilterTransections()">
                                            <option selected value=""><-----Select Period-----></option>
                                        </select>

                                        <div ng-show="FC.selectCurrentPeriod.Period == 'Custom Date'" class="row customDateBox">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <label class="padd7">From Date</label>
                                                <div flex-gt-xs>
                                                    <md-datepicker ng-model="FC.fromDate" md-placeholder="From Date"
                                                                   ng-init="FC.DisableInput_DTP()" ng-change="FC.ChangeCustomToDate()"></md-datepicker>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <label class="padd7">To Date</label>
                                                <div flex-gt-xs>
                                                    <md-datepicker ng-model="FC.toDate" md-placeholder="To Date"
                                                                   md-min-date="FC.fromDate" ng-init="FC.DisableInput_DTP()"></md-datepicker>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <label class="padd7"></label>
                                                <a class="btn btn-info" ng-click="FC.FilterTransections('custom')">Filter</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="userData.personType == PersonTyp.property_manager &&  FC.isLease == false && FC.pageShowOnOwner_TenantContact == false">
                                        <label>Select Owner/Tenant</label>
                                        <ui-select ng-model="FC.TransectionFilterParameters.owner" theme="selectize"
                                                   ng-disabled="FC.selectCurrentPeriod == '' || FC.selectCurrentPeriod == undefined"
                                                   title="Choose a Owner/Tenant" on-select="FC.FilterProperty(FC.TransectionFilterParameters.owner)">
                                            <ui-select-match placeholder="Select or search a Owner/Tenant">{{$select.selected.ownerFullName}}</ui-select-match>
                                            <ui-select-choices repeat="owners in FC.lstPropertOwnersByManager| orderBy : 'ownerFullNameForFilter' | filter: $select.search">
                                                <span  ng-bind-html="owners.ownerFullName | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="(userData.personType == PersonTyp.property_manager &&  FC.isLease == false && FC.pageShowOnTenantContact == false) || userData.personType == PersonTyp.owner">
                                        <label>Select Property</label>
                                        <ui-select ng-model="FC.TransectionFilterParameters.property" theme="selectize"
                                                   ng-disabled="FC.selectCurrentPeriod == '' || FC.selectCurrentPeriod == undefined"
                                                   title="Choose a property" on-select="FC.FilterTransectionByProperty(FC.TransectionFilterParameters.property)">
                                            <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                                            <ui-select-choices repeat="property in FC.lstPropertByManagerAndOwner| orderBy : 'propertyName' | filter: $select.search">
                                                <span  ng-bind-html="property.propertyName | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="userData.personType != PersonTyp.property_manager && FC.lstTransections_Filtered.length != 0">

                                        <div class="col-md-6 pad_0" style="margin-top:17px">
                                            Show  <select class="itemCountddl" ng-model="FC.ItemCountPerPage"
                                                          ng-options="count for count in FC.itemsPerPageArr" ng-change="FC.currentPage_lstTransections = 0"></select>
                                        </div>
                                        <div class="col-md-6" style="margin-top:36px;height:40px;">

                                            <div class="dropdown">
                                                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Export Action
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu padd10topBottom">
                                                    <li ng-click="FC.ButtonClick_Excel('#tblFinance','Finance.xls')"><i class="fa fa-file-excel-o" style="color:green"></i> Export To excel </li>
                                                    <li ng-click="FC.ButtonClick_Pdf('tblFinance','Finance.pdf','Finance')" class="marginTop16"><i class="fa fa-file-pdf-o" style="color:green"></i> Export To Pdf </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FC.IncomeCategory-->
                    <div ng-if="userData.personType == PersonTyp.property_manager && FC.pageShowOnTenantContact == false">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p0" ng-if="FC.IncmChartArray.length > 0">
                            <div class="col-md-12 col-sm-12 col-xs-12" ng-if="FC.ViewIncomeCategory == 'Income'" ng-init="FC.IncmChartLoad()">
                                <div class="col-md-12 graph_inner">
                                    <div id="IncmChart" style="height: 200px;"></div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 margintop3">

                                <div class="col-md-12 col-sm-12 col-xs-12 marg-zero padd-zero">
                                    <span class="marginright1em"><b>Total Income</b> : {{FC.TotalIncome | currency}}</span>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 marg-zero padd-zero">
                                    <span class="marginright1em" ng-if="FC.RealisedIncome > 0"><b>Realized Income</b> : {{FC.RealisedIncome | currency}}</span>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 marg-zero padd-zero">
                                    <span class="marginright1em" ng-if="FC.UnrealisedIncome > 0"><b>Unrealized Income</b> : {{FC.UnrealisedIncome | currency}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p0" ng-if="FC.LiabitilyChartArray.length != 0">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 graph_inner">
                                    <div id="LiabitilyChart" style="height: 200px;"></div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 margintop3">
                                <div class="col-md-12 col-sm-12 col-xs-12 marg-zero padd-zero">
                                    <span class="marginright1em"><b>My Total Liability</b> : {{FC.TotalLiability < 0 ? 0 : FC.TotalLiability | currency}}</span>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 marg-zero padd-zero">
                                    <span class="marginright1em"><b>Liability To Owner </b> : {{FC.OwnerLiability | currency}}</span>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 marg-zero padd-zero" ng-if="userData.personType == PersonTyp.property_manager &&  FC.isLease == false && FC.pageShowOnOwner_TenantContact == false">
                                    <span class="marginright1em"><b>Liability To Tenant  (Security Deposit)</b> : {{FC.TenantLiability | currency}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="FC.selectCurrentPeriod != null">
                        <!--<div ng-if="FC.lstTransections_Filtered.length == 0 && FC.selectCurrentPeriod != ''" class="text-center"><h2>no record</h2></div>-->
                        <div>
                            <div class="marginBottom10 col-md-12" ng-if="userData.personType == PersonTyp.property_manager && FC.lstTransections_Filtered.length != 0">
                                <div class="col-md-6 pad_0">
                                    <h1 class="table_head" ng-if="userData.personType == PersonTyp.property_manager">Transactions</h1>
                                </div>

                                <div class="col-md-3 pad_0" style="margin-top:17px">
                                    Show  <select class="itemCountddl" ng-model="FC.ItemCountPerPage"
                                                  ng-options="count for count in FC.itemsPerPageArr" ng-change="FC.currentPage_lstTransections = 0"></select>
                                </div>
                                <div class="col-md-3 text-right pad_0" style="margin-top: 17px;">
                                    <div class="dropdown">
                                        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                            Export Action
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu padd10topBottom">
                                            <li ng-click="FC.ButtonClick_Excel('#tblFinance','Finance.xls')"><i class="fa fa-file-excel-o" style="color:green"></i> Export To excel </li>
                                            <li ng-click="FC.ButtonClick_Pdf('tblFinance','Finance.pdf','Finance')" class="marginTop16"><i class="fa fa-file-pdf-o" style="color:green"></i> Export To Pdf </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-class="{margintop3 : FC.lstTransections_Filtered.length == 0}">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th ng-click="FC.lstTransections_OrderBy = FC.OrderBy(FC.lstTransections_OrderBy, 'transactionType')">Type</th>
                                            <th ng-click="FC.lstTransections_OrderBy = FC.OrderBy(FC.lstTransections_OrderBy, 'transactionDate')">Transaction Date</th>
                                            <th ng-if="userData.personType == PersonTyp.property_manager" ng-click="FC.lstTransections_OrderBy = FC.OrderBy(FC.lstTransections_OrderBy, 'from')">From</th>
                                            <th ng-if="userData.personType == PersonTyp.property_manager" ng-click="FC.lstTransections_OrderBy = FC.OrderBy(FC.lstTransections_OrderBy, 'to')">To</th>
                                            <th ng-click="FC.lstTransections_OrderBy = FC.OrderBy(FC.lstTransections_OrderBy, 'amount')">Amount</th>
                                            <th ng-click="FC.lstTransections_OrderBy = FC.OrderBy(FC.lstTransections_OrderBy, 'payMode')">Comment</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" ng-if="FC.lstTransections_Filtered.length == 0">
                                            <td colspan="7"><p class="P-Center">No Record Found</p></td>
                                        </tr>
                                        <tr ng-repeat="transection in FC.lstTransections_Filtered | orderBy : FC.lstTransections_OrderBy | offset: FC.currentPage_lstTransections *  FC.ItemCountPerPage | limitTo:  FC.ItemCountPerPage" ng-if="FC.lstTransections_Filtered.length != 0">
                                            <!--<td ng-if="transection.transactionType == 'Bill'"><a ng-click="FC.GetBillData(transection.billInvoice)">{{transection.transactionType}}-{{transection.billInvoice}}</a></td>
                                            <td ng-if="transection.transactionType == 'Invoice'"><a ng-click="FC.ViewInvoice(transection.billInvoice)">{{transection.transactionType}}-{{transection.billInvoice}}</a></td>-->
                                            <td ng-if="transection.transactionType == 'Bill'">{{transection.transactionType}}-{{transection.billInvoice}}</td>
                                            <td ng-if="transection.transactionType == 'Invoice'">{{transection.transactionType}}-{{transection.billInvoice}}</td>
                                            <td>{{transection.transactionDate | date}}</td>
                                            <td ng-if="userData.personType == PersonTyp.property_manager">{{transection.from}}</td>
                                            <td ng-if="userData.personType == PersonTyp.property_manager">{{transection.to}}</td>
                                            <td>{{transection.drcr}} {{transection.amount | currency}}</td>
                                            <td>{{transection.comment}}</td>
                                            <td ng-if="transection.transactionType == 'Bill'">
                                                <div class="dropdown">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                        Action
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu padd10topBottom">
                                                        <li style="cursor:pointer" ng-click="FC.GetBillData(transection.billInvoice)" title="View Invoice">
                                                            <i class="fa fa-eye"></i>
                                                            View Bill
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td ng-if="transection.transactionType == 'Invoice'">
                                                <div class="dropdown">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                        Action
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu padd10topBottom">
                                                        <li style="cursor:pointer" ng-click="FC.ViewInvoice(transection.billInvoice)" title="View Invoice">
                                                            <i class="fa fa-eye"></i>
                                                            View Invoice
                                                        </li>
                                                        <li class="marginTop16" style="cursor:pointer" ng-if="userData.access != PersonRole.readonly && userData.personType != PersonTyp.property_manager" ng-controller="invoiceController as IC" ng-click="IC.InvoicePaymentByInvoiceId(transection.billInvoice)"
                                                            title="View Invoice Payment">
                                                            <i class="fa fa-money"></i>
                                                            Make Payment
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <ul ng-if="FC.lstTransections_Filtered.length == 0"></ul>
                                    <ul class="pagination" ng-if="FC.lstTransections_Filtered.length > 0">
                                        <li ng-class="FC.PageService.PrevPageDisabled(FC.currentPage_lstTransections)">
                                            <a ng-click="FC.currentPage_lstTransections = FC.PageService.PrevPage(FC.currentPage_lstTransections)">« Prev</a>
                                        </li>
                                        <li ng-repeat="n in FC.PageService.Range(FC.lstTransections_Filtered.length,FC.currentPage_lstTransections,FC.ItemCountPerPage)"
                                            ng-class="{active: n == FC.currentPage_lstTransections}"
                                            ng-click="FC.currentPage_lstTransections = n">
                                            <a>{{n+1}}</a>
                                        </li>
                                        <li ng-class="FC.PageService.NextPageDisabled(FC.lstTransections_Filtered.length,FC.currentPage_lstTransections,FC.ItemCountPerPage)">
                                            <a ng-click="FC.currentPage_lstTransections = FC.PageService.NextPage(FC.lstTransections_Filtered.length,FC.currentPage_lstTransections,FC.ItemCountPerPage)">Next »</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div ng-include="'Shared View/PartialView/Finance/_ExportExcelTable.html'"></div>

        <div ng-if="userData.personType == PersonTyp.property_manager && (!FC.pageShowOnOwner_TenantContact)" ng-include="'Shared View/Bill Partial/_GenerateBill.html'"></div>
        <div ng-if="userData.personType == PersonTyp.property_manager && (!FC.pageShowOnOwner_TenantContact)" ng-controller="invoiceController as IC"><div ng-include="'Shared View/PartialView/Invoice/_ViewInvoice.html'"></div></div>

        <div ng-if="userData.personType == PersonTyp.property_manager && FC.pageShowOnOwner_TenantContact && (ActiveTabName == 'Transactions' || ActiveTabName  == '')" ng-include="'Shared View/Bill Partial/_GenerateBill.html'"></div>
        <div ng-if="userData.personType == PersonTyp.property_manager && FC.pageShowOnOwner_TenantContact && (ActiveTabName == 'Transactions' || ActiveTabName  == '')" ng-controller="invoiceController as IC"><div ng-include="'Shared View/PartialView/Invoice/_ViewInvoice.html'"></div></div>

        <div ng-if="!ShowInvoiceBillModel && (ActiveTabName == 'Transactions' || ActiveTabName == '') && userData.personType != PersonTyp.property_manager" ng-include="'Shared View/Bill Partial/_GenerateBill.html'"></div>      <!--ng-if="userData.personType == PersonTyp.property_manager"-->
        <div ng-if="!ShowInvoiceBillModel && (ActiveTabName == 'Transactions' || ActiveTabName == '') && userData.personType != PersonTyp.property_manager" ng-controller="invoiceController as IC"><div ng-include="'Shared View/PartialView/Invoice/_ViewInvoice.html'"></div></div>     <!--ng-if="userData.personType == PersonTyp.property_manager"-->
        <div ng-include="'Shared View/_Loader.html'"></div>

        <div class="modal fade" id="mdlLiabilityDetail" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header model-headerColor">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4 class="modal-title">Liability</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body bodyPaddingNone">
                        <div class="padd10topBottom">
                            <!--<h4>Liability Details </h4>-->
                            <table class="table padd10topBottom borderSolid">
                                <thead>
                                    <tr>
                                        <th>Owner Name</th>
                                        <th>Owner Liability</th>
                                        <th>Manager Liability</th>
                                        <th>Net Liability (manager)</th>
                                        <!--<th></th>-->
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr><td colspan="4" class="text-center" ng-if="FC.lstLiabilityDetail.length == 0"><p class="P-Center">No Record Found</p></td></tr>
                                    <tr ng-repeat="record in FC.lstLiabilityDetail;" ng-if="FC.lstLiabilityDetail.length > 0">
                                        <td>{{record.OwnerName}}</td>
                                        <td>{{record.OwnerLiabilityToPM | currency}}</td>
                                        <td>{{record.PMLiabilityToOwner | currency}}</td>
                                        <td>{{record.NetPMLiabilityToOwner | currency}}</td>
                                        <!--<td><button class="btn btn-info">Get Statement</button></td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer modal-footerColor">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .p0 {
        padding: 0px;
    }
</style>