<style>
    #donutchart,
    #chart {
        width: 500px;
        height: 500px;
        font-family: Arial;
    }

    #donutchart {
        position: relative;
    }

    #labelOverlay {
        width: 137px;
        height: 47px;
        position: absolute;
        top: 184px;
        left: 176px;
        text-align: center;
        cursor: default;
    }

        #labelOverlay p {
            line-height: 0.3;
            padding: 0;
            margin: 8px;
        }

            #labelOverlay p.used-size {
                line-height: 0.5;
                font-size: 20pt;
                color: #5cd6c5;
            }

            #labelOverlay p.total-size {
                line-height: 0.5;
                font-size: 12pt;
                color: #8e8e8e;
            }



</style>

<div ng-controller="indexController as IC" ng-show="!userData.isSubscriptionExpired" ng-init="IC.HomePageLoad()">
    <div class="clearfix"></div>
    <div class="container-fluid wrap1">
        <div class="vt-breadcrumb">
            <div class="vt-brdcrumb-wrap col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <img class="bld-img" src="images/bld-icon.png" />
                <h5>
                    DASHBOARD
                    <br /><span><a href="#home">Home</a></span>
                </h5>
            </div>
            <div class="vt-filter">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container wrap2">
        <div class="row marg_auto">

            <!--<div class="row">
                <div class="col-lg-6">
                    <div class="db-row1">
                        <form class="ng-pristine ng-valid">
                            <div class="chart-form">
                                <select class="form-control" ng-model="IC.selectPeriodForIncomendExpense"
                                ng-options="Period for Period in IC.lstPeriod" ng-change="IC.GetIncomeandExpenseChartData(IC.selectPeriodForIncomendExpense)"></select>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                    <div ng-if="IC.IncmExpenseChartDataArray.length > 0">
                        <div class="db-wrap1">
                            <h5><a href="#summary">Income & Expense</a></h5>
                            <div>
                                <div id="IncmExpenseChart"></div>
                            </div>
                            <div ng-if="IC.IncmExpenseChartDataArray.length == 1" class="text-center">
                                No Record Found
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">
                    <div class="db-row1">
                        <form class="ng-pristine ng-valid">
                            <div class="chart-form">
                                <select class="form-control" ng-model="IC.selectPeriodForIncome"
                                        ng-options="Period for Period in IC.lstPeriod" ng-change="IC.GetlstIncomeChartData(IC.selectPeriodForIncome)"></select>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                    <div ng-if="IC.IncmChartDataArray.length > 0">
                        <div class="db-wrap1">
                            <h5><a href="#summary">My Income</a></h5>
                            <div ng-if="IC.IncmChartDataArray.length > 1">
                                <div id="IncmChart"></div>
                            </div>
                            <div ng-if="IC.IncmChartDataArray.length == 1" class="text-center">
                                No Record Found
                            </div>
                        </div>
                    </div>

                </div>
            </div>-->


            <!--Old Income Chart-->
            <div class="db-row1">
                <form class="ng-pristine ng-valid">
                    <div class="chart-form">
                        <select class="form-control" ng-model="IC.selectPeriodForIncome"
                                ng-options="Period for Period in IC.lstPeriod" ng-change="IC.GetIncomeChartData(IC.selectPeriodForIncome)"></select>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
            <div ng-if="IC.IncmChartArray.length > 0">
                <div class="db-wrap1">
                    <h5><a href="#summary">My Income</a></h5>
                    <div ng-if="IC.IncmChartArray.length > 1">
                        <div id="IncmChart"></div>
                    </div>
                    <div ng-if="IC.IncmChartArray.length == 1" class="text-center">
                        No Record Found
                    </div>
                </div>
            </div>

            <!--Property Chart-->
                <div class="clearfix"></div>
                <div class="db-row1 marginTop31">
                    <form class="ng-pristine ng-valid">
                        <div class="chart-form">
                            <select class="form-control" ng-model="IC.selectPeriodForProperty"
                                    ng-options="Period for Period in IC.lstPeriod" ng-change="IC.GetPropertyChartData(IC.selectPeriodForProperty)"></select>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>

                <div ng-if="IC.PropertyStatusChartArray.length > 0">
                    <div class="db-wrap1">
                        <h5><a href="#properties"> Properties</a></h5>
                        <div ng-if="IC.PropertyStatusChartArray.length > 1">
                            <div id="PropertyStatusChart"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!--<div class="db-row4" ng-if="IC.WorkOrderChartModel.OpenWorkOrderCount > 0 || IC.WorkOrderChartModel.PastDueWorkOrderCount > 0">-->

                <div class="db-row4">
                    <div class="col-md-6 col-xs-12 padd-zero">
                        <div class="db-wrap2">
                            <h5><a href="#workorders">Work Orders</a></h5>
                            <div class="iframe2">
                                <div class="row chartRowMargin">
                                    <!--<div class="col-md-6 col-lg-6 text-center" ng-if="IC.WorkOrderChartModel.OpenWorkOrderCount > 0">-->
                                    <div class="col-md-6 col-lg-6 text-center">
                                        <div class="dashboardLease dashboardWorkOrder">{{IC.WorkOrderChartModel.OpenWorkOrderCount}}</div>
                                        <p class="paraText">Open Work Orders</p>
                                    </div>
                                    <!--<div class="col-md-6 col-lg-6 text-center" ng-if="IC.WorkOrderChartModel.PastDueWorkOrderCount > 0">-->
                                    <div class="col-md-6 col-lg-6 text-center">
                                        <div class="dashboardLease dashboardExpiringLease">{{IC.WorkOrderChartModel.PastDueWorkOrderCount}}</div>
                                        <p class="paraText">Work Orders Past Due</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 brdr-lft padd-zero">
                        <div class="db-wrap2 dashboardWorkOrderTable">
                            <h5>
                                &nbsp; <span style="color:#2c2d31">Work Orders Past Due</span>
                            </h5>
                            <table width="100%" class="rent_tbl db-table" style="border:unset !important;">
                                <tbody>
                                    <tr ng-repeat="WorkOrder in IC.WorkOrderChartModel.lstPastDueWorkOrders | orderBy : 'Id'" class="ng-scope">
                                        <td>
                                            <h4><a href="#createworkorder/{{WorkOrder.Id}}">WO#{{WorkOrder.Id}}</a></h4>
                                            <p>{{WorkOrder.PropertyName}}</p>
                                            <span ng-if="WorkOrder.RequestedByName != null">{{WorkOrder.RequestedByName}}</span>
                                        </td>
                                        <td><span class="ng-binding">{{WorkOrder.Date | date}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="db-row4" ng-if="IC.LeaseChartModel.ActiveLeaseCount > 0 || IC.LeaseChartModel.LeaseExpiring > 0">
                    <div class="col-md-6 col-xs-12 padd-zero">
                        <div class="db-wrap2">
                            <h5><a href="#leases"> Leases</a></h5>
                            <div class="iframe2">
                                <div class="row chartRowMargin">
                                    <div class="col-md-6 col-lg-6 text-center" ng-if="IC.LeaseChartModel.ActiveLeaseCount > 0">
                                        <div class="dashboardLease dashboardActiveLease">{{IC.LeaseChartModel.ActiveLeaseCount}}</div>
                                        <p class="paraText">Active Leases</p>
                                    </div>
                                    <div class="col-md-6 col-lg-6 text-center" ng-if="IC.LeaseChartModel.LeaseExpiring > 0">
                                        <div class="dashboardLease dashboardExpiringLease">{{IC.LeaseChartModel.LeaseExpiring}}</div>
                                        <p class="paraText">Expiring Soon (On 30 days)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 brdr-lft padd-zero">
                        <div class="db-wrap2 dashboardWorkOrderTable">
                            <h5>
                                &nbsp; <span style="color:#2c2d31">Leases Expiring in 30 days</span>
                            </h5>
                            <table width="100%" class="rent_tbl db-table" style="border:unset !important;">
                                <tbody>
                                    <tr ng-repeat="lease in IC.LeaseChartModel.lstExpiringLeases | orderBy : 'EndDate'" class="ng-scope">
                                        <td>
                                            <h4><a ng-click="IC.ViewLeaseDetails(lease.Id,lease.PropertyId,lease.StartDate,lease.EndDate)">{{lease.LeaseId}}</a></h4>
                                            <!--<h4><a href="#createworkorder/{{lease.Id}}" class="underline">{{lease.LeaseId}}</a></h4>-->
                                            <p>{{lease.PropertyName}}</p>
                                            <span><a href="#tenants/{{lease.TenantId}}">{{lease.TenantName}}</a></span>
                                        </td>
                                        <td><span class="ng-binding">{{lease.EndDate | date}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="db-row4">
                    <div class="col-md-5 col-xs-12 padd-zero">
                        <div class="db-wrap2">
                            <h5>Rent</h5>
                            <div class="iframe2" style="padding: 0px 15px;">
                                <div class="row chartRowMargin" ng-if="IC.PaidRentalAmount > 0">
                                    <div id="RentalChart"></div>
                                    <div id="labelOverlay">
                                        <p class="used-size">{{IC.PaidRentalAmount}}%</p>
                                        <p class="total-size">Rent collected</p>
                                    </div>
                                </div>
                                <div class="row chartRowMargin" ng-if="IC.PaidRentalAmount == 0">
                                    <div id="RentalChart"></div>
                                    <div id="labelOverlay">
                                        <p class="used-size">{{IC.PaidRentalAmount}}%</p>
                                        <p class="total-size">Rent collected</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-xs-12 brdr-lft padd-zero">
                        <div class="db-wrap2 dashboardWorkOrderTable">
                            <h5>
                                &nbsp; <span style="color:#2c2d31">Rent Past Due</span>
                                <span class="due-spn ng-scope">{{IC.RentChartModel.lstPastDueRentInvoices.length}}</span>
                            </h5>
                            <table width="100%" class="rent_tbl db-table" style="border:unset !important;">
                                <tbody>
                                    <tr ng-repeat="rent in IC.RentChartModel.lstPastDueRentInvoices | orderBy : 'DueDate'" class="ng-scope">
                                        <td>
                                            <h4><a href="#propertyProfile/{{rent.PropertyId}}">{{rent.PropertyName}}  (INV-{{rent.InvoiceId}})</a></h4>
                                            <p>{{rent.PropertyAddress}}</p>
                                            <span><a href="#tenants/{{rent.TenantId}}">{{rent.TenantName}}</a></span>
                                        </td>
                                        <td><span class="ng-binding">{{rent.DueDate | date}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>