﻿<div ng-controller="invoiceController as IC" ng-show="!userData.isSubscriptionExpired" ng-init="IC.LoadInvoices()" class="min-higt" layout="column" ng-cloak>
    <div ng-show="!IC.createEdit">
        <div ng-if="!displayPropView">
            <div class="clearfix"></div>
            <div ng-include="'Shared View/PartialView/Finance/FinanceMenuBar.html'" ng-if="userData.personType == PersonTyp.property_manager && IC.pageShowOnOwner_TenantContact == false"></div>
            <div class="clearfix"></div>
            <div class="container">
                <div class="inner_div1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12">
                        <div class="tab-content" ng-class="userData.personType != PersonTyp.property_manager ? 'tabHeight' : ''">
                            <div class="tab-pane fade in active">
                                <div id="accord4" class="report-form work-wrap">
                                    <div class="lease-form col-xs-12 pad_0">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                            <label>Select Period</label>
                                            <select class="form-control" ng-model="IC.selectCurrentPeriod"
                                                    ng-options="Period.Period for Period in IC.lstCurrentPeriod" ng-change="IC.FilterInvoices()">
                                                <option selected value=""><-----Select Period-----></option>
                                            </select>
                                            <div ng-show="IC.selectCurrentPeriod.Period == 'Custom Date'" class="row customDateBox">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <label class="padd7">From Date</label>
                                                    <div flex-gt-xs>
                                                        <md-datepicker ng-model="IC.fromDate" md-placeholder="From Date"
                                                                       ng-init="IC.DisableInput_DTP()" ng-change="IC.ChangeCustomToDate()"></md-datepicker>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <label class="padd7">To Date</label>
                                                    <div flex-gt-xs>
                                                        <md-datepicker ng-model="IC.toDate" md-placeholder="To Date"
                                                                       md-min-date="IC.fromDate" ng-init="IC.DisableInput_DTP()"></md-datepicker>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <label class="padd7"></label>
                                                    <a class="btn btn-info" ng-click="IC.FilterInvoices('custom')">Filter</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="userData.personType == PersonTyp.property_manager && IC.pageShowOnOwner_TenantContact == false">
                                            <label>Select Owner/Tenant</label>
                                            <div id="divowner">
                                                <ui-select ng-model="IC.InvoiceFilterParameters.owner" theme="selectize"
                                                           ng-disabled="IC.selectCurrentPeriod == '' || IC.selectCurrentPeriod == undefined"
                                                           title="Choose a Owner/Tenant" on-select="IC.FilterProperty(IC.InvoiceFilterParameters.owner)">
                                                    <ui-select-match placeholder="Select or search a Owner/Tenant">{{$select.selected.ownerFullName}}</ui-select-match>
                                                    <ui-select-choices repeat="owners in IC.lstPropertOwnersByManager | orderBy : 'ownerFullName' | filter: $select.search">
                                                        <span ng-bind-html="owners.ownerFullName | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="(userData.personType == PersonTyp.property_manager && IC.pageShowOnTenantContact == false) || userData.personType == PersonTyp.owner">
                                            <label>Select Property</label>
                                            <ui-select ng-model="IC.InvoiceFilterParameters.property" theme="selectize"
                                                       ng-disabled="IC.selectCurrentPeriod == '' || IC.selectCurrentPeriod == undefined"
                                                       title="Choose a property" on-select="IC.FilterInvoiceByProperty(IC.InvoiceFilterParameters.property)">
                                                <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                                                <ui-select-choices repeat="property in IC.lstPropertByManagerAndOwner| orderBy : 'propertyName' | filter: $select.search">
                                                    <span ng-bind-html="property.propertyName | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>


                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="userData.personType != PersonTyp.property_manager && IC.lstInvoices_Filtered.length != 0">

                                            <div class="col-md-6 p0" style="margin-top:16px">
                                                Show  <select class="itemCountddl" ng-model="IC.ItemCountPerPage"
                                                              ng-options="count for count in IC.itemsPerPageArr" ng-change="IC.SetItemsPerPage(IC.ItemCountPerPage)"></select>
                                            </div>
                                            <div class="col-md-6" style="margin-top:36px;height:40px;">
                                                <div class="dropdown">
                                                    <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                                        Export Action
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu padd10topBottom">
                                                        <li onclick="ExportToExcel('lstInvoiceXls','Invoices')"><i class="fa fa-file-excel-o" style="color:green"></i> Export To excel</li>
                                                        <li ng-click="IC.PrintPdf('lstInvoiceXls1')" class="marginTop16"><i class="fa fa-file-pdf-o" style="color:green"></i> Export To Pdf</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>                                     
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="IC.selectCurrentPeriod != null">
                            <div>
                                <div ng-if="userData.personType == PersonTyp.property_manager && IC.lstInvoices_Filtered.length > 0 && IC.pageShowOnOwner_TenantContact == false">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="col-md-12 graph_inner">
                                            <div id="piechart2" style="height: 300px;"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6" ng-if="IC.totalAmount > 0">
                                        <div class="col-md-12 graph_inner">
                                            <div id="piechart11" style="height: 300px;"></div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 margintop3">
                                            <div class="col-md-12 col-sm-12 col-xs-12 marg-zero padd-zero">
                                                <span class="marginright1em"><b>Total Invoiced Amount</b> : {{IC.totalAmount | currency}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="marginBottom10 col-md-12 " ng-if="userData.personType == PersonTyp.property_manager">
                                    <div class="col-md-4 pad_0">
                                        <h1 class="table_head" ng-if="userData.personType == PersonTyp.property_manager">Invoices</h1>
                                    </div>
                                    <div class="col-md-3 text-right mt23px">
                                        <div class="block">
                                            <md-radio-group ng-model="IC.invoiceFilterCategory" layout="row" ng-change="IC.FilterInvoiceByEntryType()">
                                                <md-radio-button value="{{status}}" ng-repeat="status in IC.arrInvoiceFilterCategory">{{status}}</md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                    <div class="col-md-3 p0" style="margin-top:16px">                                      
                                        Show  <select class="itemCountddl" ng-model="IC.ItemCountPerPage"
                                                      ng-options="count for count in IC.itemsPerPageArr" ng-change="IC.SetItemsPerPage(IC.ItemCountPerPage)">
                                        </select>
                                    </div>
                                    <div class="col-md-2 text-right pad_0 mt14px">
                                        <div class="dropdown block" ng-if="IC.lstInvoices_Filtered.length > 0">
                                            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                                Export Action
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu padd10topBottom">
                                                <li onclick="ExportToExcel('lstInvoiceXls','Invoices')"><i class="fa fa-file-excel-o" style="color:green"></i> Export To excel</li>
                                                <li ng-click="IC.PrintPdf('lstInvoiceXls1')" class="marginTop16"><i class="fa fa-file-pdf-o" style="color:green"></i> Export To Pdf</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th ng-click="IC.lstInvoices_OrderBy = IC.OrderBy(IC.lstInvoices_OrderBy, 'invoiceNum')">Invoice No</th>
                                                <th ng-if="userData.personType == PersonTyp.property_manager" ng-click="IC.lstInvoices_OrderBy = IC.OrderBy(IC.lstInvoices_OrderBy, 'recipientName')">To</th>
                                                <th ng-if="userData.personType != PersonTyp.property_manager" ng-click="IC.lstInvoices_OrderBy = IC.OrderBy(IC.lstInvoices_OrderBy, 'senderName')">From</th>
                                                <th ng-click="IC.lstInvoices_OrderBy = IC.OrderBy(IC.lstInvoices_OrderBy, 'totalInvAmount')">Amount</th>
                                                <th ng-click="IC.lstInvoices_OrderBy = IC.OrderBy(IC.lstInvoices_OrderBy, 'propertyName')">Property</th>
                                                <th ng-click="IC.lstInvoices_OrderBy = IC.OrderBy(IC.lstInvoices_OrderBy, 'date')">Invoice Date</th>
                                                <th ng-click="IC.lstInvoices_OrderBy = IC.OrderBy(IC.lstInvoices_OrderBy, 'dueDate')">Invoice Due Date</th>
                                                <th ng-click="IC.lstInvoices_OrderBy = IC.OrderBy(IC.lstInvoices_OrderBy, 'statusId')">Status</th>                                                
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody ng-if="IC.lstInvoices_Filtered.length > 0 && userData.personType == PersonTyp.property_manager">
                                            <tr ng-repeat="invoice in IC.lstInvoices_Filtered  | orderBy : IC.lstInvoices_OrderBy | offset: IC.currentPage_lstInvoices *  IC.ItemCountPerPage | limitTo:  IC.ItemCountPerPage">
                                                <td>{{invoice.invoiceNum}}</td>
                                                <td>{{invoice.recipientName}}</td>                                               
                                                <td>{{invoice.totalInvAmount | currency}}</td>
                                                <td>{{invoice.propertyName}}</td>
                                                <td>{{invoice.date | date}}</td>
                                                <td>{{invoice.dueDate | date}}</td>
                                                <td>{{invoice.status}}</td>                                               
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                            Action
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu padd10topBottom">
                                                            <li style="cursor:pointer" ng-click="IC.ViewInvoice(invoice.invoiceId)" title="View Invoice">
                                                                <i class="fa fa-eye"></i>
                                                                View Invoice
                                                            </li>
                                                            <li class="marginTop16" style="cursor:pointer" ng-click="IC.InvoicePayment(invoice.invoiceId,invoice.invoiceNum,invoice.recipientName,invoice.propertyName,invoice.date,invoice.propertyID,invoice.from,invoice.dueDate,invoice.fromEmail)"
                                                                ng-if="invoice.status != 'Saved as draft' && invoice.status != 'Deleted' && invoice.status != 'Cancelled'" title="View Invoice Payment">
                                                                <i class="fa fa-money"></i>
                                                                View Payment
                                                            </li>

                                                            <li class="marginTop16" style="cursor:pointer" ng-if="(invoice.status == 'Cancelled' || invoice.status == 'Saved as draft' || invoice.status == 'Sent to client') && userData.access != PersonRole.readonly" ng-click="IC.EditInvoice(invoice.invoiceId,invoice.status)" title="Edit Invoice">
                                                                <i class="fa fa-pencil"></i>
                                                                Edit Invoice
                                                            </li>
                                                            <li class="marginTop16" style="cursor:pointer" ng-click="IC.DeleteInvoice(invoice.invoiceId,invoice.deleteID,invoice.deteteCommand,invoice.status,'delete')" ng-if="(invoice.status == 'Cancelled' || invoice.status == 'Saved as draft') && userData.access != PersonRole.readonly" title="Delete Invoice">
                                                                <i class="fa fa-trash"></i>
                                                                Delete Invoice
                                                            </li>
                                                            <li class="marginTop16" style="cursor:pointer" ng-click="IC.DeleteInvoice(invoice.invoiceId,invoice.deleteID,invoice.deteteCommand,invoice.status,'cancel')" ng-if="invoice.status == 'Sent to client' && userData.access != PersonRole.readonly" title="Cancel Invoice">
                                                                <i class="fa fa-trash"></i>
                                                                Cancel Invoice
                                                            </li>

                                                            <li class="marginTop16 disabled" style="cursor:not-allowed" ng-if="invoice.status != 'Cancelled' && invoice.status != 'Sent to client' && invoice.status != 'Saved as draft' && userData.access != PersonRole.readonly">
                                                                <i style="cursor:not-allowed" class="fa fa-trash"></i>
                                                                Delete Invoice
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                        <tbody ng-if="IC.lstInvoices_Filtered.length > 0 && userData.personType != PersonTyp.property_manager">
                                            <tr ng-if="invoice.status != 'Saved as draft'" ng-repeat="invoice in IC.lstInvoices_Filtered  | orderBy : IC.lstInvoices_OrderBy | offset: IC.currentPage_lstInvoices *  IC.ItemCountPerPage | limitTo:  IC.ItemCountPerPage">
                                                <td>{{invoice.invoiceNum}}</td>                                                
                                                <td>{{invoice.senderName}}</td>
                                                <td>{{invoice.totalInvAmount | currency}}</td>
                                                <td>{{invoice.propertyName}}</td>
                                                <td>{{invoice.date | date}}</td>
                                                <td>{{invoice.dueDate | date}}</td>                                               
                                                <td>{{(invoice.status == 'PartialPymt') || (invoice.status =='Paid') || (invoice.status =='WriteOff') || (invoice.status =='Cancelled') ? invoice.status : 'Received'}}</td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                            Action
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu padd10topBottom">
                                                            <li style="cursor:pointer" ng-click="IC.ViewInvoice(invoice.invoiceId)" title="View Invoice">
                                                                <i class="fa fa-eye"></i>
                                                                View Invoice
                                                            </li>
                                                            <li class="marginTop16" style="cursor:pointer" ng-click="IC.InvoicePayment(invoice.invoiceId,invoice.invoiceNum,invoice.recipientName,invoice.propertyName,invoice.date,invoice.propertyID,invoice.from,invoice.dueDate,invoice.fromEmail)"
                                                                ng-if="invoice.status != 'Paid' && invoice.status != 'Saved as draft' && invoice.status != 'Deleted' && invoice.status != 'Cancelled' && userData.access != PersonRole.readonly" title="Make Payment">
                                                                <i class="fa fa-money"></i>
                                                                Make Payment
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>                                              
                                            </tr>
                                        </tbody>
                                        <tbody ng-if="IC.lstInvoices_Filtered.length == 0">
                                            <tr>
                                                <td class="text-center" colspan="8"><p class="P-Center">No Record Found</p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div ng-if="IC.lstInvoices_Filtered.length > 0">
                                        <ul class="pagination">
                                            <li ng-class="IC.PageService.PrevPageDisabled(IC.currentPage_lstInvoices)">
                                                <a ng-click="IC.currentPage_lstInvoices = IC.PageService.PrevPage(IC.currentPage_lstInvoices)">« Prev</a>
                                            </li>
                                            <li ng-repeat="n in IC.PageService.Range(IC.lstInvoices_Filtered.length,IC.currentPage_lstInvoices,IC.ItemCountPerPage)"
                                                ng-class="{active: n == IC.currentPage_lstInvoices}"
                                                ng-click="IC.currentPage_lstInvoices = n">
                                                <a>{{n+1}}</a>
                                            </li>
                                            <li ng-class="IC.PageService.NextPageDisabled(IC.lstInvoices_Filtered.length,IC.currentPage_lstInvoices,IC.ItemCountPerPage)">
                                                <a ng-click="IC.currentPage_lstInvoices = IC.PageService.NextPage(IC.lstInvoices_Filtered.length,IC.currentPage_lstInvoices,IC.ItemCountPerPage)">Next »</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div ng-if="userData.personType == PersonTyp.property_manager && (!IC.pageShowOnOwner_TenantContact)" ng-include="'Shared View/PartialView/Invoice/_ViewInvoice.html'"></div>
        <div ng-if="userData.personType == PersonTyp.property_manager && IC.pageShowOnOwner_TenantContact && ActiveTabName == 'Invoices'" ng-include="'Shared View/PartialView/Invoice/_ViewInvoice.html'"></div>
        <div ng-if="ShowInvoiceBillModel && ActiveTabName == 'Invoices' && userData.personType != PersonTyp.property_manager" ng-include="'Shared View/PartialView/Invoice/_ViewInvoice.html'"></div>

        <div ng-include="'Shared View/PartialView/Invoice/_InvoicePayment.html'"></div>
        <div ng-include="'Shared View/_Loader.html'"></div>
    </div>
    <div ng-show="IC.createEdit">
        <div ng-include="'CreateInvoice.html'"></div>
    </div>
    <div ng-include="'Shared View/PartialView/Invoice/_ExportExcel_InvoiceList.html'"></div>
    <div>
        <div ng-include="'Shared View/PartialView/Invoice/DetailedInvoiceList_excel.html'"></div>
    </div>

</div>
