<div class="min-higt" layout="column" ng-init="ShowLeaseInfo()"></div>
<div class="clearfix"></div>
<div class="container-fluid wrap1">
    <div class="vt-breadcrumb">
        <div class="col-md-4 col-xs-12 vt-brdcrumb-wrap">
            <img class="bld-img" src="images/bld-icon.png" />
            <h5>
                Leases
                <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                <span><a href="#leases">Leases</a> <img src="images/right-arrow.png" /></span>
                <span>Lease Details</span>
            </h5>
        </div>
        <div class="vt-filter">
            <div class="dropdown pull-left" ng-if="userData.isSubscriptionExpired == false">
                <button class="vt-btn2">Actions</button>
                <div class="dropdown-content">
                    <a href="#edit_lease/{{leaseInfo.pId}}" ng-if="leaseInfo.pLeaseActive == 'Active'">Edit</a>
                    <a ng-click="MessageToPerson(propertyInfo.pOwnerEmail,'owner')">Message Owner</a>
                    <a ng-if="leaseInfo.pLeaseActive == 'Active'" ng-click="MessageToPerson(leaseInfo.pTenantEmail,'tenant')">Message Tenant</a>
                    <a href="#createInvoice/{{leaseInfo.pId}}/{{leaseInfo.pPropertyId}}/{{leaseInfo.TenantId}}">Request Payment</a>
                    <a ng-click="ShowRenewLeasePopUp()" ng-if="leaseInfo.pLeaseActive == 'Active'">Renew Lease</a>
                    <a ng-click="ShowPopUpTerminateLease()" ng-if="leaseInfo.pLeaseActive == 'Active'">Terminate Lease</a>
                </div>
            </div>
            <!--<span class="print"><a href="#"><img src="images/print.png" alt="print" title="print" /></a></span>-->
            <span class="download"><a href="/PrintFile/PrintLeaseDeatailsPdf?leaseId={{leaseInfo.pId}}&propertyId={{leaseInfo.pPropertyId}}" target="_blank"><img src="images/download.png" alt="download" title="download" /> </a></span>
          
            
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="container wrap2">
  
    <div class="profile-div col-lg-12 col-md-12 col-sm-12 col-xs-12 marg_auto div-border">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile-left" style="border-right: 1px solid #eaeaea;">
            <div class="prof-wrap1" style="border:none">
                <div id="myCarousel" class="col-lg-12 col-xs-12 col-md-12 carousel slide pad_0">
                    <!-- Wrapper for Slides -->
                    <div class="carousel-inner">

                        <div class="item active" ng-if="photos.length == 0">
                            <div class="fill" ng-style="{'background-image': 'url(../Uploads/Properties/Photos/DefaultImage.png)'}"></div>
                        </div>

                        <div class="item" ng-class="{'active': $index == 0}" ng-repeat="image in photos" ng-if="photos.length > 0">
                            <div class="fill" ng-style="{'background-image': 'url(../Uploads/Properties/Photos/'+image.LinkId+'-' + image.Name + '.png)'}"></div>
                        </div>
                    </div>
                    <span class="residentials">{{propertyInfo.pTypeName}}</span>
                    <ol class="carousel-indicators Leasecarouselindicators" ng-if="photos.length > 1">
                        <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{'active': $index == 0}" ng-repeat="image in photos"></li>
                    </ol>
                </div>
            </div>
            <div class="prof-wrap2 sub-wrap3" style="width: 100%;border-top: 1px solid #ddd; padding: 9px 18px;">

                <h3 class="mar_h3 "><span>Lease ID:</span> {{leaseInfo.pLeaseId}}</h3>
                <h3 class="mar_h3">
                    <span>Owner:</span> <span><a class="underline" href="#propertyOwners/{{leaseInfo.pId}}/{{leaseInfo.pPropertyId}}/{{propertyInfo.pOwnerId}}/{{propertyInfo.pOwnerPOID}}/{{propertyInfo.isOwnerCompany}}">{{propertyInfo.pOwnerName}}</a></span>
                </h3>
                <h3 class="mar_h3">
                    <span>Tenant:</span> <span><a class="underline" href="#leaseTenant/{{leaseInfo.pId}}/{{leaseInfo.pPropertyId}}/{{leaseInfo.TenantId}}">{{leaseInfo.Tenants}}</a></span>
                </h3>
            </div>
        </div>

        <div class="sub-wrap3 col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <h2>{{propertyInfo.pNum}} {{propertyInfo.pAddress}} {{propertyInfo.pCity}} {{propertyInfo.pState}} {{propertyInfo.pZipCode}}</h2>
            <span class="ppty-type"><img src="images/properties/leased.png" /> {{leaseInfo.pLeaseActive}}</span>
            <span class="ppty-type"><img src="images/act-count.png" /> 1</span>
            <div class="clearfix"></div>
            <div class="pptywrap-1 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h3><span>Lease Rent Amount:</span> {{leaseInfo.pRentalAmount | currency}}</h3>
                <h3><span>Security Deposit:</span> {{leaseInfo.pSecurityDeposit | currency}}</h3>
                <h3><span>Frequency: </span> {{leaseInfo.pTermTypeName == '' || leaseInfo.pTermTypeName == null ? 'N/A' : leaseInfo.pTermTypeName}}</h3>
            </div>
            <div class="pptywrap-2 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h3><span>Start Date: </span>{{leaseInfo.pStartDate | date}}</h3>
                <h3><span>End Date: </span>{{leaseInfo.pEndDate | date}}</h3>
                <h3><span>Built: </span>2006</h3>
                <h3><span>Gross area: </span>{{leaseInfo.pGrossArea == 0 ? 'N/A' : leaseInfo.pGrossArea}} {{leaseInfo.pGrossArea == 0 ? '' : 'sq.ft'}}</h3>
            </div>
        </div>    <!--Leased Detail-->
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 profile-right">
            <div>
                <div class="col-lg-12 collapse in col-md-12 pad_0" id="demo">
                    <div style="width:100%">
                        <accordion close-others="true" id="property_additionalinfo">

                            <accordion-group style="background-color:inherit" is-open="status.isfirstOpen">
                                <accordion-heading>
                                    <h2 style="margin-top: 6px;">
                                        <span style="color: #464646;font-family: 'Lato-Bold';font-size: 15px;">Occupants & Parking </span>
                                        <i class="pull-right glyphicon" style="font-size:15px !important;" ng-class="{'glyphicon-minus': status.isfirstOpen, 'glyphicon-plus': !status.isfirstOpen}"></i>
                                    </h2>
                                </accordion-heading>

                                <div class="sub-wrap3 col-lg-12 col-xs-12 pad_0">
                                    <div class="pptywrap-1 col-lg-4 col-md-4 col-xs-12 pad_0">
                                        <h3><span>Max People Allowed: </span>{{leaseInfo.pMaxPeopleAllowed == 0 ? 'N/A' : leaseInfo.pMaxPeopleAllowed}}</h3>
                                        <h3><span>Parking Spaces: </span>{{leaseInfo.pParkingSpaces == 0 ? 'N/A' : leaseInfo.pParkingSpaces}}</h3>                                     
                                    </div>
                                    <div class="pptywrap-1 col-lg-4 col-md-4 col-xs-12 pad_0">                                       
                                        <h3><span> Rentable Area: </span>{{leaseInfo.pRentableArea == 0 ? 'N/A' : leaseInfo.pRentableArea}}{{leaseInfo.pRentableArea == 0 ? '' : 'sq.ft'}}</h3>
                                        <h3><span>Late Payment Fee: </span>{{leaseInfo.pLatePaymentFee | currency}}</h3>                                      
                                    </div>

                                    <div class="pptywrap-1 col-lg-4 col-md-4 col-xs-12 pad_0">   
                                        <h3><span>Is Move In Inspection Reqd: </span>{{leaseInfo.pIsMoveInInspectionReqd ==true ?'Yes':'No'}}</h3>                                    
                                        <h3><span>Is Move Out Inspection Reqd: </span>{{leaseInfo.pIsMoveOutInspectionReqd == true ? 'Yes' : 'No'}}</h3>
                                    </div>
                                </div>
                                <div class="lease-form col-lg-12 col-sm-12 col-xs-12 pad_0" style="margin-top:10px;" ng-if="lstOccupant.length > 0">
                                    <table class="table table-bordered tableborder">
                                        <thead>
                                            <tr>
                                                <th width="60%">
                                                    Occupant name
                                                </th>
                                                <th width="40%">
                                                    Relation To Tenant
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="o in lstOccupant" ng-if="!o.isDeleted">
                                                <td> {{o.firstName}} {{o.lastName}}</td>
                                                <td> {{o.relation}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </accordion-group>

                            <accordion-group style="background-color:inherit" id="Lease_AgreementDetail" is-open="status.issecondOpen">
                                <accordion-heading>
                                    <h2 style="margin-top: 6px;">
                                        <span style="color: #464646;font-family: 'Lato-Bold';font-size: 15px;"> Agreement Detail </span>
                                        <i class="pull-right glyphicon" style="font-size:15px !important;" ng-class="{'glyphicon-minus': status.issecondOpen, 'glyphicon-plus': !status.issecondOpen}"></i>
                                    </h2>
                                </accordion-heading>
                                <div class="sub-wrap3 col-lg-12 col-xs-12 pad_0">
                                    <div class="col-md-6 col-lg-6 col-xs-12 pad_0">
                                        <h3 ng-repeat="s in agreementtypeslist" ng-if="pAgreementTypeId == s.Id"><span>Type of Agreement: </span>{{s.Name}}</h3>
                                        <h3><span>Lease Type: </span> {{pLeaseType == '' ? 'N/A' : pLeaseType}}</h3>
                                        <h3 ng-repeat="s in leasepaymentfrequencylist" ng-if="pPaymentFrequencyId == s.Id">
                                            <span> Payment Frequency:</span> {{s.Name}}
                                            (
                                            <span ng-if="frequency == 'Weekly' && ShowSelectFrequency!=''" class="Frequencydocs">Every {{ShowSelectFrequency}}</span>
                                            <span ng-if="frequency != 'Weekly' && ShowSelectFrequency!=''" class="Frequencydocs">{{ShowSelectFrequency}}<sup>{{suffix}}</sup> of every month</span>
                                            )
                                        </h3>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xs-12">
                                        <h3><span> Lease Rental Amou nt: </span>{{pLeaseAmount | currency}}</h3>
                                        <h3><span>Security Deposit : </span>{{pSecurityDeposit  | currency}}</h3>
                                        <h3><span>Lease Active: </span>{{pLeaseActive ==1 ?'Yes':'No'}}</h3>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mar_top">
    <div class="col-md-12 pad_0">
        <div class="col-md-9 pad_0">
            <ul class="tab_menu">
                <li ng-class="{'active2':activeTap == 'Financials'}"><a ng-click="showLeaseFin()">Financials</a></li>
                <li ng-class="{'active2':activeTap == 'Docs'}"><a ng-click="showDocs()">Documents</a></li>
                <li ng-class="{'active2':activeTap == 'Clauses'}"><a ng-click="showCnO()">Clauses & Options</a></li>
            </ul>
        </div>
        <div class="col-md-3 pad_0">
            <a href="#" class="vt-btn1 pull-right" ng-if="1 !=1">Upload Doc</a>
        </div>
    </div>
</div>

<div class="modal fade-scale" id="renewLease_PopUp" role="dialog" aria-labelledby="renewLease_PopUp">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header model-headerColor">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Renew Lease</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form name="frmOccupants" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">
                        <div class="clearfix"></div>
                        <div class="padd-lease lease-form">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                <label class="padd7">Start Date</label>
                                <div flex-gt-xs>
                                    <md-datepicker ng-model="pStartDate" md-placeholder="Start date"
                                                   ng-change="pEndDate = pStartDate"></md-datepicker>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                <label class="padd7">End Date</label>
                                <div flex-gt-xs>
                                    <md-datepicker md-min-date="pStartDate" ng-model="pEndDate" md-placeholder="End date"></md-datepicker>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                <label>Lease Rental Amount ($)</label>
                                <input type="text" class="form2" name="rentalamount" ng-model="pLeaseAmount" maxlength="16" only-digits />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                <label>Actions</label>
                                <button type="button" ng-click="RenewLease();"
                                        class="btn btn-success">
                                    Renew Lease
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="container-fluid tab-wrap3">
    <div class="container tab-wrap2 p0">
        <div id="leaseDocs" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding: 0px 15px;" ng-show="activeTap == 'Docs'">
            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marg_auto">-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12">
                <table width="100%" class="exp-table mar_top1em mar_btm1em">
                    <thead class="th-title">
                        <tr>
                            <th>Document Name</th>
                            <th>Document Description</th>
                            <th>Document Tags</th>
                            <th>Last Updated</th>
                            <th>View Doc </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="doc in leaseInfo.docsArray" ng-if="leaseInfo.docsArray.length !=0">

                            <td><i class="fa fa-file"></i> &nbsp; {{doc.Name.split('.')[0]}}</td>
                            <td>{{doc.Description}}</td>
                            <td>{{doc.Tags}}</td>
                            <td>{{doc.CreationTime  | date}}</td>
                            {{doc.Name.spilt('.')}}
                            <td> <a ng-click="openUrl(leaseInfo.pId +'-'+ doc.Name)">  {{doc.Name.split('.')[0]}}</a></td>
                        </tr>
                        <tr ng-if="leaseInfo.docsArray.length ==0">
                            <td colspan="5"><p class="P-Center">No Record Found</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--</div>-->
        </div>

        <div class="" ng-show="activeTap == 'Financials'">   <!--ng-init="LoadLeaseFinancial()"-->            
            <div class="inner_div container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12 paddingbottom13" style="margin-top:21px">
                    <div style="margin-top:1em">
                        <span class="tabel-head"> Income Expense:</span>
                    </div>
                    <table width="100%" class="exp-table ng-scope">
                        <thead class="th-title">
                            <tr>
                                <th colspan="2">Income</th>
                                <th colspan="2" style="text-align:right !important;"><a href="#IncmExpnseRpt/{{propertyInfo.pOwnerId}}/{{propertyInfo.pOwnerPOID}}/{{propertyInfo.pId}}/{{propertyInfo.isOwnerCompany}}">View report</a></th>
                            </tr>
                        </thead>
                        <thead class="th-title2" style="background-color:#f3f5f7 !important;">
                            <tr>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Year-to-date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tranRecd in mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.lstMdlOwnerIncomeByPropertyIdLeaseId">
                                <td>{{tranRecd.type}}</td>
                                <td>{{tranRecd.category}}</td>
                                <td>{{tranRecd.mtd | currency}}</td>
                                <td>{{tranRecd.ytd | currency}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Total Income</td>
                                <td>{{mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.totalIncomeMTD | currency}}</td>
                                <td>{{mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.totalIncomeYTD | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" class="exp-table ng-scope mar_top">
                        <thead class="th-title">
                            <tr>
                                <th colspan="4">Expenses</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tranRecd in mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.lstMdlOwnerExpenseByPropertyIdLeaseId">
                                <td>{{tranRecd.type}}</td>
                                <td>{{tranRecd.category}}</td>
                                <td>{{tranRecd.mtd | currency}}</td>
                                <td>{{tranRecd.ytd | currency}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">Total Expenses</td>
                                <td>{{mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.totalExpenseMTD | currency}}</td>
                                <td>{{mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.totalExpenseYTD | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<div ng-include="'finanacialSummary.html'"></div>-->
        </div>
      
        <div id="leaseCnO" class="container mar_btm1em" style="padding:0px 15px;" ng-show="activeTap == 'Clauses'">
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 bor_col12 p0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marg_auto ">
                    <h1 class="table_head">Clauses</h1>
                    <table width="100%" class="exp-table">
                        <!--<thead class="th-title">
                        <th colspan="2">CLAUSES</th>
                        </thead>-->
                        <thead class="th-title">
                            <tr>
                                <th>Clause Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cl in leaseInfo.clausesArray" ng-if="leaseInfo.clausesArray.length !=0">
                                <td>{{cl.ClauseType}}</td>
                                <td>{{cl.ClauseDesc}}</td>
                            </tr>
                            <tr ng-if="leaseInfo.clausesArray.length ==0">
                                <td colp="2"><p class="P-Center">No Record Found</p></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marg_auto">
                    <h1 class="table_head">Options</h1>
                    <table width="100%" class="exp-table">
                        <!--<thead class="th-title">
                        <th colspan="5">OPTIONS</th>
                        </thead>-->
                        <thead class="th-title">
                            <tr>
                                <th>Option type</th>
                                <th>Required By</th>
                                <th>Effective On</th>
                                <th>Last Execution</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in leaseInfo.optionsArray" ng-if="leaseInfo.optionsArray.length !=0">
                                <td>{{o.OptionType}}</td>
                                <td>{{o.RequiredBy}}</td>
                                <td>{{o.EffectiveOn | date}}</td>
                                <td>{{o.LastExecution | date}}</td>
                                <td>{{o.OptionDesc}}</td>
                            </tr>
                            <tr ng-if="leaseInfo.optionsArray.length ==0">
                                <td colspan="5"><p class="P-Center">No Record Found</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'Shared View/_Loader.html'"></div>
    <div class="modal" id="deActiveLease">
        <div ng-include="'Views/alert/alert_ConfirmMessage.html'"></div>
    </div>

    <div class="modal fade-scale" id="LeaseTerminationDesc" role="dialog" aria-labelledby="LeaseTerminationDesc">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Comments/Reason to terminate lease</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12 form-group">
                            <label>Description</label>
                            <textarea class="form2" id="terminationdesc" stopccp ng-model="pTerminationDesc" maxlength="1000"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="ConfirmTermination()">Terminate</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade-scale" id="view_occupents" role="dialog" aria-labelledby="renewLease_PopUp">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Occupants Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="sub-wrap3">
                            <div class="lease-form col-lg-12 col-sm-12 col-xs-12 pad_0">
                                <table class="table table-bordered tableborder">
                                    <thead>
                                    <th width="71%">
                                        Occupant name
                                    </th>
                                    <th width="40%">
                                        Relation To Tenant
                                    </th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="o in lstOccupant" ng-if="!o.isDeleted">
                                            <td> {{o.firstName}} {{o.lastName}}</td>
                                            <td> {{o.relation}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 