<div class="min-higt" layout="column" ng-controller="leaseController" ng-show="!userData.isSubscriptionExpired" ng-init="getLeases()">
    <div class="clearfix"></div>
    <div class="container-fluid wrap1">
        <div class="vt-breadcrumb">
            <div class="col-md-5 col-xs-12 vt-brdcrumb-wrap">
                <img class="bld-img" src="images/bld-icon.png" />
                <h5>
                    Leases
                    <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                    <span>Leases</span>
                </h5>
            </div>
            <div class="vt-filter">
                <!--<a href="" class="vt-btn2">Apply bulk expenses</a>-->
                <a ng-if="userData.isSubscriptionExpired == false" href="#create_lease" class="vt-btn1">Create Lease</a>
                <div class="vt-filterdiv">
                    <h4 id="vt-filter">
                        <img class="bld-img" src="images/filter-icon.png" ng-click="showfilter()" />
                        <span ng-click="showfilter()">Filters</span>
                        <img id="filter-close" src="images/filter-close.png" ng-click="closefilter()" />
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="vt-filters">
        <form class="form-regiter" method="post" name="regster" novalidate>
            <div class="input-field col s6 hide-lbl">
                <div layout="column">
                    <div>
                        <h4>Sort By</h4>
                        <div>
                            <input type="radio" ng-model="selectSortByDate" value="startDate" ng-click="sortByDate_Event('startDate')">Start Date<br />
                            <input type="radio" ng-model="selectSortByDate" value="endDate" ng-click="sortByDate_Event('endDate')">End Date
                        </div>
                        <h4>Status</h4>
                        <div ng-repeat="ss in statuslist">
                            <input type="checkbox" ng-model="useStatus[$index].checked" checked="checked" />
                            <span class="md-class">{{ss.Name}}</span>
                        </div>
                        <h4>Type</h4>
                        <!--<div ng-repeat="pt in propertytypeslist">
                            {{pt.Name}}
                            <input type="checkbox" ng-model="useType[$index].checked" checked="checked" />
                            <span class="md-class">{{pt.Name}}</span>
                        </div>-->
                        <div>
                            <select ng-model="selectLeaseType" ng-options="l for l in leaseTypes ">
                                <option value=""><-----Select Lease Type-----></option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="clearfix"></div>
    <div class="container wrap2 pad_0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marg_auto pad_0">            
            <div class="lease-row" ng-repeat="l in leaseslist  | filter: filterBySelection() | filter: (!!selectLeaseType || '') && {pLeaseType: selectLeaseType}| orderBy : sortByDate "> 
                <div class="row1">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <!--<h5><a href="#leaseview/{{l.pId}}/{{l.pPropertyId}}" class="underline">{{l.pLeaseId}}</a></h5>-->     
                        <h5><a ng-click="ViewLeaseDetails(l.pId,l.pPropertyId,l.pStartDate,l.pEndDate)" class="underline">{{l.pLeaseId}}</a></h5>   
                        <h3>{{l.pPropertyNumber}}-{{l.pName}} {{l.pAddress}} {{l.pCity}} {{l.pState}} {{l.pZipCode}} {{l.pOwnerName}}</h3>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="prprty-info">
                            <span><img src="images/properties/leased.png">{{l.pLeaseActive}}</span>
                            <span><img src="images/properties/feets.png"> {{(l.pRentableArea == null || l.pRentableArea == 0) ? '' : l.pRentableArea}} {{(l.pRentableArea == null || l.pRentableArea == 0) ? '' : 'sq.ft'}}</span>
                            <span><img src="images/act-count.png"> 1</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row2">
                    <div class="subrow-lease">
                        <span>
                            <img src="images/time-icon.png" />
                            <label class="my_label">Start Date:</label><br />
                            <h6 class="text_h6">{{ l.pStartDate | date}}</h6>
                        </span>
                        <span>
                            <label class="my_label">End Date:</label><br />
                            <h6 class="text_h6">{{ l.pEndDate | date}}</h6>
                        </span>
                    </div>
                    <div class="subrow-lease middleRowofLease">
                        <span>
                            <img src="images/dollar-icon.png" />
                            <label class="my_label">Rent:</label><br />
                            <h6 class="text_h6">{{l.pRentalAmount | currency}}</h6>
                        </span>
                        <span>
                            <label class="my_label">Security Deposit:</label><br />
                            <h6 class="text_h6">{{l.pSecurityDeposit | currency}}</h6>
                        </span>
                        <span>
                            <label class="my_label">Frequency:</label><br />
                            <h6 class="text_h6">
                                {{l.pPaymentFrequencyName}}
                                <span ng-if="l.WeekDay!='' && l.WeekDay!=null" class="Frequencyall">(Every {{l.WeekDay}})</span>
                                <span ng-if="l.DayOfMonth != '' && l.DayOfMonth!=null" class="Frequencyall">({{l.DayOfMonth}}<sup>{{l.suffix}}</sup> of every month)</span>
                            </h6>
                        </span>
                    </div>
                    <div class="subrow-lease">
                        <span>
                            <img src="images/human-icon.png" />
                            <label class="my_label">Tenant:</label>
                            <h6 class="text_h6">
                                {{split(l.Tenants,',',0)}}
                            </h6>
                            {{split(l.Tenants,',',1)}}
                            {{split(l.Tenants,',',2)}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>