<div ng-controller="personController" ng-show="!userData.isSubscriptionExpired" class="min-higt" layout="column" ng-cloak ng-init="getPerson(2, true);">
	<div class="clearfix"></div>
	<div class="container-fluid wrap1">
		<div class="vt-breadcrumb">
			<div class="vt-brdcrumb-wrap col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<img class="bld-img" src="images/bld-icon.png"/>
				<h5>
					Owner
					<br/><span><a href="#home">Home</a> <img src="images/right-arrow.png"/></span>
					<span><a href="Owners.html">Contacts</a><img src="images/right-arrow.png"/></span>
					<span><a href="Owners.html">Owners</a> <img src="images/right-arrow.png"/></span>
					<span>Owner Profile</span>								
				</h5>	
			</div>
			<div class="vt-filter">
					<div class="dropdown pull-right">
					<button class="vt-btn2">Actions</button>
					<div class="dropdown-content">
					<a href="#">Email</a>
					<a href="#">Edit</a>
					<a href="#">Delete</a>
					</div>
				</div>	
				<!--<a href="AddNewContact.html" class="vt-btn1 pull-right">New Contact</a>	-->
			</div>
		</div>					
	</div>
	
	<div class="clearfix"></div>
		<div class="container wrap2">
			<div class="profile-div col-lg-10 col-md-10 col-sm-10 col-xs-12 col-md-offset-1 marg_auto">						
				<div class="col-lg-3 col-md-3 col-sm-3 colxs-12 profile-left">
					<div class="prof-wrap1">
						<div id="divimage" class="fill" ng-style="{'background-image': 'url(../Uploads/Properties/Photos/' + pId + '-image1.png)'}"></div>
					</div>
					<div class="prof-wrap2">
						<span><i class="material-icons">email</i> {{pEmail}}</span>
						<span><i class="material-icons">phone</i> {{pPhoneNo}}</span>
						<span><i class="material-icons">fax</i> {{pFaxNo}}</span>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-9 colxs-12 profile-right">
					<div class="prof-wrap3">
						<h3>{{pLastName}} {{pFirstName}}</h3>
						<p>{{pAddress}} {{pCityName}} {{pCountyName}} {{pStateName}} {{pZipcode}}</p>
					</div>


					<div id="accord3">							  						
						<accordion close-others="false">	
							<accordion-group ng-repeat="prop in propertieslist">
								<accordion-heading>
								{{prop.pName}}
								<span class="accord-title">{{prop.pAddress}} {{prop.pCity}} {{prop.pCounty}} {{prop.pState}} {{per.pZipCode}}</span>
								<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.isseventhOpen, 'glyphicon-plus': !status.isseventhOpen}"></i>
								</accordion-heading>
								<ul class="owner-ul">
								<li>Unit: <span>{{prop.pUnitNo}}</span></li>
								<li>Rent area: <span>{{prop.pRentableArea}} sq.ft</span></li>
								<li>Tenant: <span>{{prop.pTenantName}}</span></li>
								<li>Lease ID: <span>LSEIDG{{prop.pLeaseId}}</span></li>
								<li>Parking: <span>{{prop.pParkingSpaces}}</span></li>
								</ul>
							</accordion-group>
						</accordion>	
					</div>



					<table width="100%" class="inv-table3">									
						<thead class="th-title2">
							<th>Invoices</th>																		
						</thead>
						<tbody ng-Tcontroller="invoiceCtrl">								
							<tr ng-repeat="item in rows1 | limitTo: limit">
								<td>
								<ul class="tbl-ul2 owner-ul1">
									<li>Invoice No: <span>{{item.invoice_no}}</span></li>
									<li>Description: <span>{{item.invoice_description}}</span></li>											
									<li>Status: <span>{{item.invoice_status}}</span></li>											
									<li>Amount: <span>{{item.invoice_amt | currency}}</span></li>												
									<li>Billing: <span>{{item.invoice_billing}}</span></li>
								</ul>
								<p class="more-p">
									<a ng-click="invoiceMore()" >
										<span ng-if="!max">+ Show More</span>
									</a>
								</p>											
								</td>	
							</tr>																
						</tbody>
					</table>
					<!--
					<table width="100%" class="inv-table1">									
						<thead class="th-title2">
							<th>Service Requests</th>																		
						</thead>
						<tbody ng-controller="fCtrl">								
							<tr ng-repeat="item in rows | limitTo: limit">
								<td>
									<ul class="owner-ul1">
									<li>Work Request: <span>{{item.work_request}}</span></li>
									<li>Work Order: <span>{{item.work_order}}</span></li>
									<li>Status: <span>{{item.work_status}}</span></li>
									<li>Description: <span>{{item.work_description}}</span></li>
									<li>Type: <span>{{item.work_type}}</span></li>
									<li>Source: <span>{{item.work_source}}</span></li>
									<li>Labour Cost: <span>{{item.labour_cost}}</span></li>
									<li>Material Cost: <span>{{item.material_cost}}</span></li>
									<li>Labour Hours: <span>{{item.labour_hours}}</span></li>
									<li>Total Cost: <span>{{item.total_cost}}</span></li>
									</ul>
									<p class="more-p">
										<a ng-click="readMore()" >
											<span ng-if="!max">+ Show More</span>
										</a>
									</p>											  
								</td>
								
							</tr>
																	
						</tbody>
					</table>
					
					-->
				</div>
			</div>				
		</div>
		<div class="clearfix"></div>
		<div class="padd-zero container-fluid trans-tab">
			<div class="container">
			<div class="col-sm-11 col-lg-11 col-md-offset-1 marg_auto">
			<ul class="tab_menu">
				<li class="active"><a  data-toggle="tab" href="#statements">Statements</a></li>
				<li><a data-toggle="tab" href="#income_expenses"> Income & expenses</a></li>
				<li><a data-toggle="tab" href="#documents"> Documents</a></li>
				<li><a data-toggle="tab" href="#services"> Service Requests</a></li>
			</ul>
			</div>
			</div>
		</div>
		<div class="col-sm-10 col-lg-11 col-md-offset-1 marg_auto tab-content">
			<div id="statements" class="col-sm-12 col-lg-11 marg_auto tab-pane fade in active">
				<div class="tab-wrap6 tab-wrap5">						
				<table width="80%" class="statmnt-table">									
						<thead class="th-title2">
							<th>Period</th>
							<th>Documents</th>
							<th>Bills</th>
						</thead>
						<tbody>
							<tr>
								<td><div>Jul 1,2016 - Sep 30,2017</div></td>											
								<td><div><a href="#">document_name.pdf</a></div></td>												
								<td><div><a href="#">bills</a></div></td>
							</tr>
							<tr>
								<td><div>Apr 1,2016 - Jun 30,2017</div></td>											
								<td><div><a href="#">document_name.pdf</a></div></td>												
								<td><div><a href="#">bills</a></div></td>
							</tr>
							<tr>
								<td><div>Jan 1,2016 - Mar 31,2017</div></td>											
								<td><div><a href="#">document_name.pdf</a></div></td>												
								<td><div><a href="#">bills</a></div></td>
							</tr>
						</tbody>
						</table>
			</div>
			</div>
			<div id="income_expenses" class="tab-pane fade">
				<div class="col-lg-11 marg_auto tab-wrap6 tab-wrap5">									
					<div ng-Tcontroller="AccordionDemoCtrl">							  						
					<accordion close-others="false">	
					<accordion-group ng-init="status.open=true" is-open="status.isseventhOpen">
						<accordion-heading>
						Income																																					
						<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.isseventhOpen, 'glyphicon-plus': !status.isseventhOpen}"><span class="ng-span"><label>Total Income: </label> $13,550</span></i>
						</accordion-heading>
						<table width="100%" class="acc-table">									
						<thead class="th-title2">
							<th>Period</th>
							<th>Ref#</th>
							<th>Type</th>
							<th>Account</th>
							<th>Amount</th>
						</thead>
						<tbody>
							<tr>
								<td>Jul 1,2016 - Sep 30,2017</td>											
								<td>9374647</td>											
								<td>Rentals</td>											
								<td>Owner drawn</td>											
								<td>$ 4000</td>			
							</tr>
							<tr>
								<td>Apr 1,2016 - Jun 30,2017</td>											
								<td>8274646</td>											
								<td>Rentals</td>											
								<td>Owner drawn</td>											
								<td>$ 4000</td>			
							</tr>
							<tr>
								<td>Jan 1,2016 - Mar 31,2017</td>											
								<td>9374648</td>											
								<td>Rentals</td>											
								<td>Owner drawn</td>											
								<td>$ 5550</td>			
							</tr>
							
						</tbody>
						</table>
					</accordion-group>
					<accordion-group is-open="status.isFirstOpen">
						<accordion-heading>
						Expenses
						<i class="pull-right glyphicon"  ng-class="{'glyphicon-minus': status.isFirstOpen, 'glyphicon-plus': !status.isFirstOpen}"><span class="ng-span"><label>Total Expenses: </label> $ 10,000</span></i>
						</accordion-heading>
						<table width="100%" class="acc-table">									
						<thead class="th-title2">
							<th>Period</th>
							<th>Ref#</th>
							<th>Type</th>
							<th>Account</th>
							<th>Amount</th>
						</thead>
						<tbody>
							<tr>
								<td>Jul 1,2016 - Sep 30,2017</td>											
								<td>3938393</td>											
								<td>PM Fees</td>											
								<td>Owner drawn</td>											
								<td>$ 2000</td>			
							</tr>
							<tr>
								<td>Apr 1,2016 - Jun 30,2017</td>											
								<td>9474692</td>											
								<td>PM Fees</td>											
								<td>Owner drawn</td>											
								<td>$ 3000</td>			
							</tr>
							<tr>
								<td>Jan 1,2016 - Mar 31,2017</td>											
								<td>9284643</td>											
								<td>PM Fees</td>											
								<td>Owner drawn</td>											
								<td>$ 5000</td>			
							</tr>
						</tbody>
						</table>
					</accordion-group>																								
				</accordion>	
			</div>					
				</div>
				</div>
				
				<div id="services" class="tab-pane fade">
				<div class="col-lg-11 marg_auto tab-wrap6 tab-wrap5">									
					<div ng-Tcontroller="AccordionDemoCtrl">							  						
						<accordion close-others="false">	
							<accordion-group ng-init="status.open=true" is-open="status.isseventhOpen">
								<accordion-heading>
								Open																																					
								<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.isseventhOpen, 'glyphicon-plus': !status.isseventhOpen}"><span class="ng-span"></span></i>
								</accordion-heading>
								<table width="100%" class="acc-table">									
								<thead class="th-title2">
									<th>SVC Request</th>
									<th>Property ID</th>
									<th>Date</th>
									<th>Category</th>
									<th>Comment</th>
									<th>BIll</th>
									<th>Contact</th>
									<th>ETC</th>
								</thead>
								<tbody>
									<tr>
										<td><div class="anchor-id">235667</div></td>
										<td><div class="caps">P5442</div></td>											
										<td>Oct 1,2016</td>											
										<td>Ac Repair</td>											
										<td>Units shuts of and on repeatedly</td>											
										<td>-</td>			
										<td><div class="anchors">Tyrone romreo</div></td>			
										<td>Oct 9,2016</td>			
									</tr>
									<tr>
										<td><div class="anchor-id">948484</div></td>
										<td><div class="caps">P5442</div></td>											
										<td>Sep 15,2016</td>											
										<td>Ac Repair</td>											
										<td>Units shuts of and on repeatedly</td>											
										<td>-</td>			
										<td><div class="anchors">Tyrone romreo</div></td>			
										<td>Sep 21,2016</td>			
									</tr>
								</tbody>
								</table>
							</accordion-group>
							<accordion-group is-open="status.isFirstOpen">
								<accordion-heading>
								Closed
								<i class="pull-right glyphicon"  ng-class="{'glyphicon-minus': status.isFirstOpen, 'glyphicon-plus': !status.isFirstOpen}"><span class="ng-span"></span></i>
								</accordion-heading>
								<table width="100%" class="acc-table">									
								<thead class="th-title2">
									<th>SVC Request</th>
									<th>Property ID</th>
									<th>Date</th>
									<th>Category</th>
									<th>Comment</th>
									<th>BIll</th>
									<th>Contact</th>
									<th>Closed on</th>
								</thead>
								<tbody>
									<tr>
										<td><div class="anchor-id">245666</div></td>
										<td><div class="caps">P5667</div></td>											
										<td>May 17,2016</td>											
										<td>Plumbing</td>											
										<td>Leaky kitchen Bathroom pipe</td>											
										<td>$288</td>			
										<td><div class="anchors">Brent Teller</div></td>			
										<td>Jun 1,2016</td>			
									</tr>
									<tr>
										<td><div class="anchor-id">345666</div></td>
										<td><div class="caps">P5667</div></td>											
										<td>May 5,2016</td>											
										<td>Plumbing</td>											
										<td>Water Leaky in Ceiling</td>											
										<td>$288</td>			
										<td><div class="anchors">Louis Gregory</div></td>			
										<td>May 19,2016</td>			
									</tr>
									<tr>
										<td><div class="anchor-id">235445</div></td>
										<td><div class="caps">P5667</div></td>											
										<td>Apr 17,2016</td>											
										<td>Electrical</td>											
										<td>Furnace Repairs</td>											
										<td>$288</td>			
										<td><div class="anchors">Tyrtone Romero</div></td>			
										<td>Apr 21,2016</td>			
									</tr>
								</tbody>
								</table>
							</accordion-group>																								
						</accordion>	
					</div>						
				</div>
				</div>
				
			<div id="documents" class="tab-pane fade">
				<div class="col-lg-11 marg_auto tab-wrap6 tab-wrap5">									
					<div ng-Tcontroller="mainController">						
				<table width="95%" class="doc-table exp-table">									
					<thead class="th-title2">
						<th><div>Document Name</div></th>
						<th><div>Type</div></th>
						<th><div>Size</div></th>
						<th><div>Uploaded on</div></th>
						<th><div>Uploaded By</div></th>
						<th></th>
					</thead>
					<tbody>
						<tr ng-repeat="owner in owners">
							<td style="display:none;">{{owner.id}}</td>
							<td>
								<div>
									<img src="images/pdf-icon.png"/>
									<a href="#" target="_blank">{{owner.docName}}</a>
								</div>
							</td>
							<td><div>{{owner.docType}}</div></td>
							<td>{{owner.docSize}}</td>
							<td>{{owner.docDate}}</td>
							<td>{{owner.uploadedBy}}</td>
							<td>
								<a href="#" ng-click="deleteowner(owner)">
									<i class="close_icon material-icons">cancel</i>
								</a>
							</td>
						</tr>									
					</tbody>
				</table>
			</div>						
				</div>
				</div>
				</div>
</div>