<div ng-controller="personController" ng-show="!userData.isSubscriptionExpired" class="min-higt" layout="column" ng-cloak ng-init="initializePage()">
    <div class="clearfix"></div>
    <div class="container-fluid wrap1">
        <div class="vt-breadcrumb">
            <div class="vt-brdcrumb-wrap col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <img class="bld-img" src="images/bld-icon.png" />
                <h5>
                    {{pTypeName}}
                    <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                    <span>Contacts <img src="images/right-arrow.png" /></span>
                    <span>{{pTypeName}}</span>
                </h5>
            </div>
            <div class="vt-filter"> 
               <a href="#createvendor" class="vt-btn1 pull-right">New contact</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid tab-wrap5">
        <div id="accord4" class="col-lg-9 col-md-9 col-sm-9 col-xs-12 marg_auto wrap8">
            <div class="col-lg-12">
                <div class="wrap8-col col-lg-6 col-md-12 col-sm-12 col-xs-12" ng-repeat="per in personlist">
                    <div class="inner-wrap">
                        <div class="left-wrap">
                            <span class="initial">{{per.Initial}}</span>
                        </div>
                        <div class="right-wrap">
                            <div class="asst-row1">
                                <h3><a href="#{{per.pTypeName}}profile/{{per.pId}}">{{per.pLastName}} {{per.pFirstName}}</a></h3>
                                <h4>{{per.pAddress}} {{per.pCityName}} {{per.pCountyName}} {{per.pStateName}} {{per.pZipcode}}</h4>
                                <p ng-if="pTypeId == 4">Vendor ID: <label>VEN654</label>Vendor Type: <label>Plumbing, Electrical, Maintenance</label></p>
                            </div>
                            <div>
                                <h5>
                                    <span><i class="material-icons">email</i> <a href="mailto:{{per.pEmail}}">{{per.pEmail}}</a></span>
                                </h5>
                                <h5>
                                    <span style="width:140px"><i class="material-icons">phone</i> {{per.pPhoneNo}}</span>
                                    <span style="width:140px"><i class="material-icons">print</i> {{per.pFaxNo}}</span>
                                </h5>
                            </div>
                        </div>
                        <div class="last-wrap" ng-if="pTypeId == 3">
                            <h6>
                                <span style="width:80px"><i class="material-icons">directions_car</i> 1</span>
                                <span style="width:130px;">Rent: $2000</span>
                                <span style="width:130px;">Late fee(5%): <label>-</label></span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>