﻿<style>
    #myCarousel .carousel-indicators {
        position: absolute;
        bottom: 28px !important;
        right: 0;
        left: 0;
        z-index: 0;
        width: 124px !important;
        padding-left: 0;
        margin-left: -32%;
        text-align: center;
        list-style: none;
        margin: 0 auto;
    }

    .attach-doc {
        margin-left: 16px;
        margin-bottom: 14px;
        margin-top: 2px;
    }

    .expire {
        color: #ec0a0a;
    }

    .btn-past {
        font-size: 15px;
        margin-left: 12px !important;
        background-color: #008bff;
    }

    .vt-prprty {
        height: 76px !important;
        width: 298px;
        word-wrap: break-word;
        overflow: hidden;
    }

        .vt-prprty:hover {
            overflow-y: scroll;
        }

    .prprty-info {
        height: 30px;
         overflow: hidden;
    }

        .prprty-info:hover {
             overflow-y: scroll;
        }
        .prprty-info::-webkit-scrollbar {
            width: 5px;
            color:gainsboro	 !important;
        }
        .vt-prprty::-webkit-scrollbar {
            width: 5px; 
            color:gainsboro	 !important;
        }
</style>

<div ng-controller="propertiesController as propertyctrl" ng-show="!userData.isSubscriptionExpired" ng-init="LoadPropertyListFunction()" class="min-higt" layout="column" ng-cloak>
    <div ng-if="!displayPropView">
        <div class="clearfix"></div>
        <div class="container-fluid wrap1">
            <div class="vt-breadcrumb">
                <div class="col-md-5 col-xs-12 vt-brdcrumb-wrap">
                    <img class="bld-img" src="images/bld-icon.png" />
                    <h5>
                        Properties
                        <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                        <span>Properties</span>
                    </h5>
                </div>
                <div class="vt-filter">
                    <a href="#add_property/-1" class="vt-btn1" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">Add Property</a>
                    <div class="vt-filterdiv" ng-click="showfilter()">
                        <h4 id="vt-filter">
                            <img class="bld-img" src="images/filter-icon.png" />
                            <span>Filters</span>
                            <img style="z-index:999;" id="filter-close" src="images/filter-close.png" ng-click="closefilter()" />
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="vt-filters">
            <form class="form-regiter" method="post" name="regster" novalidate>
                <div class="input-field col s6 hide-lbl">
                    <div layout="column">
                        <div class="form-group">
                            <h4>Status</h4>
                            <div ng-repeat="ss in statuslist">
                                <input type="checkbox" ng-model="useStatus[$index].checked" checked="checked" />
                                <span class="md-class">{{ss.Name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padd-lease form-group">
                    <h4>Category</h4>
                    <select id="ddlPropertyCatg" name="ddlPropertyCatg" ng-model="pPropertyCategoryFilter" ng-change="showpropertytypes(pPropertyCategoryFilter)" ng-options="s.Name for s in propertycategorieslist track by s.Id" required>
                        <option value=""> All </option>
                    </select>
                </div>
                <div class="padd-lease form-group">
                    <h4>Type</h4>
                    <div ng-repeat="pt in propertytypesfilteredlist">
                        <input type="checkbox" ng-model="useType[$index].checked" checked="checked" />
                        <span class="md-class">{{pt.Name}}</span>
                    </div>
                </div>
            </form>
        </div>

        <div class="clearfix"></div>
        <div class="container wrap2 pad_0">
            <div class="pty_wrap col-lg-12 col-md-12 col-xs-12 marg_auto pad_0">
                <div class="prprty-list prprtylist-minHeight" ng-repeat="x in propertieslist | filter: filterBySelection()">

                    <a class="img-hov cursorpointer" style="cursor:pointer!important;" href="#propertyProfile/{{x.pId}}">
                        <img fallback-src="../Uploads/Properties/Photos/DefaultImage.png"
                             class="bldg-pic img-responsive pro_img" ng-src="../Uploads/Properties/Photos/{{x.pId}}-{{x.imageName}}.png?'cb'={{randomNumber}}" />

                        <div class="hov_content">
                            <h4>Contact:</h4>
                            <h6><span> <i class="fa fa-user"></i> Owner: {{x.pOwnerName}}</span></h6>
                            <h6>
                                <span><i class="fa fa-envelope"></i> Email: {{x.pOwnerEmail}}</span> <br>
                                <span><i class="fa fa-phone"></i> Phone: {{x.pOwnerPhone}}</span>
                            </h6>
                        </div>
                        <span class="residential">{{x.pCategoryName}}</span>
                        <div class="vt-prprty">
                            <h4>P-{{x.pId }} ({{x.pName }}) </h4>
                            <p>{{x.pAddress}}, {{x.pCity}}, {{x.pState}} {{x.pZipCode}}</p>
                        </div>
                        <div class="prprty-info">
                            <span ng-show="showLeaseResidential(x)"><img src="images/properties/leased.png" /> {{x.pStatusName}}</span>
                            <span ng-show="showLeaseCommercial(x)"><img src="images/properties/leased-comercial.png" /> {{x.pStatusName}}</span>
                            <span ng-show="(x.pStatusId == 7)"><img src="images/properties/listed.png" /> {{x.pStatusName}}</span>
                            <span ng-show="(x.pStatusId == 4 || x.pStatusId == 6) "><img src="images/properties/vacant.png" /> {{x.pStatusName}}</span>
                            <span><img src="images/properties/feets.png" />{{x.pGrossArea == 0 ? '': x.pGrossArea}} {{x.pGrossArea == 0 ? '': 'sq.ft'}}</span>
                            <span><img src="images/properties/parking.png" /> {{x.pParkingSpaces}}</span>
                        </div>
                    </a>
                </div>
                <div ng-show="(propertieslist | filter: filterBySelection()).length == 0">
                    <table width="100%" style="margin-top: 10%;text-align: center;">
                        <tbody>
                            <tr>
                                <td>
                                    <h4>No Record Found</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--<p ng-show="(propertieslist | filter: filterBySelection()).length == 0">Nothing here!</p>-->
            </div>
        </div>

        <!--  individual property view -->
        <!-- individual property view end -->
    </div>

    <div>
        <div class="modal fade-scale" id="uploadDocument" role="dialog" aria-labelledby="uploadDocument">
            <div class="modal-dialog" role="document" style="width:50% !important">
                <div class="modal-content">
                    <div class="modal-header model-headerColor">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Upload Document</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="padd_zero marg1 col-lg-12 attach-doc">
                                    <label><b> Attach documents.</b></label>
                                    <input type="file" multiple value="Upload" id="flUploadDocuments" title="Load files..." onchange="angular.element(this).scope().documentSelected(this)" />
                                </div>
                            </div>
                            <form name="userForm" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">
                                <div class="lease-form col-sm-12 col-xs-12" ng-repeat="doc in documentArray">
                                    <div ng-if="!doc.isDeleted">
                                        <div class="col-sm-3 col-xs-10 form-group">
                                            <label>Document Name</label>
                                            <span class="form2">{{doc.documentName}}</span>
                                        </div>
                                        <div class="col-sm-5 col-xs-8 form-group">
                                            <label>
                                                Document Description
                                                <span class="errormsg">*</span><span class="errormsg" ng-show="userForm.docDesc_{{$index}}.$dirty && userForm.docDesc_{{$index}}.$invalid">
                                                    <span ng-show="userForm.docDesc_{{$index}}.$error.required">Document name is required.</span>
                                                </span>
                                            </label>
                                            <input type="text" placeholder="Document name" class="form2" name="docDesc_{{$index}}" ng-model="doc.documentDesc" required />

                                        </div>
                                        <div class="col-sm-3 col-xs-8 form-group">
                                            <div>
                                                <label>Document Tags</label>
                                                <input type="text" placeholder="Document tags" class="form2" name="docTags" ng-model="doc.documentTags" />
                                            </div>
                                        </div>
                                        <div class="col-sm-1 col-xs-1 form-group">
                                            <label>&nbsp;</label>
                                            <!--<img src="./images/remove.png" ng-click="removeDocument(doc.counter)" />-->
                                            <i class="fa fa-trash" style="font-size:17px;color:#6b6767;" ng-click="removeDocument(doc.counter)"></i>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="padd_zero col-lg-12">
                                        <div class="col-md-6 col-sm-6 col-xs-6 form-group paddLeft_zero">
                                            <button type="submit" ng-disabled="userForm.documentDesc.$dirty && userForm.documentDesc.$invalid" class="btn btn-success btn-block btn1" ng-click="uploadDocuments(selectedProperty.pId)">
                                                Upload Document
                                            </button>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 form-group paddRight_zero">
                                            <button class="btn btn-danger btn-block btn1" ng-click="closeuploadDocument()">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--<div class="padd_zero col-lg-12">
                                <div class="col-md-6 col-sm-6 col-xs-6 form-group paddLeft_zero">
                                    <span> </span>
                                    <button class="btn btn-success btn-block btn1 btn-width" ng-disabled="frmSupportTicket.$invalid"
                                            type="submit" ng-click="SaveSupportTicket(frmSupportTicket)">
                                        Submit
                                    </button>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'Shared View/PartialView/Finance/_ExportExcelTable.html'"></div>
    <div ng-include="'Shared View/_Loader.html'"></div>
</div>


