﻿<style type="text/css">
    #mdlAddNewAdmin .container {
        max-width: 850px !important;
    }

    .table-wrapper {
        background: #fff;
        padding: 20px 25px;
        margin: 30px 0;
        border-radius: 3px;
        box-shadow: 2px 2px 5px #ccc;
        border: 1px solid #e4e4e4;
    }

    .table-title {
        padding-bottom: 15px;
        background: #d8d8d8;
        color: #000;
        padding: 9px 30px;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0;
    }

        .table-title h2 {
            margin: 5px 0 0;
            font-size: 17px;
            font-weight: 600;
        }

        .table-title .btn {
            color: #fff;
            float: right;
            font-size: 13px;
            /*background: #000;*/
            border: none;
            min-width: 50px;
            border-radius: 2px;
            border: none;
            outline: none !important;
            margin-left: 10px;
        }

            .table-title .btn:hover, .table-title .btn:focus {
                opacity: 0.9 !important;
            }

            .table-title .btn i {
                float: left;
                font-size: 21px;
                margin-right: 5px;
            }

            .table-title .btn span {
                float: left;
                margin-top: 2px;
            }

    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
        padding: 12px 15px;
        vertical-align: middle;
        font-weight: 500;
    }

        table.table tr th:first-child {
            width: 60px;
        }

        table.table tr th:last-child {
            width: 100px;
        }

    table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }

    table.table-striped.table-hover tbody tr:hover {
        background: #f5f5f5;
    }

    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    table.table td:last-child i {
        opacity: 0.9;
        font-size: 22px;
        margin: 0 5px;
    }

    table.table td a {
        font-weight: bold;
        color: #566787;
        display: inline-block;
        text-decoration: none;
    }

        table.table td a:hover {
            color: #2196F3;
        }

        table.table td a.settings {
            color: #2196F3;
        }

        table.table td a.delete {
            color: #F44336;
        }

    table.table td i {
        font-size: 19px;
    }

    table.table .avatar {
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
    }

    .status {
        font-size: 30px;
        margin: 2px 2px 0 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 10px;
    }

    .text-success {
        color: #10c469;
    }

    .text-info {
        color: #62c9e8;
    }

    .text-warning {
        color: #FFC107;
    }

    .text-danger {
        color: #ff5b5b;
    }

    .pagination {
        float: right;
        margin: 0 0 5px;
    }

        .pagination li a {
            border: none;
            font-size: 13px;
            min-width: 30px;
            min-height: 30px;
            color: #999;
            margin: 0 2px;
            line-height: 30px;
            border-radius: 2px !important;
            text-align: center;
            padding: 0 6px;
        }

            .pagination li a:hover {
                color: #666;
            }

        .pagination li.active a, .pagination li.active a.page-link {
            background: #03A9F4;
        }

            .pagination li.active a:hover {
                background: #0397d6;
            }

        .pagination li.disabled i {
            color: #ccc;
        }

        .pagination li i {
            font-size: 16px;
            padding-top: 6px;
        }

    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }

    .mar_top {
        margin-top: 1em !important;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<div ng-controller="recurringBillController as RC" ng-show="!userData.isSubscriptionExpired" ng-init="RC.LoadRecurringBill()" class="min-higt" layout="column" ng-cloak>

    <div class="container wrap1" ng-if="RC.isSubTab != true">
        <div class="vt-breadcrumb">
            <div class="vt-brdcrumb-wrap padd6 col-lg-4 col-xs-12">
                <img class="bld-img" src="images/bld-icon.png">
                <h5>
                    Scheduled Payment
                    <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                    <span><a href="#recurring"> Financial</a> <img src="images/right-arrow.png"></span>
                    <span>Scheduled Payment </span>
                </h5>
            </div>
            <div class="vt-filter">
            </div>
        </div>
    </div>


    <div class="container">
        <!--<div class="table-wrapper mar_top_button">
            <div class="table-title">
                <div class="row">
                    <div>
                        <h2>Scheduled Payment</h2>
                    </div>
                </div>
            </div>

        </div>-->
        <div class="col-md-12 p0 mar_top">
            <h2 class="tabel-head">Scheduled Payment</h2>
        </div>
        <table class="table table-striped" style="margin-top:1em !important;" ng-if="RC.isSubTab != true">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Property</th>
                    <th>Pay To</th>
                    <th>Amount</th>
                    <th>Frequency</th>
                    <th>Schedule Date</th>
                    <th>Card Drawn</th>
                    <th ng-if="userData.access != PersonRole.readonly">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bill in RC.recurringBill" ng-if="RC.recurringBill.length !=0">
                    <td>{{$index +1}}</td>
                    <td>{{bill.propAddress}}</td>
                    <td>{{bill.reciverName}}</td>
                    <td>{{bill.amount}}</td>
                    <td>{{bill.frequency}}</td>
                    <td>{{bill.recurringDate | date}}</td>
                    <td>{{bill.cardDrawn}}</td>
                    <td ng-if="userData.access != PersonRole.readonly"><button class="btn btn-primary" ng-click="RC.ShowPopUpRecurring(bill)">Stop Payment</button></td>
                </tr>
                <tr class="text-center" ng-if="RC.recurringBill.length ==0">
                    <td colspan="8"><p class="P-Center">No Record Found</p></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped" style="margin-top:1em !important; width: 75%;" ng-if="RC.isSubTab == true">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Property</th>
                    <th>Pay To</th>
                    <th>Amount</th>
                    <th>Frequency</th>
                    <th>Schedule Date</th>
                    <th>Card Drawn</th>
                    <th ng-if="userData.access != PersonRole.readonly">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bill in RC.recurringBill" ng-if="RC.recurringBill.length !=0">
                    <td>{{$index +1}}</td>
                    <td>{{bill.propAddress}}</td>
                    <td>{{bill.reciverName}}</td>
                    <td>{{bill.amount}}</td>
                    <td>{{bill.frequency}}</td>
                    <td>{{bill.recurringDate | date}}</td>
                    <td>{{bill.cardDrawn}}</td>
                    <td ng-if="userData.access != PersonRole.readonly"><button class="btn btn-primary" ng-click="RC.ShowPopUpRecurring(bill)">Stop Payment</button></td>
                </tr>
                <tr class="text-center" ng-if="RC.recurringBill.length ==0">
                    <td colspan="8"><p class="P-Center">No Record Found</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-include="'Shared View/_Loader.html'"></div>
    <div class="modal" id="stopRecurring">
        <div ng-include="'Views/alert/alert_ConfirmMessage.html'"></div>
    </div>
</div>

