﻿
<div ng-controller="tenantContactController" ng-show="!userData.isSubscriptionExpired" class="min-higt" layout="column" ng-cloak ng-init="LoadAllTenants()">

    <div ng-include="'Shared View/PersonPartials/PersonList.html'"></div>
    <div ng-include="'Shared View/_Loader.html'"></div>
</div>