﻿
<div ng-controller="VendorController as VC" ng-show="!userData.isSubscriptionExpired" class="min-higt" layout="column" ng-cloak ng-init="VC.LoadVendor()">
    <div class="clearfix"></div>
    <div class="container-fluid wrap1">
        <div class="vt-breadcrumb">
            <div class="vt-brdcrumb-wrap padd6 col-lg-4 col-xs-12">
                <img class="bld-img" src="images/bld-icon.png">
                <h5>
                    Vendor
                    <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                    <span><a href="#vendor">Contacts</a> <img src="images/right-arrow.png" /></span>
                    <span>Vendor</span>
                </h5>
            </div>
            <div class="vt-filter">
                <ul class="menu4" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">
                    <a href="#createvendor" class="vt-btn1 pull-right">New contact</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid">
        <div class="container pad_0">
            <div class="tab-content">
                <div id="step1tab" class="tab-pane fade in active">
                    <div id="accord4" class="col-xs-12 marg_auto wrap8">
                        <div class="col-lg-12">
                           <div class="wrap8-col col-lg-6 col-md-12 col-sm-12 col-xs-12" ng-repeat="vendor in VC.lstVendor" >
                                <div class="hov-wrap inner-wrap">
                                    <div class="full-width right-wrap">
                                        <div class="asst-row1">   
                                            <span ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false" class="pull-right" ><a class="edit_icon" href="#createvendor/{{vendor.vendorId}}"><i class="fa fa-edit"></i></a></span>                                                                                   
                                            <h3><a class="anchor_disable" href="Vendor_Details.html">{{vendor.firstName +' '+ vendor.lastName}}</a></h3>
                                             <h4>{{vendor.address}}</h4>
                                            <p>Vendor ID: <label>VEN{{vendor.vendorId}}</label>Vendor Type: <label>{{vendor.service}}</label></p>
                                        </div>
                                        <div class="vendor-wrap">
                                            <h5>
                                                <span ng-if="vendor.email != '' && vendor.email != null"><i class="material-icons">email</i> <a class="anchor_disable" href="">{{vendor.email}}</a></span>
                                                <span ng-if="vendor.email == '' || vendor.email == null"><i class="material-icons">email</i> N/A</span>
                                            </h5>
                                            <h5>
                                                <span ng-if="vendor.phone != '' && vendor.phone != null"><i class="material-icons">phone</i> {{vendor.phone}}</span>
                                                <span ng-if="vendor.phone == '' || vendor.phone == null"><i class="material-icons">phone</i> N/A</span>
                                                <span ng-if="vendor.fax != '' && vendor.fax != null"><i class="material-icons">print</i> {{vendor.fax}}</span>
                                            </h5> 
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>

                     
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'Shared View/_Loader.html'"></div>
</div>












