<style>
    .dropdown1 ul.dropdown1-status {
        background: #F0F0F0;
        box-shadow: none;
        margin-top: 14px;
        width: 324px;
        padding: 7px;
        margin-left: -200%;
        z-index: 8;
    }

        .dropdown1 ul.dropdown1-status:before {
            content: "";
            border-bottom: 10px solid #F0F0F0;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            position: absolute;
            top: -10px;
            z-index: 10;
            right: 25px;
        }

        .dropdown1 ul.dropdown1-status:after {
            content: "";
            border-bottom: 12px solid #ccc;
            border-right: 12px solid transparent;
            border-left: 12px solid transparent;
            position: absolute;
            top: -12px;
            z-index: 9;
            right: 23px;
        }

    /*.dropdown1-status li input {
        border-radius: 0;
    }*/

    .dropdown1-status li .form-control-feedback {
        top: 0;
        color: #CCC;
    }

    .btn {
        border-radius: 0;
    }

    .btn-icon-status {
        padding: 7px;
        display: block;
    }

    .dropdowntoggle, .dropdowntoggle:hover {
        background: #e20606 !important;
        border-color: #e20606 !important;
        color: #fff !important;
        font-weight: 800;
    }

    .docClass {
        text-decoration: underline;
        color: #428bca;
    }
</style>



<div ng-controller="workorderController as WOC" ng-show="!userData.isSubscriptionExpired" layout="column" ng-init="WOC.LoadWorkOrder()" ng-cloak>
    <div class="clearfix"></div>
    <div class="container-fluid wrap1" ng-if="WOC.isSubTab != true">
        <div class="vt-breadcrumb">
            <div class="vt-brdcrumb-wrap col-sm-12 col-md-12 col-lg-5 col-xs-12">
                <img class="bld-img" src="images/bld-icon.png" />
                <h5>
                    Work Orders
                    <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                    <span>Maintenance <img src="images/right-arrow.png" /></span>
                    <span>Work Orders</span>
                </h5>
            </div>
            <div class="vt-filter">
                <a ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false" href="#createworkorder" class="vt-btn1">Create work order</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div ng-class="{'container-fluid': WOC.isSubTab, 'container': !WOC.isSubTab}">

        <div class="inner_div1">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
                <div class="tab-content" ng-if="WOC.isSubTab != true">
                    <div class="tab-pane fade in active">
                        <div id="accord4" class="report-form work-wrap">
                            <div class="lease-form col-xs-12 pad_0">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="WOC.isownerSubTab==true">
                        <label>Select Property</label>
                        <ui-select ng-model="WOC.WorkOrderFilterParameters.property" theme="selectize"
                                   title="Choose a property" on-select="WOC.FilterWorkOrderByProperty(WOC.WorkOrderFilterParameters.property.propertyId)">
                            <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                            <ui-select-choices repeat="property in WOC.lstPropertByManagerAndOwner| orderBy : 'propertyName' | filter: $select.search">
                                <span ng-bind-html="property.propertyName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 p0 RadioinWOinOwner" ng-if="WOC.isownerSubTab==true">
                        <div class="margintop3 mar_btm1em">
                            <md-radio-group ng-model="WOC.workOrderStatus" layout="row" ng-change="WOC.StatusChange()">
                                <md-radio-button value="{{status}}" ng-repeat="status in WOC.arrWorkOrderStatus">{{status}}</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 p0" ng-if="WOC.isownerSubTab!=true">
                        <div class="margintop3 mar_btm1em">
                            <md-radio-group ng-model="WOC.workOrderStatus" layout="row" ng-change="WOC.StatusChange()">
                                <md-radio-button value="{{status}}" ng-repeat="status in WOC.arrWorkOrderStatus">{{status}}</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>

                    <div class="col-md-3 pad_0" ng-if="WOC.isownerSubTab!=true">
                        <!--Show  <select class="itemCountddl" ng-model="WOC.ItemCountPerPage"
        ng-options="count for count in WOC.itemsPerPageArr" ng-change="WOC.currentPage = 0"></select>-->
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-right pad_0 RadioinWOinOwner" ng-if="WOC.isownerSubTab==true">
                        <div class="dropdown">
                            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                Export Action
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu padd10topBottom">
                                <li onclick="ExportToExcel('lstWorkOrderXls','WorkOrders')"><i class="fa fa-file-excel-o" style="color:green"></i> Export To excel</li>
                                <li ng-click="WOC.PrintPdf('lstWorkOrderXls1')" class="marginTop16"><i class="fa fa-file-pdf-o" style="color:green"></i> Export To Pdf</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 text-right pad_0" ng-if="WOC.isownerSubTab!=true">
                        <div class="dropdown">
                            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                Export Action
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu padd10topBottom">
                                <li onclick="ExportToExcel('lstWorkOrderXls','WorkOrders')"><i class="fa fa-file-excel-o" style="color:green"></i> Export To excel</li>
                                <li ng-click="WOC.PrintPdf('lstWorkOrderXls1')" class="marginTop16"><i class="fa fa-file-pdf-o" style="color:green"></i> Export To Pdf</li>
                            </ul>
                        </div>
                    </div>
                </div>

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th ng-click="WOC.lstWorkOrder_OrderBy = WOC.OrderBy(WOC.lstWorkOrder_OrderBy, 'woid')">WOID</th>
                                    <th ng-click="WOC.lstWorkOrder_OrderBy = WOC.OrderBy(WOC.lstWorkOrder_OrderBy, 'requestedDate')">Requested Date</th>
                                    <th ng-click="WOC.lstWorkOrder_OrderBy = WOC.OrderBy(WOC.lstWorkOrder_OrderBy, 'requestedByName')">Requested By</th>
                                    <th ng-click="WOC.lstWorkOrder_OrderBy = WOC.OrderBy(WOC.lstWorkOrder_OrderBy, 'expectedStartDate')">Exp Start Date</th>
                                    <th ng-click="WOC.lstWorkOrder_OrderBy = WOC.OrderBy(WOC.lstWorkOrder_OrderBy, 'requestedByName')">Exp Comp Date</th>
                                    <th ng-click="WOC.lstWorkOrder_OrderBy = WOC.OrderBy(WOC.lstWorkOrder_OrderBy, 'propertyName')">Property Name</th>
                                    <th ng-if="WOC.workOrderStatus == 'All'">Status</th>
                                    <th>Documents</th>
                                    <th ng-if="WOC.lstWorkOrder_Filtered.length > 0 && WOC.isSubTab != true"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="WOC.lstWorkOrder_Filtered.length == 0" class="text-center">
                                    <td colspan="8">
                                        <p class="P-Center">No Record Found</p>
                                    </td>
                                </tr>
                                <tr ng-repeat="workorder in WOC.lstWorkOrder_Filtered  | orderBy : WOC.lstWorkOrder_OrderBy | offset: WOC.currentPage_lstWorkOrder *  WOC.PageService.itemsPerPage | limitTo:  WOC.PageService.itemsPerPage" ng-if="WOC.lstWorkOrder_Filtered.length != 0">

                                    <td>
                                        <a class="underline" href="#createworkorder/{{workorder.woid}}">                                           
                                            WO#{{workorder.woid}}
                                        </a>                                    
                                    </td>
                                    <td>{{workorder.requestedDate | date}}</td>
                                    <td>{{workorder.requestedByName}}</td>
                                    <td>{{workorder.expectedStartDate | date}}</td>
                                    <td>{{workorder.expectedCompletionDate | date}}</td>
                                    <td>{{workorder.propertyName}}</td>
                                    <td ng-if="WOC.workOrderStatus == 'All'">{{workorder.status}}</td>
                                    <td>
                                        <span ng-if="workorder.docName == null">N/A</span>
                                        <ul class="nav nav_ul navbar-nav" ng-if="workorder.docName != null">
                                            <li class="dropdown1">
                                                <div ng-click="WOC.ViewWorkOrderDoc(workorder.woid,workorder.docName)" class="dropdown-toggle docClass" data-toggle="dropdown">{{workorder.docName == null ? 'N/A' : 'View Documents'}}</div>
                                                <ul class="dropdown1-status dropdown-menu">
                                                    <li class="row">
                                                        <div ng-repeat="document in WOC.DocArray">
                                                            <div class="col-md-12 invoiceRow">
                                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                                    <div class="col-md-12">
                                                                        <div>
                                                                            <a class="textUnderline" ng-click="WOC.openDocument(workorder.woid +'-'+ document)">{{document.split('.')[0]}}</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                    <td ng-if="WOC.lstWorkOrder_Filtered.length > 0 && WOC.isSubTab != true">
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                Action
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu padd10topBottom">
                                                <li style="cursor:pointer" ng-click="" title="View Work Order">
                                                    <a href="#createworkorder/{{workorder.woid}}">
                                                        <i class="fa fa-eye"></i>
                                                        View Work Order
                                                    </a>
                                                </li>
                                                <li class="marginTop16" title="Close Work Order" ng-if="userData.access != PersonRole.readonly && workorder.status == 'Open' && userData.isSubscriptionExpired == false && (workorder.totalWorkRequests == workorder.closedWorkRequests)">
                                                    <a ng-click="WOC.ChangeWorkOrderStatus(workorder.woid,'Closed')">
                                                        <i class="fa fa-window-close-o"></i>
                                                        Close Work Order
                                                    </a>
                                                </li>

                                                <li class="marginTop16" title="Cancel Work Order" ng-if="userData.access != PersonRole.readonly && workorder.status == 'Open' && userData.isSubscriptionExpired == false">
                                                    <a ng-click="WOC.ChangeWorkOrderStatus(workorder.woid,'Cancelled')">
                                                        <i class="fa fa-times-circle"></i>
                                                        Cancel Work Order
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div>
                            <ul ng-show="WOC.lstWorkOrder_Filtered.length < 1"></ul>
                            <ul class="pagination" ng-show="WOC.lstWorkOrder_Filtered.length > 0">
                                <li ng-class="WOC.PageService.PrevPageDisabled(WOC.CurrentSelectedPage)">
                                    <a ng-click="WOC.PrevClick($event)" class="fa fa-angle-double-left"> Prev</a>
                                </li>
                                <li ng-repeat="n in WOC.PageRange"
                                    ng-class="{active: n == WOC.CurrentSelectedPage}"
                                    ng-click="WOC.CurrentSelectedPage = n;  WOC.currentPage_lstWorkOrder = $index; WOC.pageNo = n">
                                    <a>{{n}}</a>
                                </li>
                                <li ng-class="WOC.PageService.NextPageDisabled(WOC.TotalWorkOrderCount,WOC.CurrentSelectedPage)">
                                    <a ng-click="WOC.NextClick($event)">Next <span class="fa fa-angle-double-right"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
        </div>

    </div>
    <div ng-include="'Shared View/_Loader.html'"></div>
    <div ng-include="'Shared View/PartialView/WorkOrder/_ExportExcel_WorkOrderList.html'"></div>
</div>