﻿<style>
    #mdlOwnerProfile .materialLabel {
        height: 40px !important;
        width: 136px !important;
        text-align: center !important;
        margin-top: 5px;
        padding: 1px 19px !important;
    }

    #mdlOwnerProfile .container {
        max-width: 850px !important;
    }

    #mdlOwnerProfile .profileImage {
        max-height: 100px !important;
        max-width: 100px !important;
    }

    #mdlOwnerProfile .img-responsive {
        max-width: 76% !important;
        height: 130px !important;
    }

    #mdlOwnerProfile .image-upload .marginnone {
        border: none !important;
        padding: 5%;
    }

    .wrap1 {
        margin-top: 65px !important;
    }

    .img-one {
        padding: 41px 55px;
        margin-right: 0px !important;
    }

     .accord-title {
        font-size: 16px;
    color: #7d7d7d;
    font-weight: 600;
     }
     .panel-heading {
       padding-left: 26px; 
      }
     .sub-wrap3 {
         margin-left:10px;
     }
</style>


<div ng-controller="ownerController as OC" ng-init="OC.PageLoad()" class="min-higt" layout="column" ng-cloak>
    <md-content class="content layout-padding flex" ng-show="!userData.isSubscriptionExpired">

        <div class="clearfix"></div>
        <div class="container-fluid">
            <div class="breadcrmb1 vt-breadcrumb" style="overflow:visible;">
                <div class="vt-brdcrumb-wrap col-lg-4 col-md-4 col-sm-4 col-xs-10">
                    <img class="bld-img" src="images/bld-icon.png">
                    <h5>
                        Owners
                        <br><span><a href="">Home</a></span>
                    </h5>
                </div>
                <div class="vt-brdcrumb-wrap col-lg-4 col-md-4 col-sm-2"></div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-10">
                    <div class="vt-filter">
                        <div class="text-right">
                            <div class="dropdown margintop3">
                                <button class="btn btn-primary dropdown-toggle homedropDown" type="button" data-toggle="dropdown">
                                    More Actions
                                    <span class="caret whitecaret"></span>
                                </button>
                                <ul class="dropdown-menu padd10topBottom">
                                    <li><a href="#payment">Make Payment</a></li>
                                    <li><a ng-click="OC.RegistrationModel()">Edit Profile</a></li>
                                    <li><a href="#PropayProfile">Payment Profile</a></li>
                                    <!--<li><a ng-click="OC.MerchantRegistrationModel()">Payment Profile</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container wrap2 margin5em">
            <div class="profile-div col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 profile-left">
                    <div class="prof-wrap1 text-center">

                        <div class="img-one div_image" id="divimage2">
                        </div>                       
                        <!--<img class="img-responsive disp" style="border:1px dashed #ccc" ng-src="data:image/png;base64,{{OC.ownerData.PersonInfo.pImage.base64}}" />-->
                    </div>
                    <div class="prof-wrap2">
                        <a style="float:left;" data-toggle="modal" data-target="#mdlChangePassword"><i class="fa fa-lock"></i>&nbsp; Change Password</a>
                        <br />
                        <span style="margin-top:10px;"><i class="material-icons">email</i> {{OC.ownerData.PersonInfo.pEmail  == null ? 'N/A':OC.ownerData.PersonInfo.pEmail}}</span>
                        <span><i class="material-icons">phone</i> {{OC.ownerData.PersonInfo.pPhoneNo == null ? 'N/A':OC.ownerData.PersonInfo.pPhoneNo}}</span>
                        <span ng-if="OC.ownerData.PersonInfo.pFaxNo != null"><i class="material-icons">print</i> {{OC.ownerData.PersonInfo.pFaxNo}}</span>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 profile-right">
                    <div class="prof-wrap3">
                        <h3>{{OC.ownerData.PersonInfo.pFullName}}</h3>
                        <p>{{OC.ownerData.PersonInfo.pAddress}} {{OC.ownerData.PersonInfo.pCityName}} {{OC.ownerData.PersonInfo.pCountyName}} {{OC.ownerData.PersonInfo.pZipcode}}</p>
                    </div>
                    <!--<div class="prof-wrap3 PropertiesHeading">
                        <h3>Properties</h3>
                    </div>-->
                    <div>
                        <div class="col-lg-12 collapse in col-md-12 pad_0" id="demo">
                            <div>
                                <accordion close-others="true" id="property_additionalinfo">
                                    <accordion-group style="background-color:inherit" is-open="status.isfirstOpen" ng-repeat="prop in OC.ownerData.lstMdlProperty">
                                        <accordion-heading>
                                            <h2 class="propertySubHeading">
                                                <span style="color: #464646;font-family: 'Lato-Bold';font-size: 15px;">  {{prop.name}}({{prop.pNum}})</span>
                                                <br />
                                                <span class="accord-title">{{prop.pAddress}} {{prop.pCity}} {{prop.pCounty}} {{prop.pZipCode}}</span>
                                                <i class="pull-right glyphicon" style="font-size:15px !important;" ng-class="{'glyphicon-minus': status.isfirstOpen, 'glyphicon-plus': !status.isfirstOpen}"></i>
                                            </h2>
                                        </accordion-heading>
                                        <div class="sub-wrap3 col-lg-12 col-xs-12 pad_0">
                                            <div class="col-md-6 col-lg-6 col-xs-12 pad_0">
                                                <div>Rent area: <span>{{prop.pRentableArea == 0 ? 'N/A' : prop.pRentableArea}} {{prop.pRentableArea == 0 ? '' : 'sq.ft'}}</span></div>
                                                <div>Lease ID: <span>{{prop.lstMdlLeaseTenant[0].LeaseNo == null ? 'N/A' : prop.lstMdlLeaseTenant[0].LeaseNo }}</span></div>
                                            </div>

                                            <div class="col-md-6 col-lg-6 col-xs-12">
                                                <div>Parking: <span>{{prop.pParkingSpaces == null ? 'N/A' : prop.pParkingSpaces}}</span></div>
                                                <div>Tenant: <span>{{prop.lstMdlLeaseTenant[0].tenantname == null ? 'N/A' : prop.lstMdlLeaseTenant[0].tenantname}}</span></div>
                                            </div>
                                        </div>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container mar_top2em">
            <div class="col-lg-12 col-md-12 col-xs-12 pad_0 marg_auto">


                <ul class="tab_menu">
                    <!--<li ng-class="tab1Class" class="first_tab active2"><a onclick="openCity(event, 'Transactions')" ng-click="OC.ActiveTab('Transactions');OC.setTabClass('1')">Transactions</a></li>-->
                    <li ng-class="tab2Class"><a onclick="openCity(event, 'Invoices')" ng-click="OC.ActiveTab('Invoices');OC.setTabClass('2')" >Invoices</a></li>
                    <li ng-class="tab3Class"><a onclick="openCity(event, 'Payments')" ng-click="OC.ActiveTab('Payments');OC.setTabClass('3')">Payments</a></li>
                    <li ng-class="tab4Class"><a onclick="openCity(event, 'incmExpense')" ng-click="OC.setTabClass('4')">Income & Expense</a></li>                    
                    <li ng-class="tab5Class"><a onclick="openCity(event, 'OnlineStatement')" ng-click="OC.ActiveTab('OnlineStatement');OC.setTabClass('5')">Online Statement</a></li>
                    <li ng-class="tab6Class"><a onclick="openCity(event, 'WorkOrder')" ng-click="OC.ActiveTab('WorkOrder');OC.setTabClass('6')">Work Orders</a></li>
                    <li ng-class="tab7Class"><a onclick="openCity(event, 'leaseDocs')" ng-click="OC.setTabClass('7')">Documents</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>    
        <div>
            <div>
                <div>
                    <!--<div id="Transactions" class="tabcontent" style="display:block;">
        <div ng-include="'finanacialSummary.html'"></div>
    </div>-->
                    <div id="Invoices" class="tabcontent" style="display:block;">
                        <div ng-include="'invoices.html'"></div>
                    </div>
                    <div id="Payments" class="tabcontent">
                        <div ng-include="'bills.html'"></div>
                    </div>

                    <div id="incmExpense" class="tabcontent">
                        <div ng-include="'./Views/Report/IncomeExpenseRpt.html'"></div>
                    </div>
                    <div id="OnlineStatement" class="tabcontent">
                        <div ng-include="'./Views/Report/OnlineStatement.html'"></div>
                    </div>
                    <!-- Work order-->
                    <div id="WorkOrder" class="tabcontent divworkorder container tab-wrap2" >
                                <div ng-include="'Work_Orders.html'"></div>
                    </div>

                    <div class="container">
                        <div class="inner_div1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12 pad_0">
                                <div id="leaseDocs" class="tabcontent">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="userData.personType == PersonTyp.owner">
                                        <label>Select Property</label>
                                        <ui-select ng-model="OC.Property" theme="selectize"
                                                   title="Choose a property" on-select="OC.GetPropertyDoc(OC.Property.propertyId)">
                                            <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                                            <ui-select-choices repeat="property in OC.lstPropertByOwner| orderBy : 'propertyName' | filter: $select.search">
                                                <span ng-bind-html="property.propertyName | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12">
                                            <table width="100%" class="exp-table mar_btm1em mar_top1em">
                                                <thead class="th-title">
                                                    <tr>
                                                        <th width="20%">Document Name</th>
                                                        <th width="20%">Document Description</th>
                                                        <th width="20%">Document Tags</th>
                                                        <th width="20%">Uploaded Date</th>
                                                        <th width="20%">View Doc </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-if="OC.DocsArray.length > 0" ng-repeat="doc in OC.DocsArray">
                                                        <td>{{doc.Name.split('.')[0]}}</td>
                                                        <td>{{doc.Description == undefined ? '' : doc.Description}}</td>
                                                        <td>{{doc.Tags}}</td>
                                                        <td>{{doc.CreationTime  | date}}</td>
                                                        <td> <a ng-click="OC.OpenUrl(OC.Property.propertyId +'-'+ doc.Name)">  {{doc.Name.split('.')[0]}}</a></td>
                                                    </tr>
                                                    <tr ng-if="OC.DocsArray.length == 0">
                                                        <td colspan="5">
                                                            <p class="P-Center">No Record Found</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                 </div>
                            </div>
                     </div>
                   </div>
                </div>
           </div>
</md-content>
    <div class="col-lg-12" style="padding: 0px 40px;" ng-if="userData.isSubscriptionExpired">
        <div class="sc-cIbcTr Nodify">
            <p class="sc-fAfrNB fnYjMI">
                <strong>👋 Hi, {{userData.Name}} .</strong>
               SubScription is Expired, Please contact to your manager .
            </p>
        </div>
    </div>
    <div class="modal fade" id="mdlOwnerProfile" role="dialog" ng-controller="personRegistrationController" ng-init="LoadFunction()">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Owner Profile</h4>
                </div>
                <div class="modal-body">
                    <div ng-include="'Views/Login/RegistrationForm.html'"></div>
                </div>
                <div class="modal-footer" style="border-top:unset !important;">
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'Views/Login/ChangePassword.html'"></div>
    <div ng-include="'Shared View/_Loader.html'"></div>
</div>