﻿<style>
    .accord-title {
        font-size: 16px;
    color: #7d7d7d;
    font-weight: 600;
     }
    #property_additionalinfo .panel-heading {
        padding:1px 20px !important;
    }

     #property_additionalinfo .panel-heading .panel-title {
        margin-top: -16px;
    }
   
</style>
<div ng-controller="ownerContactController" ng-init="LoadViewOwner()" class="min-higt" layout="column" ng-cloak>
    <md-content class="content layout-padding flex" ng-show="!userData.isSubscriptionExpired">

        <div class="clearfix"></div>
        <div class="container-fluid wrap1">
            <div class="vt-breadcrumb">
                <div class="vt-brdcrumb-wrap col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <img class="bld-img" src="images/bld-icon.png" />
                    <h5>
                        View Owners
                        <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                        <span>Contacts <img src="images/right-arrow.png" /></span>
                        <span>View Owner</span>
                    </h5>
                </div>
                <div class="vt-filter">
                    <ul class="menu4">                        
                        <a ng-if="propertyId != 0 && leaseId == 0 && IsFromPropertyProfile == true" href="#propertyProfile/{{propertyId}}" class="btn btn-danger vt-btn2">Cancel</a>
                        <a ng-if="leaseId != 0 && propertyId != 0" href="#leaseview/{{leaseId}}/{{propertyId}}" class="btn btn-danger vt-btn2">Cancel</a>
                        <a ng-if="propertyId == 0 && leaseId == 0" href="#owners" class="btn btn-danger vt-btn2">Cancel</a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="container wrap2">
            <div class="profile-div col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 profile-left">
                    <div class="prof-wrap1 text-center">

                        <div class="img-one div_image" id="divimage2">
                        </div>

                        <!--<img class="img-responsive disp" style="border:1px dashed #ccc" ng-src="data:image/png;base64,{{ownerData.PersonInfo.pImage.base64}}" />-->
                    </div>
                    <div class="prof-wrap2">
                        <div class="row">
                            <div class="col-md-6">
                                <a style="float:left;" class="fontsize14" ng-click="ViewOwnerProfile()"><i class="fa fa-edit"></i>&nbsp; Edit profile</a>
                            </div>
                            <div class="col-md-6 p0">
                                <a ng-click="ShowModel(ownerData.PersonInfo.pEmail)" data-toggle="modal" data-target="#mdlChangeEmail" class="fontsize14"><i class="fa fa-envelope"></i>&nbsp; Change Email</a>
                            </div>
                        </div>                      
                        <br />    
                        <span><i class="material-icons">email</i> {{ownerData.PersonInfo.pEmail  == null ? 'N/A' : ownerData.PersonInfo.pEmail}}</span>
                        <span><i class="material-icons">phone</i> {{ownerData.PersonInfo.pPhoneNo == null ? 'N/A' : ownerData.PersonInfo.pPhoneNo}}</span>
                        <span ng-if="ownerData.PersonInfo.pFaxNo != null"><i class="material-icons">print</i> {{ownerData.PersonInfo.pFaxNo}}</span>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 profile-right">
                    <div class="prof-wrap3">
                        <h3>{{ownerData.PersonInfo.pFullName}}</h3>
                        <p>{{ownerData.PersonInfo.pAddress}} {{ownerData.PersonInfo.pCityName}} {{ownerData.PersonInfo.pCountyName}} {{ownerData.PersonInfo.pZipcode}}</p>
                    </div>
                    <!--<div class="prof-wrap3">
                        <h3>Properties</h3>
                    </div>-->
                    <div>
                        <div class="col-lg-12 collapse in col-md-12 pad_0" id="demo">
                            <div>
                                <accordion close-others="true" id="property_additionalinfo">
                                    <accordion-group style="background-color:inherit" is-open="status.isfirstOpen" ng-repeat="prop in ownerData.lstMdlProperty">
                                        <accordion-heading>
                                            <h2>
                                                <span style="color: #464646;font-family: 'Lato-Bold';font-size: 15px;">  {{prop.name}}({{prop.pNum}})</span>
                                                <br />
                                                <span class="accord-title">{{prop.pAddress}} {{prop.pCity}} {{prop.pCounty}} {{prop.pZipCode}}</span>
                                                <i class="pull-right glyphicon" style="font-size:15px !important;" ng-class="{'glyphicon-minus': status.isfirstOpen, 'glyphicon-plus': !status.isfirstOpen}"></i>
                                            </h2>
                                        </accordion-heading>
                                        <div class="sub-wrap3 col-lg-12 col-xs-12 pad_0">
                                            <div class="col-md-6 col-lg-6 col-xs-12 pad_0">
                                                <div>Rent area: <span>{{prop.pRentableArea == 0 ? 'N/A' : prop.pRentableArea}} {{prop.pRentableArea == 0 ? '' : 'sq.ft'}}</span></div>
                                                <div>Lease ID: <span>{{prop.lstMdlLeaseTenant[0].LeaseNo == null ? 'N/A' : prop.lstMdlLeaseTenant[0].LeaseNo }}</span></div>
                                            </div>

                                            <div class="col-md-6 col-lg-6 col-xs-12">
                                                <div>Parking: <span>{{prop.pParkingSpaces == null ? 'N/A' : prop.pParkingSpaces}}</span></div>
                                                <div>Tenant: <span>{{prop.lstMdlLeaseTenant[0].tenantname == null ? 'N/A' : prop.lstMdlLeaseTenant[0].tenantname}}</span></div>
                                            </div>
                                        </div>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="container mar_top2em">
            <div class="col-lg-12 col-md-12 col-xs-12 pad_0 marg_auto">               
                <ul class="tab_menu">
                    <!--<li ng-class="tab1Class" class="first_tab active2" ><a onclick="openCity(event, 'Transactions')" ng-click="ActiveTab('Transactions');setTabClass('1')" >Transactions</a></li>-->
                    <li ng-class="tab2Class"><a onclick="openCity(event, 'Invoices')" ng-click="ActiveTab('Invoices');setTabClass('2')">Invoices</a></li>
                    <li ng-class="tab3Class"><a onclick="openCity(event, 'Payments')" ng-click="ActiveTab('Payments');setTabClass('3')">Payments</a></li>
                    <li ng-class="tab4Class"><a onclick="openCity(event, 'incmExpense')" ng-click="setTabClass('4')">Income & Expense</a></li>
                    <li ng-class="tab5Class"><a onclick="openCity(event, 'OnlineStatement')" ng-click="ActiveTab('OnlineStatement');setTabClass('5')">Online Statement</a></li>
                </ul>

            </div>
        </div>
        <div class="clearfix"></div>
        <div>
            <div>
                <div>
                    <div id="Transactions" class="tabcontent">
                        <div class="container tab-wrap2">
                            <div class="inner_div">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12 paddingbottom13">
                                    <div style="margin-top:1em">

                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><span class="tabel-head"> Income Expense</span></div>
                                                                                                                                   
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
                                                <label class="col-md-3" style="margin-top:10px;">
                                                    Select Property
                                                </label>
                                                <ui-select ng-model="selectedProperty" theme="selectize" name="ddlProperty"
                                                           title="Choose a property" on-select="LoadPropertyFinancialReport(selectedProperty.propertyId)" class="col-md-9">
                                                    <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                                                    <ui-select-choices repeat="property in lstOwnersProperty | orderBy : 'propertyName' | filter: $select.search">
                                                        <span ng-bind-html="property.propertyName | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <table width="100%" class="exp-table ng-scope">
                                        <thead class="th-title">
                                            <tr>
                                                <th colspan="2">Income</th>
                                                <th colspan="2" style="text-align:right !important;"><a href="#IncmExpnseRpt/{{selectedProperty.pOwnerId}}/{{selectedProperty.pOwnerPOID}}/{{selectedProperty.pId}}/{{selectedProperty.isOwnerCompany}}">View report</a></th>
                                            </tr>
                                        </thead>
                                        <thead class="th-title2" style="background-color:#f3f5f7 !important;">
                                            <tr>
                                                <th style="width:25%">Item</th>
                                                <th style="width:25%">Description</th>
                                                <th style="width:25%">Amount</th>
                                                <th style="width:25%">Year-to-date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="tranRecd in mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.lstMdlOwnerIncomeByPropertyIdLeaseId">
                                                <td>{{tranRecd.type}}</td>
                                                <td>{{tranRecd.category}}</td>
                                                <td>{{tranRecd.mtd | currency}}</td>
                                                <td>{{tranRecd.ytd | currency}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Total Income</td>
                                                <td>{{mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.totalIncomeMTD | currency}}</td>
                                                <td>{{mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.totalIncomeYTD | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table width="100%" class="exp-table ng-scope mar_top">
                                        <thead class="th-title">
                                            <tr>
                                                <th colspan="4">Expenses</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="tranRecd in mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.lstMdlOwnerExpenseByPropertyIdLeaseId">
                                                <td>{{tranRecd.type}}</td>
                                                <td>{{tranRecd.category}}</td>
                                                <td>{{tranRecd.mtd | currency}}</td>
                                                <td>{{tranRecd.ytd | currency}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Total Expenses</td>

                                                <td>{{mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.totalExpenseMTD | currency}}</td>
                                                <td>{{mdlMdlOwnerIncomeExpenseListByPropertyIdLeaseId.totalExpenseYTD | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="Invoices" class="tabcontent" style="display:block;">
                        <div ng-include="'invoices.html'"></div>
                    </div>

                    <div id="Payments" class="tabcontent">
                        <div ng-include="'bills.html'"></div>
                    </div>

                    <div id="incmExpense" class="tabcontent">
                        <div ng-include="'./Views/Report/IncomeExpenseRpt.html'"></div>
                    </div>
                    <div id="OnlineStatement" class="tabcontent">
                        <div ng-include="'./Views/Report/OnlineStatement.html'"></div>
                    </div>
                    <div id="workOrder" class="tabcontent">
                    </div>

                    <div id="leaseDocs" class="tabcontent">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="userData.personType == PersonTyp.owner">
                            {{OC.lstPropertByOwner}}
                            <label>Select Property</label>                            
                            <ui-select ng-model="OC.Property" theme="selectize"
                                       title="Choose a property" on-select="OC.GetPropertyDoc(OC.Property.propertyId)">
                                <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                                <ui-select-choices repeat="property in OC.lstPropertByOwner| orderBy : 'propertyName' | filter: $select.search">
                                    <span ng-bind-html="property.propertyName | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12">
                                <table width="100%" class="exp-table mar_btm1em mar_top1em">
                                    <thead class="th-title">
                                        <tr>
                                            <th width="20%">Document Name</th>
                                            <th width="20%">Document Description</th>
                                            <th width="20%">Document Tags</th>
                                            <th width="20%">Uploaded Date</th>
                                            <th width="20%">View Doc </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="OC.DocsArray.length > 0" ng-repeat="doc in OC.DocsArray">
                                            <td>{{doc.Name.split('.')[0]}}</td>
                                            <td>{{doc.Description == undefined ? '' : doc.Description}}</td>
                                            <td>{{doc.Tags}}</td>
                                            <td>{{doc.CreationTime  | date}}</td>
                                            <td> <a ng-click="OC.OpenUrl(OC.Property.propertyId +'-'+ doc.Name)">  {{doc.Name.split('.')[0]}}</a></td>
                                        </tr>
                                        <tr ng-if="OC.DocsArray.length == 0">
                                            <td>
                                                <p class="P-Center">No Record Found</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
    <div ng-include="'Shared View/_Loader.html'"></div>

    <div ng-include="'Shared View/_MdlChangeEmail.html'"></div>

    <div id="mdlOwnerCompProfile" class="modal fade-scale" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Owner Info</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div>
                            <form class="ng-pristine ng-valid" role="form" name="frmEditOwner" novalidate autocomplete="off">
                                <!--<fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Personal Info</legend>-->
                                    <div class="clearfix"></div>
                                    <div class="padd_zero col-lg-12">

                                        <div class="padd-lease col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                            <div class="col-md-4 col-sm-4 col-xs-12" ng-if="ownerData.OwnerType=='COMPANY'">
                                                <label cl>
                                                    Company Name
                                                    <span class="errormsg">*</span>
                                                    <span class="errormsg" ng-show="frmEditOwner.CompanyName.$dirty && frmEditOwner.CompanyName.$invalid">
                                                        <span ng-show="frmEditOwner.CompanyName.$error.required">Company Name is required.</span>
                                                    </span>
                                                </label>
                                                <div class="form-group">
                                                    <input class="form2" type="text" placeholder="Name"
                                                           maxlength="95" ng-model="ownerData.CompanyName" name="CompanyName" required>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-12" ng-if="ownerData.OwnerType=='INDIVIDUAL'">
                                                <label cl>
                                                    First Name
                                                    <span class="errormsg">*</span>
                                                    <span class="errormsg" ng-show="frmEditOwner.FirstName.$dirty && frmEditOwner.FirstName.$invalid">
                                                        <span ng-show="frmEditOwner.FirstName.$error.required">First Name is required.</span>
                                                    </span>
                                                </label>
                                                <div class="form-group">
                                                    <input class="form2" type="text" placeholder="First Name"
                                                           maxlength="95" ng-model="ownerData.FirstName" name="FirstName" required>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-4 col-xs-12" ng-if="ownerData.OwnerType=='INDIVIDUAL'">
                                                <label cl>
                                                    Last Name
                                                    <span class="errormsg">*</span>
                                                    <span class="errormsg" ng-show="frmEditOwner.LastName.$dirty && frmEditOwner.ComLastNamepanyName.$invalid">
                                                        <span ng-show="frmEditOwner.LastName.$error.required">Last Name is required.</span>
                                                    </span>
                                                </label>
                                                <div class="form-group">
                                                    <input class="form2" type="text" placeholder="Last Name"
                                                           maxlength="95" ng-model="ownerData.LastName" name="LastName" required>
                                                </div>
                                            </div>


                                            <div class="col-md-4 col-sm-4 col-xs-12">
                                                <label>
                                                    Phone No
                                                    <span class="errormsg">*</span>
                                                    <span class="errormsg" ng-show="frmEditOwner.ContactNum.$dirty && frmEditOwner.ContactNum.$invalid">
                                                        <span ng-show="frmEditOwner.ContactNum.$error.required">Phone number is required.</span>
                                                    </span>
                                                </label>
                                                <div class="form-group">
                                                    <input class="form2" type="text"
                                                           ng-model="ownerData.ContactNum" name="ContactNum"
                                                           maxlength="95" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                <div class="padd_zero col-lg-12">

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>
                                            Address Line-1
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmEditOwner.AdrsLine1.$dirty && frmEditOwner.AdrsLine1.$invalid">
                                                <span ng-show="frmEditOwner.AdrsLine1.$error.required">Address is required.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="text" placeholder="Enter Address Line 1"
                                                   ng-model="ownerData.AdrsLine1" name="AdrsLine1" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>
                                            Address Line-2                                           
                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="text" placeholder="Enter Address Line 2"
                                                   ng-model="ownerData.AdrsLine2" name="AdrsLine2">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label for="country">
                                            Country:
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmEditOwner.country.$dirty && frmEditOwner.country.$invalid">
                                                <span ng-show="frmEditOwner.country.$error.required">Select a country.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">


                                            <ui-select ng-model="mdlCountryState.selectedCountry" theme="selectize"
                                                       name="country" required>
                                                <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="country in Country | orderBy : 'Name' | filter: $select.search">
                                                    <span ng-bind-html="country.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>                                  
                                   
                                </div>
                                <div class="clearfix"></div>
                                <div class="padd_zero col-lg-12">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>County</label>
                                        <div class="form-group">
                                            <ui-select ng-model="mdlCountryState.selectedCounty" theme="selectize"
                                                       name="county"
                                                       ng-disabled="mdlCountryState.selectedState == undefined || mdlCountryState.selectedState == ''"
                                                       on-select="ChangeCity(mdlCountryState.selectedCounty)"
                                                       title="">
                                                <ui-select-match placeholder="">
                                                    {{$select.selected.name}}
                                                    <button class="clearddl" data-toggle="tooltip" data-placement="bottom" title="Cancel selection" ng-click="clearddl($event)">X</button>
                                                </ui-select-match>
                                                <ui-select-choices repeat="county in County | orderBy : 'name' | filter: $select.search">
                                                    <span ng-bind-html="county.name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label for="city">
                                            City:
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmEditOwner.city.$dirty && frmEditOwner.city.$invalid">
                                                <span ng-show="frmEditOwner.city.$error.required">Select a city.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <ui-select ng-model="mdlCountryState.selectedCity" theme="selectize"
                                                       name="city"
                                                       ng-disabled="mdlCountryState.selectedState == undefined || mdlCountryState.selectedState == ''"
                                                       on-select="ChangeZip()"
                                                       title="" required>
                                                <ui-select-match placeholder="">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="city in City | orderBy : 'Name' | filter: $select.search | limitTo:35">
                                                    <span ng-bind-html="city.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label for="state">
                                            State:
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmEditOwner.state.$dirty && frmEditOwner.state.$invalid">
                                                <span ng-show="frmEditOwner.state.$error.required">Select a state.</span>
                                            </span>

                                        </label>
                                        <div class="form-group">

                                            <ui-select ng-model="mdlCountryState.selectedState" theme="selectize"
                                                       name="state"
                                                       ng-disabled="mdlCountryState.selectedCountry == undefined || mdlCountryState.selectedCountry == ''"
                                                       on-select="GetCountyByStateId(mdlCountryState.selectedState)"
                                                       title="" required>
                                                <ui-select-match placeholder="">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="state in State | orderBy : 'Name' | filter: $select.search">
                                                    <span ng-bind-html="state.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="clearfix"></div>
                                <div class="padd_zero col-lg-12">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>
                                            Zip Code
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmEditOwner.zipCode.$dirty && frmEditOwner.zipCode.$invalid">
                                                <span ng-show="frmEditOwner.zipCode.$error.pattern"> The zip code must have 5 digits with an optional - and 4 more digits.</span>
                                                <span ng-show="frmEditOwner.zipCode.$error.required">zip code is required.</span>
                                            </span>
                                            <span ng-if="!pZipValid" class="errormsg">Invalid ZipCode</span>
                                        </label>

                                        <input type="text" class="form2" ng-model="ownerData.zipCode"
                                               ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/"
                                               ng-blur="ValidatePersonInfoZipCode(ownerData.zipCode,'PersonInfoZip')" name="zipCode" id="PersonInfoZip"
                                               placeholder="ZipCode" maxlength="10" required />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                    <div class="padd_zero col-lg-12">
                                        <div class="col-md-6 col-sm-6 col-xs-6 form-group paddLeft_zero">
                                            <button type="button" class="btn vt-btn2  btn1" data-dismiss="modal">Cancel</button>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 form-group paddRight_zero text-right">
                                            <button class="btn vt-btn1 btn1 text-right floatRight" ng-disabled="frmEditOwner.$invalid"
                                                    type="submit" ng-click="UpdateOwnerDetail(frmEditOwner)">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
</form>
                        </div>
                    </div>
                   
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
            </div>

        </div>
    </div>


</div>