﻿
<div ng-hide="1==1">
    <div id="lstWorkOrderXls1">
        <table id="lstWorkOrderXls" style="width:100%">
            <tr>
                <td>


                 



                    <table style="width:100%">
                        <tr>
                            <td style="padding-bottom:5px;"></td>
                            <td style="padding-bottom:5px;"><b>{{userData.ManagerDetail.pFullName}}</b></td>
                            <td style="padding-bottom:5px; text-align:right;">Date : {{userData.Date | date}}</td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:5px;"></td>
                            <td style="padding-bottom:5px;"><b>{{userData.ManagerDetail.pAddress}}</b></td>
                            <td style="padding-bottom:5px;"></td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:30px;"></td>
                            <td style="padding-bottom:30px;text-align:left;"><b>{{userData.ManagerDetail.pPhoneNo}}</b></td>
                            <td style="padding-bottom:30px;"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>

                    <table class="table" style="width:100%; border:1px solid #ebebeb;">
                        <thead style="background-color:#ebebeb;">
                            <tr>
                                <th style="padding:15px;">WOID</th>
                                <th style="padding:15px;">Requested Date</th>
                                <th style="padding:15px;">Requested By</th>
                                <th style="padding:15px;">Property Name</th>
                                <th style="padding:15px;">Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="workorder in WOC.lstWorkOrder_Filtered  |  orderBy : WOC.lstWorkOrder_OrderBy">
                                <td style="padding:15px;">WO#{{workorder.woid}}</td>
                                <td style="padding:15px;">{{workorder.requestedDate | date}}</td>
                                <td style="padding:15px;">{{workorder.requestedByName}}</td>
                                <td style="padding:15px;">{{workorder.propertyName}}</td>
                                <td style="padding:15px;">{{workorder.status}}</td>
                            </tr>
                        </tbody>
                    </table>


                    <!--<table class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>WOID</th>
                                <th>Requested Date</th>
                                <th>Requested By</th>
                                <th>Property Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="workorder in WOC.lstWorkOrder_Filtered  |  orderBy : WOC.lstWorkOrder_OrderBy">
                                <td>WO#{{workorder.woid}}</td>
                                <td>{{workorder.requestedDate | date}}</td>
                                <td>{{workorder.requestedByName}}</td>
                                <td>{{workorder.propertyName}}</td>
                                <td>{{workorder.status}}</td>
                            </tr>
                        </tbody>
                    </table>-->
                </td>
            </tr>
        </table>
    </div>
</div>
