﻿<div class="container">
    <div class="tab-content" ng-controller="subscriptionController as SC" ng-init="SC.OnLoadSubScriptionHistory()">
        <div class="clearfix"></div>
        <div class="container-fluid wrap1" ng-if="userData.personType == PersonTyp.property_manager">
            <div class="vt-breadcrumb">
                <div class="col-md-5 col-xs-12 vt-brdcrumb-wrap">
                    <img class="bld-img" src="images/bld-icon.png" />
                    <h5>
                        SubScription History
                        <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                        <span>SubScription History</span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12" style="padding: 0px 40px;" ng-if="SC.SubscriptionExpire && SC.lstSubScriptionHistory.length>0">
            <div class="sc-cIbcTr Nodify">
                <p class="sc-fAfrNB fnYjMI">
                    <strong>👋 Hi, {{userData.Name}} .</strong>
                    Your SubScription is Expired, if you want to Renew.
                </p>
                <button class="dzMhef iBdhnY " spacing="default" tabindex="0" type="button" ng-click="SC.ViewSubscription()">
                    <span style="align-self: center; display: inline-flex; flex-wrap: nowrap; max-width: 100%; position: relative;">
                        <span style="align-items: center; align-self: center; flex: 1 1 auto; margin: 0px 4px; max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; transition: opacity 0.3s ease 0s; opacity: 1;">Click Here</span>
                    </span>
                </button>
            </div>
        </div>
        <div class="col-lg-12" style="padding: 0px 40px;" ng-if="(SC.SubscriptionExpire && SC.lstSubScriptionHistory.length==0) || !SC.SubscriptionAction">
            <div class="sc-cIbcTr Nodify">
                <p class="sc-fAfrNB fnYjMI">
                    <strong>👋 Hi, {{userData.Name}} .</strong>
                    SubScripe Now.
                </p>
                <button class="dzMhef iBdhnY " spacing="default" tabindex="0" type="button" ng-click="SC.ViewSubscription()">
                    <span style="align-self: center; display: inline-flex; flex-wrap: nowrap; max-width: 100%; position: relative;">
                        <span style="align-items: center; align-self: center; flex: 1 1 auto; margin: 0px 4px; max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; transition: opacity 0.3s ease 0s; opacity: 1;">Click Here</span>
                    </span>
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12 top-margin">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Plan</th>
                        <th>Start At</th>
                        <th>Expiry At</th>
                        <th>Duration</th>
                        <th>Currency</th>
                        <th>Amount</th>
                        <th ng-if="SC.SubscriptionAction">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="SubScription in SC.lstSubScriptionHistory | orderBy : 'ActivatedAt'">
                        <td>{{SubScription.Name}}</td>
                        <td>{{SubScription.ActivatedAt|date}}</td>
                        <td>{{SubScription.ExpiresAt|date}}</td>
                        <!--<td>{{SubScription.Plan_Code}}</td>-->
                        <td>{{SubScription.Interval}} {{SubScription.IntervalUnit}}</td>
                        <td>{{SubScription.CurrencyCode}}</td>
                        <td>{{SubScription.Amount}}</td>
                        <td ng-if="SC.SubscriptionAction">
                            <div class="dropdown" ng-if="!SubScription.IsDelete">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu padd10topBottom">
                                    <!--<li style="cursor:pointer" ng-click="SC.changepymntMethod(SubScription)" title="Change Method">
                                        <i class="fa fa-pencil"></i>
                                        Change payment Method
                                    </li>-->
                                    <li style="cursor:pointer" ng-click="SC.CancelSubscription(SubScription.SubScriptionId,SubScription.Plan_Code)" title="Cancel Subscription">
                                        <i class="fa fa-trash"></i>
                                        Cancel Subscription
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade-scale" id="mdl_AddCardDetail" role="dialog" aria-labelledby="mdlAddCardDetail">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header model-headerColor">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Credit Card Detail</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form name="pyment" ng-app="myApp">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>Name</label><span class="errormsg">*</span>
                                    <span class="errormsg" ng-show="pyment.Name.$dirty && pyment.Name.$invalid">
                                        <span ng-show="pyment.Name.$error.required">Name required.</span>
                                    </span>
                                    <input type="text" class="form2" name="Name" ng-model="SC.Payment.FirstName" required />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>Last 4 digits</label><span class="errormsg">*</span>
                                    <span class="errormsg" ng-show="pyment.LastDigits.$dirty && pyment.LastDigits.$invalid">
                                        <span ng-show="pyment.LastDigits.$error.required">Last Dights required.</span>
                                    </span>
                                    <input type="number" class="form2" name="LastDigits" onKeyPress="if(this.value.length==4) return false;" ng-model="SC.Payment.LastDigits" required />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>Expire Date</label><span class="errormsg">*</span>
                                    <span class="errormsg" ng-show="pyment.ExpireDate.$dirty && pyment.ExpireDate.$invalid">
                                        <span ng-show="pyment.ExpireDate.$error.required">Expiry Date required.</span>
                                    </span>
                                    <span class="errormsg" ng-show="ExpireDateError==false">Should be Greater than Previous Year</span>
                                    <input type="text" class="form2" name="ExpireDate" ng-model="SC.Payment.ExpireDate" placeholder="MM/YY" mask="19/29" ng-blur="SC.changeExpireDate(SC.Payment.ExpireDate)" my-date clean="true"
                                           restrict="reject" required /><!--numbers-only-->
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>CVV</label><span class="errormsg">*</span>
                                    <span class="errormsg" ng-show="pyment.CVV.$dirty && pyment.CVV.$invalid">
                                        <span ng-show="pyment.CVV.$error.required">CVV required.</span>
                                    </span>
                                    <input type="number" class="form2" name="CVV" onKeyPress="if(this.value.length==4) return false;" ng-model="SC.Payment.CVV" required />
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="pretty p-default">
                                        <input type="checkbox" class="inputCheckbox form-control form2" ng-model="SC.Payment.AutoRenewal" />
                                        <div class="state">
                                            <label></label>
                                        </div>
                                    </div>
                                    Auto Renewal
                                </div>
                            </form>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <br />
                                <div class="field-group">
                                    <div class="wthree-field">
                                        <input type="button" value="Subscripe Now" ng-disabled="pyment.$invalid" class="SubmitButton" ng-click="SC.UpdateSubscription(SC.Payment)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'Shared View/_Loader.html'"></div>
    </div>
</div>