﻿


<div class="min-higt" ng-controller="subscriptionController as SC" ng-show="!userData.isSubscriptionExpired" ng-init="SC.LoadFunction()" layout="column" ng-cloak>



    <div ng-if="SC.ShowSubscription">
        <div>
            <div class="clearfix"></div>
            <div class="container-fluid wrap1">
                <div class="vt-breadcrumb">
                    <div class="col-md-5 col-xs-12 vt-brdcrumb-wrap">
                        <img class="bld-img" src="images/bld-icon.png" />
                        <h5>
                            Subscription
                            <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                            <span>PM Admin</span>
                            <span>Subscription</span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="clearfix">

                <div class="container wrap2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marg_auto pad_0">
                        <div id="step1" class="tab-pane fade in active" >
                            <div class="lease-row pad_0">
                                <div class="row1 pad_0">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h5><a>Subscription # </a></h5>
                                        <h3>{{SC.MdlSubscriptionDetail.subscriptionNumber}}</h3>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="row2">
                                    <div class="subrow-lease">
                                        <span>
                                            <img src="images/time-icon.png" />
                                            <label class="my_label label1">Start Date:</label><br />
                                            <h6 class="text_h6">{{ SC.MdlSubscriptionDetail.subsStartDate | date}}</h6>
                                        </span>
                                        <span>
                                            <img src="images/time-icon.png" />
                                            <label class="my_label label1">End Date:</label><br />
                                            <h6 class="text_h6">{{ SC.MdlSubscriptionDetail.subsEndDate | date}}</h6>
                                        </span>
                                    </div>
                                    <div class="subrow-lease">
                                        <span ng-if="SC.MdlSubscriptionDetail.expiredIn > 0">
                                            <img src="images/time-icon.png" />
                                            <label class="my_label">Expired In:</label><br />
                                            <h6 class="text_h6"><span>{{SC.MdlSubscriptionDetail.expiredIn}} day(s)</span></h6>
                                        </span>
                                        <span ng-if="SC.MdlSubscriptionDetail.expiredIn == 0">
                                            <img src="images/time-icon.png" />
                                            <label class="my_label errormsg">Expiring Today</label><br />
                                        </span>

                                        <span>
                                            <label class="my_label"></label><br />
                                            <h6 class="text_h6"></h6>
                                        </span>
                                        <span>
                                            <label class="my_label"></label><br />
                                            <h6 class="text_h6"></h6>
                                        </span>
                                    </div>
                                    <div class="subrow-lease">
                                    </div>
                                </div>
                            </div>

                            <div class="row1" ng-if="userData.access != PersonRole.readonly">
                                <button class="btn btn-primary" ng-click="SC.ShowMdlRenewSubscription()">Renew Subscription</button>
                                <button class="btn btn-primary" ng-click="SC.GetSubscriptionPlan()">get Subscription</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade-scale" id="mdlRenewSubscription" role="dialog" aria-labelledby="mdlRenewSubscription">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header model-headerColor">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Renew Subscription</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form name="frmRenewSubscription" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">
                                <div class="clearfix"></div>
                                <div class="padd-lease lease-form">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                        <label>
                                            Select Package
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="!frmRenewSubscription.ddlpackage.$pristine && frmRenewSubscription.ddlpackage.$invalid"> Select a package</span>
                                        </label>

                                        <select id="ddlpackage" name="ddlpackage" ng-model="SC.SelectedPackage" ng-options="package.name for package in SC.SubscriptionPackage track by package.id" required>
                                            <option value=""><-----Select Package-----></option>
                                        </select>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                        <!--<label>Actions</label>-->
                                        <label>&nbsp;</label>
                                        <button type="button" ng-click="SC.Pay(frmRenewSubscription);"
                                                ng-class="{disabled: frmRenewSubscription.$invalid}" class="btn btn-success btn-block">
                                            Pay
                                        </button>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-group">
                                        <label>&nbsp;</label>
                                        <button type="button" class="btn btn_close btn-block" ng-click="SC.CloseMdlRenewSubscription(frmRenewSubscription)">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div ng-if="!SC.ShowSubscription" id="diviframe">
        <iframe ng-src="{{PaymentUrl}}" style="width:100%;height:700px;"></iframe>
    </div>

    <div ng-include="'Shared View/_Loader.html'"></div>

</div>



