﻿

<div class="min-higt" ng-controller="IncomeExpenseController as IEC" ng-show="!userData.isSubscriptionExpired" ng-init="IEC.LoadFunction()" layout="column" ng-cloak>
    <div>
        <div class="clearfix"></div>
        <div class="container-fluid wrap1" ng-if="userData.personType == PersonTyp.property_manager && IEC.pageShowOnOwner_TenantContact == false">
            <div class="vt-breadcrumb">
                <div class="col-md-5 col-xs-12 vt-brdcrumb-wrap">
                    <img class="bld-img" src="images/bld-icon.png" />
                    <h5>
                        Income & Expense Report
                        <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                        <span>Report <img src="images/right-arrow.png" /></span>
                        <span>Income & Expense</span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="clearfix">      
            <div class="container">
                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <div id="accord4" class="report-form work-wrap">
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">Income & Expense Report</legend>
                                <div class="lease-form col-xs-12">
                                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 form-group">
                                    <label>Select Period</label>

                                    <select class="form-control" ng-model="IEC.selectCurrentPeriod"
                                            ng-options="Period.Year for Period in IEC.lstYears"></select>
                                </div>                                   
                                    
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group"  ng-if="userData.personType == PersonTyp.property_manager && IEC.pageShowOnOwner_TenantContact == false" > 
                                    <label>Select Owner<span class="errormsg">*</span></label>
                                    <div id="divowner">                                        
                                        <ui-select ng-model="IEC.DetailFilterParameters.owner" theme="selectize"
                                                   ng-disabled="IEC.selectCurrentPeriod == '' || IEC.selectCurrentPeriod == undefined"
                                                   title="Choose a Owner" on-select="IEC.FilterProperty(IEC.DetailFilterParameters.owner)">
                                            <ui-select-match placeholder="Select or search a Owner">{{$select.selected.ownerFullName}}</ui-select-match>
                                            <ui-select-choices repeat="owners in IEC.lstPropertOwnersByManager| orderBy : 'ownerFullName' | filter: $select.search">
                                                <span ng-bind-html="owners.ownerFullName | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                    <label>Select Property</label>

                                    <ui-select ng-model="IEC.DetailFilterParameters.property" theme="selectize"
                                               ng-disabled="IEC.selectCurrentPeriod == '' || IEC.selectCurrentPeriod == undefined"
                                               title="Choose a property" on-select="IEC.FilterInvoiceDetailsByProperty(IEC.DetailFilterParameters.property)">
                                        <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                                        <ui-select-choices repeat="property in IEC.lstPropertByManagerAndOwner| orderBy : 'propertyName' | filter: $select.search">
                                            <span ng-bind-html="property.propertyName | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 form-group">
                                        <label></label>
                                        <button class="btn btn-success controlHeight btnMargintop20 form-control" ng-click="IEC.GetReport()">Get Report</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div>
                    <div ng-if="IEC.IncomeExpenceRecord !=''">
                        <div class="col-md-12" style="background-color:#e6e4e4">
                            <div class="col-md-6 pad_0">
                                <div ng-if="userData.personType == PersonTyp.property_manager"><h2 class="table_head" style="margin-top:15px">Income Expense Report</h2></div>
                            </div>
                            <div class="col-md-6 pad_0 text-right">
                                <div class="text-right padd10topBottom">

                                    <div class="dropdown">
                                        <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                            Export Action
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu padd10topBottom">
                                            <li onclick="ExportToExcel('divReport', 'Report')"><i class="fa fa-file-excel-o" style="color:green"></i> Export To excel </li>
                                            <li ng-click="IEC.PrintPdf()" class="marginTop16"><i class="fa fa-file-pdf-o" style="color:green"></i> Export To Pdf </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="well padding36 wellCustom" ng-repeat="person in IEC.IncomeExpenceRecord">

                                <div ng-repeat="record in person">
                                    <div ng-if="$index == 0">
                                        <div class="row" ng-if="userData.personType == PersonTyp.property_manager">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row padd10topBottom">
                                                    <div class="col-md-4">
                                                        <label>Owner:</label>
                                                        <span style="color:#8e8d8d">{{record.ownerName}}</span>
                                                        <br />
                                                        <label>Owner Address:</label>
                                                        <span style="color:#8e8d8d">{{record.ownerAddress}}</span>
                                                     </div>
                                                    <div class="col-md-4">
                                                        <label>Property:</label>
                                                        <span style="color:#8e8d8d">{{record.propName}}</span>
                                                        <br />
                                                        <label>Property Address:</label>
                                                        <span style="color:#8e8d8d">{{record.propAddress}}</span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Period:</label>
                                                        <span style="color:#8e8d8d">Jan 1, {{IEC.selectCurrentPeriod.Year}} - Dec 31, {{IEC.selectCurrentPeriod.Year}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                      </div>

                                        <div style="margin-top:20px;">
                                            <table class="table">
                                                <tr>
                                                    <td><label>Period:</label></td>
                                                    <td> Jan 1, {{IEC.selectCurrentPeriod.Year}} - Dec 31, {{IEC.selectCurrentPeriod.Year}}</td>
                                                    <td><label> Gross Income:</label></td>
                                                    <td>{{record.FinalGrossIncome | currency}}</td>
                                                    <td><label>Total Expenses:</label></td>
                                                    <td>{{record.FinalTotalExpenses | currency}}</td>
                                                    <td><label>Net Income:</label></td>
                                                    <td>{{record.FinalNetIncome | currency}}</td>
                                                    <td><label>Deposits:</label></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </div>


                                        <div style="margin-top:15px;" id="tablePropDesc" ng-if="userData.personType == PersonTyp.property_manager">
                                            <table class="table">
                                                <thead >
                                                    <tr>
                                                        <th>Property Name</th>
                                                        <th>Property Address</th>
                                                        <th>Rent Amt</th>
                                                        <th>Tenant Name</th>
                                                        <th>Phone</th>
                                                        <th>Move-In-Date</th>
                                                        <th>Renewal Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="propRecd in person">
                                                        <td>{{propRecd.propName}}</td>
                                                        <td>{{propRecd.propAddress}}</td>
                                                        <td>{{propRecd.rentAmt | currency}}</td>
                                                        <td>{{propRecd.tenantName}}</td>
                                                        <td>{{propRecd.tenantPhone}}</td>
                                                        <td>{{propRecd.moveInDate | date}}</td>
                                                        <td>{{propRecd.renewalDate | date}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Jan</th>
                                                        <th>Feb</th>
                                                        <th>Mar</th>
                                                        <th>April</th>
                                                        <th>May</th>
                                                        <th>June</th>
                                                        <th>July</th>
                                                        <th>Aug</th>
                                                        <th>Sep</th>
                                                        <th>Oct</th>
                                                        <th>Nov</th>
                                                        <th>Dec</th>

                                                        <th>Year Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="font-weight:600;color:#5d5959">Income</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr ng-repeat="incm in record.lstMdlTransectionInfo.income">
                                                        <td ng-if="incm.serviceCategory != 'zzz' && incm.serviceCategory != 'zzzz'">{{incm.serviceCategory}}</td>
                                                        <td ng-if="incm.serviceCategory == 'zzz'">Other</td>
                                                        <td style="font-weight:600;color:#5d5959" ng-if="incm.serviceCategory == 'zzzz'">Gross Income</td>

                                                        <td>{{incm.January | currency}}</td>
                                                        <td>{{incm.February | currency}}</td>
                                                        <td>{{incm.March | currency}}</td>
                                                        <td>{{incm.April | currency}}</td>
                                                        <td>{{incm.May | currency}}</td>
                                                        <td>{{incm.June | currency}}</td>
                                                        <td>{{incm.July | currency}}</td>
                                                        <td>{{incm.August | currency}}</td>
                                                        <td>{{incm.September | currency}}</td>
                                                        <td>{{incm.October | currency}}</td>
                                                        <td>{{incm.November | currency}}</td>
                                                        <td>{{incm.December | currency}}</td>
                                                        <td>{{incm.January + incm.February + incm.March + incm.April + incm.May + incm.June + incm.July + incm.August + incm.September + incm.October + incm.November + incm.December | currency}}</td>
                                                    </tr>

                                                    <!--<tr>
                                                        <td colspan="14" style="height:35px;"></td>
                                                    </tr>-->
                                                    <tr>
                                                        <td style="font-weight:600;color:#5d5959">Expense</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>

                                                    <tr ng-repeat="expns in record.lstMdlTransectionInfo.expense">

                                                        <td ng-if="expns.serviceCategory != 'zzz' && expns.serviceCategory != 'zzzz'">{{expns.serviceCategory}}</td>
                                                        <td ng-if="expns.serviceCategory == 'zzz'">Other</td>

                                                        <td style="font-weight:600;color:#5d5959" ng-if="expns.serviceCategory == 'zzzz'">Total Expense</td>
                                                        <td>{{expns.January | currency}}</td>
                                                        <td>{{expns.February | currency}}</td>
                                                        <td>{{expns.March | currency}}</td>
                                                        <td>{{expns.April | currency}}</td>
                                                        <td>{{expns.May | currency}}</td>
                                                        <td>{{expns.June | currency}}</td>
                                                        <td>{{expns.July | currency}}</td>
                                                        <td>{{expns.August | currency}}</td>
                                                        <td>{{expns.September | currency}}</td>
                                                        <td>{{expns.October | currency}}</td>
                                                        <td>{{expns.November | currency}}</td>
                                                        <td>{{expns.December | currency}}</td>
                                                        <td>{{expns.January + expns.February + expns.March + expns.April + expns.May + expns.June + expns.July + expns.August + expns.September + expns.October + expns.November + expns.December | currency}}</td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="14" style="height:35px;"></td>
                                                    </tr>

                                                    <tr>

                                                        <td style="font-weight:600;color:#5d5959">Net Income</td>
                                                        <td>{{record.lstMdlTransectionInfo.netIncome.January | currency}}</td>
                                                        <td>{{record.lstMdlTransectionInfo.netIncome.February | currency}}</td>
                                                        <td>{{record.lstMdlTransectionInfo.netIncome.March | currency}}</td>
                                                        <td>{{record.lstMdlTransectionInfo.netIncome.April | currency}}</td>
                                                        <td>{{record.lstMdlTransectionInfo.netIncome.May | currency}}</td>
                                                        <td>{{record.lstMdlTransectionInfo.netIncome.June | currency}}</td>
                                                        <td>{{record.lstMdlTransectionInfo.netIncome.July | currency}}</td>
                                                        <td>{{record.lstMdlTransectionInfo.netIncome.August | currency}}</td>
                                                        <td>{{record.lstMdlTransectionInfo.netIncome.September | currency}}</td>
                                                        <td>{{record.lstMdlTransectionInfo.netIncome.October | currency}}</td>
                                                        <td>{{record.lstMdlTransectionInfo.netIncome.November | currency}}</td>
                                                        <td>{{record.lstMdlTransectionInfo.netIncome.December | currency}}</td>

                                                        <td>{{record.lstMdlTransectionInfo.netIncome.January + record.lstMdlTransectionInfo.netIncome.February + record.lstMdlTransectionInfo.netIncome.March + record.lstMdlTransectionInfo.netIncome.April + record.lstMdlTransectionInfo.netIncome.May + record.lstMdlTransectionInfo.netIncome.June + record.lstMdlTransectionInfo.netIncome.July + record.lstMdlTransectionInfo.netIncome.August + record.lstMdlTransectionInfo.netIncome.September + record.lstMdlTransectionInfo.netIncome.October + record.lstMdlTransectionInfo.netIncome.November + record.lstMdlTransectionInfo.netIncome.December | currency}}</td>
                                                    </tr>
                                                    <!--<tr>
                                                        <td style="font-weight: 600;">Liability</td>
                                                        <td colspan="12"></td>
                                                        <td style="font-weight: 600;">{{record.Liability | currency}}</td>
                                                    </tr>-->
                                                    <tr></tr>
                                                    <tr ng-hide="1==1">
                                                        <td style="background-color: yellow;"></td>
                                                        <td style="background-color: yellow;"></td>
                                                        <td style="background-color: yellow;"></td>
                                                        <td style="background-color: yellow;"></td>
                                                        <td style="background-color: yellow;"></td>
                                                        <td style="background-color: yellow;"></td>
                                                        <td style="background-color: yellow;"></td>
                                                        <td style="background-color: yellow;"></td>
                                                        <td style="background-color: yellow;"></td>
                                                        <td style="background-color: yellow;"></td>
                                                        <td style="background-color: yellow;"></td>
                                                        <td style="background-color: yellow;"></td>
                                                        <td style="background-color: yellow;"></td>
                                                        <td style="background-color: yellow;"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-hide="true">
                            <div ng-include="'Views/Report/IncomeExpenseRptPdf.html'"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'Shared View/_Loader.html'"></div>

</div>
