﻿<div id="divReport">
    <div id="page_{{$index}}" class="well padding36 wellCustom" ng-repeat="person in IEC.IncomeExpenceRecord">

        <div ng-repeat="record in person">

            <div ng-if="$index == 0">

                <table style="width:100%;">
                    <tr>
                        <td style="padding-top:20px;">
                            <table class="table" style="width:100%;border:1px solid #ebebeb;">

                                <thead style="background-color:#ebebeb;">
                                    <tr>
                                        <th style="padding:15px;">Owner</th>
                                        <th style="padding:15px;">Property</th>
                                        <th style="padding:15px;">Period</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="padding:15px;">{{record.ownerName}}</td>

                                        <td style="padding:15px;" ng-if="person.length ==1">
                                            {{record.propName}}
                                        </td>
                                        <td style="padding:15px;" ng-if="person.length >1">
                                            All
                                        </td>
                                        <td style="padding:15px;">
                                            Jan 1, {{IEC.selectCurrentPeriod.Year}} - Dec 31, {{IEC.selectCurrentPeriod.Year}}
                                        </td>
                                    </tr>


                                    <tr>
                                        <td style="padding:0px 15px 15px 15px;">{{record.ownerAddress}}</td>
                                        <td style="padding:0px 15px 15px 15px;" ng-if="person.length ==1">
                                            {{record.propAddress}}
                                        </td>
                                        <td style="padding:0px 15px 15px 15px;" ng-if="person.length >1"></td>
                                        <td style="padding:0px 15px 15px 15px;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top:20px;">
                            <table class="table" style="width:100%; border:1px solid #ebebeb;">
                                <thead style="background-color:#ebebeb;">
                                    <tr>
                                        <th style="padding:15px;">Period</th>
                                        <th style="padding:15px;">Gross Income</th>
                                        <th style="padding:15px;">Total Expenses</th>
                                        <th style="padding:15px;">Net Income</th>
                                        <th style="padding:15px;">Deposits</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td style="padding:15px;"> Jan 1, {{IEC.selectCurrentPeriod.Year}} - Dec 31, {{IEC.selectCurrentPeriod.Year}}</td>
                                        <td style="padding:15px;">{{record.FinalGrossIncome | currency}}</td>
                                        <td style="padding:15px;">{{record.FinalTotalExpenses | currency}}</td>
                                        <td style="padding:15px;">{{record.FinalNetIncome | currency}}</td>
                                        <td style="padding:15px;"></td>

                                    </tr>
                                </tbody>

                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top:20px;">
                            <div style="margin-top:15px;" id="tablePropDesc">
                                <table class="table" style="width:100%; border:1px solid #ebebeb;">
                                    <thead style="background-color:#ebebeb;">
                                        <tr>
                                            <th style="padding:15px;">Property Name</th>
                                            <th style="padding:15px;">Property Address</th>
                                            <th style="padding:15px;">Rent Amt</th>
                                            <th style="padding:15px;">Tenant Name</th>
                                            <th style="padding:15px;">Phone</th>
                                            <th style="padding:15px;">Move-In-Date</th>
                                            <th style="padding:15px;">Renewal Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="propRecd in person">
                                            <td style="padding:15px;">{{propRecd.propName}}</td>
                                            <td style="padding:15px;">{{propRecd.propAddress}}</td>
                                            <td style="padding:15px;">{{propRecd.rentAmt | currency}}</td>
                                            <td style="padding:15px;">{{propRecd.tenantName}}</td>
                                            <td style="padding:15px;">{{propRecd.tenantPhone}}</td>
                                            <td style="padding:15px;">{{propRecd.moveInDate | date}}</td>
                                            <td style="padding:15px;">{{propRecd.renewalDate | date}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top:20px;">
                            <div>
                                <table class="table" style="width:100%; border:1px solid #ebebeb;">
                                    <thead style="background-color:#ebebeb;">
                                        <tr>
                                            <th style="padding:10px 8px;"></th>
                                            <th style="padding:10px 8px;">Jan</th>
                                            <th style="padding:10px 8px;">Feb</th>
                                            <th style="padding:10px 8px;">Mar</th>
                                            <th style="padding:10px 8px;">April</th>
                                            <th style="padding:10px 8px;">May</th>
                                            <th style="padding:10px 8px;">June</th>
                                            <th style="padding:10px 8px;">July</th>
                                            <th style="padding:10px 8px;">Aug</th>
                                            <th style="padding:10px 8px;">Sep</th>
                                            <th style="padding:10px 8px;">Oct</th>
                                            <th style="padding:10px 8px;">Nov</th>
                                            <th style="padding:10px 8px;">Dec</th>
                                            <th style="padding:10px 8px;">Year Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="padding:10px 8px; font-weight:800;">Income</td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                        </tr>
                                        <tr ng-repeat="incm in record.lstMdlTransectionInfo.income">
                                            <td style="padding:10px 8px;" ng-if="incm.serviceCategory != 'zzz' && incm.serviceCategory != 'zzzz'">{{incm.serviceCategory}}</td>
                                            <td style="padding:10px 8px;" ng-if="incm.serviceCategory == 'zzz'">Other</td>
                                            <td style="padding:10px 8px;font-weight: 600;color:#0041ff; border:1px solid #ffffff;" ng-if="incm.serviceCategory == 'zzzz'">Gross Income</td>
                                            <td style="padding:10px 8px;">{{incm.January | currency}}</td>
                                            <td style="padding:10px 8px;">{{incm.February | currency}}</td>
                                            <td style="padding:10px 8px;">{{incm.March | currency}}</td>
                                            <td style="padding:10px 8px;">{{incm.April | currency}}</td>
                                            <td style="padding:10px 8px;">{{incm.May | currency}}</td>
                                            <td style="padding:10px 8px;">{{incm.June | currency}}</td>
                                            <td style="padding:10px 8px;">{{incm.July | currency}}</td>
                                            <td style="padding:10px 8px;">{{incm.August | currency}}</td>
                                            <td style="padding:10px 8px;">{{incm.September | currency}}</td>
                                            <td style="padding:10px 8px;">{{incm.October | currency}}</td>
                                            <td style="padding:10px 8px;">{{incm.November | currency}}</td>
                                            <td style="padding:10px 8px;">{{incm.December | currency}}</td>
                                            <td style="padding:10px 8px;">{{incm.January + incm.February + incm.March + incm.April + incm.May + incm.June + incm.July + incm.August + incm.September + incm.October + incm.November + incm.December | currency}}</td>
                                        </tr>

                                        <tr>
                                            <td colspan="14" style="padding:10px 8px;height:35px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px 8px;font-weight:800;">Expense</td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                            <td style="padding:10px 8px;"></td>
                                        </tr>

                                        <tr ng-repeat="expns in record.lstMdlTransectionInfo.expense">

                                            <td style="padding:10px 8px;" ng-if="expns.serviceCategory != 'zzz' && expns.serviceCategory != 'zzzz'">{{expns.serviceCategory}}</td>
                                            <td style="padding:10px 8px;" ng-if="expns.serviceCategory == 'zzz'">Other</td>
                                            <td style="padding:10px 8px;font-weight: 600;color:#0041ff; border:1px solid #ffffff;" ng-if="expns.serviceCategory == 'zzzz'">Total Expense</td>
                                            <td style="padding:10px 8px;">{{expns.January | currency}}</td>
                                            <td style="padding:10px 8px;">{{expns.February | currency}}</td>
                                            <td style="padding:10px 8px;">{{expns.March | currency}}</td>
                                            <td style="padding:10px 8px;">{{expns.April | currency}}</td>
                                            <td style="padding:10px 8px;">{{expns.May | currency}}</td>
                                            <td style="padding:10px 8px;">{{expns.June | currency}}</td>
                                            <td style="padding:10px 8px;">{{expns.July | currency}}</td>
                                            <td style="padding:10px 8px;">{{expns.August | currency}}</td>
                                            <td style="padding:10px 8px;">{{expns.September | currency}}</td>
                                            <td style="padding:10px 8px;">{{expns.October | currency}}</td>
                                            <td style="padding:10px 8px;">{{expns.November | currency}}</td>
                                            <td style="padding:10px 8px;">{{expns.December | currency}}</td>
                                            <td style="padding:10px 8px;">{{expns.January + expns.February + expns.March + expns.April + expns.May + expns.June + expns.July + expns.August + expns.September + expns.October + expns.November + expns.December | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="14" style="padding:10px 8px;height:35px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px 8px;font-weight: 600;color:#0041ff; border:1px solid #ffffff;">Net Income</td>
                                            <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.January | currency}}</td>
                                            <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.February | currency}}</td>
                                            <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.March | currency}}</td>
                                            <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.April | currency}}</td>
                                            <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.May | currency}}</td>
                                            <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.June | currency}}</td>
                                            <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.July | currency}}</td>
                                            <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.August | currency}}</td>
                                            <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.September | currency}}</td>
                                            <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.October | currency}}</td>
                                            <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.November | currency}}</td>
                                            <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.December | currency}}</td>
                                            <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.January + record.lstMdlTransectionInfo.netIncome.February + record.lstMdlTransectionInfo.netIncome.March + record.lstMdlTransectionInfo.netIncome.April + record.lstMdlTransectionInfo.netIncome.May + record.lstMdlTransectionInfo.netIncome.June + record.lstMdlTransectionInfo.netIncome.July + record.lstMdlTransectionInfo.netIncome.August + record.lstMdlTransectionInfo.netIncome.September + record.lstMdlTransectionInfo.netIncome.October + record.lstMdlTransectionInfo.netIncome.November + record.lstMdlTransectionInfo.netIncome.December | currency}}</td>
                                        </tr>
                                        <!--<tr>
                                            <td style="padding:10px 8px;font-weight: 600;">Liability</td>
                                            <td style="padding:10px 8px;" colspan="12"></td>
                                            <td style="padding:10px 8px;font-weight: 600;">{{record.Liability | currency}}</td>
                                        </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>


            <!--<div ng-if="$index == 0">

                <table style="width:100%;">
                    <tr>
                        <td>

                        </td>
                    </tr>
                </table>

                <table class="table" style="width:100%;border:1px solid #ebebeb;">

                    <thead style="background-color:#ebebeb;">
                        <tr>
                            <th style="padding:15px;">Owner</th>
                            <th style="padding:15px;">Property</th>
                            <th style="padding:15px;">Period</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding:15px;">{{record.ownerName}}</td>

                            <td style="padding:15px;" ng-if="person.length ==1">
                                {{record.propName}}
                            </td>                     
                            <td style="padding:15px;" ng-if="person.length >1">
                                All
                            </td>   
                            <td style="padding:15px;">
                                Jan 1, {{IEC.selectCurrentPeriod.Year}} - Dec 31, {{IEC.selectCurrentPeriod.Year}}
                            </td>                
                        </tr>


                        <tr>
                            <td style="padding:0px 15px 15px 15px;">{{record.ownerAddress}}</td>
                            <td style="padding:0px 15px 15px 15px;" ng-if="person.length ==1">
                                {{record.propAddress}}
                            </td>
                            <td style="padding:0px 15px 15px 15px;" ng-if="person.length >1"></td>
                            <td style="padding:0px 15px 15px 15px;"></td>
                        </tr>
                    </tbody>

                </table>         

             

                <table class="table" style="width:100%; border:1px solid #ebebeb;">
                    <thead style="background-color:#ebebeb;">
                        <tr>
                            <th style="padding:15px;">Period</th>
                            <th style="padding:15px;">Gross Income</th>
                            <th style="padding:15px;">Total Expenses</th>
                            <th style="padding:15px;">Net Income</th>
                            <th style="padding:15px;">Deposits</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="padding:15px;"> Jan 1, {{IEC.selectCurrentPeriod.Year}} - Dec 31, {{IEC.selectCurrentPeriod.Year}}</td>
                            <td style="padding:15px;">{{record.FinalGrossIncome | currency}}</td>
                            <td style="padding:15px;">{{record.FinalTotalExpenses | currency}}</td>
                            <td style="padding:15px;">{{record.FinalNetIncome | currency}}</td>
                            <td style="padding:15px;"></td>
                        
                        </tr>
                    </tbody>

                </table>

                <div style="margin-top:15px;" id="tablePropDesc">
                    <table class="table" style="width:100%; border:1px solid #ebebeb;">
                        <thead style="background-color:#ebebeb;">
                            <tr>
                                <th style="padding:15px;">Property Name</th>
                                <th style="padding:15px;">Property Address</th>
                                <th style="padding:15px;">Rent Amt</th>
                                <th style="padding:15px;">Tenant Name</th>
                                <th style="padding:15px;">Phone</th>
                                <th style="padding:15px;">Move-In-Date</th>
                                <th style="padding:15px;">Renewal Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="propRecd in person">
                                <td style="padding:15px;">{{propRecd.propName}}</td>
                                <td style="padding:15px;">{{propRecd.propAddress}}</td>
                                <td style="padding:15px;">{{propRecd.rentAmt | currency}}</td>
                                <td style="padding:15px;">{{propRecd.tenantName}}</td>
                                <td style="padding:15px;">{{propRecd.tenantPhone}}</td>
                                <td style="padding:15px;">{{propRecd.moveInDate | date}}</td>
                                <td style="padding:15px;">{{propRecd.renewalDate | date}}</td>
                            </tr>                         
                        </tbody>
                    </table>
                </div>

                <div>
                    <table class="table" style="width:100%; border:1px solid #ebebeb;">
                        <thead style="background-color:#ebebeb;">
                            <tr>
                                <th style="padding:10px 8px;"></th>
                                <th style="padding:10px 8px;">Jan</th>
                                <th style="padding:10px 8px;">Fab</th>
                                <th style="padding:10px 8px;">Mar</th>
                                <th style="padding:10px 8px;">April</th>
                                <th style="padding:10px 8px;">May</th>
                                <th style="padding:10px 8px;">June</th>
                                <th style="padding:10px 8px;">July</th>
                                <th style="padding:10px 8px;">Aug</th>
                                <th style="padding:10px 8px;">Sep</th>
                                <th style="padding:10px 8px;">Oct</th>
                                <th style="padding:10px 8px;">Nov</th>
                                <th style="padding:10px 8px;">Dec</th>
                                <th style="padding:10px 8px;">Year Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding:10px 8px; font-weight:800;">Income</td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                            </tr>
                            <tr ng-repeat="incm in record.lstMdlTransectionInfo.income">
                                <td style="padding:10px 8px;" ng-if="incm.serviceCategory != 'zzz' && incm.serviceCategory != 'zzzz'">{{incm.serviceCategory}}</td>
                                <td style="padding:10px 8px;" ng-if="incm.serviceCategory == 'zzz'">Other</td>
                                <td style="padding:10px 8px;font-weight: 600;color:#0041ff; border:1px solid #ffffff;" ng-if="incm.serviceCategory == 'zzzz'">Gross Income</td>
                                <td style="padding:10px 8px;">{{incm.January | currency}}</td>
                                <td style="padding:10px 8px;">{{incm.February | currency}}</td>
                                <td style="padding:10px 8px;">{{incm.March | currency}}</td>
                                <td style="padding:10px 8px;">{{incm.April | currency}}</td>
                                <td style="padding:10px 8px;">{{incm.May | currency}}</td>
                                <td style="padding:10px 8px;">{{incm.June | currency}}</td>
                                <td style="padding:10px 8px;">{{incm.July | currency}}</td>
                                <td style="padding:10px 8px;">{{incm.August | currency}}</td>
                                <td style="padding:10px 8px;">{{incm.September | currency}}</td>
                                <td style="padding:10px 8px;">{{incm.October | currency}}</td>
                                <td style="padding:10px 8px;">{{incm.November | currency}}</td>
                                <td style="padding:10px 8px;">{{incm.December | currency}}</td>
                                <td style="padding:10px 8px;">{{incm.January + incm.February + incm.March + incm.April + incm.May + incm.June + incm.July + incm.August + incm.September + incm.October + incm.November + incm.December | currency}}</td>
                            </tr>

                            <tr>
                                <td colspan="14" style="padding:10px 8px;height:35px;"></td>
                            </tr>
                            <tr>
                                <td style="padding:10px 8px;font-weight:800;">Expense</td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                                <td style="padding:10px 8px;"></td>
                            </tr>

                            <tr ng-repeat="expns in record.lstMdlTransectionInfo.expense">

                                <td style="padding:10px 8px;" ng-if="expns.serviceCategory != 'zzz' && expns.serviceCategory != 'zzzz'">{{expns.serviceCategory}}</td>
                                <td style="padding:10px 8px;" ng-if="expns.serviceCategory == 'zzz'">Other</td>
                                <td style="padding:10px 8px;font-weight: 600;color:#0041ff; border:1px solid #ffffff;" ng-if="expns.serviceCategory == 'zzzz'">Total Expense</td>
                                <td style="padding:10px 8px;">{{expns.January | currency}}</td>
                                <td style="padding:10px 8px;">{{expns.February | currency}}</td>
                                <td style="padding:10px 8px;">{{expns.March | currency}}</td>
                                <td style="padding:10px 8px;">{{expns.April | currency}}</td>
                                <td style="padding:10px 8px;">{{expns.May | currency}}</td>
                                <td style="padding:10px 8px;">{{expns.June | currency}}</td>
                                <td style="padding:10px 8px;">{{expns.July | currency}}</td>
                                <td style="padding:10px 8px;">{{expns.August | currency}}</td>
                                <td style="padding:10px 8px;">{{expns.September | currency}}</td>
                                <td style="padding:10px 8px;">{{expns.October | currency}}</td>
                                <td style="padding:10px 8px;">{{expns.November | currency}}</td>
                                <td style="padding:10px 8px;">{{expns.December | currency}}</td>
                                <td style="padding:10px 8px;">{{expns.January + expns.February + expns.March + expns.April + expns.May + expns.June + expns.July + expns.August + expns.September + expns.October + expns.November + expns.December | currency}}</td>
                            </tr>
                            <tr>
                                <td colspan="14" style="padding:10px 8px;height:35px;"></td>
                            </tr>
                            <tr>
                                <td style="padding:10px 8px;font-weight: 600;color:#0041ff; border:1px solid #ffffff;">Net Income</td>
                                <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.January | currency}}</td>
                                <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.February | currency}}</td>
                                <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.March | currency}}</td>
                                <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.April | currency}}</td>
                                <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.May | currency}}</td>
                                <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.June | currency}}</td>
                                <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.July | currency}}</td>
                                <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.August | currency}}</td>
                                <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.September | currency}}</td>
                                <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.October | currency}}</td>
                                <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.November | currency}}</td>
                                <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.December | currency}}</td>
                                <td style="padding:10px 8px;">{{record.lstMdlTransectionInfo.netIncome.January + record.lstMdlTransectionInfo.netIncome.February + record.lstMdlTransectionInfo.netIncome.March + record.lstMdlTransectionInfo.netIncome.April + record.lstMdlTransectionInfo.netIncome.May + record.lstMdlTransectionInfo.netIncome.June + record.lstMdlTransectionInfo.netIncome.July + record.lstMdlTransectionInfo.netIncome.August + record.lstMdlTransectionInfo.netIncome.September + record.lstMdlTransectionInfo.netIncome.October + record.lstMdlTransectionInfo.netIncome.November + record.lstMdlTransectionInfo.netIncome.December | currency}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>-->
        </div>
    </div>
</div>