﻿

<div class="min-higt" ng-controller="onlineStatementController as OSC" ng-show="!userData.isSubscriptionExpired" ng-init="OSC.LoadFunction()" layout="column" ng-cloak>
    <div>
        <div class="clearfix"></div>
        <div class="container-fluid wrap1" ng-if="userData.personType == PersonTyp.property_manager && OSC.pageShowOnOwner_TenantContact == false">
            <div class="vt-breadcrumb">
                <div class="col-md-5 col-xs-12 vt-brdcrumb-wrap">
                    <img class="bld-img" src="images/bld-icon.png" />
                    <h5>
                        Online Statement
                        <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                        <span>Report <img src="images/right-arrow.png" /></span>
                        <span>Online Statement</span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="container">


                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <div id="accord4" class="report-form work-wrap">
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">Online Statement Report</legend>
                            <div class="lease-form col-xs-12">

                                <form name="onlineStatementForm" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                        <label>Select Period</label>

                                        <select class="form-control" ng-model="OSC.selectCurrentPeriod"
                                                ng-options="Period.Period for Period in OSC.lstCurrentPeriod" ng-change="OSC.FilterTransections()"></select>
                                        <div ng-show="OSC.selectCurrentPeriod.Period == 'Custom Date'" class="row customDateBox">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <label class="padd7">From Date</label>
                                                <div flex-gt-xs>
                                                    <md-datepicker ng-model="OSC.fromDate" md-placeholder="From Date"
                                                                   ng-init="OSC.DisableInput_DTP()" ng-change="OSC.ChangeCustomToDate()"></md-datepicker>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <label class="padd7">To Date</label>
                                                <div flex-gt-xs>
                                                    <md-datepicker ng-model="OSC.toDate" md-placeholder="To Date"
                                                                   md-min-date="OSC.fromDate" ng-init="OSC.DisableInput_DTP()" ng-change="OSC.SetToDate()"></md-datepicker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="userData.personType == PersonTyp.property_manager && OSC.pageShowOnOwner_TenantContact == false">
                                        <!--ng-if="userData.personType == PersonTyp.property_manager"-->
                                        <label>
                                            Select Owner/Tenant
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="!onlineStatementForm.ddlPerson.$pristine && onlineStatementForm.ddlPerson.$invalid">
                                                Select a person
                                            </span>
                                        </label>                                        
                                        <div id="divowner">
                                            <ui-select ng-model="OSC.DetailFilterParameters.owner" theme="selectize" name="ddlPerson"
                                                       ng-disabled="OSC.selectCurrentPeriod == '' || OSC.selectCurrentPeriod == undefined"
                                                       title="Choose a Owner/Tenant" on-select="OSC.FilterProperty(OSC.DetailFilterParameters.owner)" required>
                                                <ui-select-match placeholder="Select or search a Owner/Tenant">{{$select.selected.ownerFullName}}</ui-select-match>
                                                <ui-select-choices repeat="owners in OSC.lstPropertOwnersByManager| orderBy : 'ownerFullName' | filter: $select.search">
                                                    <span ng-bind-html="owners.ownerFullName | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="OSC.pageShowOnTenantContact == false">
                                        <label>Select Property <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="!onlineStatementForm.ddlProperty.$pristine && onlineStatementForm.ddlProperty.$invalid">
                                                Select a propery
                                            </span>
                                        </label>

                                        <ui-select ng-model="OSC.DetailFilterParameters.property" theme="selectize" name="ddlProperty"
                                                   ng-disabled="OSC.selectCurrentPeriod == '' || OSC.selectCurrentPeriod == undefined"
                                                   title="Choose a property" required>
                                            <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                                            <ui-select-choices repeat="property in OSC.lstPropertByManagerAndOwner| orderBy : 'propertyName' | filter: $select.search">
                                                <span ng-bind-html="property.propertyName | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 form-group">
                                        <label></label>                                   
                                        <button class="btn btn-success controlHeight btnMargintop20 form-control"  ng-disabled="onlineStatementForm.$invalid"
                                                ng-click="OSC.GetStatement()">Get Statement</button>
                                    </div>
                                </form>
                            </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div>
                    <div ng-if="OSC.StatementData.PropOwner != undefined">
                        <div class="col-md-12" style="background-color:#e6e4e4">
                            <div class="padd10topBottom col-md-6"><h2 class="table_head" style="margin-top:15px">Online Statement</h2></div>
                            <div class="text-right padd10topBottom col-md-6 " style="margin-top:5px">

                                <div class="dropdown">
                                    <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                        Export Action
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu padd10topBottom">
                                        <li onclick="ExportToExcel('divOnlineStatement', 'OnlineStatement')"><i class="fa fa-file-excel-o" style="color:green"></i> Export To excel </li>
                                        <li ng-click="OSC.PrintPdf('divOnlineStatement')" class="marginTop16"><i class="fa fa-file-pdf-o" style="color:green"></i> Export To Pdf </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="well padding36 wellCustom">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div>
                                            <h4>{{OSC.StatementData.PropManager.pFullName}}</h4>
                                            <div>{{OSC.StatementData.PropManager.pAddress}}</div>
                                            <div>
                                                {{OSC.StatementData.PropManager.pCityName}}  {{OSC.StatementData.PropManager.pCountyName}}
                                                {{OSC.StatementData.PropManager.pZipcode}}
                                            </div>
                                            <div>Ph: {{OSC.StatementData.PropManager.pPhoneNo}}</div>
                                        </div>
                                        <div class="margintop20">
                                            <b>Property:</b>
                                            <div>{{OSC.DetailFilterParameters.property.propertyName}}</div>

                                        </div>
                                        <div class="margintop20">
                                            <b>To:</b>
                                            <div>{{OSC.StatementData.PropOwner.pFullName}}</div>
                                            <div>{{OSC.StatementData.PropOwner.pAddress}}</div>
                                            <div>
                                                {{OSC.StatementData.PropOwner.pCityName}}  {{OSC.StatementData.PropOwner.pCountyName}}
                                                {{OSC.StatementData.PropOwner.pZipcode}}
                                            </div>
                                            <div>Ph: {{OSC.StatementData.PropOwner.pPhoneNo}}</div>
                                        </div>
                                    </div>

                                    <h4 style="margin-top:1.5em">Statement</h4>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="row billingDate">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fontweight600 marginBottom10">
                                                    Billing Period
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    {{ OSC.DetailFilterParameters.fromDate | date}} - {{ OSC.DetailFilterParameters.toDate | date}}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fontweight600 marginBottom10">
                                                    Statement Date
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    {{ OSC.Currentdate | date}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row billingDate">
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fontweight600 marginBottom10">
                                                    Beginning Balance
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    {{OSC.StatementData.PreviousBalance | currency}}
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fontweight600 marginBottom10">
                                                    Current Charges
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    {{OSC.StatementData.CurrentCharges < 0 ? 0 : OSC.StatementData.CurrentCharges | currency}}
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fontweight600 marginBottom10 padd-zero">
                                                    Balance
                                                </div>
                                                <div ng-if="OSC.StatementData.BalanceDue >= 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    {{OSC.StatementData.BalanceDue | currency}}
                                                </div>
                                                <div ng-if="OSC.StatementData.BalanceDue < 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                   (${{OSC.StatementData.BalanceDue | makePositive}})
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margintop20">

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Ref#</th>
                                                <th>Description</th>
                                                <th>Dr</th>
                                                <th>Cr</th>                                                
                                                <th>Balance</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                           
                                            <tr ng-repeat="tranRecd in OSC.StatementData.lstTransectionInfo">
                                                <td>{{tranRecd.transactionDate | date}}</td>
                                                <td ng-if="tranRecd.transactionType == 'Bill' && $index != 0"><a ng-click="OSC.GetBillData(tranRecd.billInvoiceId)">{{tranRecd.refNo}}</a></td>
                                                <td ng-if="tranRecd.transactionType == 'Invoice' && $index != 0"><a ng-click="OSC.ViewInvoice(tranRecd.billInvoiceId)">{{tranRecd.refNo}}</a></td>
                                                <td ng-if="$index == 0"></td>
                                                <td ng-if="$index != 0">{{tranRecd.comment}}</td>
                                                <td ng-if="$index == 0">Beginning Balance</td>
                                                <td ng-if="$index != 0">{{tranRecd.dr | currency}}</td> 
                                                <td ng-if="$index != 0">{{tranRecd.cr | currency}}</td>                                               
                                                <td ng-if="$index == 0"></td>
                                                <td ng-if="$index == 0"></td>                                               
                                                <td ng-if="tranRecd.runningBalance >= 0">{{tranRecd.runningBalance | currency}}</td>  
                                                <td ng-if="tranRecd.runningBalance < 0">(${{tranRecd.runningBalance | makePositive }})</td>                                            
                                            </tr>
                                            <tr class="fontweight600">
                                                <td>{{OSC.DetailFilterParameters.toDate | date}}</td>
                                                <td ></td>
                                                <td style="font-weight:600;color:#5d5959">Ending Balance</td>
                                                <td></td>
                                                <td></td>
                                                <td ng-if="OSC.StatementData.BalanceDue >= 0">{{OSC.StatementData.BalanceDue | currency}}</td>
                                                <td ng-if="OSC.StatementData.BalanceDue < 0">(${{OSC.StatementData.BalanceDue | makePositive }})</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row margintop20">
                                    <h4>Comments:</h4>
                                    <textarea class="form-control" name="statementComment" ng-model="OSC.Comment"
                                              placeholder="Comments" style="resize:none;" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-hide="true">
        <div ng-include="'Views/Report/OnlineStatementPdf.html'"></div>
    </div>
    <div ng-include="'Shared View/_Loader.html'"></div>   

    <div ng-if="userData.personType == PersonTyp.property_manager && !IC.pageShowOnOwner_TenantContact" ng-include="'Shared View/Bill Partial/_GenerateBill.html'"></div>
    <div ng-if="userData.personType == PersonTyp.property_manager && !IC.pageShowOnOwner_TenantContact" ng-controller="invoiceController as IC"><div ng-include="'Shared View/PartialView/Invoice/_ViewInvoice.html'"></div></div>

    <div ng-if="userData.personType == PersonTyp.property_manager && IC.pageShowOnOwner_TenantContact && ActiveTabName == 'OnlineStatement'" ng-include="'Shared View/Bill Partial/_GenerateBill.html'"></div>
    <div ng-if="userData.personType == PersonTyp.property_manager && IC.pageShowOnOwner_TenantContact && ActiveTabName == 'OnlineStatement'" ng-controller="invoiceController as IC"><div ng-include="'Shared View/PartialView/Invoice/_ViewInvoice.html'"></div></div>

    <div ng-if="!ShowInvoiceBillModel && userData.personType != PersonTyp.property_manager && ActiveTabName == 'OnlineStatement'" ng-include="'Shared View/Bill Partial/_GenerateBill.html'"></div>
    <div ng-if="!ShowInvoiceBillModel && userData.personType != PersonTyp.property_manager && ActiveTabName == 'OnlineStatement'" ng-controller="invoiceController as IC"><div ng-include="'Shared View/PartialView/Invoice/_ViewInvoice.html'"></div></div>

</div>

