﻿

<div>
    <div id="divOnlineStatement">
        <div class="well" style="padding: 36px !important;border: unset !important;box-shadow: inset 0 10px 15px rgba(0, 0, 0, .05) !important;">

            <div>
                <table style="width:100%">
                    <tr>
                        <th></th>
                        <th colspan="2"></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td style="padding-bottom:10px;">
                            <table>
                                <tr>
                                    <th style="padding-bottom:10px;">
                                        <b>{{OSC.StatementData.PropManager.pFullName}}</b>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        {{OSC.StatementData.PropManager.pAddress}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        {{OSC.StatementData.PropManager.pCityName}}  {{OSC.StatementData.PropManager.pCountyName}}
                                        {{OSC.StatementData.PropManager.pZipcode}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Ph: {{OSC.StatementData.PropManager.pPhoneNo}}
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td style="padding-bottom:10px;">
                            <table>
                                <tr>
                                    <th>
                                        Billing Period
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        {{ OSC.DetailFilterParameters.fromDate | date}} - {{ OSC.DetailFilterParameters.toDate | date}}
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td style="padding-bottom:10px;">
                            <table>
                                <tr>
                                    <th>
                                        Statement Date
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        {{ OSC.Currentdate | date}}
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td></td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td style="padding-bottom:10px;">
                            <table>
                                <tr>
                                    <th>
                                        <b>Property:</b>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        {{OSC.DetailFilterParameters.property.propertyName}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding-bottom:10px;">
                            <table>
                                <tr>
                                    <th>
                                        Billing Period
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        {{ OSC.DetailFilterParameters.fromDate | date}} - {{ OSC.DetailFilterParameters.toDate | date}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding-bottom:10px;">
                            <table>
                                <tr>
                                    <th>
                                        Current Charges
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        {{OSC.StatementData.CurrentCharges < 0 ? 0 : OSC.StatementData.CurrentCharges | currency}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding-bottom:10px;">
                            <table>
                                <tr>
                                    <th>
                                        Balance
                                    </th>
                                </tr>
                                <tr>
                                    <td ng-if="OSC.StatementData.BalanceDue >= 0">
                                        {{OSC.StatementData.BalanceDue | currency}}
                                    </td>
                                    <td ng-if="OSC.StatementData.BalanceDue < 0">
                                       (${{OSC.StatementData.BalanceDue | makePositive}})
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td style="padding-bottom:10px;">
                            <table>
                                <tr>
                                    <th>
                                        <b>To:</b>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        {{OSC.StatementData.PropOwner.pFullName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{OSC.StatementData.PropOwner.pAddress}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{OSC.StatementData.PropOwner.pCityName}}  {{OSC.StatementData.PropOwner.pCountyName}}
                                        {{OSC.StatementData.PropOwner.pZipcode}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Ph: {{OSC.StatementData.PropOwner.pPhoneNo}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding-bottom:10px; "></td>
                        <td style="padding-bottom:10px; "></td>
                        <td style="padding-bottom:10px; "></td>
                    </tr>
                    <tr>
                        <td style="border:1px solid #808080; background-color:#808080"></td>
                        <td style="border:1px solid #808080; background-color:#808080"></td>
                        <td style="border:1px solid #808080; background-color:#808080"></td>
                        <td style="border:1px solid #808080; background-color:#808080"></td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="table" style="width:100%;">
                    <thead>
                        <tr>
                            <th  style="padding-top:20px;padding-bottom:10px;" >Date</th>
                            <th  style="padding-top:20px;padding-bottom:10px;" >Ref#</th>
                            <th  style="padding-top:20px;padding-bottom:10px;" >Description</th>
                            <th style="padding-top:20px;padding-bottom:10px;">Dr</th>
                            <th  style="padding-top:20px;padding-bottom:10px;" >Cr</th>                           
                            <th  style="padding-top:20px;padding-bottom:10px;" >Balance</th>
                        </tr>                     
                    </thead>
                    <tbody>                    
                        <tr ng-repeat="tranRecd in OSC.StatementData.lstTransectionInfo">
                            <td style="padding-bottom:10px;">{{tranRecd.transactionDate | date}}</td>
                            <td ng-if="tranRecd.transactionType == 'Bill' && $index != 0">{{tranRecd.refNo}}</td>
                            <td ng-if="tranRecd.transactionType == 'Invoice' && $index != 0">{{tranRecd.refNo}}</td>
                            <td style="padding-bottom:10px;" ng-if="$index == 0"></td>
                            <td style="padding-bottom:10px;" ng-if="$index != 0">{{tranRecd.comment}}</td>
                            <td style="padding-bottom:10px;" ng-if="$index == 0">Beginning Balance</td>
                            <td style="padding-bottom:10px;" ng-if="$index != 0">{{tranRecd.dr | currency}}</td>
                            <td style="padding-bottom:10px;" ng-if="$index != 0">{{tranRecd.cr | currency}}</td>                            
                            <td style="padding-bottom:10px;" ng-if="$index == 0"></td>
                            <td style="padding-bottom:10px;" ng-if="$index == 0"></td>
                            <td ng-if="tranRecd.runningBalance >= 0">{{tranRecd.runningBalance | currency}}</td>
                            <td ng-if="tranRecd.runningBalance < 0">(${{tranRecd.runningBalance | makePositive }})</td> 
                        </tr>
                        <tr>
                            <td style="padding-bottom:10px;border-bottom:0.5px solid #ddd;"></td>
                            <td style="padding-bottom:10px;border-bottom:0.5px solid #ddd;"></td>
                            <td style="padding-bottom:10px;border-bottom:0.5px solid #ddd;"></td>
                            <td style="padding-bottom:10px;border-bottom:0.5px solid #ddd;"></td>
                            <td style="padding-bottom:10px;border-bottom:0.5px solid #ddd;"></td>
                            <td style="padding-bottom:10px;border-bottom:0.5px solid #ddd;"></td>
                        </tr>
                        <tr class="fontweight600">
                            <td style="padding-bottom:10px;">{{OSC.DetailFilterParameters.toDate | date}}</td>
                            <td style="padding-bottom:10px;"></td>
                            <td style="padding-bottom:10px;color:#0041ff; border:1px solid #ffffff;">Ending Balance</td>
                            <td style="padding-bottom:10px;"></td>
                            <td style="padding-bottom:10px;"></td>
                            <td ng-if="OSC.StatementData.BalanceDue >= 0">{{OSC.StatementData.BalanceDue | currency}}</td>
                            <td ng-if="OSC.StatementData.BalanceDue < 0">(${{OSC.StatementData.BalanceDue | makePositive }})</td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:10px;border-bottom:0.5px solid #ddd;"></td>
                            <td style="padding-bottom:10px;border-bottom:0.5px solid #ddd;"></td>
                            <td style="padding-bottom:10px;border-bottom:0.5px solid #ddd;"></td>
                            <td style="padding-bottom:10px;border-bottom:0.5px solid #ddd;"></td>
                            <td style="padding-bottom:10px;border-bottom:0.5px solid #ddd;"></td>
                            <td style="padding-bottom:10px;border-bottom:0.5px solid #ddd;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table style="width:100%;">
                    <tr>
                        <th style="padding-bottom:10px; padding-top:10px;">
                            Comments:
                        </th>
                    </tr>
                    <tr>
                        <td>
                            {{OSC.Comment}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
