﻿<div ng-controller="outstandingPaymentController as OPC" ng-init="OPC.LoadFunction()" class="min-higt" layout="column" ng-cloak>
    <div ng-show="!userData.isSubscriptionExpired">
        <div class="clearfix"></div>
        <div ng-include="'Shared View/PartialView/Finance/FinanceMenuBar.html'" ng-if="userData.personType == PersonTyp.property_manager"></div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="container">
            <div class="inner_div1">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12 ">
                    <div class="tab-content">
                        <div class="tab-pane fade in active">
                            <div id="accord4" class="report-form work-wrap">
                                <div class="lease-form col-md-12 pad_0">

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                        <label>Select Period</label>
                                        <select class="form-control" ng-model="selectCurrentPeriod"
                                                ng-options="Period.Period for Period in lstCurrentPeriod" ng-change="FilterDetailsByDate()">
                                            <option selected value=""><-----Select Period-----></option>
                                        </select>

                                        <div ng-show="selectCurrentPeriod.Period == 'Custom Date'" class="row customDateBox">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <label class="padd7">From Date</label>
                                                <div flex-gt-xs>
                                                    <md-datepicker ng-model="fromDate" md-placeholder="From Date"
                                                                   ng-init="DisableInput_DTP()" ng-change="ChangeCustomToDate()"></md-datepicker>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <label class="padd7">To Date</label>
                                                <div flex-gt-xs>
                                                    <md-datepicker ng-model="toDate" md-placeholder="To Date"
                                                                   md-min-date="fromDate" ng-init="DisableInput_DTP()"></md-datepicker>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <label class="padd7"></label>
                                                <a class="btn btn-info" ng-click="FilterDetailsByDate('custom')">Filter</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                        <label>Select Owner/Tenant</label>
                                        <div id="divowner">
                                            <ui-select ng-model="DetailFilterParameters.owner" theme="selectize"
                                                       ng-disabled="selectCurrentPeriod == '' || selectCurrentPeriod == undefined"
                                                       title="Choose a Owner/Tenant" on-select="FilterProperty(DetailFilterParameters.owner)">
                                                <ui-select-match placeholder="Select or search a Owner/Tenant">{{$select.selected.ownerFullName}}</ui-select-match>
                                                <ui-select-choices repeat="owners in lstPropertOwnersByManager| orderBy : 'ownerFullName' | filter: $select.search">
                                                    <span ng-bind-html="owners.ownerFullName | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                        <label>Select Property</label>
                                        <ui-select ng-model="DetailFilterParameters.property" theme="selectize"
                                                   ng-disabled="selectCurrentPeriod == '' || selectCurrentPeriod == undefined"
                                                   title="Choose a property" on-select="FilterLiabilitiesByProperty(DetailFilterParameters.property)">
                                            <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                                            <ui-select-choices repeat="property in lstPropertByManagerAndOwner| orderBy : 'propertyName' | filter: $select.search">
                                                <span ng-bind-html="property.propertyName | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">

                                        <md-radio-group ng-model="OPC.filterCategory" ng-change="OPC.filterCategoryChanged()" layout="row" class="lease-form">
                                            <md-radio-button value="unpaid" class="md-primary">UnPaid</md-radio-button>
                                            <md-radio-button value="paid">Paid</md-radio-button>
                                        </md-radio-group>
                                    </div>
                                </div>
                     

                                <div class="lease-form col-md-12 pad_0" ng-if="userData.personType == PersonTyp.property_manager && OPC.ThiredPartyLiabitilyChartArray.length > 0">
                                    <div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                                <!--&& FC.IncmChartArray.length > 0" ng-init="FC.IncmChartLoad()-->
                                                <div class="col-md-12 graph_inner">
                                                    <div id="ThiredPartyLiabilityChart" style="height: 200px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" ng-if="selectCurrentPeriod != null" ng-class="{margintop3 : OPC.lstVendorRemainPayment.length == 0}">
                            <!--<div ng-if="OPC.lstVendorRemainPayment.length == 0" class="text-center"><h2>no record</h2></div>-->
                            <div>                                
                                <div class="col-md-6"><h2 class="table_head">Liabilities</h2></div>
                                <div class="col-md-3"> </div>  
                                <div class="col-md-3 pad_0">
                                    Show  <select class="itemCountddl" ng-model="OPC.ItemCountPerPage"
                                                  ng-options="count for count in OPC.itemsPerPageArr" ng-change="OPC.currentPage = 0"></select>
                                </div>                     
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th ng-click="OPC.OrderByFeild = OPC.OrderBy(OPC.OrderByFeild, 'number')">Reference No</th>
                                            <th ng-click="OPC.OrderByFeild = OPC.OrderBy(OPC.OrderByFeild, 'propertyName')">Property Name</th>
                                            <th ng-click="OPC.OrderByFeild = OPC.OrderBy(OPC.OrderByFeild, 'categoryName')">Category</th>
                                            <th ng-click="OPC.OrderByFeild = OPC.OrderBy(OPC.OrderByFeild, 'totalAmount_Vendor')">Amount</th>
                                            <th ng-if="userData.access != PersonRole.readonly && OPC.filterCategory != 'paid' && userData.isSubscriptionExpired == false">Mark as paid</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="OPC.lstVendorRemainPayment.length == 0"><td colspan="5"><p class="P-Center">No Record Found</p></td></tr>
                                        <tr ng-repeat="venderPay in OPC.lstVendorRemainPayment  | orderBy : OPC.OrderByFeild | offset: OPC.currentPage * OPC.ItemCountPerPage | limitTo: OPC.ItemCountPerPage" ng-if="OPC.lstVendorRemainPayment.length != 0">
                                            <td>{{venderPay.number}}</td>
                                            <td>{{venderPay.propertyName}}</td>
                                            <td>{{venderPay.categoryName}}</td>
                                            <td>{{venderPay.totalAmount_Vendor | currency}}</td>                                       
                                           <td ng-if="userData.access != PersonRole.readonly && OPC.filterCategory != 'paid' && userData.isSubscriptionExpired == false">
                                                <a>
                                                    <i class="fa fa-money"  ng-click="OPC.OpenModal(venderPay)" style="font-size:20px;"></i>
                                                </a>
                                           </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-if="OPC.lstVendorRemainPayment.length > 0">
                                    <ul class="pagination">
                                        <li ng-class="OPC.PageService.PrevPageDisabled(OPC.currentPage)">
                                            <a ng-click="OPC.currentPage = OPC.PageService.PrevPage(OPC.currentPage)">« Prev</a>
                                        </li>
                                        <li ng-repeat="n in OPC.PageService.Range(OPC.lstVendorRemainPayment.length,OPC.currentPage,OPC.ItemCountPerPage)"
                                            ng-class="{active: n == OPC.currentPage}"
                                            ng-click="OPC.currentPage = n">
                                            <a>{{n+1}}</a>
                                        </li>
                                        <li ng-class="OPC.PageService.NextPageDisabled(OPC.lstVendorRemainPayment.length,OPC.currentPage,OPC.ItemCountPerPage)">
                                            <a ng-click="OPC.currentPage = OPC.PageService.NextPage(OPC.lstVendorRemainPayment.length,OPC.currentPage,OPC.ItemCountPerPage)">Next »</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div ng-include="'Views/InvoicePayment/OutstandingPayModal.html'"></div>
            <div ng-include="'Shared View/PartialView/Finance/_ExportExcelTable.html'"></div>
            <div ng-include="'Shared View/_Loader.html'"></div>
        </div>
    </div>
