﻿<div class="modal fade-scale" id="mdlOutstandingPay" role="dialog" aria-labelledby="mdlOutstandingPay">
    <div class="modal-dialog" role="document" ng-show="!userData.isSubscriptionExpired">
        <div class="modal-content">
            <div class="modal-header model-headerColor">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Vendor Payment</h4>
            </div>
            <div class="modal-body">
                <div class="row marg-zero">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="pretty p-default">
                            <input type="checkbox" name="ChkOPt" ng-model="OPC.isPaid" />
                            <div class="state">
                                <label></label>
                            </div>
                        </div>
                        <label>Is Paid</label>
                        <!--<input type="checkbox" class="form-control text-right" name="ChkOPt" ng-model="OPC.isPaid" />-->
                      

                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <label>Description</label>
                        <textarea class="form-control" name="OPTDescription"
                             ng-model="OPC.vendorNotes" placeholder="Description" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
               
                <button type="button" class="btn btn-success" ng-class="{disabled: OPC.isPaid == false }" ng-click="OPC.SavePayment()">Save Payment</button>
                <button type="button" class="btn btn-danger" ng-click="OPC.hideModal()">Close</button>
             </div>
        </div>
    </div>
</div>