﻿<div class="min-higt" layout="column" ng-cloak>
    <div class="container-fluid wrap1">
        <div class="vt-breadcrumb">
            <div class="lease_brdr vt-brdcrumb-wrap col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <h6 class="padd6">
                    Create Invoice
                    <span></span>
                </h6>
            </div>
            <div class="vt-filter">

                <ul class="menu4 create-invoice-btn">
                    <button class="btn btn-danger" ng-click="IC.Cancle(frmInvoice)">Cancel</button>
                    <a class="btn btn-info" ng-click="IC.SaveInvoice(1,frmInvoice)" ng-class="{disabled: frmInvoice.$invalid || IC.invoice.statusId == 2}">Save as Draft</a>
                    <a class="btn btn-success" ng-click="IC.SaveInvoice(2,frmInvoice)" ng-class="{disabled: frmInvoice.$invalid}">Send to Client</a>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="col-lg-12 marg_auto tab-content">
                <div id="step1" class="tab-pane fade in active">
                    <div id="accord4" class="work-wrap">
                        <div class="lease-form col-xs-12">
                            <form name="frmInvoice" novalidate role="form">
                                <div class="padd_zero marg1 col-lg-12">                                 
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                        <label>Invoice No.</label>
                                        <input type="text" class="form-control" ng-model="IC.invoice_Text" maxlength="8" ng-disabled="IC.IsEdit"
                                               name="invoice_Text" ng-blur="IC.CreateInvoiceNumber()" placeholder="Invoice number"
                                               ng-keydown="IC.StopCharInText($event)" required />

                                        <span class="errormsg" ng-show="frmInvoice.invoice_Text.$dirty && frmInvoice.invoice_Text.$invalid">
                                            <span ng-show="frmInvoice.invoice_Text.$error.required">Invoice number is required.</span>
                                        </span>

                                        <span class="errormsg" ng-show="!frmInvoice.invoice_Text.$error.required">
                                            <span ng-show="!IC.newinvoiceNumber">Invoice Number is already exist.</span>
                                        </span>


                                    </div>


                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                        <label class="padd7">Date</label>
                                        <div flex-gt-xs>
                                            <md-datepicker ng-model="IC.invoice.invoiceDate" md-placeholder="Start date" ng-disabled="IC.IsEdit"
                                                           ng-change="IC.ChangeInvoiceDate()"
                                                           ng-init="IC.DisableInput_DTP()"></md-datepicker>
                                        </div>

                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                        <label class="padd7">Invoice Due</label>
                                        <div flex-gt-xs>
                                            <md-datepicker ng-model="IC.invoice.dueDate" ng-disabled="IC.IsEdit" ng-if="IC.IsEdit"
                                                           ng-init="IC.DisableInput_DTP()" md-placeholder="Start date"></md-datepicker>

                                            <md-datepicker md-min-date="IC.invoice.invoiceDate" ng-model="IC.invoice.dueDate" ng-if="!IC.IsEdit"
                                                           ng-init="IC.DisableInput_DTP()" md-placeholder="Start date"></md-datepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="padd_zero marg1 col-lg-12">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">

                                        <label>Property<span class="errormsg">*</span></label>
                                        <div>
                                            <ui-select ng-model="IC.selectedProperty" theme="selectize"
                                                       name="selectedProperty" ng-disabled="IC.IsEdit"
                                                       on-select="IC.GetPropertyTenantOwnerByPropId(IC.selectedProperty)"
                                                       title="Choose a Property" required>
                                                <ui-select-match placeholder="Select or search a Property">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="property in IC.lstProperty | orderBy : 'name' | filter: $select.search">
                                                    <span ng-bind-html="property.name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>

                                        <span class="errormsg" ng-show="frmInvoice.selectedProperty.$dirty && frmInvoice.selectedProperty.$invalid">
                                            <span ng-show="frmInvoice.selectedProperty.$error.required">Select property is required.</span>
                                        </span>

                                        <span class="errormsg" ng-show="IC.selectedProperty != '' && IC.selectedProperty.id == undefined">
                                            <span ng-show="!frmInvoice.selectedProperty.$error.required">Select valid property</span>
                                        </span>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                                        <label>Client For</label>

                                        <select class="form-control" ng-model="IC.invoice.client" name="requestedby"
                                                ng-disabled="IC.selectedProperty.id == undefined || IC.selectedProperty.id == 0 || IC.IsEdit"
                                                ng-options="person.PersonName for person in IC.lstPropertyOwnerTenantByPropertyId" required>
                                            <option selected value="">--- Select Client For ---</option>
                                        </select>

                                        <span class="errormsg" ng-show="frmInvoice.requestedby.$dirty && frmInvoice.requestedby.$invalid">
                                            <span ng-show="frmInvoice.requestedby.$error.required">Client for is required.</span>
                                        </span>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <label>Invoice Note</label>
                                        <textarea class="form-control" name="pWODescription" ng-model="IC.invoice.description"
                                                  placeholder="Invoice Note" rows="5"></textarea>
                                    </div>

                                </div>

                                <div class="clearfix"></div>
                                <div class="lease-accord col-lg-12">
                                    <div class="clearfix"></div>
                                    <div class="col-md-6 invoice-detail-head">
                                        <label>
                                            Invoice Detail
                                        </label>
                                    </div>

                                    <div class="col-md-12 padd-zero">
                                        <hr style="border-top: 1px solid #c1c0c0;" />
                                    </div>

                                    <div class="create-panel" ng-repeat="invoiceDetail in IC.lstInvoiceDetail">
                                        <div>
                                            <div id="clonedInput6" style="border: 1px solid #ebebeb;" class="col-xs-12 clonedInput6 padding26" ng-class="{'marginTop16':$index !=0}">
                                                <div class="padd-lease lease-form">

                                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group">
                                                        <label>WR#</label>
                                                        <input type="text" class="form-control text-right" name="lblWr_{{$index}}"
                                                               placeholder="WR No" ng-model="invoiceDetail.WRNumber" />
                                                    </div>
                                                    
                                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 form-group">
                                                        <label>Payment category</label>
                                                    
                                                        <select name="invoiceCategory_{{$index}}" ng-model="invoiceDetail.category"
                                                                ng-options="category.Name for category in IC.lstServiceCategory | orderBy : 'Name'"
                                                                 required>   
                                                            <option value="">Select Invoice Category</option>
                                                        </select>
                                                        <!--ng-change="IC.AddCategory(invoiceDetail.category)"-->
                                                        <span class="errormsg" ng-show="frmInvoice.invoiceCategory_{{$index}}.$dirty && frmInvoice.invoiceCategory_{{$index}}.$invalid">
                                                            <span ng-show="frmInvoice.invoiceCategory_{{$index}}.$error.required">Client for is required.</span>
                                                        </span>
                                                    </div>

                                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group">
                                                        <label>Vendor Invoice Ref #</label>
                                                        <input type="text" class="form-control text-right" name="lblVendorInvRefNo_{{$index}}"
                                                               placeholder="Vendor Inv Ref No" ng-model="invoiceDetail.VendorInvRefNo"/>
                                                    </div>


                                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group">
                                                        <label>Amount</label>
                                                        <input type="text" class="form-control text-right" name="lblAmount_{{$index}}" ng-change="IC.EditAmount({{$index}})"
                                                               placeholder="Amount" ng-model="invoiceDetail.amount" only-digits required />

                                                        <span class="errormsg" ng-show="frmInvoice.lblAmount_{{$index}}.$dirty && frmInvoice.lblAmount_{{$index}}.$invalid">
                                                            <span ng-show="frmInvoice.lblAmount_{{$index}}.$error.required">Amount is required.</span>
                                                        </span>
                                                    </div>

                                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group">
                                                        <label>Markup</label>
                                                        <div class="row marginnone">
                                                            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-9 padd-zero">
                                                                <input type="text" class="form-control text-right" name="lblmarkup_{{$index}}" ng-change="IC.EditAmount({{$index}})"
                                                                       placeholder="Markup" ng-model="invoiceDetail.markup" maxlength="6" numbers-only />
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-2 col-xs-3 padd-zero">
                                                                <select class="borderradius4" name="MarkupType_{{$index}}" ng-model="invoiceDetail.markup_type"
                                                                        ng-options="markupType for markupType in IC.lstMarkupType" ng-change="IC.EditAmount({{$index}})"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group">
                                                        <label>Tax (%)</label>
                                                        <input type="text" class="form-control text-right" name="lblTax_{{$index}}" ng-change="IC.EditAmount({{$index}})"
                                                               placeholder="Tax" ng-model="invoiceDetail.tax" min="0" max="100" maxlength="3" numbers-only />
                                                    </div>

                                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group">
                                                        <label>Total Amt</label>
                                                        <input type="text" class="form-control text-right" name="lblTotalAmount_{{$index}}"
                                                               placeholder="Total Amount" ng-model="invoiceDetail.totalAmount" disabled="disabled" />
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 form-group">
                                                        <div class="row">
                                                            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                                                                <label>Description</label>

                                                                <textarea class="form-control" name="wrdescription_{{$index}}" ng-model="invoiceDetail.description"
                                                                          placeholder="Description" rows="2" maxlength="190"></textarea>
                                                            </div>
                                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                                <div ng-show="invoiceDetail.showRemove">
                                                                    <i ng-click="IC.removeInvoiceDetail($index,invoiceDetail.Id)" class="glyphicon glyphicon-minus-sign invoice-remove" title="remove"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 invoice-detail-head">
                                    </div>

                                    <div class="col-md-6 padd-zero">
                                        <a id="addrow" class="marg20 btn-max clone5 vt-btn3 pull-right" ng-click="IC.AddRow()">
                                            <i class="glyphicon glyphicon-plus-sign"></i> Add New Line
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="modal fade" id="otherCategory" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Category</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group textRight">
                            <label>Category Name</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 form-group">
                            <input type="text" class="form-control" name="CatName" ng-model="IC.MdlServiceCategory.name" ng-blur="IC.CheckCategory()" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group textRight">
                            <label>Description </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 form-group">
                            <textarea class="form-control" name="CatDesc" rows="3" ng-model="IC.MdlServiceCategory.description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="IC.SaveServiceCategory()" ng-disabled="IC.MdlServiceCategory.description == '' || IC.MdlServiceCategory.name =='' || !IC.EnableSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'Shared View/_Loader.html'"></div>
</div>

