﻿
<div ng-hide="1==1">

    <div id="lstInvoiceXls1">
        <table id="lstInvoiceXls" style="width:100%">
            <tbody>
                <tr>
                    <td>
                        <table style="width:100%">
                            <tbody>
                                <tr>
                                    <td style="padding-bottom:5px;"></td>
                                    <td style="padding-bottom:5px;"><b>{{userData.ManagerDetail.pFullName}}</b></td>
                                    <td style="padding-bottom:5px; text-align:right;">Date : {{userData.Date | date}}</td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:5px;"></td>
                                    <td style="padding-bottom:5px;"><b>{{userData.ManagerDetail.pAddress}}</b></td>
                                    <td style="padding-bottom:5px;"></td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:30px;"></td>
                                    <td style="padding-bottom:30px;text-align:left;"><b>{{userData.ManagerDetail.pPhoneNo}}</b></td>
                                    <td style="padding-bottom:30px;"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="padding-bottom:20px;border-bottom:1px solid #808080;">Invoice No</th>
                                    <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-if="userData.personType == PersonTyp.property_manager">To</th>
                                    <th style="padding-bottom:20px;border-bottom:1px solid #808080;" ng-if="userData.personType != PersonTyp.property_manager">From</th>
                                    <th style="padding-bottom:20px;border-bottom:1px solid #808080;">Amount</th>
                                    <th style="padding-bottom:20px;border-bottom:1px solid #808080;">Property</th>
                                    <th style="padding-bottom:20px;border-bottom:1px solid #808080;">Property Address</th>
                                    <th style="padding-bottom:20px;border-bottom:1px solid #808080;">Date</th>
                                    <th style="padding-bottom:20px;border-bottom:1px solid #808080;">Due Date</th>
                                    <th style="padding-bottom:20px;border-bottom:1px solid #808080;">Status</th>
                                    <th style="padding-bottom:20px;border-bottom:1px solid #808080;">Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoice in IC.lstInvoices_Filtered  | orderBy : IC.lstInvoices_OrderBy">
                                    <td style="padding:20px 0;border-bottom:1px solid #808080;">{{invoice.invoiceNum}}</td>
                                    <td style="padding:20px 0;border-bottom:1px solid #808080;" ng-if="userData.personType == PersonTyp.property_manager">{{invoice.recipientName}}</td>
                                    <td style="padding:20px 0;border-bottom:1px solid #808080;" ng-if="userData.personType != PersonTyp.property_manager">{{invoice.senderName}}</td>
                                    <td style="padding:20px 0;border-bottom:1px solid #808080;">{{invoice.totalInvAmount | currency}}</td>
                                    <td style="padding:20px 0;border-bottom:1px solid #808080;">{{invoice.propertyName}}</td>
                                    <td style="padding:20px 0;border-bottom:1px solid #808080;">{{invoice.propAdrs}}</td>
                                    <td style="padding:20px 0;border-bottom:1px solid #808080;">{{invoice.date | date}}</td>
                                    <td style="padding:20px 0;border-bottom:1px solid #808080;">{{invoice.dueDate | date}}</td>
                                    <td style="padding:20px 0;border-bottom:1px solid #808080;">{{invoice.status}}</td>
                                    <td style="padding:20px 0;border-bottom:1px solid #808080;">{{invoice.note}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
