﻿

<div class="modal fade-scale" id="mdlInvoicePmt" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header model-headerColor">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h4 class="modal-title">INV# {{IC.invoiceData.invoiceNo}} </h4>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="modal-body bodyPaddingNone">

                <div class="row padd10topBottom headingStyle1">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5"><span class="headingStyle">Recipient :</span> {{IC.invoiceData.recipientName}}</div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5"><span class="headingStyle">Property :</span> {{IC.invoiceData.propertyName}}</div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5"><span class="headingStyle">Invoice Date :</span> {{IC.invoiceData.invoiceDate | date}}</div>
                </div>

                <div class="padd10topBottom">
                    <h4 class="table_head">Payment Details </h4>
                    <!--<div class="text-center padd10topBottom borderSolid" ng-if="IC.PaymentDetail.lstBills.length == 0"> <h4> No record found !</h4></div>-->
                    <table class="table padd10topBottom borderSolid"> 
                        <thead class="th-title2">
                            <tr>
                                <th>Payment Date</th>
                                <th>Amount</th>
                                <th>Mode</th>
                                <th>Description</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr><td colspan="4" class="text-center" ng-if="IC.PaymentDetail.lstBills.length == 0">No Record Found</td></tr>
                            <tr ng-repeat="Bills in IC.PaymentDetail.lstBills;" ng-if="IC.PaymentDetail.lstBills.length > 0">
                                <td>{{Bills.date | date}}</td>
                                <td>{{Bills.amount | currency}}</td>
                                <td>{{Bills.paymentType}}</td>
                                <td>{{Bills.comment}}</td>
                            </tr>                          
                        </tbody>
                    </table>
                </div>

                <div class="row marginBottom10"></div>
                <div class="row marginBottom10"></div>

                <div class="padd10topBottom" ng-if="IC.invoiceData.payableAmt != 0 && userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">
                    <button type="button" class="btn btn-success" ng-click="IC.toggle()">Enter Payment</button>
                    <button type="button" class="btn btn-info" ng-click="IC.toggleWriteOff()">WriteOff</button>

                    <div class="row"></div>
                    <div class="margintop20 padd10topBottom borderSolid" ng-show="IC.ShowWriteOff">

                        <div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label>WriteOff Amount</label>
                                    <input type="text" class="form2 rightText controlHeight disabled" readonly="readonly" ng-model="IC.mdlPayment.amount" placeholder="Amount" only-digits required />

                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    <label>Detail</label>
                                    <textarea class="form2 controlHeight" ng-model="IC.mdlPayment.description"
                                          stopccp maxlength="230" placeholder="Payment Description" rows="1"></textarea>
                                </div>
                            </div>

                            <div class="margintop20">
                                <div class="padd10topBottom rightText">
                                    <button type="button" class="btn btn-info" ng-click="IC.OpenConfirmation()">WriteOff</button>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="margintop20 padd10topBottom borderSolid" ng-show="IC.ShowMdlInvPymt">

                        <div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label>Amount</label>
                                    <input type="text" class="form2 rightText controlHeight" name="lblAmount" ng-change="IC.ChangePaybleAmt();"
                                           ng-model="IC.mdlPayment.amount" placeholder="Amount" only-digits required />

                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>Payment Mode</label>

                                    <ui-select ng-model="IC.mdlPayment.payMode" theme="selectize" title="Payment Mode">
                                        <ui-select-match placeholder="Select Payment Mode">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="paymentMode in IC.PaymentDetail.lstPaymentMode| orderBy : 'name' | filter: $select.search">
                                            <span ng-bind-html="paymentMode.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <label>Detail</label>
                                    <textarea class="form2 controlHeight" name="InvPymtDesc"
                                          stopccp ng-model="IC.mdlPayment.description" maxlength="230" placeholder="Payment Description" rows="1"></textarea>
                                </div>

                            </div>
                            <div class="margintop20">
                                <div class="padd10topBottom rightText">
                                    <button type="button" ng-if="IC.mdlPayment.amount > 0" class="btn btn-success" ng-click="IC.SavePayment()">Save</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footerColor">
                <!--<button type="button" class="btn btn-default" onclick="createPDF('#mdlInvoicePmt', 'Invoice.pdf')">Download Pdf</button>-->
                <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>  
</div>

<div class="modal fade" id="writeOffConfirmation" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 style="font-weight:800;">Are you sure, you want to writeoff this invoice?</h4>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="IC.WriteOffConfirm()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>

        </div>
        </div>
    </div>


    <!--<div id="writeOffConfirmation" class="modal fade" role="dialog">
       
        <div class="modal-body">
            <p>Are you sure, you want to writeoff this invoice.</p>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="IC.SavePayment()">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
    </div>-->
