﻿

<div id="InvoicePdf" ng-hide="true">
    <table style="width:100%;border:1px solid #ffffff;color:#ffffff; background-color:#0073d3;">
        <tr>
            <th style="padding:10px;">
              {{IC.invoice.senderName}}
            </th>           
        </tr>

        <tr>
            <td style="padding-left:10px;">
               Add - {{IC.invoice.fromAddress}}
            </td>
            <!--<td style="padding:10px;"></td>
            <td style="padding:10px;"></td>-->
        </tr>

        <tr>
            <td style="padding:10px;">
               Ph - {{IC.invoice.senderPhoneNo}}
            </td>
            <td style="padding:10px;"></td>
            <td style="padding:10px;"></td>
        </tr>
    </table>

    <table>
        <tbody>

            <tr style="border-bottom:none!important;">
                <td class="fontColorBlue" style="padding-top:20px !important;">
                    <b>To : </b>
                </td>
                <td style="padding-top:20px !important;">
                    <strong>  {{IC.invoice.clientName}} </strong>

                </td>
            </tr>

            <tr style="border-bottom:none!important;">
                <td style="padding-top:20px !important;" class="fontColorBlue">
                    <b>Property : </b>
                </td>
                <td style="padding-top:20px !important;">
                    {{IC.invoice.propertyName}}
                </td>
            </tr>
            <tr style="border-bottom:none!important;">
                <td class="fontColorBlue">
                    <b>Address : </b>
                </td>
                <td>
                    {{IC.invoice.propertyAddress}}
                </td>
            </tr>
            <tr style="border-bottom:none!important;"></tr>
            <tr style="border-bottom:none!important;">
                <td class="fontColorBlue">
                    <b>Owner : </b>
                </td>
                <td>
                    {{IC.invoice.ownerName}}
                </td>
            </tr>
            <!--<tr style="border-bottom:none!important;">
                <td class="fontColorBlue">
                    <b>Address : </b>
                </td>
                <td>
                    {{IC.invoice.ownerAddress}}
                </td>
            </tr>-->
        </tbody>
    </table>

    <table style="width:100%;">


        <tr style="width:100%;">
            <td style="border-right:2px solid #ebebeb; padding-top:-70%">  <!--padding-top:10px;-->

                <table style="width:100%;">
                    <thead>
                        <tr>
                            <th style="padding:0px 10px 20px 10px;color:#1e89fb;border-bottom:1px solid #ebebeb;">Description</th>
                            <th style="padding:0px 10px 20px 10px;color:#1e89fb;border-bottom:1px solid #ebebeb;">Category</th>
                            <th style="padding:0px 10px 20px 10px;color:#1e89fb;border-bottom:1px solid #ebebeb;">Amount</th>
                            <th style="padding:0px 10px 20px 10px;color:#1e89fb;border-bottom:1px solid #ebebeb;" ng-if="userData.personType == PersonTyp.property_manager">Markup</th>
                            <th style="padding:0px 10px 20px 10px;color:#1e89fb;border-bottom:1px solid #ebebeb;">Tax(%)</th>
                            <th style="padding:0px 10px 20px 10px;color:#1e89fb;border-bottom:1px solid #ebebeb;">Total Amt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="invoiceDetail in IC.lstInvoiceDetail; ">
                            <td style="padding:10px;border-bottom:1px solid #ebebeb;">{{invoiceDetail.description}}</td>
                            <td style="padding:10px;border-bottom:1px solid #ebebeb;">{{invoiceDetail.categoryName}}</td>
                            <td style="padding:10px;border-bottom:1px solid #ebebeb;" ng-if="userData.personType != PersonTyp.property_manager">{{invoiceDetail.amount * (1+(invoiceDetail.markup/100)) | number:2}}</td>
                            <td style="padding:10px;border-bottom:1px solid #ebebeb;" ng-if="userData.personType == PersonTyp.property_manager">{{invoiceDetail.amount | number:2}}</td>
                            <td style="padding:10px;border-bottom:1px solid #ebebeb;" ng-if="userData.personType == PersonTyp.property_manager">{{invoiceDetail.markup}} ({{invoiceDetail.markup_type}})</td>
                            <td style="padding:10px;border-bottom:1px solid #ebebeb;">{{invoiceDetail.tax}}</td>
                            <td style="padding:10px;border-bottom:1px solid #ebebeb;">{{invoiceDetail.totalAmount | number:2}}</td>
                        </tr>

                        <tr>
                            <td colspan="4" style="text-align:right;padding-top:40px;color:#1e89fb;">Total</td>
                            <td></td>
                            <td style="padding-top:40px;">{{IC.TotalAmount | number:2}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align:right;padding-top:20px;color:#1e89fb;">Amount Paid</td>
                            <td></td>
                            <td style="padding-top:20px;">{{IC.TotalPaid | number:2}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align:right;padding-top:20px;color:#1e89fb;">Amount Due (USD)</td>
                            <td></td>
                            <td style="padding-top:20px;">{{IC.TotalAmount - IC.TotalPaid | number:2}}</td>
                        </tr>
                    </tbody>
                </table>

            </td>

            <td>  <!--style="padding-top:10px;"-->
                <table style="width:100%;">
                    <tr>
                        <td>
                            <table style="width:100%;">
                                <tr>
                                    <th style="text-align:right;color:#1e89fb;padding-bottom:10px;">
                                        Amount Due (USD)
                                    </th>
                                </tr>
                                <tr>
                                    <td style="text-align:right;padding-bottom:20px;">
                                        {{IC.TotalAmount - IC.TotalPaid | number:2}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width:100%;">
                                <tr>
                                    <th style="text-align:right;color:#1e89fb;padding-bottom:10px;">Billed To</th>
                                </tr>
                                <tr>
                                    <td style="text-align:right;padding-bottom:10px;">{{IC.invoice.clientName}}</td>
                                </tr>
                                <tr>
                                    <td style="text-align:right;padding-bottom:20px;">{{IC.invoice.toAddress}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width:100%;">
                                <tr>
                                    <th style="text-align:right;color:#1e89fb;padding-bottom:10px;"> Invoice Number</th>
                                </tr>
                                <tr>
                                    <td style="text-align:right;padding-bottom:20px;">{{IC.invoice.invoiceNumber}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <table style="width:100%;">
                                <tr>
                                    <th style="text-align:right;color:#1e89fb;padding-bottom:10px;">Date of Issue</th>
                                </tr>
                                <tr>
                                    <td style="text-align:right;padding-bottom:20px;">{{IC.invoice.invoiceDate | date}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width:100%;">
                                <tr>
                                    <th style="text-align:right;color:#1e89fb;padding-bottom:10px;">Due Date</th>
                                </tr>
                                <tr>
                                    <td style="text-align:right;">{{IC.invoice.dueDate | date}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</div>

<div class="modal fade-scale" id="mdl_ViewInvoice" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header model-headerColor">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    <div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <p style="margin: 0px 0 3px !important;"> {{IC.invoice.senderName}}</p>
                                <p style="margin: 0px 0 3px !important;"> <strong>Add -</strong> {{IC.invoice.fromAddress}}</p>
                                <p style="margin: 0px 0 3px !important;"><strong>Ph -</strong> {{IC.invoice.senderPhoneNo}}</p>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padd20">
                        <div>
                            <label> To :</label>
                            <span style="color:#8e8d8d">{{IC.invoice.clientName}}</span> <br />
                            <label>Property :</label>
                            <span style="color:#8e8d8d">{{IC.invoice.propertyName}}</span> <br />
                            <label>Address : </label>
                            <span style="color:#8e8d8d">{{IC.invoice.propertyAddress}}</span> <br />
                            <label>Owner :</label>
                            <span style="color:#8e8d8d">{{IC.invoice.ownerName}}</span>
                        </div>
                        <br />
                        <br />
                        <table class="table">
                            <thead class="th-title2">
                               <tr class="fontColorBlue">
                                    <th>Desc</th>
                                    <th>Category</th>
                                   <th>WOID</th>
                                   <th>WRID</th>
                                    <th>Amt</th>
                                    <th ng-if="userData.personType == PersonTyp.property_manager">Markup</th>
                                    <th>Tax</th>
                                    <th>Total Amt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoiceDetail in IC.lstInvoiceDetail; ">
                                    <td>{{invoiceDetail.description == '' || invoiceDetail.description == null ? 'N/A' : invoiceDetail.description}}</td>
                                    <td>{{invoiceDetail.categoryName}}</td>
                                    <td ng-if="invoiceDetail.woid != 0">WO#{{invoiceDetail.woid}}</td>
                                    <td ng-if="invoiceDetail.woid == 0">N/A</td>
                                    <td ng-if="invoiceDetail.wr_Number != 0">WR#{{invoiceDetail.wr_Number}}</td>
                                    <td ng-if="invoiceDetail.wr_Number == 0">N/A</td>                                    
                                    <td ng-if="userData.personType != PersonTyp.property_manager && invoiceDetail.markup_type == 'pct'">{{invoiceDetail.amount * (1+(invoiceDetail.markup/100)) | number:2}}</td>
                                    <td ng-if="userData.personType != PersonTyp.property_manager && invoiceDetail.markup_type != 'pct'">{{(invoiceDetail.amount + invoiceDetail.markup) | number:2}}</td>
                                    <td ng-if="userData.personType == PersonTyp.property_manager">{{invoiceDetail.amount | number:2}}</td>
                                    <td ng-if="userData.personType == PersonTyp.property_manager && invoiceDetail.markup_type == 'pct'">{{(invoiceDetail.amount * invoiceDetail.markup)/100 | number:2}}</td>
                                    <td ng-if="userData.personType == PersonTyp.property_manager && invoiceDetail.markup_type != 'pct'">{{invoiceDetail.markup | number:2}}</td>
                                    <td ng-if="invoiceDetail.markup_type == 'pct'">{{invoiceDetail.totalAmount - (invoiceDetail.amount * (1+(invoiceDetail.markup/100))) | number:2}}</td>
                                    <td ng-if="invoiceDetail.markup_type != 'pct'">{{invoiceDetail.totalAmount - (invoiceDetail.amount + invoiceDetail.markup) | number:2}}</td>
                                    <td>{{invoiceDetail.totalAmount | number:2}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-0">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="row marginBottom10">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 textRight">
                                        <p style="font-weight:600;color:#5d5959"><b>Total</b></p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <p>{{IC.TotalAmount | number:2}}</p>
                                    </div>
                                </div>

                                <div class="row marginBottom10">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 textRight">
                                        <p style="font-weight:600;color:#5d5959"><b>Amount Paid</b></p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <p>{{IC.TotalPaid | number:2}}</p>
                                    </div>
                                </div>

                                <div class="row marginBottom10">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 textRight">
                                        <p style="font-weight:600;color:#5d5959"><b>Amount Due (USD)</b></p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <p>{{IC.TotalAmount - IC.TotalPaid | number:2}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padd20 text-right" style="border-left:1px solid #ebebeb">

                        <div class="row marginBottom10">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <label class="paramargin">Amount Due (USD)</label>
                                <p style="color:#8e8d8d">{{IC.TotalAmount - IC.TotalPaid | number:2}}</p>
                            </div>
                        </div>
                        <div class="row marginBottom10">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="fontColorBlue paramargin">Billed To</label>
                                <p style="color:#8e8d8d">{{IC.invoice.clientName}}</p>
                                <p style="color:#8e8d8d">{{IC.invoice.toAddress}}</p>
                            </div>
                        </div>
                        <div class="row marginBottom10">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="fontColorBlue paramargin">Invoice Number</label>
                                <p style="color:#8e8d8d">{{IC.invoice.invoiceNumber}}</p>
                            </div>
                        </div>
                        <div class="row marginBottom10">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="fontColorBlue paramargin">Date of Issue</label>
                                <p style="color:#8e8d8d">{{IC.invoice.invoiceDate | date}}</p>
                            </div>
                        </div>

                        <div class="row marginBottom10">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="fontColorBlue paramargin">Due Date</label>
                                <p style="color:#8e8d8d">{{IC.invoice.dueDate | date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-footerColor">
                <!--<button type="button" class="btn btn-default" onclick="createPDF('#mdl_ViewInvoice', 'Invoice.pdf')">Download Pdf</button>-->
                <button class="btn btn-blue" ng-click="IC.PrintPdf('InvoicePdf')">Save as pdf</button>
                <button type="button" class="btn btn-blue" ng-click="IC.CloseModel()">Close</button>
            </div>
        </div>
    </div>
</div>

