﻿<!--<div id="divListInvoiceDetail">
    <div id="page_{{$index}}" class="well padding36 wellCustom" ng-repeat="person in IEC.IncomeExpenceRecord">

        <div ng-repeat="record in person">
            <div ng-if="$index == 0">

                <table>
                    <tr>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <th style="padding-bottom:10px;"> Owner:</th>
                                </tr>
                                <tr>
                                    <td>{{record.ownerName}}</td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:20px;">{{record.ownerAddress}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <th style="padding-bottom:10px;">
                                        Property:
                                    </th>
                                </tr>
                                <tr ng-if="person.length ==1">
                                    <td>
                                        {{record.propName}}
                                    </td>
                                </tr>
                                <tr ng-if="person.length ==1">
                                    <td style="padding-bottom:20px;">
                                        {{record.propAddress}}
                                    </td>
                                </tr>

                                <tr ng-if="person.length >1">
                                    <td style="padding-bottom:10px;">
                                        All
                                    </td>
                                </tr>
                                <tr ng-if="person.length >1">
                                    <td></td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <th style="padding-bottom:10px;">
                                        Period:
                                    </th>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:20px;">
                                        Jan 1, {{IEC.selectCurrentPeriod.Year}} - Dec 31, {{IEC.selectCurrentPeriod.Year}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <div style="margin-top:15px;" id="tablePropDesc">
                    <table class="table" style="width:100%; border:1px solid #ebebeb;background-color:#ebebeb;">
                        <thead>
                            <tr>
                                <th style="padding:20px;">Property Name</th>
                                <th style="padding:20px;">Property Address</th>
                                <th style="padding:20px;">Rent Amt</th>
                                <th style="padding:20px;">Tenant Name</th>
                                <th style="padding:20px;">Phone</th>
                                <th style="padding:20px;">Move-In-Date</th>
                                <th style="padding:20px;">Renewal Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="propRecd in person">
                                <td style="padding:0px 20px 20px 20px;">{{propRecd.propName}}</td>
                                <td style="padding:0px 20px 20px 20px;">{{propRecd.propAddress}}</td>
                                <td style="padding:0px 20px 20px 20px;">{{propRecd.rentAmt | currency}}</td>
                                <td style="padding:0px 20px 20px 20px;">{{propRecd.tenantName}}</td>
                                <td style="padding:0px 20px 20px 20px;">{{propRecd.tenantPhone}}</td>
                                <td style="padding:0px 20px 20px 20px;">{{propRecd.moveInDate | date}}</td>
                                <td style="padding:0px 20px 20px 20px;">{{propRecd.renewalDate | date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <table class="table" style="width:100%;">
                        <thead>
                            <tr>
                                <th style="padding-bottom:10px;padding-top:30px;"></th>
                                <th style="padding-bottom:10px;padding-top:30px;">Jan</th>
                                <th style="padding-bottom:10px;padding-top:30px;">Fab</th>
                                <th style="padding-bottom:10px;padding-top:30px;">Mar</th>
                                <th style="padding-bottom:10px;padding-top:30px;">April</th>
                                <th style="padding-bottom:10px;padding-top:30px;">May</th>
                                <th style="padding-bottom:10px;padding-top:30px;">June</th>
                                <th style="padding-bottom:10px;padding-top:30px;">July</th>
                                <th style="padding-bottom:10px;padding-top:30px;">Aug</th>
                                <th style="padding-bottom:10px;padding-top:30px;">Sep</th>
                                <th style="padding-bottom:10px;padding-top:30px;">Oct</th>
                                <th style="padding-bottom:10px;padding-top:30px;">Nov</th>
                                <th style="padding-bottom:10px;padding-top:30px;">Dec</th>
                                <th style="padding-bottom:10px;padding-top:30px;">Year Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding-bottom:10px; font-weight:800;">Income</td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                            </tr>
                            <tr ng-repeat="incm in record.lstMdlTransectionInfo.income">
                                <td style="padding-bottom:10px;" ng-if="incm.serviceCategory != 'zzz' && incm.serviceCategory != 'zzzz'">{{incm.serviceCategory}}</td>
                                <td style="padding-bottom:10px;" ng-if="incm.serviceCategory == 'zzz'">Other</td>
                                <td style="padding-bottom:10px;font-weight: 600;color:#0041ff; border:1px solid #ffffff;" ng-if="incm.serviceCategory == 'zzzz'">Gross Income</td>

                                <td style="padding-bottom:10px;">{{incm.January | currency}}</td>
                                <td style="padding-bottom:10px;">{{incm.February | currency}}</td>
                                <td style="padding-bottom:10px;">{{incm.March | currency}}</td>
                                <td style="padding-bottom:10px;">{{incm.April | currency}}</td>
                                <td style="padding-bottom:10px;">{{incm.May | currency}}</td>
                                <td style="padding-bottom:10px;">{{incm.June | currency}}</td>
                                <td style="padding-bottom:10px;">{{incm.July | currency}}</td>
                                <td style="padding-bottom:10px;">{{incm.August | currency}}</td>
                                <td style="padding-bottom:10px;">{{incm.September | currency}}</td>
                                <td style="padding-bottom:10px;">{{incm.October | currency}}</td>
                                <td style="padding-bottom:10px;">{{incm.November | currency}}</td>
                                <td style="padding-bottom:10px;">{{incm.December | currency}}</td>
                                <td style="padding-bottom:10px;">{{incm.January + incm.February + incm.March + incm.April + incm.May + incm.June + incm.July + incm.August + incm.September + incm.October + incm.November + incm.December | currency}}</td>
                            </tr>

                            <tr>
                                <td colspan="14" style="padding-bottom:10px;height:35px;"></td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:10px;font-weight:800;">Expense</td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                                <td style="padding-bottom:10px;"></td>
                            </tr>

                            <tr ng-repeat="expns in record.lstMdlTransectionInfo.expense">

                                <td style="padding-bottom:10px;" ng-if="expns.serviceCategory != 'zzz' && expns.serviceCategory != 'zzzz'">{{expns.serviceCategory}}</td>
                                <td style="padding-bottom:10px;" ng-if="expns.serviceCategory == 'zzz'">Other</td>

                                <td style="padding-bottom:10px;font-weight: 600;color:#0041ff; border:1px solid #ffffff;" ng-if="expns.serviceCategory == 'zzzz'">Total Expense</td>
                                <td style="padding-bottom:10px;">{{expns.January | currency}}</td>
                                <td style="padding-bottom:10px;">{{expns.February | currency}}</td>
                                <td style="padding-bottom:10px;">{{expns.March | currency}}</td>
                                <td style="padding-bottom:10px;">{{expns.April | currency}}</td>
                                <td style="padding-bottom:10px;">{{expns.May | currency}}</td>
                                <td style="padding-bottom:10px;">{{expns.June | currency}}</td>
                                <td style="padding-bottom:10px;">{{expns.July | currency}}</td>
                                <td style="padding-bottom:10px;">{{expns.August | currency}}</td>
                                <td style="padding-bottom:10px;">{{expns.September | currency}}</td>
                                <td style="padding-bottom:10px;">{{expns.October | currency}}</td>
                                <td style="padding-bottom:10px;">{{expns.November | currency}}</td>
                                <td style="padding-bottom:10px;">{{expns.December | currency}}</td>
                                <td style="padding-bottom:10px;">{{expns.January + expns.February + expns.March + expns.April + expns.May + expns.June + expns.July + expns.August + expns.September + expns.October + expns.November + expns.December | currency}}</td>
                            </tr>
                            <tr>
                                <td colspan="14" style="padding-bottom:10px;height:35px;"></td>
                            </tr>
                            <tr>
                                <td style="padding:10px 0px 250px 0px;font-weight: 600;color:#0041ff; border:1px solid #ffffff;">Net Income</td>
                                <td style="padding:10px 0px 250px 0px;">{{record.lstMdlTransectionInfo.netIncome.January | currency}}</td>
                                <td style="padding:10px 0px 250px 0px;">{{record.lstMdlTransectionInfo.netIncome.February | currency}}</td>
                                <td style="padding:10px 0px 250px 0px;">{{record.lstMdlTransectionInfo.netIncome.March | currency}}</td>
                                <td style="padding:10px 0px 250px 0px;">{{record.lstMdlTransectionInfo.netIncome.April | currency}}</td>
                                <td style="padding:10px 0px 250px 0px;">{{record.lstMdlTransectionInfo.netIncome.May | currency}}</td>
                                <td style="padding:10px 0px 250px 0px;">{{record.lstMdlTransectionInfo.netIncome.June | currency}}</td>
                                <td style="padding:10px 0px 250px 0px;">{{record.lstMdlTransectionInfo.netIncome.July | currency}}</td>
                                <td style="padding:10px 0px 250px 0px;">{{record.lstMdlTransectionInfo.netIncome.August | currency}}</td>
                                <td style="padding:10px 0px 250px 0px;">{{record.lstMdlTransectionInfo.netIncome.September | currency}}</td>
                                <td style="padding:10px 0px 250px 0px;">{{record.lstMdlTransectionInfo.netIncome.October | currency}}</td>
                                <td style="padding:10px 0px 250px 0px;">{{record.lstMdlTransectionInfo.netIncome.November | currency}}</td>
                                <td style="padding:10px 0px 250px 0px;">{{record.lstMdlTransectionInfo.netIncome.December | currency}}</td>
                                <td style="padding:10px 0px 250px 0px;">{{record.lstMdlTransectionInfo.netIncome.January + record.lstMdlTransectionInfo.netIncome.February + record.lstMdlTransectionInfo.netIncome.March + record.lstMdlTransectionInfo.netIncome.April + record.lstMdlTransectionInfo.netIncome.May + record.lstMdlTransectionInfo.netIncome.June + record.lstMdlTransectionInfo.netIncome.July + record.lstMdlTransectionInfo.netIncome.August + record.lstMdlTransectionInfo.netIncome.September + record.lstMdlTransectionInfo.netIncome.October + record.lstMdlTransectionInfo.netIncome.November + record.lstMdlTransectionInfo.netIncome.December | currency}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->