﻿<style>
    .popover.bottom .arrow {
        left: 14%;
    }

    .nav_ul {
       top: 51px;
       position: absolute;
       right: 0px;
    }
    .nav_ul > li > a:hover, .nav_ul > li > a:focus, .nav_ul .open > a, .nav_ul .open > a:hover, .nav_ul .open > a:focus {
       background: #fff;
    }

    .dropdown1 {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 109%;
        height: 50px;
        padding: unset !important;
    }

    .dropdown1-status > li > a {
        color: #428bca;
    }

    .dropdown1 ul.dropdown1-status {
        background: #F0F0F0;
        box-shadow: none;
        margin-top: 14px;
        width: 390px !important;
        padding: 20px;
        margin-left: -308%;
        z-index: 8;
    }

        .dropdown1 ul.dropdown1-status:before {
            content: "";
            border-bottom: 10px solid #F0F0F0;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            position: absolute;
            top: -10px;
            z-index: 10;
            right: 25px;
        }

        .dropdown1 ul.dropdown1-status:after {
            content: "";
            border-bottom: 12px solid #ccc;
            border-right: 12px solid transparent;
            border-left: 12px solid transparent;
            position: absolute;
            top: -12px;
            /* left: 14px; */
            z-index: 9;
            right: 23px;
        }

    .dropdown1-status li input {
        border-radius: 0;
    }

    .dropdown1-status li .form-control-feedback {
        top: 0;
        color: #CCC;
    }

    .btn {
        border-radius: 0;
    }

    .btn-icon-status {
        padding: 7px;
        display: block;
    }

    .dropdowntoggle, .dropdowntoggle:hover {
        background: #e20606 !important;
        border-color: #e20606 !important;
        color: #fff !important;
        font-weight: 800;
    }

    .invoiceRow {
        padding: 2%;
        background-color: #fff;
        margin-bottom: 2%;
    }

    #mdlTenantProfile .materialLabel {
        height: 40px !important;
        width: 136px !important;
        text-align: center !important;
        margin-top: 5px;
        padding: 1px 19px !important;
    }

    #mdlTenantProfile .container {
        max-width: 850px !important;
    }

    #mdlTenantProfile .profileImage {
        max-height: 100px !important;
        max-width: 100px !important;
    }

    #mdlTenantProfile .img-responsive {
        max-width: 76% !important;
        height: 130px !important;
    }

    #mdlTenantProfile .image-upload .marginnone {
        border: none !important;
        padding: 5%;
    }

    .wrap1 {
        margin-top: 65px !important;
    }

    .img-one {
        padding: 41px 47px;
        margin-right: 0px !important;
    }

    .margintop60 {
        margin-top: 60px;
    }

    .rentdueli {
        max-height: 150px;
        overflow-y: scroll;
    }
    .ovh {
      overflow:hidden;
    }
    .ovv {
      overflow:visible;
    }
    .rentduediv {
            margin-left: 15px;
    }
</style>

<div ng-controller="tenantController as TC" ng-show="!userData.isSubscriptionExpired" ng-init="TC.PageLoad()" class="min-higt" layout="column" ng-cloak>
    <md-content class="content layout-padding flex">
        <div class="clearfix"></div>
        <div class="container-fluid">
            <div class="breadcrmb1 vt-breadcrumb ng-scope ovv" id="popupContainer">
                <div class="vt-brdcrumb-wrap col-lg-4 col-md-4 col-sm-4 col-xs-10">
                    <img class="bld-img" src="images/bld-icon.png">
                    <h5>
                        Tenants
                        <br><span><a href="">Home</a></span>
                    </h5>
                </div>
                <div class="vt-brdcrumb-wrap col-lg-4 col-md-4 col-sm-2"></div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-10">
                    <div class="vt-filter">
                        <div class="text-right">
                            <div class="dropdown margintop3">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    More Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu padd10topBottom">
                                    <li><a href="#payment">Make Payment</a></li>
                                    <li><a ng-click="TC.RegistrationModel()">Edit Profile</a></li>
                                    <li><a href="#PropayProfile">Payment Profile</a></li>
                                    <!--<li><a ng-click="TC.MerchantRegistrationModel()">Payment Profile</a></li>-->
                                </ul>
                            </div>
                        </div>
                        <!--<a href="#payment" class="vt-btn2">Make Payment</a>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container wrap2 margintop60">
            <div class="profile-div col-lg-12 col-md-12 col-sm-12 col-xs-12  marg_auto">
                <div class="col-lg-3  col-md-4 col-sm-4 colxs-12 profile-left">
                    <div class="prof-wrap1 text-center">
                        <div class="img-one div_image" id="divimage2">
                        </div>
                    </div>
                    <div class="prof-wrap2">
                        <div class="row">
                            <div class="col-md-12" ng-if="userData != null">
                                <a ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false" data-toggle="modal" data-target="#mdlChangePassword" class="fontsize14"><i class="fa fa-lock"></i> &nbsp;Change Password</a>
                            </div>
                        </div>   
                        <span><i class="material-icons">email</i>{{TC.tenantData.PersonInfo.pEmail}}</span>
                        <span><i class="material-icons">phone</i> {{TC.tenantData.PersonInfo.pPhoneNo}}</span>
                        <span ng-if="TC.tenantData.PersonInfo.pFaxNo != null && TC.tenantData.PersonInfo.pFaxNo != ' ' && TC.tenantData.PersonInfo.pFaxNo != ''"><i class="material-icons">print</i> {{TC.tenantData.PersonInfo.pFaxNo}}</span>
                        <h5 ng-hide="TC.selectedLeaseData.lstEmergencyContact[0].fullname == null && TC.selectedLeaseData.lstEmergencyContact[0].phoneNo == null">Emergency Contact</h5>
                        <span ng-if="TC.selectedLeaseData.lstEmergencyContact[0].fullname != null"><i class="material-icons">person</i> {{TC.selectedLeaseData.lstEmergencyContact[0].fullname}}</span>
                        <span ng-if="TC.selectedLeaseData.lstEmergencyContact[0].phoneNo != null"><i class="material-icons">phone</i> {{TC.selectedLeaseData.lstEmergencyContact[0].phoneNo}}</span>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 profile-right">
                    <div class="tenants-div prof-wrap3">
                        <h3>{{TC.tenantData.PersonInfo.pFullName}}</h3>
                        <p>{{TC.tenantData.PersonInfo.pAddress }}{{TC.tenantData.PersonInfo.pCityName }} {{TC.tenantData.PersonInfo.pCountyName }} {{TC.tenantData.PersonInfo.pZipcode}}</p>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0;">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6" style="border: 1px solid #ebebeb;">
                                <label>Select Lease</label>
                                <select class="form-control" ng-model="TC.selectLease"
                                        ng-options="item for item in TC.LeaseId" ng-change="TC.GetLeaseData()"></select>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <ul class="tenants-ul">
                                <li>Lease ID: <span>{{TC.selectLease}}</span></li>
                                <li>Move in date: <span>{{TC.selectedLeaseData.lstTenantLease[0].pStartDate | date}}</span></li>
                                <li>Move out date: <span>{{TC.selectedLeaseData.lstTenantLease[0].pEndDate | date}}</span></li>
                                <li>Rent: <span>{{TC.selectedLeaseData.lstTenantLease[0].pRentalAmount | currency}}</span></li>
                                <li>Security Deposit: <span>${{TC.selectedLeaseData.lstTenantLease[0].pSecurityDeposit}}</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <ul class="tenants-ul">
                                <li>Property: <span>{{TC.selectedLeaseData.lstTenantLease[0].pPropertyName}}</span></li>
                                <li>Rent area: <span>{{TC.selectedLeaseData.lstTenantLease[0].pRentableArea == 0 ? 'N/A' : TC.selectedLeaseData.lstTenantLease[0].pRentableArea}} {{TC.selectedLeaseData.lstTenantLease[0].pRentableArea == 0 ? '' : 'sq.ft'}}</span></li>
                                <li>Vehicles: <span>{{TC.selectedLeaseData.lstVehicle.length == 0 ? 'N/A' : TC.selectedLeaseData.lstVehicle.length}}</span></li>
                                <li>Location: <span>{{TC.selectedLeaseData.lstTenantLease[0].pAddress  }} {{TC.selectedLeaseData.lstTenantLease[0].pCounty }} {{ TC.selectedLeaseData.lstTenantLease[0].pCity}}</span></li>
                            </ul>
                        </div>
                        <div ng-if="TC.selectedLeaseData.lstPendingRentInvoices.length > 0">
                            <ul class="nav nav_ul navbar-nav">
                                <li class="dropdown1">
                                    <a href="#" class="dropdown-toggle dropdowntoggle" data-toggle="dropdown">{{TC.selectedLeaseData.lstPendingRentInvoices.length}} Rent Due</a> <!--dropdown-toggle-->
                                    <ul class="dropdown1-status dropdown-menu">
                                        <li class="row rentdueli">
                                            <div ng-repeat="rentInvoice in TC.selectedLeaseData.lstPendingRentInvoices" class="rentduediv">
                                                <div class="col-md-12 invoiceRow">
                                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                        <div class="col-md-12">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                Invoice No :
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                <strong>{{rentInvoice.number}}</strong>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                Invoice Date :
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                <strong> {{rentInvoice.date | date}}</strong>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                Due Date :
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                <strong> {{rentInvoice.dueDate | date}} </strong>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                        <button class="btn btn-primary" ng-click="TC.PayInvoice(rentInvoice.id,rentInvoice.number,TC.tenantData.PersonInfo.pFullName,TC.selectedLeaseData.lstTenantLease[0].pPropertyName,rentInvoice.date,rentInvoice.propertyID,rentInvoice.from,rentInvoice.dueDate,userData.ManagerDetail.pEmail)">Pay</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                   
                    <div class="prof-wrap4" ng-if="TC.selectedLeaseData.lstOccupant.length > 0">
                        <h4>Occupants</h4>
                        <ul class="tenants-ul1">
                            <li ng-repeat="occupent in TC.selectedLeaseData.lstOccupant">
                                {{occupent.occFullName }} <span>({{occupent.relation}})</span>
                            </li>
                        </ul>
                    </div>
                    <div class="prof-wrap4" ng-if="TC.selectedLeaseData.lstVehicle.length > 0">
                        <h4>Vehicles</h4>
                        <ul class="tenants-ul1">
                            <li ng-repeat="vehical in TC.selectedLeaseData.lstVehicle">
                                {{vehical.vehicleName}}
                            </li>
                        </ul>
                    </div>

                    <div class="prof-wrap4" ng-if="TC.selectedLeaseData.lstPetInfo.length > 0">
                        <h4>Pets</h4>
                        <ul class="tenants-ul1">
                            <li ng-repeat="pet in TC.selectedLeaseData.lstPetInfo">
                                {{pet.petName}}
                            </li>
                        </ul>
                    </div>
                    <div class="prof-wrap4" ng-if="TC.selectedLeaseData.lstReference.length > 0">
                        <h4>References</h4>
                        <div ng-repeat="reference in TC.selectedLeaseData.lstReference">
                            <h5>{{reference.fullname}}</h5>
                            <ul class="tenants-ul1">
                                <li>Phone: <span>{{reference.phoneNo}}</span></li>
                                <li>Email: <span>{{reference.email}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
              
            </div>
            
        </div>
        <div class="clearfix"></div>

        <div class="container mar_top2em" ng-if="TC.showTab == true">
            <div class="col-lg-12 col-md-12 col-xs-12 pad_0 marg_auto">
                <ul class="tab_menu">
                    <li ng-class="tab1Class" class="first_tab"><a onclick="openCity(event, 'Transactions')" ng-click="TC.ActiveTab('Transactions');TC.setTabClass('1')">Transactions</a></li>
                    <!--<li ng-class="tab2Class"><a onclick="openCity(event, 'Invoices')" ng-click="TC.ActiveTab('Invoices');TC.setTabClass('2')">Invoices</a></li>-->
                    <!--<li ng-class="tab3Class"><a onclick="openCity(event, 'Payments')" ng-click="TC.ActiveTab('Payments');TC.setTabClass('3')">Bills</a></li>-->
                    <li ng-class="tab4Class"><a onclick="openCity(event, 'workOrder')" ng-click="TC.setTabClass('4')">Work Orders</a></li>
                    <li ng-class="tab5Class"><a onclick="openCity(event, 'leaseDocs')" ng-click="TC.setTabClass('5')">Documents</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marg_auto tab-content" ng-if="TC.showTab == true"> <div id="Transactions" class="tabcontent" style="display:block;">
                <div ng-include="'finanacialSummary.html'"></div>
            </div>
            <div id="Invoices" class="tabcontent">
                <div ng-include="'invoices.html'"></div>
            </div>
            <div id="Payments" class="tabcontent">
                <div ng-include="'bills.html'"></div>
            </div>
            <div id="workOrder" class="tabcontent  divworkorder container tab-wrap2 ">
                <div ng-include="'Work_Orders.html'"></div>
            </div>
            <div id="leaseDocs" class="tabcontent">
                <div class="container">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12">
                        <table width="100%" class="exp-table mar_btm1em mar_top1em">
                            <thead class="th-title">
                                <tr>
                                    <th width="20%">Document Name</th>
                                    <th width="20%">Document Description</th>
                                    <th width="20%">Document Tags</th>
                                    <th width="20%">Uploaded Date</th>
                                    <th width="20%">View Doc </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="doc in TC.DocsArray">
                                    <td>{{doc.Name.split('.')[0]}}</td>
                                    <td>{{doc.Description == undefined ? '' : doc.Description}}</td>
                                    <td>{{doc.Tags}}</td>
                                    <td>{{doc.CreationTime  | date}}</td>
                                    <td> <a ng-click="TC.OpenUrl(doc.LinkId +'-'+ doc.Name)">  {{doc.Name.split('.')[0]}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
    <!-- Modal -->
    <div class="modal fade" id="mdlTenantProfile" role="dialog" ng-controller="personRegistrationController" ng-init="LoadFunction()">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="m">
                    <div class="modal-header model-headerColor">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Tenant Profile</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-include="'Views/Login/RegistrationForm.html'"></div>
                    </div>
                    <div class="modal-footer" style="border-top:unset !important;">

                    </div>
                </div>
            </div>
        </div>
        <script>
            $('button[data-toggle=popover]').popover({
                html: true,
                //trigger: "click",
                content: function (e) {
                    return $('#popover_content_wrapper').html();
                }
            });
            $('button[data-toggle=popover]').on('shown.bs.popover', function () {
                $('.popover').css('left', parseInt($('.popover').css('left')) + 80 + 'px');
            });
            $('.dropdown-menu').find('form').click(function (e) {
                e.stopPropagation();
            });
        </script>
    </div>
    <div ng-include="'Views/Login/ChangePassword.html'"></div>
    <div ng-include="'Shared View/_Loader.html'"></div>
    <div ng-include="'Shared View/_MdlChangeEmail.html'"></div>
</div>
<div class="col-lg-12" style="padding: 0px 40px;" ng-if="userData.isSubscriptionExpired">
    <div class="sc-cIbcTr Nodify">
        <p class="sc-fAfrNB fnYjMI">
            <strong>👋 Hi, {{userData.Name}} .</strong>
            SubScription is Expired, Please contact to your manager .
        </p>
    </div>
</div>