﻿
<style>

   .img-one {
    border: 1px dashed #cecece;
    padding: 68px 78px;
    margin-right: unset !important;
    background-size: cover;
}

</style>

<div ng-controller="tenantContactController" ng-show="!userData.isSubscriptionExpired" ng-init="LoadViewTenant()" class="min-higt" layout="column" ng-cloak>
    <md-content class="content layout-padding flex">
        <div class="clearfix"></div>
        <div class="container-fluid wrap1">
            <div class="vt-breadcrumb">
                <div class="vt-brdcrumb-wrap col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <img class="bld-img" src="images/bld-icon.png" />
                    <h5>
                        View Tenant
                        <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                        <span>Contacts <img src="images/right-arrow.png" /></span>
                        <span>View Tenant</span>
                    </h5>
                </div>
                <div class="vt-filter">
                    <ul class="menu4">
                        <a ng-if="intLeaseId != 0" href="#leaseview/{{intLeaseId}}/{{propertyId}}" class="btn btn-danger vt-btn2">Cancel</a>
                        <a ng-if="intLeaseId == 0" href="#tenants" class="btn btn-danger vt-btn2">Cancel</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container wrap2">
            <div class="profile-div col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 profile-left">
                    <div class="prof-wrap1 text-center">
                        <div class="img-one div_image" id="divimage2">
                        </div>
                    </div>

                    <!--<div class="image-upload" style="margin: 10px;">
                        <div class="img-one" id="divimage">
                            <label for="file-input">
                                <i class="material-icons">add</i>
                            </label>
                            <input id="file-input" class="file1" type="file" name="image1"
                                   onchange="angular.element(this).scope().fileSelected(this)" />
                        </div>
                    </div>-->




                    <div class="prof-wrap2">
                        <div class="row">
                            <div class="col-md-6 p01">
                                <a style="float:left;" class="fontsize14" ng-click="ViewTenantProfile()"><i class="fa fa-edit"></i>&nbsp; Edit profile</a>                              
                            </div>
                            <div class="col-md-6 p0"> 
                                <a ng-click="ShowModel(tenantData.PersonInfo.pEmail)" data-toggle="modal" data-target="#mdlChangeEmail" class="fontsize14"><i class="fa fa-envelope"></i>&nbsp; Change Email</a>
                            </div>
                        </div>   
                                         
                        <span><i class="material-icons">email</i>{{tenantData.PersonInfo.pEmail}}</span>
                        <span><i class="material-icons">phone</i> {{tenantData.PersonInfo.pPhoneNo}}</span>
                        <span ng-if="tenantData.PersonInfo.pFaxNo != null && tenantData.PersonInfo.pFaxNo != ' ' && tenantData.PersonInfo.pFaxNo != ''"><i class="material-icons">print</i> {{tenantData.PersonInfo.pFaxNo}}</span>
                        <h5 ng-hide="selectedLeaseData.lstEmergencyContact[0].fullname == null && selectedLeaseData.lstEmergencyContact[0].phoneNo == null">Emergency Contact</h5>
                        <span ng-if="selectedLeaseData.lstEmergencyContact[0].fullname != null"><i class="material-icons">person</i> {{selectedLeaseData.lstEmergencyContact[0].fullname}}</span>
                        <span ng-if="selectedLeaseData.lstEmergencyContact[0].phoneNo != null"><i class="material-icons">phone</i> {{selectedLeaseData.lstEmergencyContact[0].phoneNo}}</span>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 profile-right">
                    <div class="tenants-div prof-wrap3" style="padding:5px 25px 18px">

                        <h3>{{tenantData.PersonInfo.pFullName}}</h3>
                        <p>{{tenantData.PersonInfo.pAddress }}{{tenantData.PersonInfo.pCityName }} {{tenantData.PersonInfo.pCountyName }} {{tenantData.PersonInfo.pZipcode}}</p>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0;">
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6" style="border: 1px solid #ebebeb;">
                                <label>Select Lease</label>                                
                                <select class="form-control" ng-model="selectLease"
                                        ng-options="item for item in LeaseId" ng-change="GetLeaseData()"></select>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <ul class="tenants-ul">
                                <li>Lease ID: <span>{{selectLease}}</span></li>
                                <li>Move in date: <span>{{selectedLeaseData.lstTenantLease[0].pStartDate | date}}</span></li>
                                <li>Move out date: <span>{{selectedLeaseData.lstTenantLease[0].pEndDate | date}}</span></li>
                                <li>Rent: <span>{{selectedLeaseData.lstTenantLease[0].pRentalAmount | currency}}</span></li>
                                <li>Security Deposit: <span>${{selectedLeaseData.lstTenantLease[0].pSecurityDeposit}}</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <ul class="tenants-ul">
                                <li>Property: <span>{{selectedLeaseData.lstTenantLease[0].pPropertyName}}</span></li>
                                <li>Rent area: <span>{{selectedLeaseData.lstTenantLease[0].pRentableArea == 0 ? 'N/A' : selectedLeaseData.lstTenantLease[0].pRentableArea}} {{selectedLeaseData.lstTenantLease[0].pRentableArea == 0 ? '' : 'sq.ft'}}</span></li>
                                <li>Vehicles: <span>{{selectedLeaseData.lstVehicle.length == 0 ? 'N/A' : selectedLeaseData.lstVehicle.length}}</span></li>
                                <li>Location: <span>{{selectedLeaseData.lstTenantLease[0].pAddress  }} {{selectedLeaseData.lstTenantLease[0].pCounty }} {{ selectedLeaseData.lstTenantLease[0].pCity}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="prof-wrap4" ng-if="selectedLeaseData.lstOccupant.length > 0">
                        <h4>Occupants</h4>
                        <ul class="tenants-ul1">
                            <li ng-repeat="occupent in selectedLeaseData.lstOccupant">
                                {{occupent.occFullName }} <span>({{occupent.relation}})</span>
                            </li>
                        </ul>
                    </div>
                    <div class="prof-wrap4" ng-if="selectedLeaseData.lstVehicle.length > 0">
                        <h4>Vehicles</h4>
                        <ul class="tenants-ul1">
                            <li ng-repeat="vehical in selectedLeaseData.lstVehicle">
                                {{vehical.vehicleName}}
                            </li>
                        </ul>
                    </div>

                    <div class="prof-wrap4" ng-if="selectedLeaseData.lstPetInfo.length > 0">
                        <h4>Pets</h4>
                        <ul class="tenants-ul1">
                            <li ng-repeat="pet in selectedLeaseData.lstPetInfo">
                                {{pet.petName}}
                            </li>
                        </ul>
                    </div>
                    <div class="prof-wrap4" ng-if="selectedLeaseData.lstReference.length > 0">
                        <h4>References</h4>
                        <div ng-repeat="reference in selectedLeaseData.lstReference">
                            <h5>{{reference.fullname}}</h5>
                            <ul class="tenants-ul1">
                                <li>Phone: <span>{{reference.phoneNo}}</span></li>
                                <li>Email: <span>{{reference.email}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="container mar_top2em">
            <div class="col-lg-12 col-md-12 col-xs-12 pad_0 marg_auto">
                <ul class="tab_menu">
                    <li ng-class="tab1Class" class="first_tab active2"><a onclick="openCity(event, 'Transactions')" ng-click="ActiveTab('Transactions');setTabClass('1')" id="defaultOpen">Transactions</a></li>
                    <!--<li ng-class="tab2Class"><a onclick="openCity(event, 'Invoices')" ng-click="ActiveTab('Invoices');setTabClass('2')">Invoices</a></li>
                    <li ng-class="tab3Class"><a onclick="openCity(event, 'Payments')" ng-click="ActiveTab('Payments');setTabClass('3')">Bills</a></li>-->
                    <li ng-class="tab4Class"><a onclick="openCity(event, 'leaseDocs')" ng-click=";setTabClass('4')">Documents</a></li>                   
                </ul>
            </div>
        </div>

        <div>
            <div>
                <div>

                    <div id="Transactions" class="tabcontent" style="display:block;">
                        <div ng-include="'finanacialSummary.html'"></div>
                    </div>

                    <div id="Invoices" class="tabcontent">
                        <div ng-include="'invoices.html'"></div>
                    </div>

                    <div id="Payments" class="tabcontent">
                        <div ng-include="'bills.html'"></div>
                    </div>
                    <!--<div id="OnlineStatement" class="tabcontent">
                        <div ng-include="'./Views/Report/OnlineStatement.html'"></div>
                    </div>-->
                    <div id="workOrder" class="tabcontent">
                    </div>

                    <div id="leaseDocs" class="tabcontent">
                        <div class="container">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bor_col12">
                                <table width="100%" class="exp-table mar_btm1em mar_top1em">
                                    <thead class="th-title">
                                        <tr>
                                            <th width="20%">Document Name</th>
                                            <th width="20%">Document Description</th>
                                            <th width="20%">Document Tags</th>
                                            <th width="20%">Uploaded Date</th>
                                            <th width="20%">View Doc </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" ng-if="DocsArray.length < 1">
                                            <td colspan="5">
                                                <p class="P-Center">No Record Found</p>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="doc in DocsArray" ng-if="DocsArray.length > 0">
                                            <td>{{doc.Name.split('.')[0]}}</td>
                                            <td>{{doc.Description == undefined ? '' : doc.Description}}</td>
                                            <td>{{doc.Tags}}</td>
                                            <td>{{doc.CreationTime  | date}}</td>
                                            <td> <a ng-click="OpenUrl(doc.LinkId +'-'+ doc.Name)">  {{doc.Name.split('.')[0]}}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </md-content>
    <div ng-include="'Shared View/_Loader.html'"></div>
    <div ng-include="'Shared View/_MdlChangeEmail.html'"></div>

    <div id="mdlTenantProfile" class="modal fade-scale" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header model-headerColor">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Tenant Info</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div>
                            <form class="ng-pristine ng-valid" role="form" name="frmEditTenant" novalidate autocomplete="off">
                                <!--<fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Personal Info</legend>-->
                                <div class="clearfix"></div>
                                <div class="padd_zero col-lg-12">

                                    <div class="padd-lease col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label cl>
                                                First Name
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmEditTenant.pFirstName.$dirty && frmEditTenant.pFirstName.$invalid">
                                                    <span ng-show="frmEditTenant.pFirstName.$error.required">First name is required.</span>
                                                </span>
                                            </label>
                                            <div class="form-group">
                                                <input class="form2" type="text" placeholder="Name"
                                                       maxlength="95" ng-model="mdlTenatData.pFirstName" name="pFirstName" required>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label cl>
                                                Last Name
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmEditTenant.pLastName.$dirty && frmEditTenant.pLastName.$invalid">
                                                    <span ng-show="frmEditTenant.pLastName.$error.required">Last name is required.</span>
                                                </span>
                                            </label>
                                            <div class="form-group">
                                                <input class="form2" type="text" placeholder="Name"
                                                       maxlength="95" ng-model="mdlTenatData.pLastName" name="pLastName" required>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label>
                                                Phone No
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmEditTenant.pPhoneNo.$dirty && frmEditTenant.pPhoneNo.$invalid">
                                                    <span ng-show="frmEditTenant.pPhoneNo.$error.required">Phone number is required.</span>
                                                </span>
                                            </label>
                                            <div class="form-group">
                                                <input class="form2" type="text"
                                                       ng-model="mdlTenatData.pPhoneNo" name="pPhoneNo"
                                                       maxlength="95" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject" required>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="padd_zero col-lg-12">

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>
                                            Address Line-1
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmEditTenant.pAdrsLine1.$dirty && frmEditTenant.pAdrsLine1.$invalid">
                                                <span ng-show="frmEditTenant.pAdrsLine1.$error.required">Address is required.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="text" placeholder="Enter Address Line 1"
                                                   ng-model="mdlTenatData.pAdrsLine1" name="pAdrsLine1" required>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label>
                                            Address Line-2
                                        </label>
                                        <div class="form-group">
                                            <input class="form2" type="text" placeholder="Enter Address Line 2"
                                                   ng-model="mdlTenatData.pAdrsLine2" name="pAdrsLine2">
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label for="country">
                                            Country:
                                            <span class="errormsg">*</span>
                                            <span class="errormsg" ng-show="frmEditTenant.country.$dirty && frmEditTenant.country.$invalid">
                                                <span ng-show="frmEditTenant.country.$error.required">Select a country.</span>
                                            </span>
                                        </label>
                                        <div class="form-group">


                                            <ui-select ng-model="mdlCountryState.selectedCountry" theme="selectize"
                                                       name="country" required>
                                                <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="country in Country | orderBy : 'Name' | filter: $select.search">
                                                    <span ng-bind-html="country.Name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>




                                    <div class="clearfix"></div>
                                    <div class="padd_zero col-lg-12">

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label for="state">
                                                State:
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmEditTenant.state.$dirty && frmEditTenant.state.$invalid">
                                                    <span ng-show="frmEditTenant.state.$error.required">Select a state.</span>
                                                </span>

                                            </label>
                                            <div class="form-group">

                                                <ui-select ng-model="mdlCountryState.selectedState" theme="selectize"
                                                           name="state"
                                                           ng-disabled="mdlCountryState.selectedCountry == undefined || mdlCountryState.selectedCountry == ''"
                                                           on-select="GetCountyByStateId(mdlCountryState.selectedState)"
                                                           title="" required>
                                                    <ui-select-match placeholder="">{{$select.selected.Name}}</ui-select-match>
                                                    <ui-select-choices repeat="state in State | orderBy : 'Name' | filter: $select.search">
                                                        <span ng-bind-html="state.Name | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">

                                            <label>County</label>
                                            <div class="form-group">
                                                <ui-select ng-model="mdlCountryState.selectedCounty" theme="selectize"
                                                           name="county"
                                                           ng-disabled="mdlCountryState.selectedState == undefined || mdlCountryState.selectedState == ''"
                                                           on-select="ChangeCity(mdlCountryState.selectedCounty)"
                                                           title="">
                                                    <ui-select-match placeholder="">
                                                        {{$select.selected.name}}
                                                        <button class="clearddl" data-toggle="tooltip" data-placement="bottom" title="Cancel selection" ng-click="clearddl($event)">X</button>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="county in County | orderBy : 'name' | filter: $select.search">
                                                        <span ng-bind-html="county.name | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label for="city">
                                                City:
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmEditTenant.city.$dirty && frmEditTenant.city.$invalid">
                                                    <span ng-show="frmEditTenant.city.$error.required">Select a city.</span>
                                                </span>
                                            </label>
                                            <div class="form-group">
                                                <ui-select ng-model="mdlCountryState.selectedCity" theme="selectize"
                                                           name="city"
                                                           ng-disabled="mdlCountryState.selectedState == undefined || mdlCountryState.selectedState == ''"
                                                           on-select="ChangeZip()"
                                                           title="" required>
                                                    <ui-select-match placeholder="">{{$select.selected.Name}}</ui-select-match>
                                                    <ui-select-choices repeat="city in City | orderBy : 'Name' | filter: $select.search | limitTo:35">
                                                        <span ng-bind-html="city.Name | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="padd_zero col-lg-12">
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label>
                                                Zip Code
                                                <span class="errormsg">*</span>
                                                <span class="errormsg" ng-show="frmEditTenant.zipCode.$dirty && frmEditTenant.zipCode.$invalid">
                                                    <span ng-show="frmEditTenant.zipCode.$error.pattern"> The zip code must have 5 digits with an optional - and 4 more digits.</span>
                                                    <span ng-show="frmEditTenant.zipCode.$error.required">zip code is required.</span>
                                                </span>
                                                <span ng-if="!pZipValid" class="errormsg">Invalid ZipCode</span>
                                            </label>

                                            <input type="text" class="form2" ng-model="mdlTenatData.pZipcode"
                                                   ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/"
                                                   ng-blur="ValidatePersonInfoZipCode(mdlTenatData.pZipcode,'PersonInfoZip')" name="zipCode" id="PersonInfoZip"
                                                   placeholder="ZipCode" maxlength="10" required />
                                        </div>
                                    </div>
                                </div>
                                <!--</fieldset>-->


                                <div class="clearfix"></div>

                                <div class="padd_zero col-lg-12" style="margin-top:10px;">
                                    <div class="col-md-6 col-sm-6 col-xs-6 form-group" style="padding-left: 5px;">
                                        <button type="button" class="btn vt-btn2  btn1" data-dismiss="modal">Cancel</button>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 form-group text-right" style="padding-right: 5px;">
                                        <button class="btn vt-btn1 btn1 text-right floatRight" ng-disabled="frmEditTenant.$invalid"
                                                type="submit" ng-click="UpdateTenantDetail(frmEditTenant)">
                                            Save
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
