﻿
<div class="min-higt" ng-controller="CompanyController as CC" ng-show="!userData.isSubscriptionExpired" ng-init="LoadFunction()" ng-cloak>

    <div class="container-fluid wrap1">
        <div class="vt-breadcrumb">
            <div class="col-md-5 col-xs-12 vt-brdcrumb-wrap">
                <img class="bld-img" src="images/bld-icon.png" />
                <h5>
                    Company Profile
                    <br /><span><a href="#home">Home</a> <img src="images/right-arrow.png" /></span>
                    <span>PM Admin <img src="images/right-arrow.png" /></span>
                    <span>Company Profile </span>
                </h5>
            </div>
        </div>
    </div>
    <div>
        <div class="container-fluid">
            <div>

                <div class="container">
                    <div class="tab-content">
                        <div id="step1" class="tab-pane fade in active">
                            <div id="accord4" class="work-wrap">
                                <div class="lease-form col-xs-12">
                                    <form class="ng-pristine ng-valid" role="form" name="frmCompanyProfile" novalidate autocomplete="off">

                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border">Company Info</legend>
                                            <div class="text-right" ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">
                                                <a ng-if="CC.EditCompanyInfo" ng-click="Edit('EditCompanyInfo')"><i class="fa fa-pencil"></i> Edit</a>
                                                <a ng-if="CC.EditCompanyInfo == false" ng-click="Cancel()"><i class="fa fa-times"></i> Cancel</a>
                                            </div>
                                            <div class="image-upload col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <i class="fa fa-window-close removeProfileImage" onclick="angular.element(this).scope().removeProfileImage()"></i>
                                                <div class="img-one" id="divimage">
                                                    <label for="file-input">
                                                        <i class="material-icons">add</i>
                                                    </label>
                                                    <input id="file-input" class="file1" type="file" name="image" accept="image/gif,image/jpeg,image/jpg, image/png"
                                                           onchange="angular.element(this).scope().fileSelected(this)" />
                                                </div>
                                                <!--<div class="row marginnone">
                                                    <div class="col-md-12 text-center">
                                                        <img class="img-responsive disp profileImage" ng-src="data:image/png;base64,{{logo.base64}}" />
                                                    </div>
                                                    <div class="col-md-12 text-center">
                                                        <label class="materialLabel" for="file-input">
                                                            <i class="material-icons">add</i>
                                                        </label>
                                                        <input id="file-input" class="file1" type="file" accept="image/gif,image/jpeg,image/jpg, image/png" ng-model="logo" name="file" base-sixty-four-input maxsize="500" ng-disabled="CC.EditCompanyInfo" />
                                                    </div>
                                                </div>-->
                                            </div>

                                            <div class="padd-lease col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                <div class="col-md-6 col-sm-6 col-xs-12" ng-if="1 != 1">
                                                    <label>
                                                        Company URL
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="frmCompanyProfile.companyUrl.$dirty && frmCompanyProfile.companyUrl.$invalid">
                                                            <span ng-show="frmCompanyProfile.companyUrl.$error.required">Company URL is required.</span>
                                                        </span>
                                                        <span class="errormsg">
                                                            <span ng-show="isCompanyURLExist == true">Company with this url already exist.</span>
                                                        </span>
                                                    </label>
                                                    <div class="form-group">

                                                        <input type="text" placeholder="Company URL" ng-disabled="true"
                                                               ng-model="mdlCompany.url" name="companyUrl" required>  <!--ng-blur="validateCompanyURL()"-->
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label>
                                                        Company Name
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="frmCompanyProfile.companyName.$dirty && frmCompanyProfile.companyName.$invalid">
                                                            <span ng-show="frmCompanyProfile.companyName.$error.required">Company Name is required.</span>
                                                        </span>
                                                    </label>
                                                    <div class="form-group">
                                                        <input class="form2" type="text" placeholder="Company Name" ng-disabled="CC.EditCompanyInfo"
                                                               ng-model="mdlCompany.companyName" name="companyName" required>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label>
                                                        Email
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="frmCompanyProfile.email.$dirty && frmCompanyProfile.email.$invalid">
                                                            <span ng-show="frmCompanyProfile.email.$error.required && frmCompanyProfile.email.$dirty">Email is required.</span>
                                                            <span ng-show="frmCompanyProfile.email.$error.pattern">Invalid email</span>
                                                        </span>
                                                        <span class="errormsg">
                                                            <span ng-show="isExist == true">Email is already exist.</span>
                                                        </span>
                                                    </label>
                                                    <div class="form-group">
                                                        <input class="form2" type="email" placeholder="Enter email" ng-disabled="CC.EditCompanyInfo"
                                                               ng-pattern="emailAddessPattern" ng-model="mdlCompany.email" name="email"
                                                               ng-blur="CompanyEmailExist()" required>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label>Phone No</label>
                                                    <div class="form-group">
                                                        <input class="form2" type="text" ng-disabled="CC.EditCompanyInfo"
                                                               ng-model="mdlCompany.phone" name="phone" placeholder="(999) 999-9999" mask="(999) 999-9999" clean="true" restrict="reject">  <!--numbers-only-->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                            <div class="padd_zero col-lg-12 mar_top_button">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label>
                                                        Address Line-1
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="frmCompanyProfile.line1.$dirty && frmCompanyProfile.line1.$invalid">
                                                            <span ng-show="frmCompanyProfile.line1.$error.required">Address is required.</span>
                                                        </span>
                                                    </label>
                                                    <div class="form-group">
                                                        <input class="form2" type="text" placeholder="Enter Address Line 1" ng-disabled="CC.EditCompanyInfo"
                                                               ng-model="mdlCompany.line1" name="line1" required>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <label> Address Line-2</label>
                                                    <div class="form-group">
                                                        <input class="form2" type="text" placeholder="Enter Address Line 2" ng-disabled="CC.EditCompanyInfo"
                                                               ng-model="mdlCompany.line2" name="line2">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label for="country">
                                                        Country:
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="frmCompanyProfile.country.$dirty && frmCompanyProfile.country.$invalid">
                                                            <span ng-show="frmCompanyProfile.country.$error.required">Select a country.</span>
                                                        </span>
                                                    </label>
                                                    <div class="form-group">
                                                        <div>
                                                            <ui-select ng-model="mdlCountryState.selectedCountry" theme="selectize"
                                                                       name="country" ng-disabled="CC.EditCompanyInfo"
                                                                       title="Select Country" required>
                                                                <ui-select-match placeholder="Select or search a country">{{$select.selected.Name}}</ui-select-match>
                                                                <ui-select-choices repeat="country in Country | orderBy : 'Name' | filter: $select.search">
                                                                    <span ng-bind-html="country.Name | highlight: $select.search"></span>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label for="state">
                                                        State:
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="frmCompanyProfile.state.$dirty && frmCompanyProfile.state.$invalid">
                                                            <span ng-show="frmCompanyProfile.state.$error.required">Select a state.</span>
                                                        </span>
                                                    </label>
                                                    <div class="form-group">
                                                        <div>
                                                            <ui-select ng-model="mdlCountryState.selectedState" theme="selectize"
                                                                       name="state" ng-disabled="mdlCountryState.selectedCountry == undefined || mdlCountryState.selectedCountry == '' || CC.EditCompanyInfo"
                                                                       on-select="GetCountyByStateId($model)" title="Select State" required>
                                                                <ui-select-match placeholder="Select or search a state">{{$select.selected.Name}}</ui-select-match>
                                                                <ui-select-choices repeat="state in State | orderBy : 'Name' | filter: $select.search">
                                                                    <span ng-bind-html="state.Name | highlight: $select.search"></span>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label>County</label>
                                                    <div class="form-group">
                                                        <div>
                                                            <ui-select ng-model="mdlCountryState.selectedCounty" theme="selectize"
                                                                       name="county" ng-disabled="mdlCountryState.selectedState == undefined || mdlCountryState.selectedState == '' || CC.EditCompanyInfo"
                                                                       title="Select county" on-select="ChangeCity($model)">
                                                                <ui-select-match placeholder="Select or search a county">
                                                                    {{$select.selected.name}}
                                                                    <button ng-if="!CC.EditCompanyInfo" class="clearddl" data-toggle="tooltip" data-placement="bottom" title="Cancel selection" ng-click="clearddl($event)">X</button>
                                                                </ui-select-match>
                                                                <ui-select-choices repeat="county in County | orderBy : 'name' | filter: $select.search">
                                                                    <span ng-bind-html="county.name | highlight: $select.search"></span>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label for="city">
                                                        City:
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="frmCompanyProfile.city.$dirty && frmCompanyProfile.city.$invalid">
                                                            <span ng-show="frmCompanyProfile.city.$error.required">Select a city.</span>
                                                        </span>

                                                    </label>
                                                    <div class="form-group">
                                                        <div>
                                                            <ui-select ng-model="mdlCountryState.selectedCity" theme="selectize"
                                                                       name="city" ng-disabled="mdlCountryState.selectedState == undefined || mdlCountryState.selectedState == '' || CC.EditCompanyInfo"
                                                                       title="Select city" on-select="ChangeZip()" required>
                                                                <ui-select-match placeholder="Select or search a city">{{$select.selected.Name}}</ui-select-match>
                                                                <ui-select-choices repeat="city in City | orderBy : 'Name' | filter: $select.search | limitTo:35">
                                                                    <span ng-bind-html="city.Name | highlight: $select.search"></span>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label>
                                                        Zip Code
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="frmCompanyProfile.zipcode.$dirty && frmCompanyProfile.zipcode.$invalid">

                                                            <span ng-show="frmCompanyProfile.zipcode.$error.required">zip code is required.</span>
                                                            <span ng-show="frmCompanyProfile.zipcode.$error.pattern"> The zip code must have 5 digits with an optional - and 4 more digits.</span>
                                                        </span>
                                                        <span ng-if="!pZipValid" class="errormsg">Invalid ZipCode</span>
                                                    </label>
                                                    <input type="text" class="form2" ng-model="mdlCompany.zipCode"
                                                           ng-disabled="CC.EditCompanyInfo"
                                                           ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/"
                                                           ng-blur="ValidateZipCode(mdlCompany.zipCode,'companyZip')" name="zipcode" id="companyZip"
                                                           placeholder="ZipCode" maxlength="10" required />
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <label>Fax</label>
                                                    <div class="form-group">
                                                        <input class="form2" type="text" placeholder="1234567890" ng-disabled="CC.EditCompanyInfo"
                                                               maxlength="10" ng-model="mdlCompany.fax" name="fax" numbers-only>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12">

                                                    <div class="company_register">
                                                        <input type="checkbox" style="height:20px; width:20px;" ng-model="mdlCompany.useCompanyInfoForDisplay" ng-checked="mdlCompany.useCompanyInfoForDisplay">
                                                    </div>
                                                    <span class="register_text">Use company Info for all invoices, billing and owner/tenant communications</span>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="clearfix"></div>
                                        <fieldset class="scheduler-border">
                                            <legend class="scheduler-border">Company Home Page Setting</legend>

                                            <div class="text-right">
                                                <a ng-click="Preview()"><i class="fa fa-search"></i> Preview</a>
                                            </div>

                                            <div class="image-upload padd_zero col-lg-12">
                                                <h4 class="heading_text">Slider Images</h4>
                                                <div class="row marginnone" style="margin-bottom:unset!important;">
                                                    <div class="image-upload col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <div class="img-one" id="divimage1">
                                                            <label for="file-input3" style="padding:unset!important;">
                                                                <i class="material-icons">add</i>
                                                            </label>
                                                            <input id="file-input3" class="file2" type="file" name="image1" accept="image/gif,image/jpeg,image/jpg, image/png"
                                                                   onchange="angular.element(this).scope().SliderImageSelected(this)" ng-model="sliderImage1" base-sixty-four-input maxsize="7000" />
                                                        </div>
                                                    </div>
                                                    <div class="image-upload col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <div class="img-one" id="divimage2">
                                                            <label for="file-input1" style="padding:unset!important;">
                                                                <i class="material-icons">add</i>
                                                            </label>
                                                            <input id="file-input1" class="file2" type="file" name="image2" accept="image/gif,image/jpeg,image/jpg, image/png"
                                                                   onchange="angular.element(this).scope().SliderImageSelected(this)" />
                                                        </div>
                                                    </div>
                                                    <div class="image-upload col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <div class="img-one" id="divimage3">
                                                            <label for="file-input2" style="padding:unset!important;">
                                                                <i class="material-icons">add</i>
                                                            </label>
                                                            <input id="file-input2" class="file3" type="file" name="image3" accept="image/gif,image/jpeg,image/jpg, image/png"
                                                                   onchange="angular.element(this).scope().SliderImageSelected(this)" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="image-upload padd_zero col-lg-12">
                                                <h4 class="heading_text">About Us Data</h4>
                                                <div class="row marginnone" style="margin-bottom:unset!important;">
                                                    <textarea placeholder="Enter content for about us" rows="10" ng-model="mdlCompany.aboutUs" style="resize: vertical;width:100%;" ng-disabled="userData.access == PersonRole.readonly"></textarea>
                                                </div>
                                            </div>
                                            <div class="image-upload padd_zero col-lg-12">
                                                <h4 class="heading_text">Contact Us Data</h4>
                                                <div class="row marginnone" style="margin-bottom:unset!important;">
                                                    <textarea placeholder="Enter content for contact us" rows="10" ng-model="mdlCompany.contactUs" style="resize: vertical;width:100%;" ng-disabled="userData.access == PersonRole.readonly"></textarea>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <div class="clearfix"></div>
                                        <div class="padd_zero col-lg-12" ng-if="userData.access != PersonRole.readonly">
                                            <div class="col-md-6 col-sm-6 col-xs-12 form-group paddRight_zero">
                                                <button class="btn vt-btn2  btn1"
                                                        type="submit" ng-click="Close(frmCompanyProfile)">
                                                    Close
                                                </button>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 form-group paddLeft_zero " ng-if="userData.access != PersonRole.readonly && userData.isSubscriptionExpired == false">
                                                <button class="btn vt-btn1 btn1 pull-right text-right" ng-disabled="frmCompanyProfile.$invalid || isExist == true || isCompanyURLExist == true || pZipValid == false"
                                                        type="submit" ng-click="SaveData(frmCompanyProfile)">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'Shared View/_Loader.html'"></div>
    </div>


    <div>
        <div class="modal fade-scale" id="mdlCompanyProfilePreview" role="dialog" aria-labelledby="mdlCompanyProfilePreview">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header model-headerColor">

                        <!--model-headerColor-->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Company Home Page Setting Preview</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-xs-12">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:100%!important;padding-left:0px">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators new_indicator">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active" id="sliderimage1">
                                            <!--<img class="img-responsive disp" ng-src="data:image/png;base64,{{sliderImage1.base64}}" />-->
                                            <img class="img-responsive disp"/>                                            
                                        </div>

                                        <div class="item" id="sliderimage2">
                                            <!--<img class="img-responsive disp" ng-src="data:image/png;base64,{{sliderImage2.base64}}" />-->
                                            <img class="img-responsive" src="../Views/" />  
                                         </div>

                                        <div class="item" id="sliderimage3">
                                            <img class="img-responsive" />      
                                            <!--<img class="img-responsive disp" ng-src="data:image/png;base64,{{sliderImage3.base64}}" />-->
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>-->
                                </div>
                                <div class="marginBottom20">
                                    <div><h4 class="heading_text"> About Us </h4></div>
                                    <div ng-bind-html="toTrustedHTML(mdlCompany.aboutUs)" class="about_us"> </div>
                                </div>
                                <div>

                                    <div><h4 class="heading_text"> Contact Us </h4></div>
                                    <!--<div ng-bind-html="mdlCompany.contactUs"> </div>-->


                                    <div ng-bind-html="toTrustedHTML(mdlCompany.contactUs)" class="about_us"> </div>

                                    <!--<div style="height:50px;background-color:green;width:100%;"><h3> Contact Us </h3> <hr /></div>-->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="modal-footer">


                    </div>-->
                </div>
            </div>
        </div>
    </div>



</div>
