﻿<div class="modal fade-scale" id="mdlChangeEmail" role="dialog" aria-labelledby="mdlChangeEmail">
    <div class="modal-dialog modal-sm" role="document" style="width:50% !important">
        <div class="modal-content">
            <div class="modal-header model-headerColor">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Email</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div ng-controller="changePasswordController as CP" class="login-page margintop20">
                            <form name="changeEmail" autocomplete="off">
                                <div class="padding26">
                                    <div class="row text-center">
                                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 well">
                                            <!--<p><h3>Change Email Form</h3></p>-->
                                            <div class="row padding26">
                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left marginBottom10">                                                   
                                                    <label for="oldPassword"><b>Current Email</b></label>
                                                    <input class="form2 form-control" type="text" ng-disabled="true"
                                                           ng-model="CP.mdlEmail.oldemail" name="CurrentEmail">
                                                </div>
                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left marginBottom10">
                                                    <label for="psw">
                                                        <b>New Email</b>
                                                        <span class="errormsg">*</span>
                                                        <span class="errormsg" ng-show="changeEmail.newemail.$dirty && changeEmail.newemail.$invalid">
                                                            <span ng-show="changeEmail.newemail.$error.required && changeEmail.newemail.$dirty">Email is required.</span>
                                                            <span ng-show="changeEmail.newemail.$error.pattern">Invalid email</span>
                                                        </span>
                                                        <span class="errormsg" ng-show="changeEmail.newemail.$error.pattern == undefined && changeEmail.newemail.$error.required == undefined">
                                                            <span ng-show="CP.isExist == true">Email is already exist.</span>
                                                        </span>
                                                    </label>
                                                    <input class="form-control form2" type="text" placeholder="Enter New password"
                                                           ng-model="CP.mdlEmail.newemail" name="newemail"  ng-keydown="CP.BackspaceKeyPress($event)"
                                                           ng-pattern="CP.eml_addess" ng-blur="CP.CheckEmailExist()" disallow-spaces required>
                                                </div>
                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-right margintop10" style="padding:7px">
                                                    <button class="btn vt-btn1" type="submit" ng-disabled="changeEmail.$invalid || CP.isExist == true" ng-click="CP.UpdateEmail(changeEmail)">Update Email</button>
                                                    <button type="button" class="btn vt-btn2" ng-click="CP.ClearEmailForm(changeEmail)">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div ng-include="'Shared View/_Loader.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
