﻿<div class="tab-content">
    <div class="tab-pane fade in active">
        <div id="accord4" class="report-form work-wrap">
            <div class="lease-form col-xs-12">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                    <label>Select Period</label>
                    selectCurrentPeriod               {{selectCurrentPeriod}}
                    <select class="form-control" ng-model="selectCurrentPeriod"
                            ng-options="Period.Period for Period in lstCurrentPeriod" ng-change="FilterDetailsByDate()">
                        <option selected value=""><-----Select Period-----></option>
                    </select>

                    <div ng-show="selectCurrentPeriod.Period == 'custom_date'" class="row customDateBox">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="padd7">From Date</label>
                            <div flex-gt-xs>
                                <md-datepicker ng-model="fromDate" md-placeholder="From Date"
                                               ng-init="DisableInput_DTP()" ng-change="ChangeCustomToDate()"></md-datepicker>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="padd7">To Date</label>
                            <div flex-gt-xs>
                                <md-datepicker ng-model="toDate" md-placeholder="To Date"
                                               md-min-date="fromDate" ng-init="DisableInput_DTP()"></md-datepicker>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="padd7"></label>
                            <a class="btn btn-info" ng-click="FilterDetailsByDate('custom')">Filter</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                    <label>Select Owner/Tenant</label>

                    <div id="divowner">
                        <ui-select ng-model="DetailFilterParameters.owner" theme="selectize"
                                   ng-disabled="selectCurrentPeriod == '' || selectCurrentPeriod == undefined"
                                   title="Choose a Owner/Tenant" on-select="FilterProperty(DetailFilterParameters.owner)">
                            <ui-select-match placeholder="Select or search a Owner/Tenant">{{$select.selected.ownerFullName}}</ui-select-match>
                            <ui-select-choices repeat="owners in lstPropertOwnersByManager| orderBy : 'ownerFullName' | filter: $select.search">
                                <span ng-bind-html="owners.ownerFullName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                    <label>Select Property</label>
                    <ui-select ng-model="DetailFilterParameters.property" theme="selectize"
                               ng-disabled="selectCurrentPeriod == '' || selectCurrentPeriod == undefined"
                               title="Choose a property" on-select="FilterInvoiceDetailsByProperty(DetailFilterParameters.property)">
                        <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                        <ui-select-choices repeat="property in lstPropertByManagerAndOwner| orderBy : 'propertyName' | filter: $select.search">
                            <span ng-bind-html="property.propertyName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>

                </div>
            </div>
        </div>
    </div>
</div>      