﻿
<div>
    <div class="margintop3 mar_btm1em">
        <md-radio-group ng-model="workOrderStatus" layout="row" ng-change="StatusChange()">
            <md-radio-button value="{{status}}" ng-repeat="status in arrWorkOrderStatus">{{status}}</md-radio-button>
        </md-radio-group>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-click="lstWorkOrder_OrderBy = OrderBy(lstWorkOrder_OrderBy, 'woid')">WOID</th>
                <th ng-click="lstWorkOrder_OrderBy = OrderBy(lstWorkOrder_OrderBy, 'wrid')">WRID</th>
                <th ng-click="lstWorkOrder_OrderBy = OrderBy(lstWorkOrder_OrderBy, 'requestedDate')">Requested Date</th>
                <th ng-click="lstWorkOrder_OrderBy = OrderBy(lstWorkOrder_OrderBy, 'requestedByName')">Requested By</th>
                <th ng-click="lstWorkOrder_OrderBy = OrderBy(lstWorkOrder_OrderBy, 'propertyName')">Property Name</th>
                <th ng-click="lstWorkOrder_OrderBy = OrderBy(lstWorkOrder_OrderBy, 'description')">Description</th>
                <th ng-if="workOrderStatus == 'All'">Status</th>
                <th>Documents</th>
                <th ng-if="lstWorkOrder_Filtered.length > 0"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="lstWorkOrder_Filtered.length == 0" class="text-center">
                <td colspan="6">
                    <p class="P-Center">No Record Found</p>
                </td>
            </tr>
            <tr ng-repeat="workorder in lstWorkOrder_Filtered  | orderBy : lstWorkOrder_OrderBy | offset: currentPage_lstWorkOrder *  PageService.itemsPerPage | limitTo:  PageService.itemsPerPage" ng-if="lstWorkOrder_Filtered.length != 0">

                <td>{{workorder.woid}}</td>
                <td>{{workorder.wrid}}</td>
                <td>{{workorder.requestedDate | date}}</td>
                <td>{{workorder.requestedByName}}</td>
                <td>{{workorder.propertyName}}</td>
                <td>{{workorder.description}}</td>
                <td ng-if="workOrderStatus == 'All'">{{workorder.status}}</td>
                <td>
                    <ul class="nav nav_ul navbar-nav">
                        <li class="dropdown1">
                            <div ng-click="ViewWorkOrderDoc(workorder.woid,workorder.docName)" class="dropdown-toggle docClass" data-toggle="dropdown">{{workorder.docName == null ? 'N/A' : 'View Documents'}}</div> <!--dropdown-toggle-->
                            <ul class="dropdown1-status dropdown-menu">
                                <li class="row">
                                    <div ng-repeat="document in DocArray">
                                        <div class="col-md-12 invoiceRow">
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <div class="col-md-12">
                                                    <div>
                                                        <a class="textUnderline" ng-click="openDocument(workorder.woid +'-'+ document)">{{document.split('.')[0]}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td ng-if="lstWorkOrder_Filtered.length > 0">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Action
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu padd10topBottom">
                            <li style="cursor:pointer" ng-click="" title="View Work Order">
                                <a href="#createworkorder/{{workorder.woid}}">
                                    <i class="fa fa-eye"></i>
                                    View Work Order
                                </a>
                            </li>

                            <li class="marginTop16" title="Delete Work Order" ng-if="userData.access != PersonRole.readonly">
                                <a ng-click="DeleteWorkOrder(workorder.woid)">
                                    <i class="fa fa-trash"></i>
                                    Delete Work Order
                                </a>
                            </li>

                            <li class="marginTop16" title="Delete Work Order" ng-if="userData.access != PersonRole.readonly && workorder.status != 'Closed'">
                                <a ng-click="ChangeWorkRequestStatus(workorder.wrid,'Closed')">
                                    <i class="fa fa-window-close-o"></i>
                                    Close Work Request
                                </a>
                            </li>

                            <li class="marginTop16" title="Delete Work Order" ng-if="userData.access != PersonRole.readonly && workorder.status != 'Cancelled'">
                                <a ng-click="ChangeWorkRequestStatus(workorder.wrid,'Cancelled')">
                                    <i class="fa fa-times-circle"></i>
                                    Cancel Work Request
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <ul ng-show="lstWorkOrder_Filtered.length < 1"></ul>
        <ul class="pagination" ng-show="lstWorkOrder_Filtered.length > 0">
            <li ng-class="PageService.PrevPageDisabled(CurrentSelectedPage)">
                <a ng-click="PrevClick($event)" class="fa fa-angle-double-left"> Prev</a>
            </li>
            <li ng-repeat="n in PageRange"
                ng-class="{active: n == CurrentSelectedPage}"
                ng-click="CurrentSelectedPage = n;  currentPage_lstWorkOrder = $index; pageNo = n">
                <a>{{n}}</a>
            </li>
            <li ng-class="PageService.NextPageDisabled(TotalWorkOrderCount,CurrentSelectedPage)">
                <a ng-click="NextClick($event)">Next <span class="fa fa-angle-double-right"></span></a>
            </li>
        </ul>
    </div>
</div>
