﻿
<div class="modal fade-scale" id="mdl_AddEvent" role="dialog" aria-labelledby="mdlAddEvent" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header model-headerColor">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ETC.CloseMdl_AddNewEvent(frmAddNewEvent)"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Event</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form name="frmAddNewEvent" class="ng-pristine ng-valid" role="form" novalidate autocomplete="off">
                        <div class="clearfix"></div>
                        <div class="row marginnone">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>
                                    Select Property
                                    <span class="errormsg">*</span>
                                    <span class="errormsg" ng-show="frmAddNewEvent.selectedProperty.$dirty && frmAddNewEvent.selectedProperty.$invalid">
                                        <span ng-show="frmAddNewEvent.selectedProperty.$error.required">Select property is required.</span>
                                    </span>
                                </label>                                
                                <ui-select name="selectedProperty" ng-model="ETC.mdlSelectedPropertyForAddNewEvent" theme="selectize" title="Choose a property" required>
                                    <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                                    <ui-select-choices repeat="property in ETC.lstPropertByManager| orderBy : 'propertyName' | filter: $select.search">
                                        <span ng-bind-html="property.propertyName | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group"  ng-if="!ETC.showOtherEvent">
                                <label>
                                    Event Type
                                    <span class="errormsg">*</span>
                                    <span class="errormsg" ng-show="frmAddNewEvent.ddlEventType.$dirty && frmAddNewEvent.ddlEventType.$invalid">
                                        <span ng-show="frmAddNewEvent.ddlEventType.$error.required">Event Type is required.</span>
                                    </span>
                                </label>
                                <select name="ddlEventType" ng-model="ETC.selectedEventType" class="form-control form2"
                                        ng-options="EventType for EventType in ETC.mdlEventType | orderBy : 'Name'"
                                        ng-change="ETC.EventTypeChanged(ETC.selectedEventType)"
                                        required>
                                    <option value="">Select Event Type</option>
                                </select>                              
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="ETC.showOtherEvent">
                                <label>
                                    Other Event Type
                                    <span class="errormsg">*</span>
                                    <span class="errormsg" ng-show="frmAddNewEvent.OtherEventType.$dirty && frmAddNewEvent.OtherEventType.$invalid">
                                        <span ng-show="frmAddNewEvent.OtherEventType.$error.required">Event Type is required.</span>
                                    </span>
                                </label>
                                <input type="text" class="form-control form2" name="OtherEventType"
                                       ng-model="ETC.MdlEvent.eventType" required maxlength="250"/>
                               <span style="float:right; margin-left:1em;" ng-if="ETC.MdlEvent.eventType.length > 0;"><a ng-click="ETC.MdlEvent.eventType = ''">Clear</a></span>
                                <span style="float:right;"><a ng-click="ETC.CloseOtherTypeInputBox()">Close</a></span>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>
                                    Event Date
                                </label>
                                <div class="flex-gt-xs">
                                    <md-datepicker ng-model="ETC.MdlEvent.eventDate" md-placeholder="Event Date"
                                                   ng-init="ETC.DisableInput_DTP()"></md-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="row marginnone">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>Description</label>
                                <textarea class="form2" id="frmAddNewEvent.Desciption" ng-model="ETC.MdlEvent.description"></textarea>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="!ETC.MdlEvent.eventID">
                                <label>&nbsp;</label>
                                <button type="button" ng-click="ETC.SaveNewEvent(frmAddNewEvent)" class="btn btn-success btn-block" ng-disabled="frmAddNewEvent.$invalid">
                                    Add
                                </button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group" ng-if="ETC.MdlEvent.eventID">
                                <label>&nbsp;</label>
                                <button type="button" ng-click="ETC.SaveNewEvent(frmAddNewEvent);" class="btn btn-success btn-block" ng-disabled="frmAddNewEvent.$invalid">
                                    Update
                                </button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group">
                                <label>&nbsp;</label>
                                <button type="button" class="btn btn_close btn-block" ng-click="ETC.CloseMdl_AddNewEvent(frmAddNewEvent)">
                                    Close
                                </button>
                            </div>
                        </div>                      
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
