﻿<div class="min-higt" layout="column" ng-controller="paymentDetailController as PD" ng-init="PD.PageLoad()">
    <div class="min-higt" layout="column">
        <!--<div class="container-fluid wrap1">
            <div class="vt-breadcrumb">
                <div class="lease_brdr vt-brdcrumb-wrap col-lg-4 col-md-4 col-sm-4 col-xs-10">
                    <h6 class="padd6">
                        Payment
                        <span></span>
                    </h6>
                </div>               
            </div>
        </div>-->
        <iframe  ng-src="{{PD.PaymentUrl}}" style="width:100%;height:700px;"></iframe>
        <!--<div ng-include="'Shared View/_Loader.html'"></div>-->
    </div>
</div>

