﻿<div class="container-fluid" ng-if="PC.showTransctionMessage == true">
    <div class="container">
        <div class="login-page margintop20">
            <div>
                <div class="row text-center">
                    <div class="col-lg-4 col-sm-4 col-md-4 "> </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 well" ng-if="PC.showSuccessMessage == true">

                        <div class="row padding26" ng-if="PC.SearchResult == 'Success'">
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                <h2>Thank You</h2>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                <h4>Payment successfull</h4>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                Amount : {{PC.MdlPayment.amount | currency}}
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left" ng-if="PC.selectPaymentType != 2">
                                Transaction Id : {{PC.MdlPayment.transactionIdentifier}}
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-right">

                                <a ng-if="userData.personType == PersonTyp.property_manager" style="text-decoration: none; color:#fff" href="#home"><button class="btn btn-primary">Done</button></a>
                                <a ng-if="userData.personType == PersonTyp.tenant" style="text-decoration: none; color:#fff" href="#TenantHome"><button class="btn btn-primary">Done</button></a>
                                <a ng-if="userData.personType == PersonTyp.owner" style="text-decoration: none; color:#fff" href="#OwnerHome"><button class="btn btn-primary">Done</button></a>

                            </div>
                        </div>
                        <div class="row padding26" ng-if="PC.SearchResult == 'Cancel'">
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                <h2>Thank You</h2>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                <h4>Payment Cancelled</h4>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-right">

                                <a ng-if="userData.personType == PersonTyp.property_manager" style="text-decoration: none; color:#fff" id="success" onclick="window.location.href('vataramobileschema://vatara?status=success', '_self')">
                                    <button class="btn btn-primary">Done</button>
                                </a>
                                <a ng-if="userData.personType == PersonTyp.tenant" style="text-decoration: none; color:#fff" href="#TenantHome"><button class="btn btn-primary">Done</button></a>
                                <a ng-if="userData.personType == PersonTyp.owner" style="text-decoration: none; color:#fff" href="#OwnerHome"><button class="btn btn-primary">Done</button></a>



                                <!--<a href="#home">
                <button class="btn btn-primary" ng-click="PC.RedirctSamepage()">Done</button>
            </a>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 well" ng-if="PC.showSuccessMessage == false">

                        <div class="row padding26">
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-left">
                                <h2>Your payment was not processed. Please try again</h2>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-right">
                                <a ng-if="userData.personType == PersonTyp.property_manager" style="text-decoration: none; color:#fff" href="#home"><button class="btn btn-primary">Done</button></a>
                                <a ng-if="userData.personType == PersonTyp.tenant" style="text-decoration: none; color:#fff" href="#TenantHome"><button class="btn btn-primary">Done</button></a>
                                <a ng-if="userData.personType == PersonTyp.owner" style="text-decoration: none; color:#fff" href="#OwnerHome"><button class="btn btn-primary">Done</button></a>

                                <!--<a href="#home">
                                    <button class="btn btn-primary" ng-click="PC.RedirctSamepage()">Back</button>
                                </a>-->
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-4 col-md-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>