﻿
<div ng-controller="paymentController as PC" ng-init="PC.PageLoad()" class="min-higt" layout="column" target="_parent" ng-cloak>
    <div class="min-higt" layout="column" ng-cloak ng-show="!userData.isSubscriptionExpired">
        <div class="container-fluid wrap1">
            <div class="vt-breadcrumb">
                <div class="col-md-5 col-xs-12 vt-brdcrumb-wrap">
                    <img class="bld-img" src="images/bld-icon.png" />
                    <h5>
                        Payment
                        <br />
                        <span>
                            <a ng-if="PC.PersonTypeId==1" href="#home">Home</a>
                            <a ng-if="PC.PersonTypeId==2" href="#OwnerHome">Home</a>
                            <a ng-if="PC.PersonTypeId==3" href="#TenantHome">Home</a>
                            <img src="images/right-arrow.png" />
                        </span>
                        <span><a href="#payment"> Financial</a> <img src="images/right-arrow.png" /></span>
                        <span> Payment</span>
                    </h5>
                </div>
            </div>
        </div>

        <div ng-if="PC.ShowPayment">
            <div class="container-fluid" ng-if="PC.showTransctionMessage == false">
                <div class="container">
                    <div class="col-lg-12 marg_auto tab-content">
                        <div id="step1" class="tab-pane fade in active" ng-if="PC.propayProfile_Payer != null">
                            <form name="frmTransaction" novalidate role="form">
                                <div id="accord4" class="work-wrap">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border">Payment</legend>
                                        <div class="col-xs-12" style="margin-bottom: 10px;">
                                            <div class="col-md-6 ">
                                                <div class="block">
                                                    <md-radio-group ng-model="PC.selectPaymentType" layout="row" ng-change="PC.ChoosePaymentType(PC.selectPaymentType)">
                                                        <md-radio-button value="{{paymentType.id}}" ng-repeat="paymentType in PC.lstPaymentType">{{paymentType.paymentMethod}}</md-radio-button>
                                                    </md-radio-group>
                                                </div>



                                                <!--<div class="col-md-3">
                                                    <input type="radio" ng-model="PC.selectPaymentType" value="0" ng-click="PC.ChoosePaymentType(0)">     Credit Card
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="radio" ng-model="PC.selectPaymentType" value="1" ng-click="PC.ChoosePaymentType(1)">     ACH
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="radio" ng-model="PC.selectPaymentType" value="2" ng-click="PC.ChoosePaymentType(2)">     Cash/Cheque
                                                </div>-->
                                            </div>
                                        </div>

                                        <div class="col-xs-12 marginBottom10" ng-if="PaymentAgainstInvoice">
                                            <div class="col-md-6 mar_btm">
                                                <label for="lastName">Inv Number:</label>
                                                <input ng-model="InvoicePaymentDetails.invNumber" class="form-control textfiled" type="text" disabled>

                                            </div>
                                            <div class="col-md-6 mar_btm">
                                                <label for="lastName">Property Name:</label>
                                                <input ng-model="InvoicePaymentDetails.propertyName" class="form-control textfiled" type="text" disabled>

                                            </div>
                                            <div class="col-md-6 mar_btm">
                                                <label for="lastName">Inv Date:</label>
                                                <input ng-model="InvoicePaymentDetails.invDate" class="form-control textfiled" type="text" disabled>

                                            </div>
                                            <div class="col-md-6 mar_btm">
                                                <label for="lastName">Inv Amount:</label>
                                                <input ng-model="InvoicePaymentDetails.amount" class="form-control textfiled" type="text" disabled>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 marginBottom10" ng-if="!PaymentAgainstInvoice">
                                            <div class="col-md-6">
                                                <label>Property</label>
                                                <ui-select ng-model="PC.selectProperty" theme="selectize"
                                                           name="selectedProperty" title="Choose a property" on-select="PC.GetPropertyTenantOwnerByPropId(PC.selectProperty)" required>
                                                    <ui-select-match placeholder="Select or search a Property">{{$select.selected.propertyName}}</ui-select-match>
                                                    <ui-select-choices repeat="property in PC.lstPropertByManagerAndOwner | filter: $select.search">
                                                        <span ng-bind-html="property.propertyName | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>

                                                <span class="errormsg" ng-show="frmTransaction.selectedProperty.$dirty && frmTransaction.selectedProperty.$invalid">
                                                    <span ng-show="frmTransaction.selectedProperty.$error.required">Property is required.</span>
                                                </span>
                                            </div>

                                            <div class="col-md-6" ng-if="userData.personType == PersonTyp.property_manager">
                                                <label>Client</label>
                                                <select class="form-control form2" ng-model="PC.selectClient" name="client"
                                                        ng-disabled="PC.lstPropertyOwnerTenantByPropertyId.length == 0"
                                                        ng-options="person.PersonName for person in PC.lstPropertyOwnerTenantByPropertyId"
                                                        ng-change="PC.GetMerchantId()" required>
                                                    <option selected value="">--- Select Client For ---</option>
                                                </select>
                                                <span class="errormsg" ng-show="frmTransaction.client.$dirty && frmTransaction.client.$invalid">
                                                    <span ng-show="frmTransaction.client.$error.required">Client is required.</span>
                                                </span>
                                                <span ng-if="PC.propayProfile_Merchant == null" class="errormsg">
                                                    Client do not have merchant Id.
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 marginBottom10">
                                            <div class="col-md-6">
                                                <label>
                                                    Amount
                                                    <span class="errormsg">*</span>
                                                    <span class="errormsg" ng-show="frmTransaction.amount.$dirty && frmTransaction.amount.$invalid">
                                                        <span ng-show="frmTransaction.amount.$error.required">amount is required.</span>
                                                    </span>
                                                </label>
                                                <input type="text" class="form-control form2" name="amount" placeholder="Amount" ng-model="PC.amount"
                                                       only-digits maxlength="10" ng-change="PC.ChangePaybleAmt()" required />
                                            </div>

                                            <div class="col-md-6">
                                                <label>
                                                    Payment category
                                                    <!--<span class="errormsg">*</span>-->
                                                </label>

                                                <ui-select ng-model="PC.paymentCategory" theme="selectize" name="category" title="Select Payment Category" on-select="PC.ChangePaymentMode(PC.paymentCategory)" required>
                                                    <ui-select-match placeholder="Select Payment Category">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="ServiceGrp in PC.lstServiceCategory | filter: $select.search" group-by="'groupName'">
                                                        <span ng-bind-html="ServiceGrp.name | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>

                                                <span class="errormsg" ng-show="frmTransaction.category.$dirty && frmTransaction.category.$invalid">
                                                    <span ng-show="frmTransaction.category.$error.required">Select payment category.</span>
                                                </span>

                                            </div>
                                        </div>

                                        <div class="col-xs-12 marginBottom10" ng-show="PC.selectPaymentType == 0">
                                            <div class="col-md-3">
                                                <div class="pretty p-default">
                                                    <input type="checkbox" class="inputCheckbox" ng-model="PC.IsRecurringPayment" />
                                                    <div class="state">
                                                        <label></label>
                                                    </div>
                                                </div>
                                                <label>Schedule Recurring Payment</label>
                                                <!--<label>
                                                    Schedule Recurring Payment
                                                </label>
                                                <label class="container">
                                                    <input type="checkbox" class="inputCheckbox" ng-model="PC.IsRecurringPayment">
                                                </label>-->
                                                <!--<input type="checkbox" ng-model="PC.IsRecurringPayment" />-->

                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-info" ng-click="PC.ShowScheduledPayment()">Show Schedule Payment</button>
                                            </div>
                                        </div>

                                            <div class="col-xs-12" ng-show="PC.IsRecurringPayment == true">
                                                <div class="col-md-6">
                                                    <label>
                                                        Select Schedule
                                                    </label>
                                                    <select class="form-control form2" ng-model="PC.SelectedSchedule" ng-options="x for x in PC.PaymentSchedule"></select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>
                                                        Start On
                                                    </label>
                                                    <div flex-gt-xs>
                                                        <md-datepicker ng-model="PC.StartOnRecurring" md-placeholder="Start date"
                                                                       md-min-date="PC.MinDate"></md-datepicker>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12" style="margin-top:10px">
                                                <div class="col-md-12">
                                                    <label>Note</label>
                                                    <textarea class="form-control"
                                                              maxlength="190" ng-model="PC.MdlPayment.description" placeholder="Note" rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12 margintop20">
                                                <div class="col-md-12">
                                                    <a class="btn btn-success save_button text-right pull-right" ng-click="PC.GetPaymentUrl()"
                                                       ng-class="{disabled: frmTransaction.$invalid || (PC.selectPaymentType != 2 && PC.propayProfile_Merchant == null)}">
                                                        Pay
                                                    </a>
                                                    <a ng-if="userData.personType == PersonTyp.property_manager" class="nonAnchorStyle" ng-click="PC.CancelPayment()"><button class="btn vt-btn2 cancel_button text-left pull-left paymentCancelbtn">Cancel</button></a>
                                                    <a ng-if="userData.personType == PersonTyp.tenant" class="nonAnchorStyle" href="#TenantHome"><button class="btn vt-btn2 cancel_button text-left pull-left paymentCancelbtn">Cancel</button></a>
                                                    <a ng-if="userData.personType == PersonTyp.owner" class="nonAnchorStyle" ng-click="PC.CancelPaymentAgainstInvoice()"><button class="btn vt-btn2 cancel_button text-left pull-left paymentCancelbtn">Cancel</button></a>
                                                </div>
                                            </div>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <div id="step1" class="tab-pane fade in active" ng-if="PC.propayProfile_Payer == null">
                            <h4 class="text-danger">You are not registered with propay!</h4>

                            <!--<a style="text-decoration: none; color:#fff" ng-click="PC.PayWithCard()"><button class="btn btn-info cancel_button">Pay using card</button></a>-->
                            <a style="text-decoration: none; color:#fff" href="#PropayProfile"><button class="btn btn-info cancel_button">Register</button></a>
                            <a ng-if="userData.personType == PersonTyp.property_manager" style="text-decoration: none; color:#fff" ng-click="PC.CancelPayment()"><button class="btn btn-danger cancel_button">Cancel</button></a>
                            <a ng-if="userData.personType == PersonTyp.tenant" style="text-decoration: none; color:#fff" href="#TenantHome"><button class="btn btn-danger cancel_button">Cancel</button></a>
                            <a ng-if="userData.personType == PersonTyp.owner" style="text-decoration: none; color:#fff" href="#OwnerHome"><button class="btn btn-danger cancel_button">Cancel</button></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div ng-include="'Views/Propay Payment/propayMessage.html'"></div>
        </div>

        <div ng-if="!PC.ShowPayment" id="diviframe">
            <iframe ng-src="{{PaymentUrl}}" style="width:100%;height:700px;" ng-bind-html="myHTML"></iframe>
        </div>
        <div class="modal fade-scale" id="mdl_ShowRecurringPayment" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header model-headerColor">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="PC.CloseMdl_ScheduledPayment()"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Scheduled Payment</h4>
                    </div>
                    <div class="modal-body mdlbodyTopPadding">
                        <div class="row">
                            <!--<div ng-controller="recurringBillController as RC" ng-include="'RecurringBill.html'" ></div>-->
                            <table class="table table-striped" style="margin-top:1em !important; width: 75%;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Property</th>
                                        <th>Pay To</th>
                                        <th>Amount</th>
                                        <th>Frequency</th>
                                        <th>Schedule Date</th>
                                        <th>Card Drawn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="bill in PC.recurringBill" ng-if="PC.recurringBill.length !=0">
                                        <td>{{$index +1}}</td>
                                        <td>{{bill.propAddress}}</td>
                                        <td>{{bill.reciverName}}</td>
                                        <td>{{bill.amount}}</td>
                                        <td>{{bill.frequency}}</td>
                                        <td>{{bill.recurringDate | date}}</td>
                                        <td>{{bill.cardDrawn}}</td>
                                    </tr>
                                    <tr class="text-center" ng-if="PC.recurringBill.length ==0">
                                        <td colspan="8"><p class="P-Center">No Record Found</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-include="'Shared View/_Loader.html'"></div>
    </div>
</div>
